@import 'vendor/bootstrap/functions';
@import 'vendor/bootstrap/variables';
@import 'vendor/bootstrap/mixins/grid';

/* overrides */
@import 'vendor/_overrides';

/* variables */
@import 'config/_variables';

/* modules */
@import 'modules/_utilities';
@import 'modules/_mixins';



/* font */
@import 'config/amp/_fonts';
@import 'config/_typography';

@import 'config/amp/amp-layout';

@import 'partials/amp/amp-header'; // 5kb
@import 'partials/amp/amp-hero'; // 2kb
@import 'partials/amp/amp-wysiwyg'; // 1kb
@import 'partials/amp/amp-textBlock'; // 3kb
@import 'partials/amp/amp-subscribePanel'; // 11kb -> 3kb
@import 'partials/amp/amp-authorPanel'; // < 1kb
@import 'partials/amp/amp-similarStories'; // 2kb
@import 'partials/amp/amp-articlePanel'; // 7kb -> 2kb
@import 'partials/amp/amp-articleGrid'; // 8kb -> 1kb
@import 'partials/amp/amp-footer'; // 6kb -> 5kb
@import 'partials/amp/amp-download'; // 3kb
@import 'partials/amp/amp-figure'; // 2kb
@import 'partials/amp/amp-nextSteps'; // 2kb
