@import 'vendor/bootstrap/functions';
@import 'vendor/bootstrap/variables';
@import 'vendor/bootstrap/mixins/grid';

/* overrides */
@import 'vendor/_overrides';

/* variables */
@import 'config/_variables';

/* modules */
@import 'modules/_utilities';
@import 'modules/_mixins';



/* font */
@import 'config/amp/_fonts';
@import 'config/_typography';

@import 'config/amp/amp-layout';

@import 'partials/amp/amp-header';
@import 'partials/amp/amp-hero';
@import 'partials/amp/amp-articlePanel';
@import 'partials/amp/amp-subscribePanel';
@import 'partials/amp/amp-articleGrid';
@import 'partials/amp/amp-footer';
@import 'partials/amp/amp-categoryHero';
