<sly data-sly-use.model="com.positive.dhl.core.models.ErrorBanner"
        data-sly-set.isEmpty="${!model.buttonLabel || !model.description || !model.title}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>

<div class="error-banner-component" data-sly-test="${!isEmpty}">
    <b class="title">${model.title}.</b>
    <img class="image" src="${model.image}" alt="${model.altText}"/>
    <p class="description">${model.description}</p>
    <a class="button" href="${model.buttonLink}.html" title="${model.buttonLabel}">
        <span>${model.buttonLabel}</span>
    </a>
</div>