<sly data-sly-use.model="com.dhl.discover.core.models.ErrorBanner"
     data-sly-set.title="${model.title}"
     data-sly-set.description="${model.description}"
     data-sly-set.buttonLabel="${model.buttonLabel}"
     data-sly-set.refreshPageButtonLabel="${model.refreshPageButtonLabel}"
     data-sly-set.hasContent="${refreshPageButtonLabel || buttonLabel || description || title}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && !hasContent}" data-emptytext="${component.title}"></div>

<div class="cmp-error-banner" data-sly-test="${hasContent}">
    <b class="cmp-error-banner__title">${title}.</b>
    <img class="cmp-error-banner__image" src="${model.image}" alt="${model.altText}"/>
    <p class="cmp-error-banner__description">${description}</p>
    <a data-sly-test="${buttonLabel}"
       class="cmp-error-banner__button dhl-btn dhl-btn--primary" href="${model.buttonLink}.html" title="${buttonLabel}">
        <span>${buttonLabel}</span>
    </a>
    <a data-sly-test="${refreshPageButtonLabel}"
       class="cmp-error-banner__button dhl-btn dhl-btn--primary" href onClick="window.location.reload();" title="${refreshPageButtonLabel}">
        <span>${model.refreshPageButtonLabel}</span>
    </a>
</div>