<sly data-sly-use.articleSideNavigation="com.positive.dhl.core.models.ArticleSideNavigation" data-sly-use.dhlpage="com.positive.dhl.core.models.DhlPage" data-sly-test="${articleSideNavigation.articles.size > 0}" data-sly-unwrap>
<div class="similarStories hide-offline d-sm-block d-lg-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="similarStories__title">Similar stories</h2>
                <ul class="similarStories__list" data-sly-list="${articleSideNavigation.articles}">
                    <li class="similarStories__list-item"><a href="//${dhlpage.getAkamaiHostname}${item.path}.html" class="similarStories__link">${item.title}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</sly>