#InputToolbar{
  border-radius: 4px;
  border: 1px solid #cacaca;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
  background-color: #fff;
  position: absolute;
}

#InputToolbar>button{
  border-color: transparent;
  background-color: transparent;
  color: #6e6e6e;
  border-radius: 4px;
  min-width: 32px;
  height: 32px;
  padding: 0 6px
}

#InputToolbar>button+button{
  margin-left: 0px;
}

#InputToolbar>button:hover{
  background-color: transparent;
  color: #2c2c2c
}

.input-wrapper--loading{
  opacity: 0.5;
  pointer-events: none;
  position: relative;
}

.input-generative-ai-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
