<div class="footer-wrapper" id="footer" data-sly-use.footer="com.dhl.discover.core.models.Footer">
  <h2 class="sr-only" data-sly-test="${footer.sectionTitle}">${footer.sectionTitle}</h2>
    <div class="footer-container">
        <div class="promo">
            <div class="promo-logo">
                <a class="logo__link" href="${footer.logoLink}">
                    <img class="logo__image"
                         src="${footer.logoIcon}"
                         title="${footer.logoTitle}"
                         alt="${footer.logoAltText || footer.logoTitle}"/>
                </a>
            </div>
            <div class="promo-text">${footer.promoText}</div>
        </div>
        <div class="invitation">
            <div class="invitation__title">${footer.invitationTitle}</div>
            <div class="invitation__text">${footer.invitationText}</div>
        </div>
        <div class="links">
            <div class="links-group" data-sly-use.meganav="com.dhl.discover.core.models.Meganav">
                <h2 data-sly-test="${footer.categoryLinksLabel}" data-sly-element="${footer.sectionTitle ? 'h3' : 'h2'}" class="links-group__title">${footer.categoryLinksLabel}</h2>
                <ul data-sly-list="${meganav.panels}">
                  <li><a class="links-group__item" href="${item.url}"><span>${item.navigationTitle}</span></a></li>
                </ul>
            </div>
            <div class="links-group">
              <h2 data-sly-test="${footer.companyLinksLabel}" data-sly-element="${footer.sectionTitle ? 'h3' : 'h2'}" class="links-group__title">${footer.companyLinksLabel}</h2>
                <ul data-sly-list="${footer.companyLinks}">
                  <li><a class="links-group__item" href="${item.linkPath}"><span>${item.linkName}</span></a></li>
                </ul>
            </div>
            <div class="links-group">
              <h2 data-sly-test="${footer.socialLinksLabel}" data-sly-element="${footer.sectionTitle ? 'h3' : 'h2'}" class="links-group__title">${footer.socialLinksLabel}</h2>
              <ul class="links-group__items" data-sly-list="${footer.socialLinks}">
                  <li><a class="links-group__item" data-sly-test="${item.linkPath}" href="${item.linkPath}">
                      <span class="not-mobile-only">${item.linkName}</span>
                      <img class="logo__image mobile-only"
                           data-sly-test="${item.linkIcon}"
                           src="${item.linkIcon}"
                           title="${item.linkName}"
                           alt="${item.linkName}"/>
                    </a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
    <button type="button" class="base-button c-go-to-top-button js--go-to-top-button has-icon icon-chevron-up" aria-label="go to top" role="button" data-tracking-id="go-to-top" data-tracking-type="ui-interaction">
    </button>
</div>