.article {
  &:not(:first-child) {
    margin-top: 10px;
    border-top: 1px solid #E9E9E9;
    padding-top: 22px;

    @media screen and (min-width: 1200px) {
      margin-top: 25px;
      padding-top: 25px;
    }
  }

  display: flex;
  gap: 25px;

  &Image {
    min-height: 72px;
    width: 72px;
    min-width: 72px;

    @media screen and (min-width: 768px) {
      min-height: 110px;
      width: 165px;
      min-width: 165px;
    }

    @media screen and (min-width: 1200px) {
      min-height: 134px;
      width: 200px;
      min-width: 200px;
    }

    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0px 3px 6px #00000029;

    &:after {
      content: "";
      border-radius: 2px;
      position: absolute;
      background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0 0 no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
  }

  &Info {
    color: #323232;
    display: flex;
    flex-direction: column;

    &GroupTag {
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      margin-top: 5px;
      letter-spacing: 0.96px;
      color: #D40511;

      @media screen and (min-width: 768px) {
        margin-top: 3px;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
      }

      @media screen and (min-width: 1200px) {
        margin-top: 0px;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
      }
    }

    &Title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #323232;
      margin-top: 10px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-decoration: none;
      letter-spacing: 0px;

      @media screen and (min-width: 768px) {
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
      }

      @media screen and (min-width: 1200px) {
        -webkit-line-clamp: 1;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
      }

      &:hover {
        text-decoration: underline;
        color: #D40511;
        display: block;
      }
    }

    &Metadata {
      display: none;

      @media screen and (min-width: 768px) {
        display: initial;
        margin-top: 10px;
        font-size: 12px;
        line-height: 17px;
        opacity: 0.7;
      }
    }

    &Description {
      display: none;

      @media screen and (min-width: 1200px) {
        display: -webkit-box;
        margin-top: 15px;
        margin-bottom: 10px;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}