<sly data-sly-use.model="com.positive.dhl.core.models.RelatedPosts"
     data-sly-set.isEmpty="${model.articles.empty}"
     data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions"
     data-sly-test.authormode="${wcmmode.edit || wcmmode.preview}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>

<div class="related-posts-component" data-sly-test="${!isEmpty}">
    <div class="title">${model.title}</div>
    <div class="article-container horizontal-scroll">
        <div class="article-container__article" data-sly-repeat="${model.articles}">
            <a href="${item.path}.html" class="article-container__article__image" style="background-image: url('${!authormode ? accountactions.assetprefix : '' @ context='unsafe'}${item.listimage @ context='uri'}');"></a>
            <div class="article-container__article__info">
                <a href="${item.path}.html" class="article-container__article__info__title">${item.title}</a>
                <div class="article-container__article__info__metadata">${item.createdfriendly} ${item.readtime ? '|' : ''} ${item.readtime}</div>
            </div>
        </div>
    </div>
</div>