<sly data-sly-use.model="com.dhl.discover.core.models.RelatedPosts"
     data-sly-use.articleSideNavigation="com.dhl.discover.core.models.ArticleSideNavigation"
     data-sly-set.articles="${model.articles.empty ? articleSideNavigation.articles : model.articles}"
     data-sly-set.isEmpty="${articles.empty}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>

<section class="related-posts-component" data-sly-test="${!isEmpty}">
    <h2 class="title">${model.title}</h2>
    <div id="${properties.id}" class="article-container horizontal-scroll">
        <article class="article-container__article" data-sly-repeat="${articles}">
            <a href="${item.path}" tabindex="-1" aria-hidden="true" class="article-container__article__image-wrapper">
                <sly data-sly-use.template="/apps/dhl/htl/templates/responsive-image.html"
                     data-sly-call="${template.picture @
                     image=item.pageImage,
                     useWebOptimized=model.enableAssetDelivery,
                     imgClass='article-container__article__image-wrapper__image',
                     alt=item.pageImageAltText
                }"></sly>
            </a>
            <div class="article-container__article__info">
                <a href="${item.path}" class="article-container__article__info__title">${item.title}</a>
                <div class="article-container__article__info__metadata">
                    <time data-sly-test="${item.createdfriendly}" datetime="${item.created}">${item.createdfriendly}</time>
                    <span data-sly-test="${item.readtime}">${item.readtime}</span>
                </div>
            </div>
        </article>
    </div>
</section>