<template data-sly-template.data="${@accountactions,languageVariants}">
<header class="header" data-sly-use.meganav="com.positive.dhl.core.models.Meganav">
	<div class="container">
		<div class="row">
			<div class="col-10 col-lg-3">
				<div class="header__logoWrap">
					<a class="header__logo" href="${meganav.homeUrl}" title="${meganav.siteTitle}"><span class="sr-only">${meganav.siteTitle}</span></a>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="addToHomeScreen">
	<div class="addToHomeScreen__content">
		<img class="addToHomeScreen__image" src="${accountactions.assetprefix}/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/img/icons/192.png" alt="Logo">
		<h2 class="addToHomeScreen__title">${ "Add Discover to your home screen" @ i18n, context='html' }</h2>
		<p class="addToHomeScreen__text">${ "For the latest insights from Global business" @ i18n, context='html' }</p>
		<a class="addToHomeScreen__cta" href="#">${ "Add now" @ i18n, context='html' }</a><br>
		<a class="addToHomeScreen__link" href="#">${ "No thanks" @ i18n, context='html' }</a>
	</div>
</div>

<div class="backButton">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="backButton__button backButton__button--back" href="#back">
          <span class="sr-only">${ "Back" @ i18n, context='html' }</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 22"><path d="M1.062 9.924L10.439.5 11.5 1.569l-9.377 9.424 9.377 9.439-1.061 1.068L0 10.993l.907-.913z" fill="#007aff"/></svg>
        </a>
        <a class="backButton__button backButton__button--forward" href="#forward">
          <span class="sr-only">${ "Back" @ i18n, context='html' }</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 22"><path d="M10.4 12.1L1 21.5l-1-1.1L9.4 11 0 1.6 1.1.5 11.5 11l-.9.9-.2.2z" fill="#007aff"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>
</template>