<style type="text/css">
	@media screen and (max-width: 991px) { 
		.social.social--vertical { z-index: 1000; }
		
		.ecom-form { z-index: 1001; }
		.ecom-form.ecom-form--max.is-hidden { z-index: 100; }
		.ecom-form.ecom-form--min.is-shown { bottom: 65px; z-index: 100; }
	}
</style>
<aside class='social social--vertical'>
    <h2 class="social__title">${ 'SHARE' @ i18n, context='html' }</h2>
    <sly data-sly-use.socialNetworkLinksModel="com.positive.dhl.core.models.SocialNetworkLinksModel" data-sly-test="${socialNetworkLinksModel.socialNetworkLinksInclusion}">
        ${socialNetworkLinksModel.socialNetworkLinksInclusion @ context="html"}
    </sly>
</aside>
