<style type="text/css">
	@media screen and (max-width: 991px) { 
		.social.social--vertical { z-index: 1000; }
		
		.ecom-form { z-index: 1001; }
		.ecom-form.ecom-form--max.is-hidden { z-index: 100; }
		.ecom-form.ecom-form--min.is-shown { bottom: 65px; z-index: 100; }
	}
</style>
<aside class='social social--vertical'>
    <h2 class="social__title">${ 'SHARE' @ i18n, context='html' }</h2>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59538ab4cc278723"></script>
    <div class="addthis_inline_share_toolbox"></div>
</aside>
