
/* Light */
@font-face {
  font-family: "Delivery";
  font-style: normal;
  font-weight: 200;
  src: url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.woff2") format("woff2"),
       url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.otf") format("opentype");
  unicode-range: U+24F-2FA1F;
}

@font-face {
  font-family: "Delivery";
  font-style: italic;
  font-weight: 200;
  src: url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.woff2") format("woff2"),
       url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.otf") format("opentype");
  unicode-range: U+24F-2FA1F;
}

/* Regular */
@font-face {
  font-family: "Delivery";
  font-style: normal;
  font-weight: 400;
  src: url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.woff2") format("woff2"),
      url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.otf") format("opentype");
  unicode-range: U+24F-2FA1F;
}

@font-face {
  font-family: "Delivery";
  font-style: italic;
  font-weight: 400;
  src: url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.woff2") format("woff2"),
      url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.otf") format("opentype");
  unicode-range: U+24F-2FA1F;
}

/* Bold */
@font-face {
  font-family: "Delivery";
  font-style: normal;
  font-weight: 700;
  src: url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.woff2") format("woff2"),
      url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.otf") format("opentype");
  unicode-range: U+24F-2FA1F;
}

@font-face {
  font-family: "Delivery";
  font-style: italic;
  font-weight: 700;
  src: url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.woff2") format("woff2"),
      url("/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.otf") format("opentype");
  unicode-range: U+24F-2FA1F;
}
