
/* Light */
@font-face {
  font-family: "Delivery";
  font-style: normal;
  font-weight: 200;
  src: url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.woff2') format("woff2"),
       url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.otf') format("opentype");
  unicode-range: U+24F-2FA1F;
  font-display: swap;
}

@font-face {
  font-family: "Delivery";
  font-style: italic;
  font-weight: 200;
  src: url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.woff2') format("woff2"),
       url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Light.otf') format("opentype");
  unicode-range: U+24F-2FA1F;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Delivery";
  font-style: normal;
  font-weight: 400;
  src: url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.woff2') format("woff2"),
      url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.otf') format("opentype");
  unicode-range: U+24F-2FA1F;
  font-display: swap;
}

@font-face {
  font-family: "Delivery";
  font-style: italic;
  font-weight: 400;
  src: url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.woff2') format("woff2"),
      url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Regular.otf') format("opentype");
  unicode-range: U+24F-2FA1F;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Delivery";
  font-style: normal;
  font-weight: 700;
  src: url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.woff2') format("woff2"),
      url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.otf') format("opentype");
  unicode-range: U+24F-2FA1F;
  font-display: swap;
}

@font-face {
  font-family: "Delivery";
  font-style: italic;
  font-weight: 700;
  src: url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.woff2') format("woff2"),
      url('__prefix__/discover/resources/fonts/delivery-cjk-fallback/SourceHanSansSC-Bold.otf') format("opentype");
  unicode-range: U+24F-2FA1F;
  font-display: swap;
}
