
/* Condensed Thin */
@font-face {
  font-family: "Delivery";
  font-weight: 100; /* Thin */
  font-stretch: condensed;
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-Thin.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* Condensed ExtraLight */
@font-face {
  font-family: "Delivery";
  font-weight: 200; /* ExtraLight */
  font-stretch: condensed;
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-ExtraLight.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* Light */
@font-face {
  font-family: "Delivery";
  font-weight: 300; /* Light */
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-Light.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* Regular */
@font-face {
  font-family: "Delivery";
  font-weight: normal; /* 400 */
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-Regular.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* Medium */
@font-face {
  font-family: "Delivery";
  font-weight: 500;
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-Medium.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* SemiBold */
@font-face {
  font-family: "Delivery";
  font-weight: 600;
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-SemiBold.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* Bold */
@font-face {
  font-family: "Delivery";
  font-weight: bold; /* 700 */
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-Bold.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* Condensed ExtraBold */
@font-face {
  font-family: "Delivery";
  font-weight: 800;
  font-stretch: condensed;
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-ExtraBold.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}

/* Condensed Black */
@font-face {
  font-family: "Delivery";
  font-weight: 900;
  font-stretch: condensed;
  src: url('__prefix__/discover/resources/fonts/noto-sans-jp/NotoSansJP-Black.ttf') format('truetype');
  unicode-range: U+3000-303F, U+30A0-30FF, U+3040-309F, U+FF00-FFEF, U+4E00-9FFF;
  font-synthesis: style;
}
