<div class="animatedPagesHero animatedPagesHero--luxury">
  <div class="container">
   <div class="row">
     <div class="col-12 col-xl-8 offset-xl-2">
       <h1 class="animatedPagesHero__title">Luxury goods 101</h1>
     </div>
     <div class="col-12">
      <img class="animatedPagesHero__animation animatedPagesHero__animation--luxury" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/luxuryGif.gif" alt="Watches">
     </div>
     <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
      <p class="animatedPagesHero__copy">The global luxury goods sector is experiencing a golden period of growth. It expanded 6% in 2018, hitting US$292bn, and this sparkling performance is set to continue with annual growth of around 3-5% &ndash; reaching US$360-410bn by 2025.</p><br>
      <p class="animatedPagesHero__copy">However, with tastes diversifying and the number of shipping locations increasing, how do you get ahead in the luxury goods sector? Here are the tips you need to sparkle in this competitive space.</p>
     </div>
        <a class="animatedPagesHero__arrow"></a>
    </div>
  </div>
</div>
