<div class='statsPanel statsPanel--alt statsPanel--spacing parallaxSection' data-duration="4" data-separator="," data-decimal="." >
  <div class="container position-relative">
    <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--alt statsPanel__parallaxBox" data-max-top="20" data-min-top="-20">
      <div class="col-lg-6">
        <p class="statsPanel__title">A QUARTER OF SALES ON THE WEB</p>
        <p class="statsPanel__copy statsPanel__copy--alt">Consumers now expect to interact with their favorite brands online, and it is predicted that <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.bain.com/insights/luxury-goods-worldwide-market-study-fall-winter-2017/">25% of luxury purchases</a> will be made through the web by 2025. By then, Generation Z and Millennials will account for <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.bain.com/insights/luxury-goods-worldwide-market-study-fall-winter-2017/">45% of the global personal luxury goods market.</a></p>
        <div class="d-none d-lg-block"><br></div>
        <div class="d-none d-lg-block">
          <p class="statsPanel__copy statsPanel__copy--alt">This potential purchasing power means that businesses like yours need to focus on digital platforms including social media for marketing luxury goods. A strong digital team that knows the products well is vital for building your e-commerce presence and resultant sales.</p>
        </div>
      </div>
      <div class="col-lg-6 offset-xl-1 col-xl-5">
        <div class="statsPanel__boxWrapper">
          <div class="col-lg-6 ">
            <div class="statsPanel__wrapper statsPanel__wrapper--alt">
              <div class="statsPanel__statsWrapper statsPanel__statsWrapper--alt">
                <h4 class="statsPanel__statsValue statsPanel__statsValue--alt" data-start="0" data-end="25" data-suffix="%" data-duration="2.4">25%</h4>
                <h2 class="statsPanel__value statsPanel__value--alt">Through the<br> web by 2025</h2>
              </div>
              <div class="boxFill boxFill--dark">
				  <div class="boxFill__fill boxFill__fillstat9">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="statsPanel__wrapper statsPanel__wrapper--alt">
              <div class="statsPanel__statsWrapper statsPanel__statsWrapper--altDown">
                <h4 class="statsPanel__statsValue statsPanel__statsValue--alt" data-start="0" data-end="45" data-suffix="%">45%</h4>
                <h2 class="statsPanel__value statsPanel__value--alt">Generation z<br> and millennials</h2>
              </div>
              <div class="boxFill boxFill--dark">
				  <div class="boxFill__fill boxFill__fillstat10">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-lg-none">
        <p class="statsPanel__copy statsPanel__copy--alt">This potential purchasing power means that businesses like yours need to focus on digital platforms including social media for marketing luxury goods. A strong digital team that knows the products well is vital for building your e-commerce presence and resultant sales.</p>
      </div>
    </div>
  </div>
</div>
