<div class='infoRow infoRow--electronics'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 offset-lg-1">
        <p class="infoRow__title infoRow__title--fashion">CHINA&apos;S RISING MIDDLE CLASS</p>
        <p class="infoRow__copy">Fueled by the emergence of a new middle class that loves to buy premium products, the Chinese luxury goods market is expected to account for 40% of the sector total by 2024. However, more than half of China&apos;s luxury consumers <a class="infoRow__link infoRow__link--alt" target="_blank" href="https://www.todayonline.com/world/why-small-chinese-cities-hohhot-are-future-global-luxury-goods-consumption">live outside its top 15 cities</a>, making digitized marketing and effective delivery services essential. Don&apos;t treat China as a single market &ndash; it&apos;s a big country with many local trends, so market to local tastes. Chinese consumers (especially younger generations) use social media to make buying decisions.</p>
        <div class="col-12 d-lg-none">
          <img class="infoRow__image infoRow__image--letter" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/letter.gif">
        </div>
        <p class="infoRow__copy">What&apos;s more, watch out for the US-China trade war and its accompanying price hikes for certain high-end brands, dissuading consumers from buying internationally produced merchandise. Find a marketing hook that sets your goods apart.</p>
      </div>
      <div class="col-12 col-md-7 col-lg-4 offset-lg-1">
        <div class="d-none d-lg-block">
            <img class="infoRow__image infoRow__image--letter" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/letter.gif">
        </div>
      </div>
    </div>
  </div>
</div>
