<div class='parallaxSection parallaxSection--luxury animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-7">
        <div class="parallaxSection__title parallaxSection__title--fashion">BROS WANT BLING TOO</div>
        <p class="parallaxSection__copy parallaxSection__copy--alt">One emerging luxury sector is men&apos;s jewelry. Global sales reached <a class="parallaxSection__link" target="_blank" href="https://www.nytimes.com/2018/09/11/style/jewelry-mens-rings.html">US$5.3bn in 2017</a>, increasing from 2012&apos;s US$4.3bn, and growth continues steadily. Men&apos;s rings are most popular, taking up a third of sales, while necklaces and chains come in second. The Deakin & Francis creative director, Henry Deakin, also <a class="parallaxSection__link" target="_blank" href="https://www.professionaljeweller.com/in-depth-an-analysis-of-the-mens-jewellery-market/">shared</a> that personalized products have dominated for them.</p>
        <p class="parallaxSection__copy parallaxSection__copy--alt">Key players include William Henry, an American men&apos;s accessories brand, which boasts celebrity customers such as Nick Jonas, Pierce Brosnan and Harrison Ford. Make sure you&apos;re well placed to take advantage of the expanding men&apos;s luxury market, and adapt your marketing and product selections accordingly.</p>
      </div>
      <div class="col-12">
        <div class="parallaxSection__wrapper parallaxSection__wrapper--luxury">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--earing">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/earing.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--yellowBoxLuxury">
            <div class="parallaxSection__tileImage"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--noParallax parallaxSection__tile--luxuryBlueBox">
            <div class="parallaxSection__title parallaxSection__title--fashionAlt">START WINNING WITH SILVER</div>
            <div class="parallaxSection__copy">Despite China&apos;s recent challenges, when coupled with India the two countries still contribute <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://www.techsciresearch.com/report/global-gems-and-jewellery-market-forecast-and-opportunities-2018/308.html">more than half the share</a> of Asia Pacific&apos;s jewelry market, which is the largest in the world. But it&apos;s also an evolving market, with US jewelers reporting an <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://goldsilver.com/blog/silver-institute-us-59-increase-in-silver-jewelry-sales-for-2017/">average growth of 17%</a> in the sales of silver for 2017. In the UK in January 2018, silver was also the only metal to experience an increase in the number of articles hallmarked.</div>
            <div class="parallaxSection__copy">Gold-plated sterling silver was also popular due to its glamorous appearance but lower price-point, with Pandora launching their own collection of affordable 18ct white or yellow gold-plated on sterling silver jewelry.</div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--tux">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/tux.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--ring" data-multiplier="0.5">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/ring.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--hand" data-max-top="100">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/hand.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
