<div class="animatedShowcasePanel animatedShowcasePanel--luxury parallaxSection">
  <div class="container container--alt">
    <div class="row">
      <div class="col-12 col-md-10 col-xl-8">
        <h2 class="animatedShowcasePanel__heading animatedShowcasePanel__heading--dark"><span>Luxury with a conscience</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--dark"><span>Gold-plated silver isn't the only popular imitation trend luxury consumers are buying into. While London Fashion Week went completely fur-free in 2018 for the first time, consumers and designers alike are also moving away from silk, cashmere and feathers in favor of vegan-friendly alternatives.</span></h2>
      </div>
    </div>
    <div class="animatedShowcasePanel__wrapper animatedShowcasePanel__wrapper--luxury">
      <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--watch" >
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/watch.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">The fashion on fakes</h3>
            <p class="animatedShowcasePanel__itemCopy">Faux leather is popular due to its vast applications, from bags and shoes to car interiors. Used by Olivia Burton in a range of watches, it now has an estimated market worth of <a class="animatedShowcasePanel__link" target="_blank" href="https://www.grandviewresearch.com/press-release/global-synthetic-leather-market">US$85m by 2025</a>. From Banana Republic to Stella McCartney, it&apos;s a trend that&apos;s showing no signs of slowing down.</p><br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Add faux or synthetic leather to your webshop, or attract customers by offering vegan leather instead.</b></p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--bee" >
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/bee.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Free-from faces</h3>
            <p class="animatedShowcasePanel__itemCopy">An increased demand for vegan cosmetics and skin care saw new launches globally increase <a class="animatedShowcasePanel__link" target="_blank" href="https://www.livekindly.com/175-increase-vegan-cosmetics-since-2013/">175% from 2013 to 2018</a>, with the annual market growth rate predicted at  <a class="animatedShowcasePanel__link" target="_blank" href="https://www.prnewswire.com/news-releases/global-vegan-cosmetics-market-analysis--forecasts-2018-2025---market-size-is-projected-to-reach-usd-20-8-billion-300703982.html">6.3% to 2025</a>. Products that avoid animal ingredients entirely, including beeswax and honey, are most popular among younger shoppers who are more likely to follow a plant-based diet.</p><br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Check your labeling. Could you make more of your free-from features?</b></p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--testube">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/testtube.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">Cleaner supply chains</h3>
            <p class="animatedShowcasePanel__itemCopy">Companies big and small are working with farmers directly to improve ingredient sustainability, making their supply chains transparent to consumers. Lily Farm Fresh Skincare even permits public viewing of their laboratory and surrounding herb fields.</p><br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Look into certifications that show your green credentials. </b></p>          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 offset-md-6 col-xl-8 offset-xl-4 d-none d-md-block">
      <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--dark"><span>With the plant-based diet now becoming a recognized mainstream choice, socially conscious purchasing is very much on trend. While the time and expense needed to manufacture such products can be greater than traditional methods, a brand&apos;s status &ndash; and sales &ndash; can receive a boost for making the switch.</span></h2>
    </div>
    <div class="col-12 col-md-6 order-md-0 d-xl-none">
      <div class="animatedShowcasePanel__carousel">
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/watch.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">The fashion of fakes</h3>
            <p class="animatedShowcasePanel__itemCopy">Faux leather is popular due to its vast applications, from bags and shoes to car interiors. Used by Olivia Burton in a range of watches, it now has an estimated market worth of <a class="animatedShowcasePanel__link" target="_blank" href="https://www.grandviewresearch.com/press-release/global-synthetic-leather-market">US$85m by 2025</a>. From Banana Republic to Stella McCartney, it&apos;s a trend that&apos;s showing no signs of slowing down.</p><br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Add faux or synthetic leather to your webshop, or attract customers by offering vegan leather instead.</b></p>          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/bee.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Free-from faces</h3>
            <p class="animatedShowcasePanel__itemCopy">An increased demand for vegan cosmetics and skin care saw new launches globally increase <a class="animatedShowcasePanel__link" target="_blank" href="https://www.livekindly.com/175-increase-vegan-cosmetics-since-2013/">175% from 2013 to 2018</a>, with the annual market growth rate predicted at  <a class="animatedShowcasePanel__link" target="_blank" href="https://www.prnewswire.com/news-releases/global-vegan-cosmetics-market-analysis--forecasts-2018-2025---market-size-is-projected-to-reach-usd-20-8-billion-300703982.html">6.3% to 2025</a>. Products that avoid animal ingredients entirely, including beeswax and honey, are most popular among younger shoppers who are more likely to follow a plant-based diet.</p><br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Check your labeling. Could you make more of your free-from features?</b></p>          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated4/testtube.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">Cleaner supply chains</h3>
            <p class="animatedShowcasePanel__itemCopy">Companies big and small are working with farmers directly to improve ingredient sustainability, making their supply chains transparent to consumers. Lily Farm Fresh Skincare even permits public viewing of their laboratory and surrounding herb fields.</p><br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Look into certifications that show your green credentials. </b></p>
          </div>
        </div>
      </div>
      <div class="d-md-none">
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--dark"><span>With the plant-based diet now becoming a recognized mainstream choice, socially conscious purchasing is very much on trend. While the time and expense needed to manufacture such products can be greater than traditional methods, a brand&apos;s status &ndash; and sales &ndash; can receive a boost for making the switch.</span></h2>
      </div>
    </div>
  </div>
</div>
