html {
  font-size: .625rem;
}

body {
  margin: 0;
  font-family: "Delivery", sans-serif;
  font-size: 1.6rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-5xl);
  color: map-get($palette, black-300);
  background-color: white;
}

[lang^="ko"] body {
  font-family: "Delivery-ko", "Delivery", sans-serif;
}

[lang^="ja"] body {
  font-family: "Delivery-ja", "Delivery", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-lg);
  margin-bottom: .5em;
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-10xl);
}

h2 {
  font-size: var(--font-size-7xl);
}

h3 {
  font-size: var(--font-size-4xl);
}

h4 {
  font-size: var(--font-size-2xl);
}

h5 {
  font-size: var(--font-size-xl);
}

h6 {
  font-size: var(--font-size-lg);
}

a {
    transition: color 150ms ease;
    color: #d40511;
}

a:hover {
    color: #eb131e;
}

table {
  @extend %table;
  td {
    padding: 1.2rem;
  }
  margin-bottom: 1.6rem;
}

ol, ul, li {
  padding: 0;
}
