.dhl-btn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color .2s ease, color .2s ease;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  text-shadow: none;

  &--primary {
    color: white;
    background-color: map-get($palette, red);
    &:hover {
      color: white;
      background-color: map-get($palette, light-red);
      text-decoration: none;
    }

    &:active {
      background-color: map-get($palette, dark-red);
      color: white;
    }
  }

  &--white {
    font-weight: normal;
    border: 1px solid map-get($palette, red);
    color: map-get($palette, red);
    background-color: white;

    &:hover {
      background-color: map-get($palette, red);
      border-color: map-get($palette, red);
      color: white;
      text-decoration: none;
    }

    &:active {
      border-color: map-get($palette, dark-red);
      background-color: map-get($palette, dark-red);
      color: white;
    }
  }
}

.sr-only {
  width: 1px;
  max-width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  background-color: rgba(0,0,0,0.01);
}

// below classes are used to fix accessibility issue related to Text Contrast
// when text is placed on images

.text-on-image {
  @include text-on-image;
}

.direction--rtl {
  direction: rtl;
}

.direction--ltr {
  direction: ltr;
}

.with-sticky>div {
  position: relative;
  height: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  transition: top 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}



