@import './fonts/delivery';
@import './fonts/delivery-arabic';
@import './fonts/delivery-vietnamese';
@import './fonts/noto-sans-jp';
@import './fonts/noto-sans-kr';
@import './fonts/assistant-il';
@import './fonts/dhl-icons';
