body {
  max-width:164rem;
  margin: 0 auto;

  &.modal-open {
    overflow: hidden;
  }
}

.page-body {
  overflow-x: clip;

  &--new-design {
    max-width: 164rem;
    margin: 0 auto;
  }

  &.fixed {
    padding-top: 4rem;

    @include respond(lg) {
      padding-top: 8rem;
    }
  }
}

.page-body-wrapper {
  width: 100%;
  overflow: hidden;

  &.awaiting {
    min-height: 30rem;
  }

  .page-body {
    background: map-get($palette, true-white);
  }
}

%table {
  @extend .table;
  text-align: inherit;
  background-color: transparent !important;

  &[border="0"] {
    * {
      border: none !important;
    }
  }

  &[border="1"] {
    @extend .table-bordered;

    * {
      border-color: map-get($palette, black) !important;
    }
  }

  th {
    font-size: 1.8rem;
    text-align: inherit;
  }

  td {
    text-align: inherit;
  }
}

.container--lg {
  @extend .container;
  padding: 0;

  @include respond(md) {
    max-width: 100%;
  }

  @include respond(lg) {
    @include make-container();
    max-width: 962px;
    padding: 0 15px;
  }

  @include respond(xl) {
    max-width: 1200px;
  }
}

.row--lg {
  @include respond(lg) {
    @include make-row();
  }
}


.toast {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: -40px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  transition: bottom 200ms ease, opacity 200ms ease;
  z-index: 100;

  &.show {
    bottom: 20px;
    opacity: 1;
  }

  .inner {
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 5px 25px;
    border-radius: 30px;
    background: map-get($palette, brownish-grey);
    text-align: center !important;
  }
}

.pwa .toast {

  &.show {
    bottom: 65px;
  }

}
