//COLOURS
$palette: (
  sunflower-yellow: #ffcc00,
  black: #000000,
  scarlet: #d40511,
  dark-scarlet: #af0000,
  valid-green: green,
  white: #e8e8e8,
  dark-white: #d8d8d8,
  dhl-black: #323232,
  brownish-grey: #666666,
  white-two: #f5f5f5,
  white-three: #f7f7f7,
  true-white: #ffffff,
  true-black: #000000,
  red: #d40511,
  border-grey: rgba(102, 102, 102, 0.3),
  checkbox-border-grey: #979797
);

//FONT
// $font-family: 'Frutiger W01', sans-serif;
// $font-family--alt: 'Frutiger W01', sans-serif;
$font-family: 'Delivery', sans-serif;
$font-family--alt: 'Delivery', sans-serif;
$font-family--icon: 'iconfont', sans-serif;

//ICON FONT
$icons: ();
