//COLOURS
$palette: (
  sunflower-yellow: #ffcc00,
  valid-green: green,
  brownish-grey: #666666,

  white: #e8e8e8,
  white-two: #f5f5f5,
  white-three: #f7f7f7,
  dark-white: #d8d8d8,
  true-white: #ffffff,

  dhl-black: #323232,
  black: #000000,
  true-black: #000000,

  light-red: #eb131e,
  red: #d40511,
  scarlet: #d40511,
  dark-red: #9a0000,
  dark-scarlet: #af0000,

  border-grey: rgba(102, 102, 102, 0.3),
  checkbox-border-grey: #979797
);

//FONT
// $font-family: 'Frutiger W01', sans-serif;
// $font-family--alt: 'Frutiger W01', sans-serif;
$font-family: 'Delivery', sans-serif;
$font-family--alt: 'Delivery', sans-serif;
$font-family--icon: 'iconfont', sans-serif;

//ICON FONT
$icons: ();
