//COLOURS
$palette: (
  sunflower-yellow: #ffcc00,
  dark-yellow: #8F7200,

  navy-blue: #001f3f,

  valid-green: green,
  brownish-grey: #666666,

  white: #e8e8e8,
  white-two: #f5f5f5,
  white-three: #f7f7f7,
  dark-white: #d8d8d8,
  true-white: #ffffff,

  dhl-black: #323232,
  black: #000000,
  true-black: #000000,

  light-red: #eb131e,
  red: #d40511,
  scarlet: #d40511,
  dark-red: #9a0000,
  dark-scarlet: #af0000,

  border-grey: rgba(102, 102, 102, 0.3),
  checkbox-border-grey: #979797,

  //DHL brand colours
  black-300: #323232,
  black-400: #191919,
  black-500: #000000,
  black-opacity-10: rgba(0, 0, 0, 0.1),
  black-opacity-20: rgba(0, 0, 0, 0.2),
  black-opacity-30: rgba(0, 0, 0, 0.3),
  black-opacity-45: rgba(0, 0, 0, 0.45),
  black-opacity-60: rgba(0, 0, 0, 0.6),
  black-opacity-80: rgba(0, 0, 0, 0.8),
  black-opacity-90: rgba(0, 0, 0, 0.9),
  black-opacity-05: rgba(0, 0, 0, 0.05),
  black-opacity-08: rgba(0, 0, 0, 0.08),

  gray-50: #f2f2f2,
  gray-100: #ebebeb,
  gray-200: #e5e5e5,
  gray-300: #cccccc,
  gray-400: #b2b2b2,
  gray-500: #8c8c8c,
  gray-600: #666666,
  gray-700: #333333,

  green-400: #78bd22,
  green-500: #007c39,

  red-400: #eb131e,
  red-500: #d40511,
  red-600: #9a0000,

  white-500: #ffffff,
  white-opacity-45: rgba(255, 255, 255, 0.45),
  white-opacity-60: rgba(255, 255, 255, 0.6),
  white-opacity-80: rgba(255, 255, 255, 0.8),

  yellow-300: #fff0b2,
  yellow-400: #ffe57f,
  yellow-500: #ffcc00,
  yellow-600: #e37729
);

//FONT
$font-family: 'Delivery', sans-serif;
$font-family--alt: 'Delivery', sans-serif;
$font-family--icon: 'iconfont', sans-serif;

//ICON FONT
$icons: ();

:root {
  --font-size-2xs: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 1.7rem;
  --font-size-xl: 1.8rem;
  --font-size-2xl: 1.9rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.1rem;
  --font-size-5xl: 2.2rem;
  --font-size-6xl: 2.3rem;
  --font-size-7xl: 2.4rem;
  --font-size-8xl: 2.5rem;
  --font-size-9xl: 2.6rem;
  --font-size-10xl: 2.8rem;
  --font-size-11xl: 3rem;

  --line-height-normal: 1;
  --line-height-xs: 1;
  --line-height-sm: 1.15;
  --line-height-md: 1.2;
  --line-height-lg: 1.25;
  --line-height-xl: 1.3;
  --line-height-2xl: 1.35;
  --line-height-3xl: 1.4;
  --line-height-4xl: 1.45;
  --line-height-5xl: 1.5;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --margin-zero: 0;
  --margin-small: 1.6rem;
  --margin-medium: 1.6rem;
  --margin-large: 2.4rem;

  @media screen and (min-width: 48rem) {
    --font-size-md: 1.6rem;
    --font-size-lg: 1.8rem;
    --font-size-xl: 1.9rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 2.2rem;
    --font-size-4xl: 2.4rem;
    --font-size-5xl: 2.6rem;
    --font-size-6xl: 2.8rem;
    --font-size-7xl: 3rem;
    --font-size-8xl: 3.2rem;
    --font-size-9xl: 3.4rem;
    --font-size-10xl: 3.8rem;
    --font-size-11xl: 4rem;

    --margin-medium: 2.4rem;
    --margin-large: 3.2rem;
  }

  @media screen and (min-width: 75rem) {
    --font-size-xl: 2rem;
    --font-size-2xl: 2.2rem;
    --font-size-3xl: 2.4rem;
    --font-size-4xl: 2.8rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.2rem;
    --font-size-7xl: 3.4rem;
    --font-size-8xl: 3.6rem;
    --font-size-9xl: 3.8rem;
    --font-size-10xl: 4.2rem;
    --font-size-11xl: 4.8rem;

    --margin-small: 2.4rem;
    --margin-medium: 3.2rem;
    --margin-large: 4.8rem;
  }
}

