<sly data-sly-use.dhlpage="com.positive.dhl.core.models.DhlPage">
  <sly data-sly-test="${(currentSession.userID == null || currentSession.userID == 'anonymous')}" data-sly-unwrap>
    <script src="//assets.adobedtm.com/cd52279ef3fa/3cec625096bb/launch-${dhlpage.trackingid}.min.js" async></script>
    <sly data-sly-test="${(dhlpage.gtmtrackingid != '')}" data-sly-unwrap>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','${dhlpage.gtmtrackingid @ context = "unsafe"}');</script>
      <!-- End Google Tag Manager -->
    </sly>
  </sly>

  <!--/* Include the site client libraries (loading only the CSS in the header, JS will be loaded in the footer) */-->
  <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='dhl.site'}"/>
  </sly>

  <!--/* Include Adobe Dynamic Tag Management libraries for the header */-->
  <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" data-sly-unwrap/>

  <!--/* Initializes the Experience Manager authoring UI */-->
  <sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>
</sly>