.article {
  &:not(:first-child) {
    margin-top: 1rem;
    border-top: 1px solid #E9E9E9;
    padding-top: 2.2rem;

    @media screen and (min-width: 120rem) {
      margin-top: 2.5rem;
      padding-top: 2.5rem;
    }
  }

  display: flex;
  gap: min(2rem, 20px);

  &Image {
    min-height: 7.2rem;
    width: 7.2rem;
    min-width: 7.2rem;

    @media screen and (min-width: 76.8rem) {
      min-height: 11rem;
      width: 16.5rem;
      min-width: 16.5rem;
    }

    @media screen and (min-width: 120rem) {
      min-height: 13.4rem;
      width: 20rem;
      min-width: 20rem;
    }

    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0px 3px 6px #00000029;

    &:after {
      content: "";
      border-radius: 2px;
      position: absolute;
      background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0 0 no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
  }

  &Info {
    color: #323232;
    display: flex;
    flex-direction: column;

    &GroupTag {
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin-top: 5px;
      letter-spacing: 0.9.6rem;
      color: #D40511;

      @media screen and (min-width: 76.8rem) {
        margin-top: 3px;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.2rem;
      }

      @media screen and (min-width: 120rem) {
        margin-top: 0px;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
    }

    &Title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #323232;
      margin-top: 1rem;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.4rem;
      text-decoration: none;
      letter-spacing: 0px;

      @media screen and (min-width: 76.8rem) {
        font-weight: bold;
        line-height: 2rem;
      }

      @media screen and (min-width: 120rem) {
        -webkit-line-clamp: 1;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.2rem;
      }

      &:hover {
        text-decoration: underline;
        color: #D40511;
        display: block;
      }
    }

    &Metadata {
      display: none;

      @media screen and (min-width: 76.8rem) {
        display: initial;
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.7rem;
        opacity: 0.7;
      }
    }

    &Description {
      display: none;

      @media screen and (min-width: 120rem) {
        display: -webkit-box;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}