@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.clearfix {
  @include clearfix;
}

@mixin styledLists() {
    ul, ol {
        list-style: none;
        padding-left: 0;

        li {
          margin-left: 1.1em;

          [dir="rtl"] & {
            margin-left: initial;
            margin-right: 1.1em;
          }
        }

        p {
            vertical-align: top;
        }
    }

    ul {
      li {
          position: relative;
          margin-top: .5rem;

          &:before {
              content: '•';
              vertical-align: top;
              position: absolute;
              font-weight: 900;
              left: -1em;
              top: 0.05em;

              [dir="rtl"] & {
                left: initial;
                right: -1em;
              }
          }
      }
    }

    ol {
        list-style: decimal;

        li {
            position: relative;
        }
    }

    ol li ol,
    ol li ul,
    ul li ul,
    ul li ol {
        //second level lists
        list-style: none;
        margin-top: 5px;
        li {
            &:before {
                content: '-';
                font-size: 10px;
                top: 3px;
                left: -10px;
                display: inline;
                position: absolute;
            }
        }
    }
}


// put this mixin in the parent selector (ie .component)
@mixin carousel-controls() {
  .carousel-control-next,
  .carousel-control-prev {
      display: none;
      width: 50px;

      @include respond(xl) {
          display: flex;
      }
  }

  .carousel-control-next {
      right: -70px;
  }

  .carousel-control-prev {
      left: -70px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      background: url('__prefix__/discover/resources/img/carouseliconsgrey.png');
      height: 72px;
      width: 25px;
  }

  .carousel-control-next-icon {
      background-position: -25px;
  }
}

@mixin form-inputs-indented() {
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 0 map-get($map: $palette, $key: border-grey);
  border: solid 1px map-get($map: $palette, $key: border-grey);
}

@mixin form-inputs-outdented() {
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2), inset 0px 1px 1px 0 map-get($map: $palette, $key: border-grey);
  border: solid 1px map-get($map: $palette, $key: border-grey);
  border-radius: 5px;
}

%form-error-msg {
  display: block;
  margin-top: -17px;
}

@mixin bounce($bounceSeconds:'2s') {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}


@mixin arrowLink($arrowImageUrl: '__prefix__/discover/resources/img/linkarrow.png') {
  &:before {
    content: ' ';
    display: block;
    width: 8px;
    height: 20px;
    background-image: url($arrowImageUrl);
    background-image: none, url($arrowImageUrl);
    @include backgroundImage(contain);
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -10px;
    transition: right 150ms ease;
  }

  &:hover {
    text-decoration: none;

    &:before {
      right: 9px;
    }
  }
}

//Used to remove margin of first element in column
@mixin ignore-top-child-margin-deep($depth: 5) {
  @if $depth > 0 {
    > :first-child {
      margin-top: 0;
      @include ignore-top-child-margin-deep($depth - 1);
    }
  }
}

@mixin ignore-bottom-child-margin-deep($depth: 5) {
  @if $depth > 0 {
    > :last-child {
      margin-bottom: 0;
      @include ignore-bottom-child-margin-deep($depth - 1);
    }
  }
}

@mixin remove-container-margins {
  margin-left: calc((100% - 100vw) / 2);
  margin-right: calc((100% - 100vw) / 2);
}

@mixin remove-container-margins-mobile-only {
  @media (max-width: map-get($discover-breakpoints, md)) { // Adjust the max-width as per your breakpoint
    @include remove-container-margins;
  }
}

@mixin extend-background-edge {
  @include remove-container-margins;
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
}

@mixin extend-background-mobile-only {
  @media (max-width: map-get($discover-breakpoints, md))  { // Adjust the max-width as per your breakpoint
    @include extend-background-edge;
  }
}

@mixin headersWithRteWrapper($wrapper, $styleProperty, $styleValue) {
  $headerSelectors: h1, h2, h3, h4, h5, h6;

  @each $header in $headerSelectors {
    .#{$wrapper} > #{$header},
    #{$header} > .#{$wrapper} {
      #{$styleProperty}: $styleValue;
    }
  }
}

// Mixin to apply font size inheritance for all headings inside a specific class
@mixin inherit-headings {
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
