@mixin font($style, $colour: inherit) {
  @extend #{$style};
	color: $colour;
}

@mixin respond($size) {
	@if ($size == xl or $size == lg or $size == md or $size == sm or $size == xs) {
		@media screen and (min-width: map-get($grid-breakpoints, $size)) {
			@content;
		}
	} @else {
		@media screen and (min-width: $size) {
			@content;
		}
	}
}

@mixin button($background: -1, $colour: -1, $hover: -1, $border:-1) {
  display: inline-block;
  margin: 0;
	padding: 10px 43px;
	@include font($style: "%T2");
	border-radius: 5px;
	transition: background 150ms ease, color 150ms ease;

	&:hover {
    text-decoration: none;
    cursor: pointer;
	}

	&:focus {
		outline: 1px solid $background;
    outline-offset: 2px;
	}

	@if ($background != -1) {
		background-color: $background;
	}
	@if ($colour != -1) {
		color: $colour;

		&:hover {
			color: $colour;
		}
	}
	@if ($border != -1) {
		border-color: $border;
	}

	@if ($hover != -1 and $background) {
		@if ($background != -1) {
			&:hover {
				background-color: darken($background, 7%);
			}
		} @else {
			&:hover {
				opacity: 0.5;
			}
		}
	} @else {
		&:hover {
			background-color: $background;
		}
	}
}

@mixin placeholder() {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		@content;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		@content;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		@content;
	}
	&:-moz-placeholder { /* Firefox 18- */
		@content;
	}
}

@mixin backgroundImage($fit: cover, $url: -1) {
  background-size: 100% auto;
  background-size: $fit;
  @if ($fit == cover) {
    background-position: top center;
  }
  @else {
    background-position: center center;
  }
  background-repeat: no-repeat;

  @if ($url != -1) {
    background-image: url($url);
  }
}

@mixin hoverText($colour-normal: map-get($map: $palette, $key: black),
                 $colour-hover: map-get($map: $palette, $key: scarlet),
                 $text-decoration-normal: none,
                 $text-decoration-hover: none) {
    transition: color 150ms ease;
    color: $colour-normal;
    text-decoration: $text-decoration-normal;
    &:hover {
        color: $colour-hover;
        text-decoration: $text-decoration-hover;
    }
}

%iconFont {
	font-family: $font-family--icon !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%imageComponent {
  margin: 0 0 40px 0;
  border-bottom: 1px solid map-get($map: $palette, $key: border-grey);
}
