$discover-breakpoints: (
  xs: 0,
  sm: 36rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
);

@mixin respond($size) {
	@if ($size == xl or $size == lg or $size == md or $size == sm or $size == xs) {
		@media screen and (min-width: map-get($discover-breakpoints, $size)) {
			@content;
		}
	} @else {
		@media screen and (min-width: $size) {
			@content;
		}
	}
}

@mixin button($background: -1, $colour: -1, $hover: -1, $border:-1) {
  display: inline-block;
  margin: 0;
	padding: 10px 43px;
	border-radius: 5px;
	transition: background 150ms ease, color 150ms ease;

	&:hover {
    text-decoration: none;
    cursor: pointer;
	}

	&:focus {
		outline: 1px solid $background;
    outline-offset: 2px;
	}

	@if ($background != -1) {
		background-color: $background;
	}
	@if ($colour != -1) {
		color: $colour;

		&:hover {
			color: $colour;
		}
	}
	@if ($border != -1) {
		border-color: $border;
	}

	@if ($hover != -1 and $background) {
		@if ($background != -1) {
			&:hover {
				background-color: darken($background, 7%);
			}
		} @else {
			&:hover {
				opacity: 0.5;
			}
		}
	} @else {
		&:hover {
			background-color: $background;
		}
	}
}

@mixin placeholder() {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		@content;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		@content;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		@content;
	}
	&:-moz-placeholder { /* Firefox 18- */
		@content;
	}
}

@mixin backgroundImage($fit: cover, $url: -1) {
  background-size: 100% auto;
  background-size: $fit;
  @if ($fit == cover) {
    background-position: top center;
  }
  @else {
    background-position: center center;
  }
  background-repeat: no-repeat;

  @if ($url != -1) {
    background-image: url($url);
  }
}

@mixin hoverText($colour-normal: map-get($map: $palette, $key: scarlet),
                 $colour-hover: map-get($map: $palette, $key: light-red),
                 $text-decoration-normal: none,
                 $text-decoration-hover: none) {
    transition: color 150ms ease;
    color: $colour-normal;
    text-decoration: $text-decoration-normal;
    &:hover {
        color: $colour-hover;
        text-decoration: $text-decoration-hover;
    }
}

%iconFont {
	font-family: $font-family--icon !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%imageComponent {
  margin: 0 0 40px 0;
  border-bottom: 1px solid map-get($map: $palette, $key: border-grey);
}

:root {
  --margin-zero: 0;
  --margin-small: 1.6rem;   /* 16px */
  --margin-medium: 1.6rem;    /* 16px */
  --margin-large: 2.4rem;   /* 24px */
}

@include respond(md) {
  :root {
    --margin-medium: 2.4rem;  /* 24px */
    --margin-large: 3.2rem;     /* 32px */
  }
}

@include respond(xl) {
  :root {
    --margin-small: 2.4rem;     /* 24px */
    --margin-medium: 3.2rem;    /* 32px */
    --margin-large: 4.8rem;     /* 48px */
  }
}

/* Top Margins */
.aem-GridColumn.mt {
  &-zero {
    margin-top: var(--margin-zero);
  }

  &-small {
    margin-top: var(--margin-small);
  }

  &-medium {
    margin-top: var(--margin-medium);
  }

  &-large {
    margin-top: var(--margin-large);
  }
}

/* Bottom Margins */
.aem-GridColumn.mb {
  &-zero {
    margin-bottom: var(--margin-zero);
  }

  &-small {
    margin-bottom: var(--margin-small);
  }

  &-medium {
     margin-bottom: var(--margin-medium);
  }

  &-large {
    margin-bottom: var(--margin-large);
  }
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

/* Top Paddings */
.aem-GridColumn.pt {
  &-zero {
    padding-top: var(--margin-zero);
  }

  &-small {
    padding-top: var(--margin-small);
  }

  &-medium {
    padding-top: var(--margin-medium);
  }

  &-large {
    padding-top: var(--margin-large);
  }
}

/* Bottom Paddings */
.aem-GridColumn.pb {
  &-zero {
    padding-bottom: var(--margin-zero);
  }

  &-small {
    padding-bottom: var(--margin-small);
  }

  &-medium {
    padding-bottom: var(--margin-medium);
  }

  &-large {
    padding-bottom: var(--margin-large);
  }
}
