.searchBar {
    height: 4.5rem;
    @media screen and (min-width: 48rem) {
        position: relative;
    }
}

:global(.header__navigation--open) {
    .searchBar {
        position: initial;
    }
}