<div id="articles" class="articleGrid hide-offline" data-sly-use.dhlpage="com.positive.dhl.core.models.DhlPage" data-sly-use.grid="com.positive.dhl.core.models.ArticleGrid" data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions">
	<div class="articleGrid__navWrap">
		<ul class="articleGrid__nav">
			<li data-sly-test="${grid.hidelatest != true}" class="articleGrid__navItem"><a class="articleGrid__navLink${((grid.mode == 'latest') ? ' articleGrid__navLink--active' : '')}" href="${currentPage.path}.html#articles" title="Latest">Latest</a></li>
			<li data-sly-test="${grid.hidetrending != true}" class="articleGrid__navItem"><a class="articleGrid__navLink${((grid.mode == 'trending') ? ' articleGrid__navLink--active' : '')}" href="${currentPage.path}.html?mode=trending#articles" title="Trending">Trending</a></li>

			<sly data-sly-unwrap data-sly-list="${grid.categories}">
			<li class="articleGrid__navItem"><a class="articleGrid__navLink${((grid.mode == item.category) ? ' articleGrid__navLink--active' : '')}" href="//${dhlpage.getAkamaiHostname}${currentPage.path}.html?mode=${item.category}#articles" title="${item.name}">${item.name}</a></li>
			</sly>
		</ul>
	</div>
	<div class="container">
		<div class="row articleGrid__grid" data-sly-list="${grid.articles}">
			<div class="articleGrid__item col-12 col-md-6 col-lg-4">
				<article class="articlePanel${((item.youtubeid.length > 0) ? ' articlePanel--video' : '')}${((item.index < 2) ? ' articlePanel--large' : '')}" id="articlePanelUniqueId">
					<a class="articlePanel__image" href="//${dhlpage.getAkamaiHostname}${item.path}.html" title="${item.title}">
						<amp-img src="//${dhlpage.getAkamaiHostname}${item.listimage}" height="69" width="90" layout="fixed"></amp-img>
						<span class="sr-only">${item.title}</span>
					</a>
					<div class="articlePanel__content">
						<a href="//${dhlpage.getAkamaiHostname}${item.path}.html" title="${item.title}">
							<h1 class="articlePanel__title">${item.title}</h1>
							<p class="articlePanel__description">${item.brief}</p>
						</a>
						<h2 class="articlePanel__subTitle">
							<a href="//${dhlpage.getAkamaiHostname}${item.path}.html" title="Business">${item.grouptitle}</a> <sly data-sly-unwrap data-sly-test="${(item.readtime.length > 0)}">&middot; <a class="noUnderline" href="//${dhlpage.getAkamaiHostname}${item.path}.html" title="${item.title}">${item.readtime}</sly></a>
						</h2>
					</div>
				</article>
			</div>
			<div class="col-12 d-none d-md-block d-lg-none" data-sly-test="${item.index == 1}">
				<hr class="articleGrid__rule">
			</div>
		</div>
	</div>
</div>
