.ai-asst__chat-display{
    position: relative;
}

.ai-asst__message {
    padding: 5px;
}

.ai-asst__messages .ai-asst__loader {
    font-style: italic;
    color: gray;
    padding-bottom: 0;
}

.ai-asst__messages {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.ai-asst__messages .ai-asst__message:first-child {
    margin-top: auto;
}

.ai-asst__message--user {
    max-width: 70%;
    background-color: #e3e1e1;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 10px;

}

.ai-asst__action-btn-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.ai-asst__action-btn {
    padding: 3px 10px;
    margin: 2px 5px;
    display: inline-block;
    color: rgb(109, 109, 109);
    line-height: 1.8;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border-radius: 15px;
}

.ai-asst__action-btn:hover {
    cursor: pointer;
    color: #2c2c2c;
}

.ai-asst__field-suggestion {
    display: inline-block;
    position: relative;
    margin: 5px 0;
}

.ai-asst__field-suggestion-content {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 15px;
}

.ai-asst__field-suggestion-content:focus-visible {
    outline: none;
    border: 1px solid #2680eb;
}

.ai-asst__field-suggestion:hover {
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 18px;
    z-index: 1;
}

.ai-asst__field-suggestion-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.ai-asst__field-suggestion-apply-btn {
    display: none;
    background-color: #2680eb;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.ai-asst__field-suggestion:hover .ai-asst__field-suggestion-apply-btn {
    display: block;
}
