<div class="animatedPagesHero animatedPagesHero--sport">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <h1 class="animatedPagesHero__title">office supplies 101</h1>
      </div>
      <div class="col-12">
        <img class="animatedPagesHero__animation animatedPagesHero__animation--cosmetic" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated11/header11.gif" alt="office supplies">
     </div>
     <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
      <p class="animatedPagesHero__copy">Remember the dream of the paperless office? It never quite happened, but there&apos;s no doubt digital technology has reduced the need for certain office supplies. Yet the category is still growing. Read on to see how your e-commerce business can take advantage.</p>
     </div>
        <a class="animatedPagesHero__arrow"></a>
    </div>
  </div>
</div>
