<div class="statsPanel statsPanel--alt statsPanel--office parallaxSection" data-duration="3" data-separator="," data-decimal="." >
  <div class="container position-relative">
    <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--alt statsPanel__parallaxBox--office" data-max-top="30" data-min-top="-20">
      <div class="row">
        <div class="col-12 col-md-7 col-lg-6 col-xl-7">
          <p class="statsPanel__title">why supplies lack demand</p>
          <p class="statsPanel__copy statsPanel__copy--alt">Offices in developed nations are using less paper and going digital. But nevertheless, business is growing elsewhere. The global office supplies sector is predicted to grow at <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="http://www.digitaljournal.com/pr/3984388#ixzz5VJZr732Q">2.6%</a> between now and 2023, driven by developing regions, such as Asia-Pacific, as well as technological product innovation in the market as a whole.</p>
          <div class="d-none d-md-block">
            <br><p class="statsPanel__copy statsPanel__copy--alt">Paper products account for <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.businesswire.com/news/home/20180607006239/en/Office-Stationery-Market-Europe-Customized-Stationery-Supplies">nearly 50%</a> of the market. Despite the continuing digitization of processes, the paperless office still seems a way off, as paper is only set to see an <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.businesswire.com/news/home/20180607006239/en/Office-Stationery-Market-Europe-Customized-Stationery-Supplies">estimated 2% drop</a> in sales by 2022 &ndash; suggesting the future of the paper industry isn&apos;t as bleak as first predicted.</p><br>
            <p class="statsPanel__copy statsPanel__copy--alt">TIP: There&apos;s a place for paper, but you may have to look further afield to find it.</p>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 col-xl-5">
          <div class="statsPanel__wrapper statsPanel__wrapper--padding">
            <div class="boxFill boxFill--dark">
              <div class="boxFill__fill boxFill__fillstat2">
                <div class="boxFill__fillTop"></div>
              </div>
              <div class="boxFill__front"></div>
            </div>
            
            <div class="statsPanel__statsWrapper statsPanel__statsWrapper--electronics">
              <h4 class="statsPanel__statsValue" data-start="0" data-end="50" data-suffix="%">50%</h4>
              <h2 class="statsPanel__value">of the market</h2>
            </div>
          </div>
        </div>
        <div class="col-12 d-block d-md-none">
          <p class="statsPanel__copy statsPanel__copy--alt">Paper products account for <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.businesswire.com/news/home/20180607006239/en/Office-Stationery-Market-Europe-Customized-Stationery-Supplies">nearly 50%</a> of the market. Despite the continuing digitization of processes, the paperless office still seems a way off, as paper is only set to see an <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.businesswire.com/news/home/20180607006239/en/Office-Stationery-Market-Europe-Customized-Stationery-Supplies">estimated 2% drop</a> in sales by 2022 &ndash; suggesting the future of the paper industry isn&apos;t as bleak as first predicted.</p><br>
          <p class="statsPanel__copy statsPanel__copy--alt">TIP: There&apos;s a place for paper, but you may have to look further afield to find it.</p>
        </div>
      </div>
    </div>
  </div>
</div>