<div class='infoRow--office'>
  <div class="container">
    <div class="row">
      <div class="col-12 d-md-none col-lg-6">
          <p class="infoRow__title">Premium paper&apos;s unique appeal</p>
          <p class="infoRow__copy">To fill the gap being left by the reduction in paper sales, you need to go upmarket. In our online world, high quality printed products offer an irresistible novelty. Bought for both the workplace and personal use, items such as notepads and pens are no longer marketed as simply tools, but lifestyle and even luxury items, while also serving a nostalgic sentiment surrounding school days.</p>
          <img class="infoRow__image infoRow__image--book" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated11/book.gif">
      </div>
      <div class="d-none d-md-block col-md-5">
        <img class="infoRow__image infoRow__image--book" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated11/book.gif">
      </div>
      <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
        <div class="d-block">
          <div class="d-none d-md-block">
          <p class="infoRow__title">Premium paper&apos;s unique appeal</p>
          <p class="infoRow__copy">To fill the gap being left by the reduction in paper sales, you need to go upmarket. In our online world, high quality printed products offer an irresistible novelty. Bought for both the workplace and personal use, items such as notepads and pens are no longer marketed as simply tools, but lifestyle and even luxury items, while also serving a nostalgic sentiment surrounding school days.</p>
        </div>
          <p class="infoRow__copy">Just look at the popularity of <a class="infoRow__link infoRow__link--alt" target="_blank" href="https://discover.dhl.com/business/productivity/how-to-make-a-bullet-journal?mode=trending">bullet journals</a> &ndash; the minimalist-yet-visual way to organize your life through a series of coded symbols. Your customers still love paper products. </p>
          <p class="infoRow__copy">This enthusiasm is matched by the <a class="infoRow__link infoRow__link--alt" target="_blank" href="http://www.officesuppliesblog.co.uk/2017/06/09/traditional-office-supplies-industry-decline/">82% of British startups</a> that continue to use traditional paper supplies regularly, with only 1% going completely digital. </p>
          <p class="infoRow__copy">TIP: The past and the future both have their place in the present &ndash; look for trending product searches to refine your offering to customers.</p>
        </div>
      </div>
    </div>
  </div>
</div>