<div class="animatedShowcasePanel animatedShowcasePanel--office parallaxSection">
  <div class="container container--alt">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 offset-xl-0 col-xl-8">
        <h2 class="animatedShowcasePanel__heading  animatedShowcasePanel__heading--office"><span>A PERSONAL TOUCH</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottom d-md-none d-xl-block"><span>In a bid to differentiate themselves from bigger businesses, some companies are embracing the personalization trend sweeping the industry. Used for office events and the increasingly popular practice of corporate gifts, technological advances have allowed personalization of office stationery and supplies to be brought to the mainstream &ndash; so, how can you take advantage of the demand for personalized stationery and products?</span></h2>
      </div>
    </div>
    <div class="animatedShowcasePanel__wrapper animatedShowcasePanel__wrapper--electronics">
      <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--clothes ">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated11/pen.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">See it to believe it</h3>
            <p class="animatedShowcasePanel__itemCopy">Personalized items are a great way to build brand loyalty among employees and customers. A tangible, physical expression of your customers&apos; companies is also a great way for them to gain exposure &ndash; and if the quality&apos;s high, they&apos;ll be used again and again.</p><br>
            <p class="animatedShowcasePanel__itemCopy">TIP: Help your customers put their name out there, and they&apos;ll help do the same with yours.</p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--bag">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--office" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated11/map.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Know where to go</h3>
            <p class="animatedShowcasePanel__itemCopy">The customization area is expected to drive growth in the European market over the next five years, where Germany currently leads with a <a class="animatedShowcasePanel__link " target="_blank" href="https://www.businesswire.com/news/home/20180607006239/en/Office-Stationery-Market-Europe-Customized-Stationery-Supplies">26% market share</a>. Meanwhile, a 3.1% annual growth rate (CAGR) is anticipated to 2022 for traditional stationery supplies across the continent, reaffirming faith in the slowly shifting space.</p><br>
            <p class="animatedShowcasePanel__itemCopy">TIP: Make sure you&apos;re set up to ship quickly, wherever your customers are.</p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--recycling" >
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated11/book2.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">The future of tradition</h3>
            <p class="animatedShowcasePanel__itemCopy">While digital flexes its muscles, traditional business cards and other stationery can give your customers a professional, trustworthy appearance &ndash; elevating the business in the eyes of the consumer.</p><br>
            <p class="animatedShowcasePanel__itemCopy">TIP: Just because it&apos;s new, doesn&apos;t mean it&apos;s better.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 offset-md-6 d-none d-md-block d-xl-none">      
      <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span>In a bid to differentiate themselves from bigger businesses, some companies are embracing the personalization trend sweeping the industry. Used for office events and the increasingly popular practice of corporate gifts, technological advances have allowed personalization of office stationery and supplies to be brought to the mainstream &ndash; so, how can you take advantage of the demand for personalized stationery and products?</span></h2>
    </div>
    <div class="col-12 col-md-6 order-md-0 d-xl-none">
      <div class="animatedShowcasePanel__carousel animatedShowcasePanel__carousel--light">
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--office">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--pen" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated11/pen.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">See it to believe it</h3>
            <p class="animatedShowcasePanel__itemCopy">Personalized items are a great way to build brand loyalty among employees and customers. A tangible, physical expression of your customers&apos; companies is also a great way for them to gain exposure &ndash; and if the quality&apos;s high, they&apos;ll be used again and again.</p><br>
            <p class="animatedShowcasePanel__itemCopy">TIP: Help your customers put their name out there, and they&apos;ll help do the same with yours.</p>
          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--office">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--office" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated11/map.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Know where to go</h3>
            <p class="animatedShowcasePanel__itemCopy">The customization area is expected to drive growth in the European market over the next five years, where Germany currently leads with a <a class="animatedShowcasePanel__link " target="_blank" href="https://www.businesswire.com/news/home/20180607006239/en/Office-Stationery-Market-Europe-Customized-Stationery-Supplies">26% market share</a>. Meanwhile, a 3.1% annual growth rate (CAGR) is anticipated to 2022 for traditional stationery supplies across the continent, reaffirming faith in the slowly shifting space.</p><br>
            <p class="animatedShowcasePanel__itemCopy">TIP: Make sure you&apos;re set up to ship quickly, wherever your customers are.</p>
          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--office">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--book2" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated11/book2.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">The future of tradition</h3>
            <p class="animatedShowcasePanel__itemCopy">While digital flexes its muscles, traditional business cards and other stationery can give your customers a professional, trustworthy appearance &ndash; elevating the business in the eyes of the consumer.</p><br>
            <p class="animatedShowcasePanel__itemCopy">TIP: Just because it&apos;s new, doesn&apos;t mean it&apos;s better.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
