<div class="animatedPagesHero animatedPagesHero--sport">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <h1 class="animatedPagesHero__title">SPORTING GOODS 101.<br> THE DHL SECTOR GUIDE</h1>
      </div>
      <div class="col-12">
        <img class="animatedPagesHero__animation animatedPagesHero__animation--cosmetic" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated10/hero10.gif" alt="sport watch">
     </div>
     <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
      <p class="animatedPagesHero__copy">Expected to be worth <a class="animatedPagesHero__link" target="_blank" href="https://www.prnewswire.com/news-releases/the-global-sports-equipment-market-size-is-expected-to-reach-usd-89-22-billion-by-2025--300702640.html">US$89.2bn</a> by 2025, health and fitness is a bigger business than ever. Driven by new tech developments and a social and cultural shift towards health, amateurs and professionals alike are keenly buying into performance progress tracking.</p>
     </div>
        <a class="animatedPagesHero__arrow"></a>
    </div>
  </div>
</div>
