<div class='statsPanel statsPanel--alt statsPanel--spacing parallaxSection' data-duration="4" data-separator="," data-decimal="." >
  <div class="container position-relative">
    <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--alt statsPanel__parallaxBox" data-max-top="50" data-min-top="-20">
      <div class="col-lg-6">
        <p class="statsPanel__title">What people are playing</p>
        <p class="statsPanel__copy statsPanel__copy--alt">The sporting goods sector is benefiting from improved standards of living and the rising appeal of sport as a cultural activity.</p><br>
        <p class="statsPanel__copy statsPanel__copy--alt">Sport has even entered the fashion world, with trainers outselling heels for British women for the first time in 2015. So be sure to stock and sell technical apparel as well as activewear and sportswear fashion items.</p>
        <div class="d-none d-lg-block"><br></div>
        <div class="d-none d-lg-block">
          <p class="statsPanel__copy statsPanel__copy--alt">Participation rates have also increased &ndash; particularly in alternative and gymnastic activities such as yoga, pilates and tai chi. Boosting demand for specialist mats, blocks and belts, this has led to the fitness and strength equipment segment anticipating the <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.grandviewresearch.com/industry-analysis/sports-equipment-market">sector&apos;s second highest growth rate to 2025</a>. It comes in just behind the ball games segment, which retains its market share top spot.</p><br>
          <p class="statsPanel__copy statsPanel__copy--alt">TIP: Strengthen your offering outside of ball games to stay competitive.</p>
          </div>
      </div>
      <div class="col-lg-6 offset-xl-1 col-xl-5">
        <div class="statsPanel__boxWrapper">
          <div class="col-lg-6 ">
            <div class="statsPanel__wrapper statsPanel__wrapper--alt">
              <div class="statsPanel__statsWrapper statsPanel__statsWrapper--alt">
                <h2 class="statsPanel__value statsPanel__value--noPercentage">TRAINERS</h2>
              </div>
              <div class="boxFill boxFill--dark">
				  <div class="boxFill__fill boxFill__fillstat7">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="statsPanel__wrapper statsPanel__wrapper--alt">
              <div class="statsPanel__statsWrapper statsPanel__statsWrapper--altDown">
                <h2 class="statsPanel__value statsPanel__value--noPercentage">HEELS</h2>
              </div>
              <div class="boxFill boxFill--dark">
				  <div class="boxFill__fill boxFill__fillstat10">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-lg-none">
      <p class="statsPanel__copy statsPanel__copy--alt">Participation rates have also increased &ndash; particularly in alternative and gymnastic activities such as yoga, pilates and tai chi. Boosting demand for specialist mats, blocks and belts, this has led to the fitness and strength equipment segment anticipating the <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.grandviewresearch.com/industry-analysis/sports-equipment-market">sector&apos;s second highest growth rate to 2025</a>. It comes in just behind the ball games segment, which retains its market share top spot.</p><br>
      <p class="statsPanel__copy statsPanel__copy--alt">TIP: Strengthen your offering outside of ball games to stay competitive.</p>
      </div>
    </div>
  </div>
</div>