<div class='infoRow infoRow--sport'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-1">
        <p class="infoRow__title infoRow__title--fashion">Where sporting goods are selling</p>
        <p class="infoRow__copy">Specialty sports shops will continue to play their part, providing everything in one place and the ability to try out equipment first. However, competition is increasing from e-commerce giants, meaning brick and mortar stores should develop their own websites too.</p>
        <p class="infoRow__copy">Regionally, Asia-Pacific is growing fastest, with emerging markets such as India and the Middle East enjoying additional disposable income. Are you serving these areas with local language websites?</p>
        <div class="col-12 d-lg-none">
          <img class="infoRow__image infoRow__image--letter" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/ball.gif">
        </div>
        <p class="infoRow__copy">China is also now a major sporting goods market, boosted by the government&apos;s 2014 policy committed to developing the industry. It is now growing faster than most sectors, though basketball remains in the lead. China even registered as the American NBA&apos;s <a class="infoRow__link infoRow__link--alt" target="_blank" href="https://www.forbes.com/sites/roberttuchman/2017/08/04/the-rise-of-chinas-sports-economy/#49b11e884a22">largest international market</a>, highlighting the need to research unlikely overseas opportunities.</p>
        <p class="infoRow__copy">TIP: Search where interest for your products is the highest, and make sure you offer the localized payment options these markets are using.</p>
      </div>
      <div class="d-none d-md-block col-md-7 col-lg-4 offset-lg-1">
        <div class="d-none d-lg-block">
            <img class="infoRow__image infoRow__image--letter" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/ball.gif">
        </div>
      </div>
    </div>
  </div>
</div>