<div class="animatedShowcasePanel animatedShowcasePanel--sport parallaxSection">
  <div class="container container--alt">
    <div class="row">
      <div class="col-12 col-md-10 col-xl-8">
        <h2 class="animatedShowcasePanel__heading"><span>Sports equipment is getting smarter</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottom"><span>Moving players and the market forwards, smart sport technology is now found in everything from tennis rackets and baseball bats to swimming goggles and fishing rods. Measuring biometric data for the user to improve their swing, aim or stroke, they have become essential for professionals and popular among amateurs too.</span></h2>
      </div>
    </div>
    <div class="animatedShowcasePanel__wrapper animatedShowcasePanel__wrapper--electronics">
      <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--speed ">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--sport" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/speed.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">SwingTracker</h3>
            <p class="animatedShowcasePanel__itemCopy">Records fifteen measurements, such as power, speed and efficiency of a baseball batter&apos;s swing. It can be mounted to the bottom of your bat or bought built-in through one of their partners.</p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--rugby">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--sport" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/rugby.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Wilson X Connected Football</h3>
            <p class="animatedShowcasePanel__itemCopy">Available in junior and standard sizes, to suit all ages of aspiring American footballers, their sensors detect the velocity, spin and distance of each throw of the ball, making it easier to track progress and target improvement.</p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--gopro" >
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--sport" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/gopro.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">In/Out</h3>
            <p class="animatedShowcasePanel__itemCopy">This GoPro-style device clips onto a tennis net post and can detect which side of the net line a ball landed, helping to settle disputes quickly by using the same technology employed by self-driving cars for parking.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 offset-md-6 col-xl-8 offset-xl-4 d-none d-md-block">
      <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span>Tying into the fitness wearable craze, these devices sync with smartphones and are becoming increasingly affordable, opening up the market to smaller players. This then makes them better placed to serve the global smart market, with almost half of it taken up by mid-range products. You can take advantage by selecting products from smaller, reliable producers with strong reputations.</span></h2>
      <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span><br>TIP: Time spent researching and measuring customer interest pays off. Stay on top of the latest trends, and look for import opportunities with new tech.</span></h2>
      </div>
    <div class="col-12 col-md-6 order-md-0 d-xl-none">
      <div class="animatedShowcasePanel__carousel animatedShowcasePanel__carousel--light animatedShowcasePanel__carousel--sport">
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--sport">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--sport" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/speed.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">SwingTracker</h3>
            <p class="animatedShowcasePanel__itemCopy">Records fifteen measurements, such as power, speed and efficiency of a baseball batter&apos;s swing. It can be mounted to the bottom of your bat or bought built-in through one of their partners.</p>
          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--sport">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--sport" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/rugby.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Wilson X Connected Football</h3>
            <p class="animatedShowcasePanel__itemCopy">Available in junior and standard sizes, to suit all ages of aspiring American footballers, their sensors detect the velocity, spin and distance of each throw of the ball, making it easier to track progress and target improvement.</p>
          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--sport">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--sport" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated10/gopro.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">In/Out</h3>
            <p class="animatedShowcasePanel__itemCopy">This GoPro-style device clips onto a tennis net post and can detect which side of the net line a ball landed, helping to settle disputes quickly by using the same technology employed by self-driving cars for parking.</p>
          </div>
        </div>
      </div>
      <div class="d-md-none">
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span>Tying into the fitness wearable craze, these devices sync with smartphones and are becoming increasingly affordable, opening up the market to smaller players. This then makes them better placed to serve the global smart market, with almost half of it taken up by mid-range products. You can take advantage by selecting products from smaller, reliable producers with strong reputations.</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span><br>TIP: Time spent researching and measuring customer interest pays off. Stay on top of the latest trends, and look for import opportunities with new tech.</span></h2>
      </div>
    </div>
  </div>
</div>
