<div class='infoRow infoRow--sportAlt'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-lg-none">
          <p class="infoRow__title infoRow__title--alt">Using sensors for safety</p>
          <p class="infoRow__copy infoRow__copy--alt">Sensors are being incorporated into clothing too, analyzing the way the body moves. For example, pole-vaulters use them to determine their center of gravity in the air. Smart helmets are also coming to market, able to detect and disperse force to reduce head injury risks. They can then communicate with coaches to quickly take action against more serious collisions.</p>
        </div>
        <img class="infoRow__image infoRow__image--sport" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated10/helmet.gif">
      </div>
      <div class="col-12 col-lg-6">
        <div class="d-none d-lg-block">
          <p class="infoRow__title infoRow__title--alt">Using sensors for safety</p>
          <p class="infoRow__copy infoRow__copy--alt">Sensors are being incorporated into clothing too, analyzing the way the body moves. For example, pole-vaulters use them to determine their center of gravity in the air. Smart helmets are also coming to market, able to detect and disperse force to reduce head injury risks. They can then communicate with coaches to quickly take action against more serious collisions.</p>
        </div>
        <p class="infoRow__copy infoRow__copy--alt">Likewise, chest protectors are being sold more widely to reduce the leading cause of death in kid&apos; baseball leagues &ndash; commotio cordis, or &apos;commotion of the heart&apos;, caused by chest trauma from a fast-moving ball. The National Federation of State High School Associations made protection against the injury mandatory by January 2020, meaning this market, and safety equipment generally, holds great potential for developers and retailers.</p>
        <p class="infoRow__copy infoRow__copy--alt">TIP: Safety is big business. By protecting your customers, you could also be protecting your future. Look for opportunities to expand into this space where possible. </p>
        </div>
    </div>
  </div>
</div>