<div class='infoRow infoRow--textRow'>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <p class="infoRow__title infoRow__title--center">Going Global</p>
          <p class="infoRow__copy infoRow__copy--center">Manufacturers are specifically targeting junior sports supplies equipment. For example, lighter soccer balls are being sold for heading practice as children and younger players may otherwise shy away from the technique and parents may be concerned by potential health implications. At-home batting cages are also allowing budding Babe Ruths to step up to bat in the comfort of their backyard, with easy, temporary setup and dismantling.</p>
          <p class="infoRow__copy infoRow__copy--center">With this upcoming generation aspiring to be just like their TV sports idols, retailers must appeal to parents who are prepared to pay for such special tools and equipment if they promise success. However, with interest in certain sports now spreading beyond their home countries, the markets for many goods are widening too. If you specialize in a particular sport, are you selling to every country that plays it?</p>
          <p class="infoRow__copy infoRow__copy--center">TIP: Make sure you have the full range of products available, and look for new markets where a sport is popular.</p>
        </div>
    </div>
  </div>
</div>