<div class="animatedPagesHero animatedPagesHero--comestics101">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <h1 class="animatedPagesHero__title">Cosmetics 101</h1>
      </div>
      <div class="col-12">
        <img class="animatedPagesHero__animation animatedPagesHero__animation--cosmetic" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated5/cosmeticGif.gif" alt="Make-up">
     </div>
     <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
      <p class="animatedPagesHero__copy">Today the global cosmetics sector is becoming more varied and inclusive. It's predicted to reach a market value of US$805.61bn by 2023, is opening up to more men than ever and bringing the spa to our homes.</p>
     </div>
        <a class="animatedPagesHero__arrow"></a>
    </div>
  </div>
</div>
