<div class='infoRow--country infoRow--countryUS'>
	<div class="container">
    <div class="sep-country"></div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-lg-6">
            <p class="infoRow__title infoRow__title--alt">Global top 5 largest men's product markets</p>
            <p class="infoRow__copy infoRow__copy--alt">
              Attitudes towards men wearing makeup are changing with Men becoming more knowledgeable about a whole range of products. <a class="infoRow__link" target="_blank" href="https://www.verygoodlight.com/2018/01/02/grooming-beauty-trends-thatll-explode-2018/">Naira Aslanian</a>, Report Manager of Kline's US Male Grooming Market Report, says, "The taboos are slowly dropping, and a growing number of men are using anti-aging serums and masks, beauty devices and even makeup."
            </p>
            <p class="infoRow__copy infoRow__copy--alt d-none d-lg-block ">
              The top market is the <a class="infoRow__link" target="_blank" href="https://www.cosmeticsbusiness.com/news/article_page/Cosmetics_Business_reveals_the_5_biggest_male_beauty_trends_of_2018_in_new_report/141892">United States with an industry worth US$9.1bn +2.3%</a>, followed by Brazil at US$6.0bn +7.1%. Other growing markets include the United Kingdom (US$2.4bn), Germany (US$2.9nb) and China (US$1.9bn).
            </p>
          </div>
          <div class="col-lg-6 col-xl-5 offset-xl-1">
            <div id="country_us" class="country-gif js-country-gif"></div>
          </div>
          <div class="col-12 d-lg-none">
            <p class="infoRow__copy infoRow__copy--alt">
              The top market is the <a class="infoRow__link" target="_blank" href="https://www.cosmeticsbusiness.com/news/article_page/Cosmetics_Business_reveals_the_5_biggest_male_beauty_trends_of_2018_in_new_report/141892">United States with an industry worth US$9.1bn +2.3%</a>, followed by Brazil at US$6.0bn +7.1%. Other growing markets include the United Kingdom (US$2.4bn), Germany (US$2.9nb) and China (US$1.9bn).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
