<div class="animatedShowcasePanel animatedShowcasePanel--cosmetics101">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <p class="animatedShowcasePanel__heading animatedShowcasePanel__heading--dark">Welcome to a world of change</p>
        <p class="animatedShowcasePanel__title animatedShowcasePanel__title--dark">
          The beauty and cosmetics industry is always alive with new trends, as new consumers enter the market and existing ones are on the lookout for what's next. From marketing to men, to bringing the spa to your smartphone, here are the ones to watch.
        </p>
      </div>
    </div>
    <div class="row animatedShowcasePanel--offset">
      <div class="col-4 d-none d-xl-block order-xl-0">
        <div class="animatedShowcasePanel__item">
          <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/bell.gif" alt="bell">
          <h3 class="animatedShowcasePanel__itemTitle">Beauty treatments on tab</h3>
          <p class="animatedShowcasePanel__itemCopy">The beauty and wellness industries are providing app-driven, on-demand services, with companies such as <a class="animatedShowcasePanel__link" target="_blank" href="https://secretspa.co.uk/">Beyou</a> and <a class="animatedShowcasePanel__link" target="_blank" href="https://secretspa.co.uk/">Secret Spa</a> offering home visits according to customers' schedules. These options can't yet match a traditional spa, but the appeal of an affordable, fully accredited practitioner coming directly to you, and at a convenient time, is increasingly attractive to consumers.</p>
        </div>
      </div>
      <div class="col-4 d-none d-xl-block order-xl-1">
        <div class="animatedShowcasePanel__item animatedShowcasePanel__item--pullUp animatedShowcasePanel__item--pushDown">
          <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/bubbles.gif" alt="bubbles">
          <h3 class="animatedShowcasePanel__itemTitle">Anti pollution is beautiful</h3>
          <p class="animatedShowcasePanel__itemCopy">As more people move into cities, the pollution toll on skin has become a concern for the beauty conscious. Even if you don't live in a major metropolitan area, polluted air is becoming more prevalent, exposing our pores to various toxins. To combat this problem, <a class="animatedShowcasePanel__link" target="_blank" href="https://www.verygoodlight.com/2018/01/02/grooming-beauty-trends-thatll-explode-2018/">anti-pollution brands</a> like <a class="animatedShowcasePanel__link" target="_blank" href="http://www.vprove.co.kr/front/">VProve</a> from South Korea and <a class="animatedShowcasePanel__link" target="_blank" href="https://www.renskincare.com/?redirected=true">REN</a> from the US, have launched to great success.</p>
        </div>
        <div class="animatedShowcasePanel__item">
          <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/opening-case.gif" alt="Opening Case">
          <h3 class="animatedShowcasePanel__itemTitle">Beauty box subscriptions</h3>
          <p class="animatedShowcasePanel__itemCopy">Some businesses have adopted a new subscription model, offering customers personalized beauty and lifestyle products. Market leaders such as <a class="animatedShowcasePanel__link" target="_blank" href="https://www.birchbox.co.uk/">Birchbox</a> include a variety of different products each month, plus a magazine that describes their uses, all in a beautifully designed box. There are various price points for beauty boxes, so the majority of customers will be able to find something that fits their budget.</p>
        </div>
      </div>
      <div class="col-4 d-none d-xl-block order-xl-2">
        <div class="animatedShowcasePanel__item d-none d-xl-block" style="margin-top: 150px;">
          <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/dna.gif" alt="DNA">
          <h3 class="animatedShowcasePanel__itemTitle">The rise of 'bespoke'</h3>
          <p class="animatedShowcasePanel__itemCopy">Mirroring the industry's current move towards greater diversity, brands are now putting the individual first by offering a personalized approach to makeup. For example, <a class="animatedShowcasePanel__link" target="_blank" href="https://trinnylondon.com/">Trinny London's</a> computer-generated prescription of products, <a class="animatedShowcasePanel__link" target="_blank" href="https://www.eyeko.co.uk/">Eyeko's</a> bespoke mascara service, and <a class="animatedShowcasePanel__link" target="_blank" href="http://www.allel.com/">ALLÉL's</a> skin care which tackles anti-aging by factoring in DNA analysis. Clearly the sector's future direction will be focused on individualism.</p>

        </div>
      </div>
      <div class="col-md-6 order-md-0 d-xl-none">
        <div class="animatedShowcasePanel__carousel">
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/bubbles.gif" alt="Item 1">
              <h3 class="animatedShowcasePanel__itemTitle">ANTI POLLUTION IS BEAUTIFUL</h3>
              <p class="animatedShowcasePanel__itemCopy">As more people move into cities, the pollution toll on skin has become a concern for the beauty conscious. Even if you don't live in a major metropolitan area, polluted air is becoming more prevalent, exposing our pores to various toxins. To combat this problem, <a class="animatedShowcasePanel__link" target="_blank" href="https://www.verygoodlight.com/2018/01/02/grooming-beauty-trends-thatll-explode-2018/">anti-pollution brands</a> like <a class="animatedShowcasePanel__link" target="_blank" href="http://www.vprove.co.kr/front/">VProve</a> from South Korea and <a class="animatedShowcasePanel__link" target="_blank" href="https://www.renskincare.com/?redirected=true">REN</a> from the US, have launched to great success.</p>
            </div>
          </div>
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/bell.gif" alt="Item 2">
              <h3 class="animatedShowcasePanel__itemTitle">BEAUTY TREATMENTS ON TAB</h3>
              <p class="animatedShowcasePanel__itemCopy">The beauty and wellness industries are providing app-driven, on-demand services, with companies such as <a class="animatedShowcasePanel__link" target="_blank" href="https://secretspa.co.uk/">Beyou</a> and <a class="animatedShowcasePanel__link" target="_blank" href="https://secretspa.co.uk/">Secret Spa</a> offering home visits according to customers' schedules. These options can't yet match a traditional spa, but the appeal of an affordable, fully accredited practitioner coming directly to you, and at a convenient time, is increasingly attractive to consumers.</p>
            </div>
          </div>
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/dna.gif" alt="Item 3">
              <h3 class="animatedShowcasePanel__itemTitle">THE RISE OF 'BESPOKE'</h3>
              <p class="animatedShowcasePanel__itemCopy">Mirroring the industry's current move towards greater diversity, brands are now putting the individual first by offering a personalized approach to makeup. For example, <a class="animatedShowcasePanel__link" target="_blank" href="https://trinnylondon.com/">Trinny London's</a> computer-generated prescription of products, <a class="animatedShowcasePanel__link" target="_blank" href="https://www.eyeko.co.uk/">Eyeko's</a> bespoke mascara service, and <a class="animatedShowcasePanel__link" target="_blank" href="http://www.allel.com/">ALLÉL's</a> skin care which tackles anti-aging by factoring in DNA analysis. Clearly the sector's future direction will be focused on individualism.</p>
            </div>
          </div>
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated5/opening-case.gif" alt="Item 4">
              <h3 class="animatedShowcasePanel__itemTitle">BEAUTY BOX SUBSCRIPTIONS</h3>
              <p class="animatedShowcasePanel__itemCopy">Some businesses have adopted a new subscription model, offering customers personalized beauty and lifestyle products. Market leaders such as <a class="animatedShowcasePanel__link" target="_blank" href="https://www.birchbox.co.uk/">Birchbox</a> include a variety of different products each month, plus a magazine that describes their uses, all in a beautifully designed box. There are various price points for beauty boxes, so the majority of customers will be able to find something that fits their budget.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-md-1 d-xl-none">
        <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__itemCopy--alt">Innovation in cosmetics is about much more than just the latest colors &ndash; it's an industry that's constantly on the move, finding new audiences and better ways to bring products to market. Remember, whatever direction your brand takes, DHL Express is here to deliver it.</p>
      </div>
    </div>
    <div class="row d-none d-xl-block">
      <div class="col-lg-7 offset-lg-5">
        <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__itemCopy--alt">Innovation in cosmetics is about much more than just the latest colors &ndash; it's an industry that's constantly on the move, finding new audiences and better ways to bring products to market. Remember, whatever direction your brand takes, DHL Express is here to deliver it.</p>
      </div>
    </div>
  </div>
</div>
