<div class="animatedPagesHero animatedPagesHero--medical">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <h1 class="animatedPagesHero__title">Medical Devices 101</h1>
      </div>
      <div class="col-12">
        <img class="animatedPagesHero__animation animatedPagesHero__animation--cosmetic" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated9/header9.gif" alt="office supplies">
     </div>
     <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
      <p class="animatedPagesHero__copy">Medical devices now go beyond the doctor&apos;s surgery, encompassing personal, wearable health technology. With consumers struggling to access medical services, these products allow anyone to assess their own health at home. Here are our tips for succeeding in this new and increasingly competitive market.</p>
     </div>
        <a class="animatedPagesHero__arrow"></a>
    </div>
  </div>
</div>
