<div class='infoRow--country infoRow--countryIndia'>
	<div class="container">
    <div class="sep-country"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <p class="infoRow__title infoRow__title--alt">Vital signs looking healthy</p>
            <p class="infoRow__copy infoRow__copy--alt">
            The overall medical technology sector is, unsurprisingly, in a healthy state. Growth increased 4% to US$379bn in 2017/18, and it&apos;s a big export business. India, for example, imports 75% of its medical devices from overseas.
            </p>
            <p class="infoRow__copy infoRow__copy--alt">
              But as an e-commerce business, most of your market is probably in a smaller subsection of the market: the growing consumer medical devices sector.
            </p>
          </div>
          <div class="col-lg-6 col-xl-4 offset-xl-1">
            <div id="country_india" class="country-gif js-country-gif"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>