<div class='carouselRow animatedPages carouselRow--medical'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-4 offset-xl-1">
        <h2 class="carouselRow__title">More than just Apple Watch</h2>
        <p class="carouselRow__copy">The wearable medical devices market was <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://www.fortunebusinessinsights.com/industry-reports/wearable-medical-devices-market-101070">USD 29.76 billion in 2019 and is projected to reach USD 195.57 billion by 2027</a>. And that growth rate is only expected to rise in the next few years. It is estimated that <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://gadgetsandwearables.com/2017/02/06/americans-fitness-trackers/">1 in 5 US consumers</a> will own an activity tracker by 2021, with the Apple Watch currently taking <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://www.forbes.com/sites/davidphelan/2018/07/26/apple-sells-3-5-million-apple-watches-as-wearables-market-grows-fitbit-sales-garmin/#ef621eb2118f">around a third</a> of unit sales.</p>
        <p class="carouselRow__copy"> The Apple Watch Series 4 became the first mainstream wearable to gain FDA approval in 2018 for taking an ECG. It also has fall detection technology, becoming attractive to an older demographic. Look out for smaller producers creating similar medical devices, perhaps with fewer features. Could specific features attract new customers looking for wearable health tech?</p>
        <p class="carouselRow__copy"> Most consumers cannot afford to continually purchase the latest smartwatch models and the new medical capabilities they bring. Accessories such as AliveCor&apos;s KardiaBand can replace an original Apple Watch strap, equipping older models with ECG technology. There is also a market for creating interchangeable fashion straps, with Michael Kors and Coach already on board.</p>
        <p class="carouselRow__copy"><b>TIP: Every product has its target market &ndash; think about how you can make them yours.</b></p>
      </div>
      <div class="col-12 col-xl-5 col-md-8 col-lg-6 offset-md-2 offset-lg-3 offset-xl-1">
        <div class="carouselRow__carouselContainer">
          <a class="arrowPrev" href="#previous" role="button" data-slide="prev">
            <span class="carouselRow__leftArrow carouselRow__leftArrow--medical" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="arrowNext" href="#next" role="button" data-slide="next">
            <span class="carouselRow__rightArrow  carouselRow__rightArrow--medical" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <div class="carouselRow__carousel">
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/black-watch.jpg" class="carouselRow__itemImage carouselRow__itemImage--watch" alt="Apple Smartwatch">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medical">Apple Smartwatch</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/watch-strap.png" class="carouselRow__itemImage carouselRow__itemImage--watchstrap" alt="KardiaBand">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medical">KardiaBand</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/pink-watch.png" class="carouselRow__itemImage carouselRow__itemImage--pinkWatch" alt="Michael Kors Smartwatch Fashion Strap">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medicalAlt">Michael Kors Smartwatch Fashion Strap</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/black-watch.jpg" class="carouselRow__itemImage carouselRow__itemImage--watch" alt="Apple Smartwatch">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medical">Apple Smartwatch</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/watch-strap.png" class="carouselRow__itemImage carouselRow__itemImage--watchstrap" alt="KardiaBand">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medical">KardiaBand</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/pink-watch.png" class="carouselRow__itemImage carouselRow__itemImage--pinkWatch" alt="Michael Kors Smartwatch Fashion Strap">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medicalAlt">Michael Kors Smartwatch Fashion Strap</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/black-watch.jpg" class="carouselRow__itemImage carouselRow__itemImage--watch" alt="Apple Smartwatch">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medical">Apple Smartwatch</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/watch-strap.png" class="carouselRow__itemImage carouselRow__itemImage--watchstrap" alt="KardiaBand">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medical">KardiaBand</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile carouselRow__itemTile--medical">
                <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/pink-watch.png" class="carouselRow__itemImage carouselRow__itemImage--pinkWatch" alt="AMichael Kors Smartwatch Fashion Strap">
                <h3 class="carouselRow__itemTitle carouselRow__itemTitle--medicalAlt">Michael Kors Smartwatch Fashion Strap</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
