<div class='parallaxSection parallaxSection--fashion animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-7">
        <div class="parallaxSection__title parallaxSection__title--fashion">Getting certified</div>
        <p class="parallaxSection__copy parallaxSection__copy--alt">Mobvoi&apos;s TicWatch Pro and various Fitbit products also offer heart-rate monitoring. While they cannot then be marketed as medical devices (as this requires FDA approval in the US), inclusion of heart-rate readings means consumers expect scientific accuracy.</p>
      </div>
      <div class="col-12">
        <div class="parallaxSection__wrapper parallaxSection__wrapper--medical parallax-wrapper">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--shop" data-max-top="540" data-multiplier="0.1">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/gold-watch.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--coat" data-multiplier="0.3">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/headphones.jpg);"></div>
          </div>
          <div class="parallaxSection__tileBlock parallaxSection__tile--noParallax parallaxSection__tile--medicalBlueBox">
            <div class="parallaxSection__copy">The FDA therefore launched a precertification pilot program in 2017 for companies wishing to expedite the medical device certification process, with Fitbit and Samsung among those selected to take part. Smaller startups can still achieve medical device status by conducting clinical trials and presenting their product to the FDA for user risk analysis, but a lengthy pre-market approval period should be expected.</div>
            <div class="parallaxSection__copy"><b>TIP: It won't be quick – or easy – so make sure it's worth it.</b></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--zara" data-min-top="30">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/speaker.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--catwalk" data-multiplier="0.2">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/grey-watch.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--fashionBag">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/desk-watch.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
