<div class="animatedShowcasePanel animatedShowcasePanel--fashion parallaxSection">
  <div class="container container--alt">
    <div class="row">
      <div class="col-12 col-md-10 col-xl-8">
        <h2 class="animatedShowcasePanel__heading"><span>Portable healthcare</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottom"><span>Wearables are increasingly popular for personal health and fitness tracking, with increasing numbers and types of devices capable of monitoring a wide range of vital signs on the go. These include pacemakers and insulin pumps, and by connecting them to the internet, doctors are instantly aware of potential issues.</span></h2>
      </div>
    </div>
    <div class="animatedShowcasePanel__wrapper animatedShowcasePanel__wrapper--electronics">
      <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--clothes">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/clipboard.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">Always add to human knowledge</h3>
            <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__padding">Verily&apos;s Study Watch allows users to become involved in medical research, with 10,000 people forming a five-year study for Parkinson&apos;s disease. The device, which has been certified as reliable enough for clinical usage, will track their heart rate and inertial movements on the go.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: The danger of wearables is lack of scientific credibility. Verily&apos;s device, among others, helps combat this problem.</b></p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--bag">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/iphone.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Beating Diabetes</h3>
            <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__padding">Continuous glucose monitors (CGMs) that sync up to smartphones are increasingly popular among diabetics, allowing users to monitor their glucose levels day and night. Taking real-time readings from a small sensor inserted under the patient&apos;s skin, users can then make informed food choices based on current glucose levels as well as being alerted of any sudden changes.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Glucose monitoring will become a key area for wearable tech.</b></p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--recycling" >
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/white-watch.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">Constant monitoring</h3>
            <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__padding">Ada functions as a personal healthcare companion app, drawing on users&apos; symptoms, previous medical history and years of real-world cases to provide the most accurate diagnosis. By acting as a pre-screening method, it helps to relieve overcrowded hospitals by covering thousands of conditions, while also flagging situations where the user should seek professional medical advice.
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: The &apos;wearables as a safety net&apos; message is compelling.</b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 offset-md-6 col-xl-8 offset-xl-0 d-none d-md-block">
      <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--altMedical"><span>However, concerns have been raised about the vulnerability of such devices to hacking. While no incidents have yet occurred, it is still a possibility. A study of the FDA&apos;s policies found that they did not sufficiently cover how to respond to cybersecurity risks post-market, so updates will now involve incorporating cybersecurity as a core component in their manufacturing. It&apos;s unlikely you stock pacemakers, but are you reassuring your customers and educating them about the security risks of connected health devices?</span></h2> 
      <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--left"><span><b>TIP: Safety is paramount &ndash; ignore it at your peril.</b></span></h2>
    </div>
    <div class="col-12 col-md-6 order-md-0 d-xl-none">
      <div class="animatedShowcasePanel__carousel animatedShowcasePanel__carousel--light">
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--medical">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/clipboard.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">Always add to human knowledge</h3>
            <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__padding">Verily&apos;s Study Watch allows users to become involved in medical research, with 10,000 people forming a five-year study for Parkinson&apos;s disease. The device, which has been certified as reliable enough for clinical usage, will track their heart rate and inertial movements on the go.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: The danger of wearables is lack of scientific credibility. Verily&apos;s device, among others, helps combat this problem.</b></p>
          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--medicalAlt">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/iphone.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">Beating Diabetes</h3>
            <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__padding">Continuous glucose monitors (CGMs) that sync up to smartphones are increasingly popular among diabetics, allowing users to monitor their glucose levels day and night. Taking real-time readings from a small sensor inserted under the patient&apos;s skin, users can then make informed food choices based on current glucose levels as well as being alerted of any sudden changes.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Glucose monitoring will become a key area for wearable tech.</b></p>          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--medicalMedium">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated9/white-watch.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">Constant monitoring</h3>
            <p class="animatedShowcasePanel__itemCopy animatedShowcasePanel__padding">Ada functions as a personal healthcare companion app, drawing on users&apos; symptoms, previous medical history and years of real-world cases to provide the most accurate diagnosis. By acting as a pre-screening method, it helps to relieve overcrowded hospitals by covering thousands of conditions, while also flagging situations where the user should seek professional medical advice.
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: The &apos;wearables as a safety net&apos; message is compelling.</b></p></div>
        </div>
      </div>
      <div class="d-md-none">
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--altMedical"><span>However, concerns have been raised about the vulnerability of such devices to hacking. While no incidents have yet occurred, it is still a possibility. A study of the FDA&apos;s policies found that they did not sufficiently cover how to respond to cybersecurity risks post-market, so updates will now involve incorporating cybersecurity as a core component in their manufacturing. It&apos;s unlikely you stock pacemakers, but are you reassuring your customers and educating them about the security risks of connected health devices?</span></h2> 
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--left"><span><b>TIP: Safety is paramount &ndash; ignore it at your peril.</b></span></h2>
      </div>
    </div>
  </div>
</div>
