<div class='infoRow--countryUK'>
	<div class="container">
    <div class="sep-country"></div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-lg-6">
            <p class="infoRow__title infoRow__title--alt">Home-testing kits</p>
            <p class="infoRow__copy infoRow__copy--alt">Another new area causing difficulties for device regulators is in home-testing kits. These typically fall into one of three categories: blood tests that examine your health, DNA tests that decipher your genes, and microbiome analysis that assesses your gut.</p>
            <p class="infoRow__copy infoRow__copy--alt">However, a recent study in <a class="infoRow__link" target="_blank" href="https://www.nature.com/articles/gim201838.epdf?referrer_access_token=gL8WAmOOpFsbbh15bQiNfdRgN0jAjWel9jnR3ZoTv0OiG-">Nature</a> found that up to 40% of the kits they examined for testing genetic disorders were inaccurate, and the UK&apos;s drug safety watchdog seized around 10,000 STI test kits in 2018 that were actually counterfeit.</p>
            <p class="infoRow__copy infoRow__copy--alt">In the US, the FDA is actively working to set standards for the readily available kits. While they can be reliable for conditions such as hepatitis C, home genetic tests are far more problematic.</p>
            <p class="infoRow__copy infoRow__copy--alt"><b>TIP: Don't always believe the hype &ndash; do your research properly.</b></p>
          </div>
          <div class="col-lg-6 col-xl-5 offset-xl-1">
            <div id="country_uk" class="country-gif js-country-gif"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>