<div class='infoRow--medical'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
          <img class="infoRow__image infoRow__image--medical" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated9/Pippets.gif">
      </div>
      <div class="col-12 col-md-5 order-first order-md-last">
          <p class="infoRow__title">DHL MEDICAL EXPRESS</p>
          <p class="infoRow__copy">We spoke with DHL Medical Express Programme Manager, Marta Duda, about how they can help when shipping home-testing kits.</p>
          <p class="infoRow__copy"><b>Marta</b>: "DHL Medical Express is a premium service that combines our logistics expertise with a dedicated and unique range of features to create a flexible solution for the Life Sciences & Healthcare industry."</p>
          <p class="infoRow__copy">If you&apos;re an e-commerce retailer looking to reach health-conscious consumers both domestically and overseas, consider partnering with DHL for guaranteed delivery windows, online tracking, expert advice and secure shipping in over 220 countries and territories worldwide.</p>
      </div>
    </div>
  </div>
</div>
