<div class="trending">
	<ol>
		<li class="trending__item trending__item--article">
			<h4>
				<a href="#">Business</a>
			</h4>
			<h3>
				<a href="#">World SME Day</a>
			</h3>
			<time datetime="2017-11-24">24th November 2017</time>
		</li>
		<li class="trending__item trending__item--article">
			<h4>
				<a href="#">Business</a>
			</h4>
			<h3>
				<a href="#">Creating an import and export strategy</a>
			</h3>
			<time datetime="2017-11-24">24th November 2017</time>
		</li>
		<li class="trending__item trending__item--infographic">
			<h4>
				<a href="#">Business</a>
			</h4>
			<h3>
				<a href="#">Trading with the Middle East</a>
			</h3>
			<time datetime="2017-11-24">24th November 2017</time>
		</li>
		<li class="trending__item trending__item--gallery">
			<h4>
				<a href="#">Environment</a>
			</h4>
			<h3>
				<a href="#">DHL delivers Eliska to Africa</a>
			</h3>
			<time datetime="2017-11-24">24th November 2017</time>
		</li>
	</ol>
</div>