.container {
  padding-left: 15px;
  padding-right: 15px;
}

.mb-3 {
  margin-bottom: 1rem;
}

.sr-only {
  display: none;
}

body {
  background-color: #eaeaea;
}

.amp-page {
  max-width: 37rem;
  margin: 0 auto;
  background-color: white;
}
