<footer class="footerV2-wrapper">
    <div class="footer-container" data-sly-use.footerV2="com.positive.dhl.core.models.FooterV2Model">
        <div class="promo">
            <div class="promo-logo">
                <a class="logo__link" href="${footerV2.logoLink}">
                    <img class="logo__image"
                         src="${footerV2.logoIcon}"
                         title="${footerV2.logoTitle}"
                         alt="${footerV2.logoAltText || footerV2.logoTitle}" />
                </a>
            </div>
            <div class="promo-text">${footerV2.promoText}</div>
        </div>
        <div class="invitation">
            <div class="invitation__title">${footerV2.invitationTitle}</div>
            <div class="invitation__text">${footerV2.invitationText}</div>
        </div>
        <div class="links">
            <div class="links-group" data-sly-use.meganav="com.positive.dhl.core.models.Meganav">
                <div class="links-group__title">${footerV2.categoryLinksLabel}</div>
                <sly data-sly-list="${meganav.panels}">
                    <a class="links-group__item" href="${item.url}"><span>${item.navigationTitle}</span></a>
                </sly>
            </div>
            <div class="links-group">
                <div class="links-group__title">${footerV2.companyLinksLabel}</div>
                <a class="links-group__item" data-sly-repeat="${footerV2.companyLinks}" href="${item.linkPath}"><span>${item.linkName}</span></a>
            </div>
            <div class="links-group">
                <div class="links-group__title">${footerV2.socialLinksLabel}</div>
                <div class="links-group__items">
                    <a class="links-group__item" data-sly-repeat="${footerV2.socialLinks}" href="${item.linkPath}">
                        <span class="not-mobile-only">${item.linkName}</span>
                        <img class="logo__image mobile-only"
                             src="${item.linkIcon}"
                             title="${item.linkName}"
                             alt="${item.linkName}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>