<div class="animatedPagesHero animatedPagesHero--music">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <h1 class="animatedPagesHero__title">musical instruments 101</h1>
      </div>
      <div class="col-12">
        <img class="animatedPagesHero__animation animatedPagesHero__animation--music" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/header.gif" alt="office supplies">
     </div>
     <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
      <p class="animatedPagesHero__copy">With consumers opting for cheaper instruments and the second-hand market on the rise, is the musical instrument industry in decline? Or is the industry simply changing in ways that your e-commerce business can use to its advantage?</p>
     </div>
        <a class="animatedPagesHero__arrow"></a>
    </div>
  </div>
</div>
