<div class='statsPanel statsPanel--electronics'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h2 class="statsPanel__title statsPanel__title--alt">Is music-making in decline?</h2>
        <p class="statsPanel__copy statsPanel__copy--alt">Despite efforts to cement the status of music within specific countries, many school curricula place greater emphasis on STEM education &ndash; Science, Technology, Engineering and Mathematics. As a result, 'soft' arts subjects such as music are being snubbed.</p>
        <p class="statsPanel__copy statsPanel__copy--alt">Combined with the growth of passive activities such as gaming, TV-watching, and smartphone use, musical instruments and music lessons can be expensive. Can musical instruments still hold children&apos;s interest?</p>
      </div>
    </div>
  </div>
</div>
