<div class='parallaxSection animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-7">
        <div class="parallaxSection__title parallaxSection__title--fashion">DEATH OF THE DOUBLE BASS</div>
        <p class="parallaxSection__copy parallaxSection__copy--alt">In developing countries, like Botswana, a lack of mass production means traditional instruments such as the <a class="parallaxSection__link" target="_blank" href="https://www.musicinafrica.net/magazine/traditional-music-and-instruments-botswana">segaba</a>, or 'one-string violin', must be constructed by knowledgeable craftsmen. While this makes each model unique, it also threatens their survival.</p>
        <p class="parallaxSection__copy parallaxSection__copy--alt">In the UK, the French horn and double bass are similarly <a class="parallaxSection__link" target="_blank" href="https://guce.oath.com/collectConsent?sessionId=3_cc-session_e8628eb0-3126-48fe-8386-d5cea75ae6eb&lang=en-GB&inline=false">endangered</a> as the ukulele&apos;s popularity rises, with <a class="parallaxSection__link" target="_blank" href="https://guce.oath.com/collectConsent?sessionId=3_cc-session_7cdf5f5f-ae18-4928-b8e3-f7b68eacee26&lang=en-GB&inline=false">one in eight</a> schoolchildren wanting to try it.</p>
      </div>
      <div class="col-12">
        <div class="parallaxSection__wrapper parallaxSection__wrapper--music">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--girl" data-max-top="470">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated6/wooden-guitar.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--yellowBoxCosmetic" data-multiplier="0.1">
            <div class="parallaxSection__tileImage"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--noParallax parallaxSection__tile--musicBlueBox">
            <div class="parallaxSection__copy">Conversely, in Iran, the indigenous tonbak drum is thriving among young musicians. This small ancient instrument is rarely heard outside the classical Persian scene, but it is now experiencing a domestic revival <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://edition.cnn.com/2018/09/17/middleeast/young-iranians-revive-ancient-drumming-traditions/index.html">thanks in part to Instagram</a>. Make sure you think locally and listen out for regional market trends.</div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--yoghurt">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated6/chello.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--bowl" data-multiplier="0.1">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated6/man.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--spices">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated6/brass.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
