<div class='parallaxSection parallaxSection--electronics animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="parallaxSection__wrapper parallaxSection__wrapper--music2">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--smartWatch" data-min-top="340" data-max-top="380">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/phone.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--glasses">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/bed.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--musicBlueBox2" data-min-top="-30" data-max-top="200">
            <div class="parallaxSection__title parallaxSection__title--alt">E-commerce is winning</div>
            <div class="parallaxSection__copy">Brick-and-mortar guitar retailers face the problem of <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://www.theguardian.com/music/2018/may/04/gibson-guitar-bankruptcy-ed-sheeran-martin">the instrument&apos;s durability</a>, with musicians keen to buy used musical instruments over new ones &ndash; whether those are prized collectibles for the lifelong fan or second-hand bargains for the novice player.</div>
            <div class="parallaxSection__copy parallaxSection__copyBottom">Consumers can also browse many affordable instruments online, and for <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://discover.dhl.com/e-commerce/e-commerce-advice/thomann">Thomann</a>, Europe&apos;s largest online retailer of musical equipment, their physical stores only survive due to the success of their website. Using DHL to ship products to over 7.5 million customers, the website has emerged as Thomann&apos;s primary source of sales. Sheer persistence and good management has taken the brand from a regional position to global pre-eminence.</div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--yellowBoxAlt" >
            <div class="parallaxSection__tileImage"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--watch" data-multiplier="0.1" data-min-top="300" data-max-top="300">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/leaves.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--tea" data-min-top="0" data-max-top="250">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/pillow.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--woodWatch" data-multiplier="0.5">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/music.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--watchHand" data-multiplier="0.1" data-min-top="350">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/speaker.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
