<div class='infoRow infoRow--music2'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 offset-lg-1">
        <div class="d-md-none">
          <p class="infoRow__title">Are trends electric?</p>
          <p class="infoRow__copy">Musicians are also obtaining their audio-recording equipment online, with digital developments meaning even amateur songwriters can produce professional-sounding tracks at home. Now making up <a class="infoRow__link infoRow__link--alt" target="_blank" href="https://www.thoughtshift.co.uk/music-and-musical-instrument-retail-trends-and-statistics/">16% of the market</a>, ahead of orchestral stringed instruments at 15%, MIDI controllers and electronic drum machines show the strongest growth potential for businesses looking to expand their tech offerings.</p>

        </div>
        <img class="infoRow__image infoRow__image--music2" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated6/switch.gif">
      </div>
      <div class="col-12 col-md-7 col-lg-5 offset-md-1">
        <div class="d-none d-md-block">
          <p class="infoRow__title">Are trends electric?</p>
          <p class="infoRow__copy">Musicians are also obtaining their audio-recording equipment online, with digital developments meaning even amateur songwriters can produce professional-sounding tracks at home. Now making up <a class="infoRow__link infoRow__link--alt" target="_blank" href="https://www.thoughtshift.co.uk/music-and-musical-instrument-retail-trends-and-statistics/">16% of the market</a>, ahead of orchestral stringed instruments at 15%, MIDI controllers and electronic drums show the strongest growth potential.</p>
        </div>
        <p class="infoRow__copy">Digital synthesizers can replace multiple expensive instruments. For example, <a class="infoRow__link infoRow__link--alt" target="_blank" href="https://roli.com/products/blocks/seaboard-block">ROLI&apos;s Seaboard</a> resembles a rubber piano but responds to your touch and pressure like a regular one. It can also pitch bend and slide, with fans such as <a class="infoRow__link infoRow__link--alt" target="_blank" href="https://mixmag.net/feature/rolis-beatmaker-and-songmaker-kits-let-you-create-music-anywhere-anytime-brandedcontent">Stevie Wonder and Hans Zimmer</a> validating the technology to wary traditionalists.</p>
      </div>
    </div>
  </div>
</div>
