<div class='infoRow infoRow--textRow'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
          <p class="infoRow__title infoRow__title--center">Fine-tuning international shipping</p>
          <p class="infoRow__copy infoRow__copy--center">With signs of steady growth of global sales as certain instruments strike a chord with consumers across the world, DHL Express offer packaging advice so these fragile and sentimental items are fully protected in order to arrive unharmed after their international journey. </p>
          <p class="infoRow__copy infoRow__copy--center">Double up on your defences by tightly wrapping the instrument with bubble wrap &ndash; to avoid movement in transit &ndash; and place it within a hard case, and then again inside a cardboard outer box for added protection against markings. For more detailed advice on shipping instruments talk to your local DHL Express office.</p>
          <p class="infoRow__copy infoRow__copy--center">Whether consumers are choosing to purchase their instruments new or second hand, traditionally made or otherwise, you need a reliable shipping system that can ensure careful handling of these often costly and highly prized pieces.</p>
          <p class="infoRow__copy infoRow__copy--center">By partnering with DHL Express, you can be sure of tracked delivery service to over 220 countries and territories. </p>
        </div>
    </div>
  </div>
</div>