<!--/* The component uses bootstrap */-->

<sly data-sly-use.model="com.dhl.discover.core.models.Tabs"
     data-sly-set.isEmpty=${!model.tabList.size}></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>
<div class="tabs-component" data-sly-test="${!isEmpty}">
  <div class="rules-cont mb-4">
    <ul class="nav nav-tabs row" id="tabs-${properties.id}" role="tablist" data-sly-list="${model.tabList}">
      <li class="nav-item" role="presentation" style="width: calc(100% / ${model.tabList.size @ context='styleToken'});">
        <a class="nav-link t-red ${itemList.first ? 'active' : ''}"
           id="${properties.id}-${itemList.index}-tab"
           data-toggle="tab"
           href="#${properties.id}-${itemList.index}"
           role="tab"
           aria-controls="${properties.id}-${itemList.index}"
           aria-selected="${itemList.index == 0 ? 'true' : 'false'}">
          <div class="text-center" data-sly-test="${item.image}">
            <sly data-sly-use.template="/apps/dhl/htl/templates/responsive-image.html"
                 data-sly-call="${template.picture @ image=item.image, alt=item.imageAltText}"></sly>
          </div>
          <div class="nav-link__title text-center mb-0" data-sly-element="${model.titleElement}">${item.title}</div>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="tabs-content-${properties.id}" data-sly-list="${model.tabList}">
      <div class="tab-pane fade ${itemList.first ? 'show active' : ''}" id="${properties.id}-${itemList.index}" role="tabpanel" aria-labelledby="${properties.id}-${itemList.index}-tab">
        ${item.body @ context='html'}
      </div>
    </div>
  </div>
</div>