<template data-sly-template.card="${@ article, showTags, enableAssetDelivery}">
    <article class="article-card">
        <a tabindex="-1" href="${article.path}.html" class="article-card__image-wrapper">
            <sly data-sly-use.template="/apps/dhl/htl/templates/responsive-image.html"
                 data-sly-call="${template.picture @
                 image=article.listimage,
                 useWebOptimized=enableAssetDelivery,
                 imgClass='article-card__image-wrapper__image',
                 priority='high'
             }"></sly>
            <div class="article-card__image-wrapper__image__group-tag">${article.groupTag}</div>
        </a>
        <div class="article-card__info">
            <div class="article-card__info__author">
                <span data-sly-test="${article.author}">${article.author}</span>
                <time datetime="${article.created}" data-sly-test="${article.createdfriendly}">${article.createdfriendly}</time>
            </div>
            <h3><a href="${article.path}.html" class="article-card__info__title">${article.title}</a></h3>
            <div class="article-card__info__description">${article.description}</div>
            <div class="article-card__info__tags" data-sly-list="${article.tagsToShow @ begin = 0, end = 1}" data-sly-test="${showTags}">
                <div class="article-card__info__tags__tag">${item}</div>
            </div>
        </div>
    </article>
</template>
