<template data-sly-template.adaptiveBackground="${@ id, mobile, tablet, desktop}">
    <style type="text/css" data-sly-use.model="${'com.dhl.discover.core.models.Picture' @
      mobileImage = mobile,
      tabletImage = tablet,
      desktopImage = desktop,
      forceMap = true
    }">
        #${id @ context='styleToken'} {
            background-image: url('${model.mobileImage @ context='uri'}');
        }
        @media screen and (min-width: 768px) {
            #${id @ context='styleToken'} {
                background-image: url('${model.tabletImage @ context='uri'}');
            }
        }
        @media screen and (min-width: 1200px) {
            #${id @ context='styleToken'} {
                background-image: url('${model.desktopImage @ context='uri'}');
            }
        }
    </style>
</template>

<template data-sly-template.background="${@ id, image}">
    <style type="text/css" data-sly-use.model="${'com.dhl.discover.core.models.Picture' @
      image = image,
      forceMap = true
    }">
        #${id @ context='styleToken'} {
            background-image: url('${model.image @ context='uri'}');
        }
    </style>
</template>