<template data-sly-template.picture="${@image, useWebOptimized, desktop, tablet, mobile, imgClass, pictureClass, alt, priority}">
    <picture data-sly-use.model="${'com.dhl.discover.core.models.Picture' @
        image = image,
        mobileImage = mobile,
        tabletImage = tablet,
        desktopImage = desktop,
        useWebOptimized = useWebOptimized
      }"
      class="${pictureClass}">
      <source data-sly-repeat="${model.mobileImages}" data-sly-test="${model.mobileImages}" srcset="${item.key}" type="${item.value}" media="(max-width: 768px)" />
      <source data-sly-repeat="${model.tabletImages}" data-sly-test="${model.tabletImages}" srcset="${item.key}" type="${item.value}" media="(min-width: 768px) and (max-width: 1200px)" />
      <source data-sly-repeat="${model.desktopImages}" data-sly-test="${model.desktopImages}" srcset="${item.key}" type="${item.value}" media="(min-width: 1200px)" />
      <source data-sly-repeat="${model.images}" data-sly-test="${model.images}" srcset="${item.key}" type="${item.value}" />
      <img src="${model.image}" alt="${alt || model.alt}" class="${imgClass}" fetchpriority="${priority}"/>
    </picture>
</template>

<template data-sly-template.pictureWithModels="${@image, desktop, tablet, mobile, imgClass, pictureClass, priority, sizes}">
  <picture class="${pictureClass}">
    <source data-sly-test="${desktop && desktop.src}"
            media="(min-width: 75rem)"
            srcset="${desktop.srcset || desktop.src}"
            sizes="${sizes || desktop.sizes}"/>
    <source data-sly-test="${tablet && tablet.src}"
            media="(min-width: 48rem) and (max-width: 74.999rem)"
            srcset="${tablet.srcset || tablet.src}"
            sizes="${sizes || tablet.sizes}"/>
    <source data-sly-test="${mobile && mobile.src}"
            media="(max-width: 47.999rem)"
            srcset="${mobile.srcset || mobile.src}"
            sizes="${sizes || mobile.sizes}"/>
    <img
            src="${image.src}"
            class="${imgClass}"
            srcset="${image.srcset}"
            sizes="${sizes || image.sizes}"
            alt="${image.alt}"
            fetchpriority="${priority}"/>
  </picture>
</template>