<template data-sly-template.shareOptions="${@ articlePage, label, underline}">
  <div class="share-options ${underline ? 'share-options--underline' :''}">
    <div class="share-options__label" data-sly-test="${label}">${articlePage.shareOn}</div>
    <div class="share-options__container">
      <div class="share-options__left">
        <div data-sly-repeat="${articlePage.socialNetwork}" class="st-custom-button" data-network="${item}">
          <img class="logo__image" alt="${item} sharing button" src="${articlePage.socialNetwork[item]}">
        </div>
      </div>
      <div class="share-options__right">
          <div class="st-custom-button" data-network="sharethis">
              <sly data-sly-test.smartShareButtonsIconPath="${articlePage.smartShareButtonsIconPath}">
                  <img class="logo__image" alt="Smart Share Buttons Icon" src="${smartShareButtonsIconPath}">
              </sly>
              <span class="st-label">${articlePage.smartShareButtonsLabel}</span>
          </div>

      </div>
    </div>
  </div>
</template>