<template data-sly-template.data="${@accountactions,languageVariants}">
<div class="accountapply" data-sly-use.topBanner="com.positive.dhl.core.models.TopBanner" data-sly-test="${topBanner.Hasbanner}">
	<div class="container" style="background-image: url('${topBanner.Img @context='unsafe'}');">
		<div class="row justify-content-left">
			<div class="col-12 col-lg-12">
				<h3>
					<span class="accountapply__subtitle">${topBanner.Subtitle}</span>
					<span class="accountapply__title">${topBanner.Title}</span>
				</h3>
				<a class="accountapply__cta" href="${topBanner.Url}" title="${topBanner.Urltitle}"><span>${topBanner.Urltitle}</span></a>
			</div>
		</div>
	</div>
</div>

<header class="header" data-sly-use.meganav="com.positive.dhl.core.models.Meganav">
	<div class="container">
		<div class="row">
			<div class="col-10 col-lg-3">
				<div class="header__logoWrap">
					<a class="header__logo" href="${meganav.homeUrl}" title="${meganav.siteTitle}"><span class="sr-only">${meganav.siteTitle}</span></a>
				</div>
			</div>
			<div class="col-2 col-lg-9">
				<ul class="header__desktopLinks d-block">
					<li class="header__desktopLinkItem">
						<a href="#" class="header__desktopSearch" title="${ 'Search' @ i18n, context='html' }">
							<span class="icon"></span>
							<span class="title">${ 'Search' @ i18n, context='html' }</span>
						</a>
					</li>
				</ul>
				<a class="header__navigation" href="#">
          			<span class="title">${ "Menu" @ i18n, context='html' }</span>
              		<span class="title title--topen">${ "Close" @ i18n, context='html' }</span>
					<i class="header__hamburger"></i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="header__meganav">
		<nav class="header__meganavNavigation">
			<div class="container">
				<div class="row">
          			<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-0 col-xl-9">
						<ul class="header__meganavNav" data-sly-list="${meganav.panels}">
							<li>
								<a href="${item.url}"><span>${item.navigationTitle}</span></a>
								<ul data-sly-list="${item.articleCategories}">
									<li><a href="${item.path}.html"><span>${item.title}</span></a></li>
								</ul>
							</li>
						</ul>
						<a class="header__viewSavedArticles" href="${accountactions.homeUrl}/saved-articles.html"><span>${ "View Your Saved Articles" @ i18n, context='html' }</span></a>
					</div>
					<div class="col-12 col-md-10 offset-md-1 col-lg-4 offset-lg-0 col-xl-3">
						<div class="header__meganavPromo" data-sly-use.meganavBanner="com.positive.dhl.core.models.MeganavBanner">
							<p>${meganavBanner.Subtitle}</p>
							<h3>${meganavBanner.Title}</h3>
							
							<ul class="points">
								<li>${meganavBanner.Point1}</li>
								<li>${meganavBanner.Point2}</li>
								<li>${meganavBanner.Point3}</li>
								<li>${meganavBanner.Point4}</li>
							</ul>
							
							<a class="btn btn-primary" href="${meganavBanner.Url}.html" title="${meganavBanner.Urltitle}"><span>${meganavBanner.Urltitle}</span></a>
						</div>
					</div>
				</div>
		        <div class="row header__viewSavedArticlesBackground">
          			<div class="col-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0">
						<a class="header__viewSavedArticles header__viewSavedArticles--desktop" href="${accountactions.homeUrl}/saved-articles.html"><span>${ "View Your Saved Articles" @ i18n, context='html' }</span></a>
						
						<div class="header__socials" data-sly-use.footer="com.positive.dhl.core.models.Footer">
							<h2 class="social__title">${ "Follow us" @ i18n, context='html' }</h2>
							<ul class="social__socialList" data-sly-list.link="${footer.linksSocial}">
								<li class="social__socialItem"><a class="social__socialLink social__socialLink--${link.category}" href="${link.link}" title="${link.name}" target="_blank" rel="nofollow"><span class="sr-only">${link.name}</span></a></li>
							</ul>
						</div>
					</div>
		        </div>
			</div>
		</nav>
	</div>
	<div class="header__searchform">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-8 offset-xl-2">
					<form action="${meganav.searchResultsPage}" method="GET" autocomplete="off" data-suggestions="${meganav.AutocompleteUrl @context='unsafe'}" data-topsearches="${meganav.TopsearchesUrl @context='unsafe'}">
						<div class="form-group">
							<input class="form-field" type="text" name="searchfield" value="" placeholder="${ 'Enter a keyword or topic' @ i18n, context='html' }" />
							<button class="clear"><span class="sr-only">${ "Clear" @ i18n, context='html' }</span></button>
							<div class="suggestions"></div>
				            <div class="top-searches">
				                <h3>${ "Most Popular" @ i18n, context='html' }</h3>
				                <div class="items"></div>
				            </div>
						</div>
						<button class="btn btn-primary">
							<span>${ "Search" @ i18n, context='html' }</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="addToHomeScreen">
	<div class="addToHomeScreen__content">
		<img class="addToHomeScreen__image" src="${accountactions.assetprefix}/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/img/icons/192.png" alt="Logo">
		<h2 class="addToHomeScreen__title">${ "Add Discover to your home screen" @ i18n, context='html' }</h2>
		<p class="addToHomeScreen__text">${ "For the latest insights from Global business" @ i18n, context='html' }</p>
		<a class="addToHomeScreen__cta" href="#">${ "Add now" @ i18n, context='html' }</a><br>
		<a class="addToHomeScreen__link" href="#">${ "No thanks" @ i18n, context='html' }</a>
	</div>
</div>

<div class="backButton">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="backButton__button backButton__button--back" href="#back">
          <span class="sr-only">${ "Back" @ i18n, context='html' }</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 22"><path d="M1.062 9.924L10.439.5 11.5 1.569l-9.377 9.424 9.377 9.439-1.061 1.068L0 10.993l.907-.913z" fill="#007aff"/></svg>
        </a>
        <a class="backButton__button backButton__button--forward" href="#forward">
          <span class="sr-only">${ "Back" @ i18n, context='html' }</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 22"><path d="M10.4 12.1L1 21.5l-1-1.1L9.4 11 0 1.6 1.1.5 11.5 11l-.9.9-.2.2z" fill="#007aff"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>
</template>