<div class="accountapply" data-sly-use.topBanner="com.positive.dhl.core.models.TopBanner" data-sly-test="${topBanner.Hasbanner}">
    <div class="container" style="background-image: url('${topBanner.Img @context='unsafe'}');">
        <div class="row justify-content-left">
            <div class="col-12 col-lg-12">
                <h3>
                    <span class="accountapply__subtitle">${topBanner.Subtitle}</span>
                    <span class="accountapply__title">${topBanner.Title}</span>
                </h3>
                <a class="accountapply__cta" href="${topBanner.Url}" title="${topBanner.Urltitle}"><span>${topBanner.Urltitle}</span></a>
            </div>
        </div>
    </div>
</div>

<header class="headerV2" data-sly-use.meganav="com.positive.dhl.core.models.Meganav">
    <div class="header-container">
        <div class="main-row">
            <div class="left-side">
                <div class="headerV2__logoWrap">
                    <a class="headerV2__logo" href="${meganav.homeUrl}" title="${meganav.siteTitle}"><span class="sr-only">${meganav.siteTitle}</span></a>
                </div>
            </div>
            <div class="right-side">
                <div class="headerV2__desktopLinkItem">
                    <a class="headerV2__navigation" href="#">
                        <i class="headerV2__hamburger"></i>
                    </a>
                </div>
                <div class="headerV2__desktopLinkItem">
                    <a class="headerV2__user" href="#">
                        <i class="headerV2__user"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="navigation-row" data-sly-use.headerV2="com.positive.dhl.core.models.HeaderV2Model">
            <div class="left-side">
                <a class="navigation-item" href="${headerV2.homePageLink}"><span>${'Home' @i18n}</span></a>
                <sly data-sly-list="${meganav.panels}">
                    <a data-sly-set.currentPagePath="${currentPage.path}.html" class="navigation-item  ${currentPagePath == item.url ? 'active' : '' }" href="${item.url}"><span>${item.navigationTitle}</span></a>
                </sly>
            </div>
            <div class="right-side">
                <a data-sly-test="${headerV2.buttonName}" class="button" href="${headerV2.buttonLink}" title="${headerV2.buttonName}">
                    <span>${headerV2.buttonName}</span>
                </a>
                <a class="navigation-item" data-sly-repeat="${headerV2.companyLinks}" href="${item.linkPath}"><span>${item.linkName}</span></a>
            </div>
        </div>
    </div>

    <div class="headerV2__meganav">
        <nav class="headerV2__meganavNavigation">
            <ul class="headerV2__meganavNav">
                <li>
                    <div class="menuNav-title">${'Sign In' @i18n}</div>
                </li>
                <li>
                    <div class="menuNav-title">${'Categories' @i18n}</div>
                    <ul>
                        <li>
                            <a data-sly-repeat="${meganav.panels}" class="navigation-item"  href="${item.url}"><span>${item.navigationTitle}</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="menuNav-title">${'Company' @i18n}</div>
                    <ul>
                        <li>
                            <a data-sly-repeat="${headerV2.companyLinks}" class="navigation-item" href="${item.linkPath}"><span>${item.linkName}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <sly data-sly-resource="${'cta_banner_with_poin' @ resourceType='dhl/components/content/cta-banner-with-points'}"/>
        </nav>
    </div>
</header>
