<div data-sly-use.searchBarModel="com.positive.dhl.core.models.SearchBarModel"
     class="search-bar-component aem-react-component"
     data-component-name="search-bar"
     data-config='{
            "currentPagePath": "${currentPage.path}",
            "recentSearchesTitle": "${searchBarModel.recentSearchesTitle}",
            "trendingTopicsTitle": "${searchBarModel.trendingTopicsTitle}",
            "articlesTitle": "${searchBarModel.articlesTitle}",
            "trendingTopics": ${searchBarModel.trendingTopics},
            "searchResultPagePath": "${searchBarModel.searchResultPage}",
            "closeAriaLabel": "${searchBarModel.closeAriaLabel}",
            "openAriaLabel": "${searchBarModel.openAriaLabel}",
            "searchButtonAriaLabel": "${searchBarModel.searchButtonAriaLabel}"
         }'>
</div>