.searchSection {
    color: #323232;
    &OverflowHidden {
        overflow: hidden;
        display: flex;
        flex-flow: column;
        padding-left: 2px;
        padding-bottom: 2px;
        padding-right: 2px;
        margin-left: -2px;
        margin-bottom: -2px;
        margin-right: -2px;
        .searchSectionItems {
            column-gap: 2rem;
            margin:-2px;
            padding: 2px;
            display: flex;
            overflow: hidden;
            flex-flow: column wrap;
        }
    }

    &Title {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 2rem;

        &Thin {
            opacity: 0.8;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.4rem;
        }
    }
}
