<div class="article-container-component" data-sly-test="${properties.designMode == 'new'}">
    <div class="grid">
        <div class="grid__container">
            <div class="grid__container__body">
                <div class="wysiwyg wysiwyg--article" style="padding-top: 0px;" data-sly-unwrap="${!properties.useArticleStyles}">
                    <div class="body-container"
                         data-sly-resource="${'body' @ resourceType='wcm/foundation/components/responsivegrid'}">
                    </div>
                </div>
            </div>
            <aside class="grid__container__sidebar" data-sly-test="${properties.showSidebar}">
                <div class="sidebar-container short-banners"
                     data-sly-resource="${'sidebar' @ resourceType='wcm/foundation/components/responsivegrid'}">
                </div>
            </aside>
        </div>
    </div>
</div>

<div class="container" data-sly-test="${properties.designMode != 'new'}">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="wysiwyg wysiwyg--article" data-sly-unwrap="${!properties.useArticleStyles}">
                <div class="page__par clearfix"
                     data-sly-resource="${'body' @ resourceType='wcm/foundation/components/responsivegrid'}">
                </div>
            </div>
        </div>
    </div>
</div>