<div class="article-container-component" data-sly-test="${properties.designMode == 'new'}">
    <div class="article-container-component__body">
        <div class="wysiwyg wysiwyg--article" data-sly-unwrap="${!properties.useArticleStyles}">
            <div class="body-container"
                 data-sly-resource="${'body' @ resourceType='wcm/foundation/components/responsivegrid'}">
            </div>
        </div>
    </div>
    <div class="article-container-component__sidebar" data-sly-test="${properties.showSidebar}">
        <div class="sidebar-container"
             data-sly-resource="${'sidebar' @ resourceType='wcm/foundation/components/responsivegrid'}">
        </div>
    </div>
</div>

<div class="container" data-sly-test="${properties.designMode != 'new'}">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="wysiwyg wysiwyg--article" data-sly-unwrap="${!properties.useArticleStyles}">
                <div class="page__par clearfix"
                     data-sly-resource="${'body' @ resourceType='wcm/foundation/components/responsivegrid'}">
                </div>
            </div>
        </div>
    </div>
</div>