.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: map-get($palette, true-white);
  background-image: linear-gradient(to right, map-get($palette, sunflower-yellow), rgba(255, 204, 0, 0.3));
  padding: 5px 15px 6px;

  &__ampNav {
    background-color: map-get($palette, true-white);
    background-image: linear-gradient(to right, map-get($palette, sunflower-yellow), rgba(255, 204, 0, 0.3));
  }

  &__logoWrap {
    display: block;
    width: 76px;
    max-width: 100%;
    margin-top: 1px;
  }

  &__hamburger {
    margin-left: auto;
    width: 24px;
    height: 24px;
  }


  &__primaryLinks {
    display: flex;
    margin: 0 0 30px;
    list-style: none;
    @extend .clearfix;
    padding: 0;
  }

  &__primaryLinkItem {
    display: block;
    width: 50%;
    float: left;
    border-right: 1px solid map-get($palette, brownish-grey);
    text-align: center;

    &:last-child {
      border-right: none;
    }
  }
  &__search {
    margin: 20px;
    position: relative;
  }

  &__searchInput {
    width: 100%;
    box-sizing: border-box;
    padding: 9px 13px 8px;
    @include font($style: "%T3");
    border: solid 1px rgba(151, 151, 151, 0.3);
    box-shadow: inset 0.5px 0.5px 2px 0 #979797;
    border-radius: 5px;
    margin: 0px;

    &:focus {
      outline: 1px solid map-get($palette, scarlet);
      outline-offset: 2px;
    }

    @include respond(md) {
      padding: 10px 13px 9px;
    }

    @include respond(lg) {
      padding: 10px 13px 9px 42px;
    }
  }

  &__searchButton {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 43px;
    background: map-get($palette, white-two);
    border: solid 1px rgba(151, 151, 151, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    @include respond(lg) {
      top: 50%;
      left: 11px;
      right: auto;
      bottom: auto;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      border: none;
      background: none;
    }

    &:focus {
      outline: 1px solid map-get($palette, scarlet);
      outline-offset: 2px;
    }

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -9px;
      margin-left: -9px;
      width: 18px;
      height: 18px;
      background-image: url('__prefix__/discover/resources/img/searchicon.png');
      background-image: none, url('__prefix__/discover/resources/img/searchicon.svg');
      @include backgroundImage(contain);
    }
  }

  &__primaryLink {
    display: inline-block;
    margin: 0;
    @include font($style: "%T2", $colour: map-get($palette, black));

    &:focus {
      outline: 1px solid map-get($palette, black);
      outline-offset: 2px;
    }
  }

  &__meganavContent {
    padding: 30px 25px;
    background: map-get($palette, white-two);
    color: map-get($palette, black);
    border-bottom: 1px solid darken(map-get($palette, true-white), 18%);
  }

  &__meganavTitle {
    @include font($style: "%H2Left");
    text-transform: uppercase;
    margin: 0 0 11px;
  }

  &__meganavIntro {
    @include font($style: "%T5");
    font-size: 15px;
    margin: 0;
  }

  &__meganavNavigation {
    background: map-get($palette, true-white);
    padding: 0 0 15px;
    position: relative;
  }

  &__meganavNav {
    margin: 0px;
    list-style: none;
    padding: 0 20px;

    > li {
      display: block;
      padding: 0;
      border-top: 1px solid map-get($palette, white);

      &:first-child {
        border-top: none;
      }
      a {
        display: block;
        padding: 23px 0 19px;
        text-decoration: none;


        &:focus {
          outline: 1px solid map-get($palette, black);
          outline-offset: 0px;
        }
      }

      > a {
        @include font($style: "%T1");

      }

      ul {
        margin: 0;
        @extend .clearfix;

        li {
          display: block;
          padding: 0 0 0 17px;
          border-top: 1px solid map-get($palette, white);

          a {
            @include font($style: "%T2Left", $colour: map-get($palette, brownish-grey));
          }
        }
      }
    }
  }
}

