.articlePanel {
  @extend .clearfix;
  padding-bottom: 20px;

  $block: &;

  &__image {
    display: block;
    width: 90px;
    height: 69px;
    @include backgroundImage(cover);
    float: left;
    margin: 0 10px 0 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:focus {
      outline: 1px solid map-get($palette, true-black);
      outline-offset: 2px;
    }

  }

  &__content {
    float: left;
    width: 100%;
    width: calc(100% - 100px);

    > a {
      display: block;
    }

  }

  &__title {
    @include font($style: "%T2Left");
    font-weight: 200;
    font-stretch: condensed;
    margin: 0 0 8px;
    transition: color 150ms ease;

    &:hover {
      color: map-get($palette, scarlet);
    }

  }

  &__subTitle {
    @include font($style: "%T5", $colour: map-get($palette, brownish-grey));
    font-weight: 200;
    font-stretch: condensed;
    text-transform: uppercase;
    margin: 0;

    a {

      &:hover {
        text-decoration: underline;
      }

      &.noUnderline:hover {
        text-decoration: none;
      }

    }

  }

  &__description {
    display: none;
  }

  &--video {

    #{$block}__image {
      position: relative;

      &:before,
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &:before {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: map-get($palette, scarlet);
        margin-top: -15px;
        margin-left: -15px;
        z-index: 1;
      }

      &:after {
        margin-top: -7px;
        margin-left: -5px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 14px solid map-get($palette, true-white);
        z-index: 2;
      }

    }

  }

}
