.download {
  border: 1px solid rgba(map-get($map: $palette, $key: border-grey), 0.5);
  padding: 25px 0;
  background-color: map-get($map: $palette, $key: white-two);
  margin: 20px 0;
  margin-left: calc(-1 * ((100vw - 100%)/ 2));
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;

  @include respond(md) {
    margin-left: auto;
    width: auto;
    text-align: left;
    padding: 40px 0;
    text-align: left;
    margin: 30px 0;
  }

  &__icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url('__prefix__/clientlib-site/resources/img/downloadicon.svg') no-repeat;
    background-size: contain;
    margin: 35px 0;

    @include respond(md) {
      display: block;
      width: 34px;
      height: 34px;
      margin-bottom: 19px;
    }
  }

  &__text {
    @include respond(md) {
      @include clearfix();
      text-align: left;
      float: left;
      display: inline-block;
      width: 62.5%;
    }
  }

  &__title {
    font: 800 26px $font-family;
    font-stretch: condensed;
    text-align: left;
  }

  &__copy {
    @include font("%T4");
    text-align: center;
    margin: 20px 0;

    @include respond(md) {
      text-align: left;
    }

    $block: &;

    &--small {
      @include font("%T5");
      font: 200 13px/1.54 $font-family;
      font-stretch: condensed;
      text-align: center;

      a {
        @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
      }

    }

  }

  &__image {
    max-width: 290px;
    background-size: contain;
    display: block;
    margin: 35px auto;

    @include respond(md) {
      text-align: left;
      float: right;
      display: inline-block;
      max-width: 37.5%;
      margin-top: 0;
    }
  }

  &__ctas {
    clear: both;
    margin: 20px 0;

    & .download__copy {
      @include respond(md) {
        display: inline-block;
        width: 20px;
        text-align: center;
        margin: 0 20px;
      }
    }
  }

  &__cta--red {
    @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);

    background-image: none;
    border: none;
    padding: 10px 30px;
    width: 100%;
    display: block;
    box-sizing: border-box;

    @include respond(md) {
      display: inline-block;
      width: calc(49% - 30px);

      &:last-child {
        float: right;
      }
    }
  }
}
