.articleGrid {
  padding: 0 0 34px;

  &__navWrap {
    box-shadow: 0 1px 1px 0 rgba(102, 102, 102, 0.5), inset 0 1px 0 0 rgba(102, 102, 102, 0.5);
    margin: 0 0 20px;
  }

  &__nav {
    padding: 0 20px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    text-align: center;
    @extend .clearfix;
  }

  &__navItem {
    display: inline-block;
    padding: 12px 0;
  }

  &__navLink {
    display: block;
    padding: 5px 11px 2px;
    font: 800 17px $font-family;
    font-stretch: condensed;
    letter-spacing: -0.3px;
    color: inherit;
    text-transform: uppercase;
    border-bottom: 4px solid map-get($palette, true-white);
    transition: color 150ms ease;

    &:hover {
      color: map-get($palette, scarlet);
      text-decoration: none;
    }

    &:focus {
      outline: 1px solid map-get($palette, black);
      outline-offset: 2px;
    }

    &--active {
      border-bottom-color: map-get($palette, scarlet);
    }

  }

  &__rule {
    margin: 0 0 29px;
    border: none;
    width: 100%;
    height: 1px;
    background: rgba(map-get($palette, brownish-grey), 0.3);
  }

}
