.wysiwyg {
  padding: 30px 0 20px;
  display: block;

  &--article {
    padding-top: 0;
  }

  h1 {
    text-align: inherit;
    text-transform: uppercase;
  }

  h2 {
    @include font("%H2", map-get($palette, black));
    font-size: 34px;
    line-height: 1.18;
    font-weight: 200;
    font-stretch: condensed;
    text-align: inherit;
  }

  h3 {
    @include font("%H3", map-get($palette, black));
  }

  h4 {
    @include font("%H4", map-get($palette, black));
    font-size: 17px;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
  }

  ul li,
  ol li,
  p {
      @include font("%T4", map-get($palette, black));
      margin-bottom: 20px;
  }

  p a,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
  }

  /*
  img {
      @include clearfix();
      margin-bottom: 35px;
      width: 100%;
      max-width: 100%;

      &.left {
          float: left;
          margin-right: 20px;
      }

      &.right {
          float: right;
          margin-left: 20px;
      }
  }
  */

  blockquote {

    margin: 20px 0;


    p {

      @include font("%H3");
      font-size: 25px;
      margin-bottom: 25px;
      text-align: center;
      margin-bottom: 16px;

      &::before {
        content: '\201C';
        display: inline-block;
      }

      &::after {
        content: '\201D';
        display: inline-block;
      }
    }

    small {
      @include font("%T5");
      display: block;
      text-align: center;
    }
  }
}
