.categoryHero {
  position: relative;
  padding-bottom: 0px;

  $block: &;

  &__banner {
      background:  map-get($map: $palette, $key: white-two);

  }

  &__title {
      @include font("%H2", map-get($palette, black));
      text-transform: uppercase;
      text-align: center;
      padding: 16px 0 13px 0;
      margin: 0;
  }

  &__subTitle {
      @include font("%H4", map-get($palette, black));
      font-weight: 200;
      font-stretch: condensed;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 30px;
      margin-bottom: 0;
  }

  &__link {
    @include clearfix();
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__image {
      width: 100%;
      height: 160px;
      background-size: cover;
  }

  &__text {
      margin-top: 8px;
      text-align: center;
  }

  &__metadata {
      @include font("%T4", map-get($palette, brownish-grey));
      text-transform: uppercase;
      .readTime {
          @extend %readTime;
          font-size: 100%;
      }
  }

  &__articleTitle {
      @include font("%H1", map-get($palette, black));
      text-transform: uppercase;
      margin: 3px 0 20px;

  }

  .carousel {
      padding: 15px 15px 5px;

  }
}
