version : '3.7'
services:
  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3306:3306
    volumes:
      - "./dataload/create_schema.sql:/docker-entrypoint-initdb.d/1.sql"
      - "./dataload/create_table_competitions.sql:/docker-entrypoint-initdb.d/2.sql"
      - "./dataload/create_table_newsletter_subscribers.sql:/docker-entrypoint-initdb.d/3.sql"
      - "./dataload/create_table_registrations.sql:/docker-entrypoint-initdb.d/4.sql"
      - "./dataload/create_table_shipnow_registrations.sql:/docker-entrypoint-initdb.d/5.sql"
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: discover
      MYSQL_USER: discover
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      SERVICE_TAGS: discover-dev
      SERVICE_NAME: mysql
    secrets:
      - db_password
      - db_root_password

  adminer:
    image: adminer
    ports:
      - 8080:8080

volumes:
  mysql-data:
    driver: local

secrets:
  db_password:
    file: ./secrets/db_password.txt
  db_root_password:
    file: ./secrets/db_root_password.txt