.accordion-component {
	background-color: map-get($palette, white-two);
	margin: 2rem 0;

	.container {
		padding-left: 0;
		padding-right: 0;

		.card {
			background-color: map-get($palette, white-two);
			padding: 2.1rem 1.5rem 2rem 1.5rem;
			border: none;
			border-top: 1px solid map-get($palette, white);

			@include respond(md) {
	      padding: 2rem 3rem;
	    }
		}

		.card:first-child {
			border-top: none;
		}

		.card__header {
			cursor: pointer;
			background-color: map-get($palette, white-two);
			border: none;
			padding: 0;
      display: flex;
      justify-content: space-between;

			h3 {
				font-size: var(--font-size-md);
				color: map-get($palette, red);
				margin: 0;
			}
		}

		.card__header:after {
			content: ' ';
			display: block;
			width: 2rem;
			height: .8rem;
			background-image: url('__prefix__/discover/resources/img/accordionarrow.png');
			background-image: none, url('__prefix__/discover/resources/img/accordionarrow.svg');
      background-position: center center;
      background-size: 1.8rem .8rem;
      background-repeat: no-repeat;
			line-height: 5rem;
			transition: transform 100ms ease;

			@include respond(md) {
				top: 2.7rem;
			}
		}

		.card__header[aria-expanded="true"]:after {
			transform: rotate(-180deg)
		}

		.card__body {
			padding: 0;
			padding-top: 1.8rem;
		}
	}
}
