.accordion-v2 {
	background-color: map-get($palette, white-two);
	margin: 20px 0;

	.cmp-accordion {
		padding-left: 0;
		padding-right: 0;

		.cmp-accordion__item {
			background-color: map-get($palette, white-two);
			padding: 21px 15px 20px 15px;
			border: none;
			border-top: 1px solid map-get($palette, white);

			@include respond(md) {
	      padding: 20px 30px;
	    }
		}

		.cmp-accordion__button {
			cursor: pointer;
			background-color: map-get($palette, white-two);
			border: none;
			padding: 0;
      display: flex;
      justify-content: space-between;

			.cmp-accordion__title {
				@include font($style: "%T4");
				color: map-get($palette, red);
				margin: 0;
			}
		}

		.cmp-accordion__icon {
			content: ' ';
			display: block;
			width: 20px;
			height: 8px;
			background-image: url('__prefix__/discover/resources/img/accordionarrow.png');
			background-image: none, url('__prefix__/discover/resources/img/accordionarrow.svg');
      background-position: center center;
      background-size: 18px 8px;
      background-repeat: no-repeat;
			line-height: 5rem;
			transition: transform 100ms ease;

			@include respond(md) {
				top: 27px;
			}
		}

		.cmp-accordion__icon.cmp-accordion__button--expanded {
			transform: rotate(-180deg)
		}

		.cmp-accordion__panel .text > .cmp-text {
			@include font($style: "%T5");
			padding: 0;
			padding-top: 18px;
		}
	}
}
