.accordion-v2 {
	background-color: map-get($palette, white-two);
	margin: 2rem 0;

	.cmp-accordion {
		padding-left: 0;
		padding-right: 0;

		&__panel {
		  @include ignore-top-child-margin-deep;
		  @include ignore-bottom-child-margin-deep;
		  margin: 0 3rem 3.6rem;
      transition: max-height 0.3s ease-out;

      &--expanded {
        overflow: hidden;
        max-height: fit-content;
      }

      &--hidden {
        max-height: 0;
      }
		}

		&__header {
		  margin: 0;
		}

		.cmp-accordion__item {
			background-color: map-get($palette, white-two);
			padding: 2.1rem 1.5rem 2rem 1.5rem;
			border: none;
			border-top: 1px solid map-get($palette, white);

			@include respond(md) {
	      padding: 0;
	    }
		}

		.cmp-accordion__button {
			cursor: pointer;
			background-color: map-get($palette, white-two);
			border: none;
			padding: 2rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

			.cmp-accordion__title {
				font-size: var(--font-size-md);
				color: map-get($palette, red);
				margin: 0;
        padding-right: 1rem;
			}
		}
    :first-child {
      border-top: none;
    }

		.cmp-accordion__icon {
			content: ' ';
			display: block;
			width: 2rem;
			height: .8rem;
			background-image: url('__prefix__/discover/resources/img/accordionarrow.png');
			background-image: none, url('__prefix__/discover/resources/img/accordionarrow.svg');
      background-position: center center;
      background-size: 1.8rem .8rem;
      background-repeat: no-repeat;
			line-height: 5rem;
			transition: transform 100ms ease;
      flex-shrink: 0;
      padding: 0 1rem;

			@include respond(md) {
				top: 2.7rem;
			}
		}

		.cmp-accordion__button--expanded .cmp-accordion__icon {
			transform: rotate(-180deg)
		}
	}
}

