.addToHomeScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 20px;
  z-index: 97;
  overflow: hidden;
  opacity: 0;
  transition: opacity 150ms ease;

  &--open {
    bottom: 0px;
    opacity: 1;
  }

  &__image {
    width: 130px;
    height: auto;
    margin: 0 0 30px;

    @include respond(lg) {
      width: 130px;
    }
  }

  &__content {
    background: map-get($palette, true-white);
    width: 100%;
    max-width: 570px;
    margin: 60px auto 0;
    padding: 25px 25px 35px;
    text-align: center;
  }

  &__text {
    font-size: 22px;
    color: map-get($palette, black);
    font-family: $font-family;
    margin: 12px 0;
    line-height: 25px;
  }

  &__title {
    @include font($style: "%H2");
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    margin: 0;
    color: map-get($palette, black);
  }

  &__cta {
    @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
    margin: 20px 0 10px;
  }

  &__link {
    @include font($style: "%T5", $colour: map-get($palette, dhl-black));
    font-size: 14px;
    margin: 0;
    transition: opacity 150ms ease;

    &:hover {
      color: map-get($palette, dhl-black);
      opacity: 1;
    }
  }

}
