.animatedPagesHero {
	padding: 2.5rem 0 8.7rem;
  background-image: linear-gradient(to top, #49bfe0, #55dde0);
  text-align: center;
  color: #ffffff;
  position: relative;

  $block: &;
  a {
    color: #fff;
    text-decoration: underline;
  }

  @include respond(md) {
    padding: 4rem 0 10.7rem;
  }

  @include respond(xl) {
    padding: 6.5rem 0 9.9rem;
  }
  .row {
    justify-content: center;
  }

  &__arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-top: 1.5rem solid #ffffff;
    position: absolute;
    left: 50%;
    bottom: 2.4rem;
    margin-left: -1.5rem;
    z-index: 2;

    @include respond(md) {
      bottom: 4.7rem;
    }

    @include bounce('2s');
  }

  &__title {

    max-width: 77rem;
    font-size: 3.2rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 8;

    @include respond(md) {
      font-size: 4.2rem;
    }

    @include respond(xl) {
      font-size: 6rem;
    }

  }

  &__copy {

    max-width: 77rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: normal;
    margin: 0;
    position: relative;
    z-index: 8;
  }

  &__animation {
    display: block;
    height: 16.7rem;
    position: relative;
    margin: 2rem auto;

    @include respond(md) {
      height: 24.6rem;
      margin: 4rem auto 3.5rem;
    }

    &--consumer {
      height: 16.3rem;

      @include respond(md) {
        height: 29rem;
      }

      @include respond(xl) {
        height: 30.2rem;
      }
    }

    &--fastFashion {
      height:28.6rem;
    }

    &--luxury {
      height: 22.2rem;
      width: auto;

      @include respond(md) {
        height: 28.4rem;
      }

      @include respond(xl) {
        height: 30.6rem;
      }
    }

    &--cosmetic {
      height: 23rem;
      width: auto;

      @include respond(md) {
        height: 28.4rem;
      }

      @include respond(xl) {
        height: 30rem;
      }
    }

    &--music {
      margin: 1rem auto;
      height: 20rem;

      @include respond(md) {
        margin: 1rem auto;
        height: 32rem;
      }

      @include respond(lg) {
        height: 35rem;
        margin: 2rem auto;
      }
    }

  }

  &__consumerGif {
    height: 100%;
    width: auto;

    @include respond(md) {
      background-position: left bottom -5px;
    }
  }

  &__shadow {
    display: block;
    width: 12rem;
    height: 5.2rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -4.4rem;
    animation-name: shadow;
    animation-duration: 1432ms;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0.2;

    @include respond(md) {
      width: 18rem;
      height: 7.9rem;
      margin-left: -7.4rem;
      background-size: 18rem 24.6rem;
    }
  }

  &__shadowLines {
    display: none;
  }

  &__parcel {
    display: block;
    width: 12rem;
    height: 16.5rem;
    margin: 0 auto;
    transform: translateX(1.5rem);
    animation-name: parcel;
    animation-duration: 1432ms;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;

    @include respond(md) {
      width: 18rem;
      height: 24.6rem;
      background-size: 18rem 24.6rem;
    }

    #boxSkin {
      opacity: 0;
      animation-name: boxSkin;
      animation-duration: 200ms;
      animation-delay: 3260ms;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }

    #blankBox {
      opacity: 1;
      animation-name: blankBox;
      animation-duration: 200ms;
      animation-delay: 3260ms;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }

    #shadow {
      position: absolute;
      bottom: -73px;
      left: 43%;
      opacity: 0.1;
    }
  }

  &__van {
    display: block;
    width: 15.8rem;
    height: 11.1rem;
    background-image: url('__prefix__/discover-animatedpages/resources/img/newVan.svg');
    background-size: 15.8rem 11.1rem;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto;
    transform: translateX(1.5rem);
    position: absolute;
    top: 3.8rem;
    left: 45%;
    animation-name: van;
    animation-duration: 2500ms;
    animation-delay: 4100ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    @include respond(md) {
      top: 10.6rem;
      left: 50%;
    }

    &--out {
      animation-name: vanOut;
      animation-duration: 3000ms;
      animation-delay: 0ms;
    }
  }

  &--consumer {
    background-color: #4ac0e0;
    background-image: none;
    color: #001f3f;


    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: map-get($palette, true-black);
      opacity: 0;
      z-index: 1;
    }

    &#{$block}--loaded {

      &:after {
        animation-name: consumerOverlay;
        animation-duration: 4100ms;
        animation-delay: 0;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
      }

      #{$block}__consumerGif {
        opacity: 1;
      }
    }
  }

  &__video {
    width: 21rem;

    @include respond(md) {
      width: 38rem;
    }
  }

  &--luxury {
    background-color: #20324b;
    background-image: none;
  }

  &__link {
    color: map-get($palette, true-white);
    text-decoration: underline;

    &:hover {
      color: map-get($palette, true-white);
      text-decoration: underline;
    }
  }

  &--medical,
  &--music {
    background: #4ac0e0;
  }

  &--textiles {
    background: #22354e;
  }

  &--fastFashion {
    background:#20324b;
  }

  &--comestics101 {
    background:#1d2c33;
  }

  &--sport {
    background: #1c2b33;
  }


  &__fullHeightAnimation {
    width:32rem;
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    overflow: hidden;
  }

  &__conveyorBelt {
    width:28.5rem;
    height:30rem;
    margin:0 auto;
    position:relative;

    &--left {
      background-image: url('__prefix__/discover-animatedpages/resources/img/animated3/shoe-belt-2.svg');
      width:23rem;
      height:30rem;
      background-size:23rem 19.1rem;
      background-repeat:no-repeat;
      background-position:0 0;
      position:absolute;
      top:0;
      left:0;
      z-index:1;
    }

    &--right {
      background-image: url('__prefix__/discover-animatedpages/resources/img/animated3/shoe-belt-1.svg');
      width:18.6rem;
      height:19.4rem;
      background-size:18.6rem 19.3rem;
      background-repeat:no-repeat;
      background-position:0 0;
      position:absolute;
      bottom:1.5rem;
      right:9px;
      z-index:5;
    }



    &--machine {
      background-image: url('__prefix__/discover-animatedpages/resources/img/animated3/shoe-belt-3.svg');
      width:12rem;
      height:19.4rem;
      background-size:18.6rem 19.3rem;
      background-repeat:no-repeat;
      background-position:0 0;
      position:absolute;
      bottom:1.5rem;
      right:7.5rem;
      z-index:7;
    }
  }
}


.shoeItem {
  background-image: url('__prefix__/discover-animatedpages/resources/img/animated3/header-shoes.svg');
  background-size:8.5rem 6.6rem;
  background-repeat:no-repeat;
  animation:shoedrop 5s linear infinite;
  transform-origin:0 23rem;
  position:absolute;
  top:-5.4rem;
  z-index:3;



  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      -webkit-animation-delay:(#{$i*0.3s});
      animation-delay:(#{$i*0.3s});
    }
  }

  &--trainers {
    width:3.2rem;
    height:2.4rem;
    background-position:0 1px;
  }

  &--loafers {
    width:3.6rem;
    height:2.4rem;
    background-position:-5rem 1px;
  }

  &--heels {
    width:3rem;
    height:2.7rem;
    background-position:0 -3.8rem;
  }

  &--boots {
    width:3rem;
    height:3.1rem;
    background-position:-5.5rem -3.4rem;
  }
}

.boxItem {
  background-image: url('__prefix__/discover-animatedpages/resources/img/animated3/shoes-box.svg');
  background-size:3.3rem;
  background-repeat:no-repeat;
  transform-origin:29.5rem 13rem;
  position:absolute;
  top:0;
  z-index:6;
  width:3.3rem;
  height:3.4rem;
  top:-5rem;

  &:nth-child(1) {
    animation-delay:(2s);
  }

  &:nth-child(2) {
   animation-delay:(2.3s);
  }

  &:nth-child(3) {
    animation-delay:(2.6s);
  }

  &:nth-child(4) {
    animation-delay:(2.9s);
  }

  &:nth-child(5) {
    animation-delay:(3.2s);
  }
}


@keyframes consumerOverlay {
  0% {
    opacity: 0;
  }

  20.5% {
    opacity: 0;
  }

  21.5% {
    opacity: 0.7;
  }

  52% {
    opacity: 0.7;
  }

  53% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shadow {
  0% {
    transform: scale(0);
  }

  55% {
    transform: scale(1);
  }

  65% {
    transform: scale(0.9);
  }

  81% {
    transform: scale(1);
  }

  88% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes parcel {
  0% {
    transform: translate(1.5rem, -57.3rem);
  }

  55% {
    transform: translate(1.5rem, 0);
  }

  65% {
    transform: translate(1.5rem, -9rem);
  }

  81% {
    transform: translate(1.5rem, 0);
  }

  88% {
    transform: translate(1.5rem, -5.4rem);
  }

  100% {
    transform: translate(1.5rem, 0);
  }
}

@keyframes van {
  0% {
    transform: translate(-50rem, -50.3rem);
  }

  100% {
    transform: translate(1.5rem, 0);
  }
}

@include respond(sm) {

  @keyframes van {
    0% {
      transform: translate(-83.8rem, -50.3rem);
    }
  }
}

@keyframes vanOut {
  0% {
    transform: translate(1.5rem, 0);
  }

  100% {
    transform: translate(156.1rem, 52rem);
  }
}

//Animation size has to be in MQ to fix IE11 bug.
@include respond(xs) {
  .shoeItem {
    animation:shoedrop-xs 3s linear infinite;

  }

  .boxItem {
    animation:shoeboxdrop-xs 3s linear infinite;

    &:nth-child(1) {
      animation-delay:(1.5s);
    }

    &:nth-child(2) {
     animation-delay:(1.8s);
    }

    &:nth-child(3) {
      animation-delay:(2.1s);
    }

    &:nth-child(4) {
      animation-delay:(2.4s);
    }

    &:nth-child(5) {
      animation-delay:(2.7s);
    }
  }
}

@include respond(md) {
  .shoeItem {
    animation:shoedrop-md 4s linear infinite;
  }
  .boxItem {
    animation:shoeboxdrop-md 4s linear infinite;
  }
}

@include respond(xl) {
  .shoeItem {
    animation:shoedrop-xl 5s linear infinite;
  }
  .boxItem {
    animation:shoeboxdrop-xl 5s linear infinite;
  }
}

@keyframes shoedrop-xs {
  0% {
    transform: translateY(0) translateX(20rem);
  }

  10% {
    transform: translateY(12rem) translateX(20rem);
  }

  40% {
     transform: translateY(22rem) translateX(4rem);
  }

  50% {
    transform: translateY(26rem) translateX(12rem);
  }
  100% {
     transform: translateY(25rem) translateX(12rem);
  }
}

@keyframes shoedrop-md {
  0% {
    transform: translateY(0) translateX(23rem);
  }

  10% {
    transform: translateY(15.5rem) translateX(23rem);
  }

  40% {
    transform: translateY(27rem) translateX(4rem);
  }

  50% {
    transform: translateY(31rem) translateX(13rem);
  }

  100% {
    transform: translateY(30rem) translateX(13rem);
  }
}

@keyframes shoedrop-xl {
  0% {
    transform: translateY(0) translateX(21rem);
  }

  10% {
    transform: translateY(21rem) translateX(21rem);
  }

  25% {
    transform: translateY(30.5rem) translateX(4.5rem);
  }

  40% {
    transform: translateY(36rem) translateX(13rem);
  }
  100% {
     transform: translateY(36rem) translateX(13rem);
  }
}

@keyframes shoeboxdrop-xs {
  0% {
    transform: translateY(25rem) translateX(12rem);
  }

  20% {
    transform: translateY(34rem) translateX(27rem);
  }

  50% {
    transform: translateY(80rem) translateX(27rem);
  }
  100% {
    transform: translateY(80rem) translateX(27rem);
  }
}

@keyframes shoeboxdrop-md {
  0% {
    transform: translateY(30.5rem) translateX(12rem);
  }
  20% {
    transform: translateY(39rem) translateX(27rem);
  }

  30% {
    transform: translateY(80rem) translateX(27rem);
  }
  100% {
    transform: translateY(80rem) translateX(27rem);
  }
}



@keyframes shoeboxdrop-xl {
  0% {
    transform: translateY(34.5rem) translateX(13rem);
  }

  20% {
    transform: translateY(43rem) translateX(27rem);
  }

  30% {
    transform: translateY(80rem) translateX(27rem);
  }

  100% {
    transform: translateY(80rem) translateX(27rem);
  }
}

@keyframes boxSkin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blankBox {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

