.animatedPages {

  &__copy {

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
    color: map-get($palette, true-white);
    padding: 1rem 0;
  }

  &__title {

    font-size: 2.2rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    color: map-get($palette, true-white);
    padding: 1rem 0;
  }

  //below classes are used for text-contrast issue

  &__text-on-light-blue {
    color: map-get($palette, navy-blue) !important ;

    a {
      color: map-get($palette, navy-blue) !important;
    }
  }

  &__text-on-white {
    color: map-get($palette, dark-yellow) !important;
  }

  &__text-on-blue {
    font-size: 1.9rem !important;
  }
}
