.animatedShowcasePanel {
  padding: 3rem 0 3rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

  $block: &;

  @include respond(md) {
    padding: 4.2rem 0 4.8rem;
  }

  @include respond(xl) {
    padding: 15rem 0 9rem;
  }

  &--alt {
    background-color: #33658a;
    padding-bottom: 3rem;
    padding-top:3rem;

    @include respond(md) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include respond(lg) {
      padding-top: 9rem;
      padding-bottom: 9rem;
    }

    @include respond(xl) {
      padding-top: 9rem;
      padding-bottom: 9rem;
    }
  }

  &--electronics {
    background-color: #49bfe0;
    padding-bottom: 7rem;

    @include respond(md) {
      padding: 4rem 0 6rem 0;
    }

    @include respond(lg) {
      padding: 16rem 0 8rem;
    }

    @include respond(xl) {
      padding: 9rem 0;
    }

  }

  &--music {
    background-color: #1d2c33;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include respond(md) {
      padding: 5rem 0 3rem;
    }

    @include respond(lg) {
      padding: 14rem 0 8rem;
    }

  }

  &--fashion {
    background-color: #33658a;
    padding: 3rem 0 3rem;


    @include respond(md) {
      padding: 4rem 0 4rem;
    }

    @include respond(xl) {
      padding: 9rem 0 9rem;
    }
  }

  &--textiles {
    background-color: #33658a;
    padding: 3rem 0 3rem;


    @include respond(md) {
      padding: 4rem 0 4rem;
    }

    @include respond(xl) {
      padding: 9rem 0 9rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  &--office {
    background-color: #1d2c33;
    padding: 3rem 0 3rem;
    z-index: 0;

    @include respond(md) {
      padding: 4rem 0 6rem;
    }

    @include respond(xl) {
      padding: 9rem 0 11rem;
    }
  }

  &--medical {
    background-color: #33658a;
    padding: 3rem 0 3rem;
    z-index: 0;

    @include respond(md) {
      padding: 4rem 0 6rem;
    }

    @include respond(xl) {
      padding: 9rem 0 11rem;
    }
  }

  &--sport {
    background-color: #1d2c33;
    padding: 3rem 0 3rem;

    @include respond(md) {
      padding: 4rem 0 3rem;
    }

    @include respond(xl) {
      padding: 9rem 0 9rem;
    }
  }

  &--luxury {
    background-color: transparent;

    padding: 3rem 0 0;


    @include respond(md) {
      padding: 4rem 0 4rem;
    }

    @include respond(xl) {
      padding: 9rem 0 9rem;
    }
  }

  &--cosmetics101 {
    padding-top:3rem;
    padding-bottom: 5rem;

    @include respond(md) {
      padding-top: 4rem;
      padding-bottom: 7rem;
    }

    @include respond(xl) {
      padding-top: 9rem;
      padding-bottom: 9rem;
    }

    .container {
      &:after {
        content: none !important;
      }
    }
  }

  .container {
    position: relative;

    &:after {
      content: ' ';
      display: block;
      height: .1rem;
      background: #e8e8e8;
      position: absolute;
      z-index: 4;
      left: 1.5rem;
      right: 1.5rem;
      bottom: -3rem;

      @include respond(md) {
        bottom: -4.8rem;
      }

      @include respond(xl) {
        bottom: -9rem;
      }

    }

    &--alt {
      &::after {
        content: none;
      }
    }

  }

  &__title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2;
    color: #B34D09;
    text-transform: uppercase;
    margin: 0 0 2.4rem;
    position: relative;
    background: #f0f1f1;
    z-index: 1;

    @include respond(md) {
      margin-top: 8.7rem;
    }

    @include respond(xl) {
      font-size: 2.2rem;
      max-width: 36rem;
      margin: -3.8rem 0 4rem auto;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: ' ';
      display: block;
      width: 100%;
      height: 200rem;
      background: #f0f1f1;
      position: absolute;
      top: 0;
      right: 0;
      transform: skewX(-45deg);
      transform-origin: top right;
      z-index: 1;
    }

    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 200rem;
      background: #f0f1f1;
      position: absolute;
      top: 100%;
      right: 0;
      transform: skewX(-45deg);
      transform-origin: top right;
      z-index: 1;
    }

    &--alt,
    &--bottom,
    &--bottomText,
    &--dark,
    &--left,
    &--altMedical {

      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: normal;
      color: #ffffff;
      background: transparent;
      text-transform: none;
      margin-top: auto;
      margin-bottom: 0;

      a {
        color: #fff;
        text-decoration: underline;
      }

      @include respond(xl) {
        max-width: none;
        margin-bottom: 0;
        // margin: -3.8rem 0 0 auto;
      }

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }

    &--dark {
      color: #000000;
    }

    &--alt,
    &--dark {
      float: right;
    }

    &--left {
      float: left;
    }

    &--altMedical {
      float: right;
      margin-bottom: 2rem;
    }

    &--bottomText {

      @include respond(lg) {
        margin-top: 5rem;
      }
    }

    &--bottom,
    &--dark {
      margin-bottom: 3rem;

      @include respond(md) {
        margin-bottom: 4rem;
      }
    }
  }

  &__carousel {
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
    height: 46rem;

    &--ready {

      #{$block}__carouselItem {
        opacity: 1;
      }

    }

    &--textiles {
      height: 50rem;

      @include respond(md) {
        height: 52rem;
      }
    }

    &--alt {
      height: 25.5rem;
      padding-bottom: 0;
    }

    &--sport {
      height: 36rem;
    }

    &--music {
      height: 32rem;
    }

    &--light {
      + #{$block}__carouselNavigation {
        #{$block}__carouselNavigationItem {
          background: #ffffff;
        }
      }
    }

  }

  &__carouselItem {
    min-height: 24rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12rem;
    z-index: 16;
    opacity: 0;
    transition: transform 250ms ease, opacity 150ms ease;

    @include respond(md) {
      margin-left: -122.5px;
    }

    &:nth-child(1) {
      opacity: 1;
    }

    @for $i from 2 through 15 {

      &:nth-child(#{$i}) {
        z-index: (16 - $i);
      }

    }

    &--hidden {
      transform: rotate(-30deg) translateX(-150%) !important;
      opacity: 0 !important;
      transition: transform 250ms ease, opacity 150ms ease 100ms;
    }

  }

  &__carouselNavigation {
    display: block;
    margin: 0;
    padding-bottom: 2rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &__carouselNavigationItem {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #666666;
    opacity: 0.3;
    cursor: pointer;
    margin: 0 .4rem;
    transition: opacity 250ms ease;

    &.active {
      opacity: 1;
      transition: opacity 250ms ease 250ms;
    }

    &--alt {
      background: #ffffff;
    }

  }

  &__item {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 2rem 1.5rem 1rem;
    max-width: 24rem;
    min-height: 44rem;

    @include respond(md) {
      max-width: 24.5rem;
      padding: 2rem 1.5rem 3rem;
    }

    @include respond(xl) {
      position: relative;
      z-index: 2;
      max-width: min(37rem, 100%);
      min-width: min(37rem, 100%);
      padding: 3rem 2rem 4rem;

      &--pullUp {
        margin-top: -19.9rem;
      }

      &--pushDown {
        margin-bottom: 3rem;
      }

    }

    &--marginTop30 {
      margin-top: 30px;
    }

    &--marginTop150 {
      margin-top: 150px;
    }

    &--music,
    &--music1,
    &--music2 {
      min-height: 30.5rem;
      max-height: 30.5rem;

      @include respond(xl) {
        min-height: 38rem;
        max-height: 38rem;
      }
    }

    &--music1 {
      @include respond(xl) {
        margin-top: 10rem;
      }
    }

    &--music2 {
      @include respond(xl) {
        margin-top: 5rem!important;
      }
    }

    &--medical {
      padding-bottom: 2rem;
    }

    &--medicalAlt {
      padding-bottom: 4rem;

      @include respond(md) {
        padding-bottom: 2.8rem;
      }
    }

    &--medicalMedium {
      padding-bottom: 2rem;

      @include respond(md) {
        padding-bottom: 1rem;
      }
    }

    &--office {
      min-height: 44.8rem;
    }

    &--sport {
      min-height: 34rem;
    }

    &--bulb,
    &--tv,
    &--camera {
      min-width: 24rem;
      min-height: 23.5rem;

      @include respond(xl) {
        margin-top: 0;
        min-height: 32.2rem;
      }
    }

    &--tv {
      @include respond(xl) {
        margin-top: 4.5rem;
      }
    }

    &--camera {
      @include respond(xl) {
        margin-top: 9rem;
      }
    }

    &--speakers,
    &--headphones,
    &--charger,
    &--bag,
    &--clothes,
    &--watch,
    &--bee,
    &--testtube,
    &--recycling {
      min-height: 23.5rem;
      min-height: 50.7rem;

    }

    &--bee {
      margin-top: 6rem;
    }

    &--testtube {
      margin-top: 3rem;
    }

    &--watch {
      margin-top: 12rem;
    }

    &--recycling,
    &--gopro {
      margin-top:2rem;
    }

    &--bag,
    &--rugby {
      margin-top:8rem;
    }

    &--clothes,
    &--speed {
      margin-top:14rem;
      margin-bottom:5rem;
    }

    &--headphones{
      @include respond(xl) {
        margin-top: 5.5rem;
      }
    }

    &--speakers {
      @include respond(xl) {
        margin-top: 10.5rem;
      }
    }

  }

  &__itemImage {
    width: 10.2rem;
    height: auto;
    margin: 0 0 1.5rem;

    @include respond(xl) {
      width: 20rem;
      margin: 0 0 3rem;
    }

    &--sport {
      width: 13rem;

      @include respond(xl) {
        width: 17rem;
      }
    }

    &--office {
      @include respond(xl) {
        width: 16rem;
      }
    }

    &--pen,
    &--book2 {
      width: 12.6rem;
    }

    &--textiles {
      margin: 0;
      width: 13rem;

      @include respond(xl) {
        width: 21rem;
        margin: 0;
      }

    }

  }

  &__itemTitle {

    font-size: 1.7rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    text-transform: uppercase;
    margin: 0 0 1rem;

    @include respond(xl) {
      font-size: 2.5rem;
    }

  }

  &__itemCopy {

    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.54;
    margin: 0;

    a {
      color: #000;
      text-decoration: underline;
    }

    @include respond(xl) {
      font-size: 1.5rem;
      line-height: 1.6;
    }

    &--alt {
      font-size: 1.5rem;

      @include respond(lg) {
        margin-top: 8rem;
      }
    }

    &--noMarginBottom {
      margin-bottom: 0;
    }
  }

  + * {
    position: relative;
    z-index: 2;
  }

  &__link {
    color: map-get($palette, true-black);
    text-decoration: underline;

    &:hover {
      color: map-get($palette, true-black);
      text-decoration: underline;
    }

    &--alt {
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }
  }

  &__wrapper {
    @include respond(xl) {
      height: 50rem;
    }

    &--electronics,
    &--luxury {
      @include respond(xl) {
        height: auto;
      }
    }

    &--luxury {
      @include respond(xl) {
        margin-bottom: 5rem;
      }
    }
  }

  &__heading {

    font-size: 2.2rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1.3rem;

    @include respond(md) {
      font-size: 3rem;
    }

    @include respond(lg) {
      font-size: 4rem;
    }

    &--dark {
      color: #000000;
    }

    &--office {

      @include respond(md) {
        left: -1.5rem;
        position: relative;
        margin-bottom: 2rem;
      }

      @include respond(lg) {
        left: 3rem;
      }

      @include respond(xl) {
        left: 0;
        margin-bottom: 1.3rem;
      }
    }
  }

  &--offset {
    margin-top:1.7rem;
    height:auto;

    @include respond(md) {
      margin-top:2rem;
      height:auto
    }

    @include respond(xl) {
      margin-top:23.7rem;
      height:80rem;
    }
  }

  &__padding {
    margin-bottom: 2rem;
  }

  .left-align {
    @include respond(md) {
      left: -3.5rem;
    }

    @include respond(lg) {
      left: -10rem;
    }
  }
}

