.animatedPagesHero {
	padding: 25px 0 87px;
  background-image: linear-gradient(to top, #49bfe0, #55dde0);
  text-align: center;
  color: #ffffff;
  position: relative;

  $block: &;

  @include respond(md) {
    padding: 40px 0 107px;
  }

  @include respond(xl) {
    padding: 65px 0 99px;
  }

  &__arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffff;
    position: absolute;
    left: 50%;
    bottom: 24px;
    margin-left: -15px;
    z-index: 2;

    @include respond(md) {
      bottom: 47px;
    }

    @include bounce('2s');
  }

  &__title {
    font-family: $font-family--animated;
    font-size: 32px;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 8;

    @include respond(md) {
      font-size: 42px;
    }

    @include respond(xl) {
      font-size: 60px;
    }

  }

  &__copy {
    font-family: $font-family--animated;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: normal;
    margin: 0;
    position: relative;
    z-index: 8;
  }

  &__animation {
    display: block;
    height: 167px;
    position: relative;
    margin: 20px auto;

    @include respond(md) {
      height: 246px;
      margin: 40px auto 35px;
    }

    &--consumer {
      height: 163px;

      @include respond(md) {
        height: 290px;
      }

      @include respond(xl) {
        height: 302px;
      }
    }

    &--fastFashion {
      height:286px;
    }

    &--luxury {
      height: 222px;
      width: auto;

      @include respond(md) {
        height: 284px;
      }

      @include respond(xl) {
        height: 306px;
      }
    }

    &--cosmetic {
      height: 230px;
      width: auto;

      @include respond(md) {
        height: 284px;
      }

      @include respond(xl) {
        height: 300px;
      }
    }

    &--music {
      margin: 10px auto;
      height: 200px;

      @include respond(md) {
        margin: 10px auto;
        height: 320px;
      }

      @include respond(lg) {
        height: 350px;
        margin: 20px auto;
      }
    }

  }

  &__consumerGif {
    height: 100%;
    width: auto;

    @include respond(md) {
      background-position: left bottom -5px;
    }
  }

  &__shadow {
    display: block;
    width: 120px;
    height: 52px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -44px;
    animation-name: shadow;
    animation-duration: 1432ms;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    @include respond(md) {
      width: 180px;
      height: 79px;
      margin-left: -74px;
      background-size: 180px 246px;
    }
  }

  &__parcel {
    display: block;
    width: 120px;
    height: 165px;
    margin: 0 auto;
    transform: translateX(15px);
    animation-name: parcel;
    animation-duration: 1432ms;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;

    @include respond(md) {
      width: 180px;
      height: 246px;
      background-size: 180px 246px;
    }
  }

  &__van {
    display: block;
    width: 158px;
    height: 111px;
    background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/newVan.svg);
    background-size: 158px 111px;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto;
    transform: translateX(15px);
    position: absolute;
    top: 38px;
    left: 45%;
    animation-name: van;
    animation-duration: 2500ms;
    animation-delay: 4100ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    @include respond(md) {
      top: 106px;
      left: 50%;
    }

    &--out {
      animation-name: vanOut;
      animation-duration: 3000ms;
      animation-delay: 0ms;
    }
  }

  &--consumer {
    background-color: #4ac0e0;
    background-image: none;


    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: map-get($palette, true-black);
      opacity: 0;
      z-index: 1;
    }

    &#{$block}--loaded {

      &:after {
        animation-name: consumerOverlay;
        animation-duration: 4100ms;
        animation-delay: 0;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
      }

      #{$block}__consumerGif {
        opacity: 1;
      }
    }
  }

  &__video {
    width: 210px;

    @include respond(md) {
      width: 380px;
    }
  }

  &--luxury {
    background-color: #20324b;
    background-image: none;
  }

  &__link {
    color: map-get($palette, true-white);
    text-decoration: underline;

    &:hover {
      color: map-get($palette, true-white);
      text-decoration: underline;
    }
  }

  &--medical,
  &--music {
    background: #4ac0e0;
  }

  &--textiles {
    background: #22354e;
  }

  &--fastFashion {
    background:#20324b;
  }

  &--comestics101 {
    background:#1d2c33;
  }

  &--sport {
    background: #1c2b33;
  }


  &__fullHeightAnimation {
    width:320px;
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    overflow: hidden;
  }

  &__conveyorBelt {
    width:285px;
    height:300px;
    margin:0 auto;
    position:relative;

    &--left {
      background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated3/shoe-belt-2.svg);
      width:230px;
      height:300px;
      background-size:230px 191px;
      background-repeat:no-repeat;
      background-position:0px 0px;
      position:absolute;
      top:0;
      left:0;
      z-index:1;
    }

    &--right {
      background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated3/shoe-belt-1.svg);
      width:186px;
      height:194px;
      background-size:186px 193px;
      background-repeat:no-repeat;
      background-position:0px 0px;
      position:absolute;
      bottom:15px;
      right:9px;
      z-index:5;
    }



    &--machine {
      background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated3/shoe-belt-3.svg);
      width:120px;
      height:194px;
      background-size:186px 193px;
      background-repeat:no-repeat;
      background-position:0px 0px;
      position:absolute;
      bottom:15px;
      right:75px;
      z-index:7;
    }
  }
}


.shoeItem {
  background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated3/header-shoes.svg);
  background-size:85px 66px;
  background-repeat:no-repeat;
  animation:shoedrop 5s linear infinite;
  transform-origin:0px 230px;
  position:absolute;
  top:-54px;
  z-index:3;



  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      -webkit-animation-delay:(#{$i*0.3s});
      animation-delay:(#{$i*0.3s});
    }
  }

  &--trainers {
    width:32px;
    height:24px;
    background-position:0px 1px;
  }

  &--loafers {
    width:36px;
    height:24px;
    background-position:-50px 1px;
  }

  &--heels {
    width:30px;
    height:27px;
    background-position:0px -38px;
  }

  &--boots {
    width:30px;
    height:31px;
    background-position:-55px -34px;
  }
}

.boxItem {
  background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated3/shoes-box.svg);
  background-size:33px;
  background-repeat:no-repeat;
  transform-origin:295px 130px;
  position:absolute;
  top:0;
  z-index:6;
  width:33px;
  height:34px;
  top:-50px;

  &:nth-child(1) {
    animation-delay:(2s);
  }

  &:nth-child(2) {
   animation-delay:(2.3s);
  }

  &:nth-child(3) {
    animation-delay:(2.6s);
  }

  &:nth-child(4) {
    animation-delay:(2.9s);
  }

  &:nth-child(5) {
    animation-delay:(3.2s);
  }
}


@keyframes consumerOverlay {
  0% {
    opacity: 0;
  }

  20.5% {
    opacity: 0;
  }

  21.5% {
    opacity: 0.7;
  }

  52% {
    opacity: 0.7;
  }

  53% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shadow {
  0% {
    transform: scale(0);
  }

  55% {
    transform: scale(1);
  }

  65% {
    transform: scale(0.9);
  }

  81% {
    transform: scale(1);
  }

  88% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes parcel {
  0% {
    transform: translate(15px, -573px);
  }

  55% {
    transform: translate(15px, 0px);
  }

  65% {
    transform: translate(15px, -90px);
  }

  81% {
    transform: translate(15px, 0px);
  }

  88% {
    transform: translate(15px, -54px);
  }

  100% {
    transform: translate(15px, 0px);
  }
}

@keyframes van {
  0% {
    transform: translate(-500px, -503px);
  }

  100% {
    transform: translate(15px, 0px);
  }
}

@include respond(sm) {

  @keyframes van {
    0% {
      transform: translate(-838px, -503px);
    }
  }
}

@keyframes vanOut {
  0% {
    transform: translate(15px, 0px);
  }

  100% {
    transform: translate(1561px, 520px);
  }
}

//Animation size has to be in MQ to fix IE11 bug.
@include respond(xs) {
  .shoeItem {
    animation:shoedrop-xs 3s linear infinite;

  }

  .boxItem {
    animation:shoeboxdrop-xs 3s linear infinite;

    &:nth-child(1) {
      animation-delay:(1.5s);
    }

    &:nth-child(2) {
     animation-delay:(1.8s);
    }

    &:nth-child(3) {
      animation-delay:(2.1s);
    }

    &:nth-child(4) {
      animation-delay:(2.4s);
    }

    &:nth-child(5) {
      animation-delay:(2.7s);
    }
  }
}

@include respond(md) {
  .shoeItem {
    animation:shoedrop-md 4s linear infinite;
  }
  .boxItem {
    animation:shoeboxdrop-md 4s linear infinite;
  }
}

@include respond(xl) {
  .shoeItem {
    animation:shoedrop-xl 5s linear infinite;
  }
  .boxItem {
    animation:shoeboxdrop-xl 5s linear infinite;
  }
}

@keyframes shoedrop-xs {
  0% {
    transform: translateY(0) translateX(200px);
  }

  10% {
    transform: translateY(120px) translateX(200px);
  }

  40% {
     transform: translateY(220px) translateX(40px);
  }

  50% {
    transform: translateY(260px) translateX(120px);
  }
  100% {
     transform: translateY(250px) translateX(120px);
  }
}

@keyframes shoedrop-md {
  0% {
    transform: translateY(0) translateX(230px);
  }

  10% {
    transform: translateY(155px) translateX(230px);
  }

  40% {
    transform: translateY(270px) translateX(40px);
  }

  50% {
    transform: translateY(310px) translateX(130px);
  }

  100% {
    transform: translateY(300px) translateX(130px);
  }
}

@keyframes shoedrop-xl {
  0% {
    transform: translateY(0) translateX(210px);
  }

  10% {
    transform: translateY(210px) translateX(210px);
  }

  25% {
    transform: translateY(305px) translateX(45px);
  }

  40% {
    transform: translateY(360px) translateX(130px);
  }
  100% {
     transform: translateY(360px) translateX(130px);
  }
}

@keyframes shoeboxdrop-xs {
  0% {
    transform: translateY(250px) translateX(120px);
  }

  20% {
    transform: translateY(340px) translateX(270px);
  }

  50% {
    transform: translateY(800px) translateX(270px);
  }
  100% {
    transform: translateY(800px) translateX(270px);
  }
}

@keyframes shoeboxdrop-md {
  0% {
    transform: translateY(305px) translateX(120px);
  }
  20% {
    transform: translateY(390px) translateX(270px);
  }

  30% {
    transform: translateY(800px) translateX(270px);
  }
  100% {
    transform: translateY(800px) translateX(270px);
  }
}



@keyframes shoeboxdrop-xl {
  0% {
    transform: translateY(345px) translateX(130px);
  }

  20% {
    transform: translateY(430px) translateX(270px);
  }

  30% {
    transform: translateY(800px) translateX(270px);
  }

  100% {
    transform: translateY(800px) translateX(270px);
  }
}

