.animatedForm {
  transform: translateY(3%);
  height: 745px;
  overflow: visible;
  margin-top:38px;

  &.active {
    height: 875px;
  }

  @include respond(sm) {
     height: 710px;
     margin-top:38px;
      &.active {
      height: 850px;
    }
  }

  @include respond(md) {
    height: 492px;
    padding-top: 20px;
    overflow: visible;
     margin-top:15px;

    &.active {
      height: 622px;
    }
  }

  @include respond(lg) {
    height: 415px;

    &.active {
      height: 550px;
    }
  }

  @include respond(xl) {
    height: 400px;

    &.active {
      height: 535px;
    }
  }

  &__wrapper {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    width: auto;
    height: auto;
    margin-right: 15px;
    top:-90px;
    transform: translateY(-5%);

    @include respond(md) {
      transform: translateY(0);
    }

    @include respond(lg) {
      transform: translateY(-3%);
    }

    @include respond(xl) {
      transform: translateY(-6%);
    }
  }

  &__image {
    width: 100px;
    height: 91px;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 30px;

    @include respond(md) {
      width: 129px;
      height: 116px;
      margin: inherit;
      margin-top: 23px;
      margin-bottom: 30px;
    }
  }

  &__formWrapper {
    padding: 20px 15px 27px 15px;
    background-image: linear-gradient(to bottom, #ffcc00, #ffefb2);

    @include respond(md) {
      width: 50%;
      float: right;
      height: 100%;
      padding-bottom: 32px;
    }

    @include respond(lg) {
      width: 60%;
    }
  }

  &__topWrapper {
    padding: 10px 15px 11px 15px;

    @include respond(md) {
      width: 50%;
      float: left;
      padding-left: 20px;
    }

    @include respond(lg) {
      width: 40%;
      padding-left: 30px;
    }
  }

  &__formTitle {
    font-family: $font-family--animated;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.8px;
    color: map-get($palette, dhl-black);
    margin-bottom: 10px;
  }

  &__title {
    font-family: $font-family--animated;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: -0.5px;
    color: map-get($palette, true-black);
    margin-bottom: 12px;
  }

  &__text, &__cta {
    font-family: $font-family--animated;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: map-get($palette, true-black);
    margin-bottom: 11px;
    align-items: center;
  }

  &__text {

    @include respond(md) {
      margin-bottom: 20px;
    }
  }

  &__cta {

    @include respond(md) {
      width: 80%;
    }

    @include respond(lg) {
      width: 100%;
    }

    &:hover {
      color: map-get($palette, true-black);
      text-decoration: none;
    }
  }

  input[type=text],
  input[type=tel],
  input[type=email],
  select {
    font-family: $font-family--animated !important;
    font-size: 16px;
    color: map-get($palette, brownish-grey)!important;
    padding: 13px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid 1px rgba(102,102,102,0.3);
    box-shadow: inset 0.5px 0.5px 2px 0 map-get($palette, checkbox-border-grey);
    background-color: map-get($palette, true-white);
  }


  select {
    appearance: none;
    background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/img/selecttriangle.png);
    background-image: none, url(/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/img/selecttriangle.svg);
    background-size: 8px 8px;
    background-position: center right 17px;
    background-repeat: no-repeat;
  }

  form {
    input,
    select,
    button,
    textarea,
    .input-group-text,
    .forms__checkbox--highlight,
    .forms__checkbox,
    .forms__password {
      &.error {
        border: 1px solid map-get($palette, scarlet);

        &::placeholder {
          color: map-get($palette, scarlet);
        }
      }

      @include respond(md) {
        margin-bottom: 15px;

        &.error {
          margin-bottom: 25px;
        }
      }
    }

    label.error {
      margin-top: -8px;
      font-size: 11px;
      display: block;

      @include respond(md) {
        margin-top: -20px;
      }
    }
  }

  &__icon {
    margin-left: 10px;
    width: 12px;
    height: 12px;
    background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/externalIcon.svg);
    background-repeat: no-repeat;
    display: inline-flex;
  }

  &__terms,
  &__email {
    font-size: 10px;
    line-height: 1.5;
    color: #000000;
    color: map-get($palette, true-black);

    a {
      text-decoration: underline;
      color: map-get($palette, true-black);
    }
  }

  &__terms {

    @include respond(md) {
      margin-bottom: 25px;
    }
  }

  &__email {
    font-size: 11px;
  }

  &__box {
    width: 100%;

    @include respond(lg) {
      margin-right: 7px;
    }

    &--alt {

      @include respond(lg) {
        margin-right: 0;
        margin-left: 7px;
      }
    }

    &--small,
    &--smallAlt {
      width: 50%;
    }

    &--smallAlt {
      margin-left: 7px;
    }
  }

  &__button {
    display: inline-block;
    font-family: $font-family--animated;
    width: 100%;
    padding: 9px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    color: map-get($palette, true-white);
    background-color: map-get($map: $palette, $key: scarlet);


    @include respond(md) {
      margin-bottom: 20px;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
      background-color: map-get($map: $palette, $key: dark-scarlet);
    }
  }

  &__row {

    @include respond(lg) {
      display: flex;
    }

    &--alt {
      display: flex;
    }
  }

  &__barImage1,
  &__barImage2 {
    width: 100%;
    height: 37px;
    margin-bottom: 20px;
    margin-top: 5px;
    background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/bar01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include respond(xl) {
      height: 28px;
      background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/bar1.png);
    }
  }

  &__barImage2 {
    background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/bar02.png);

    @include respond(xl) {
      height: 28px;
      background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/bar2.png);
    }
  }

  %custom-checkbox {
    content: "";
    display: inline-block;
    position: absolute;
    height: 14px;
    width: 14px;
    border: 1px solid map-get($map: $palette, $key: checkbox-border-grey);
    background-color: map-get($map: $palette, $key: true-white);

  }

  %custom-checkmark {
    content: none;
    display: inline-block;
    position: absolute;
    height: 7px;
    width: 16px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-56deg);
  }

  %custom-checkbox-input {
    label:not(.error) {
      margin: 0;
      position: relative;
      padding-left: 30px;

      //the checkbox
      &::before {
        @extend %custom-checkbox;
        left: 0;
        top: 2px;
      }

      //the checkmark
      &::after {
        @extend %custom-checkmark;
        left: 1px;
        top: 3px;
      }
    }

    input[type=checkbox] {
      opacity: 0;
      position: absolute;
      left: -9999px;
      margin: 0;

      &:checked {
        + label::after {
            content: "";
        }
      }
    }
  }

  &__checkbox {
    margin-bottom: 10px;
    @extend %custom-checkbox-input;

    label.error {
      margin-top: 0;
    }
  }

  &__checkbox--highlight {
    position: relative;

    input[type="checkbox"] {
      opacity: 0;
      left: -9999px;
      position: absolute;

      &:focus {
        + label::before {
          border: 1px solid map-get($map: $palette, $key: border-grey);
        }
      }

      &:checked {

        + label {
          background-color: map-get($map: $palette, $key: sunflower-yellow);

          &::after {
            content: "";
          }
        }
      }
    }
  }
}
