.applyForAccountPanel {
    padding: 30px 18px;
    margin-bottom: 20px;
    color: map-get($palette, true-white);
    background: #052435;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;

    &--article {
        width: 100%;
        float: left;
        margin: 0 0 60px;
    }

    &__subtitle {
        @include font($style: "%T4", $colour: map-get($palette, true-white));
        font-weight: 200;
        font-stretch: condensed;
        text-transform: uppercase;
        font-size: 17px;
        margin-bottom: 0;
    }

    &__title {
        @include font($style: "%T4", $colour: map-get($palette, true-white));
        font-weight: 800;
        font-stretch: condensed;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 32px;
        color: map-get($palette, sunflower-yellow);
    }

    &--article {
        .applyForAccountPanel__title {
            @include respond(md) {
                max-width: 50%;
                font-size: 26px;
                line-height: 30px;
            }
        }
    }

    &__points {
        margin: 20px 0 30px;
        list-style-type: none;
        font-weight: 400;
        font-family: $font-family;

        @include respond(md) {
            margin-top: 0;
        }

        @include respond(lg) {
            margin-top: 20px;
        }

        li {
            position: relative;
            z-index: 1;
            margin: 0 0 10px;
            padding-left: 30px;

            &:before {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                left: 0;
                top: 0;
                background: transparent url('/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/img/yellow-tick.svg') center no-repeat;
                background-size: contain;
            }
        }
    }

    &__cta {
        @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
        font-size: 14px;
        margin-bottom: 15px;

        padding: 10px 34px 10px 15px;

        background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/img/linkarrowwhite.png);
        background-image: none, url(/etc.clientlibs/dhl/clientlibs/clientlib-site/resources/img/linkarrowwhite.svg);
        background-position: center right 14px;
        background-size: 6px 16px;
        background-repeat: no-repeat;

        @include respond(xl) {
            font-size: 18px;
        }
    }
}
