.accountapply {
    background: #052435;

    .container {
        padding-top: 18px;
        padding-bottom: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;

        box-shadow: inset 0 0 30px #052435;
    }

    h3 {
        @include font($style: "%T4", $colour: map-get($palette, true-white));
        font-weight: 200;
        font-stretch: condensed;
        text-transform: uppercase;
        display: block;

        margin: 0;
        padding: 0;

        span {
            white-space: nowrap;
        }
    }

    &__subtitle {
        display: none;
    }

    &__title {
        display: block;
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 10px;
        font-weight: 800;
        font-stretch: condensed;
        color: map-get($palette, sunflower-yellow);
    }

    &__cta {
        @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
        font-size: 14px;
        float: left;

        padding: 10px 34px 10px 15px;

        background-image: url('__prefix__/resources/img/linkarrowwhite.png');
        background-image: none, url('__prefix__/resources/img/linkarrowwhite.svg');
        background-position: center right 14px;
        background-size: 6px 16px;
        background-repeat: no-repeat;
    }

    @include respond(md) {
        &__title {
            font-size: 30px;
            line-height: 30px;
        }
    }

    @include respond(lg) {
        h3 {
            float: left;
        }

        &__subtitle {
            display: block;
            font-size: 18px;
            line-height: 24px;
        }

        &__title {
            font-size: 32px;
            line-height: 32px;
        }

        &__cta {
            margin: 22px 0 0 30px;
            float: left;
        }
    }

    + .header {

        .header__meganav {
            max-height: calc(100vh - 34px - 111px);

            @include respond(lg) {
                max-height: calc(100vh - 110px - 104px);
            }

        }

        .header__overlay {
            top: 184px;
        }

    }

}
