.cmp-article-footer {

  &__author {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }

  &__author-image {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-right: .8rem;
  }

  &__author-info {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: map-get($palette, dhl-black);
    opacity: 0.7;
  }

  &__author-name {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__author-follow {
    padding-left: 1.5rem;
    text-decoration: underline;
    color: map-get($palette, scarlet);
    opacity: 1;

    &:hover {
      color: map-get($palette, scarlet);
    }
  }
}
