.article-card {
  white-space: normal;
  width: min(27.3rem, 100%);

  &__image-wrapper {
    height: 19.1rem;
    position: relative;

    &:after {
      content: "";
      border-radius: .2rem;
      position: absolute;
      background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.6;
    }
  }

  &__image {
    display: block;
    border-radius: .2rem;
    width: 100%;
    height: 19.1rem;
    object-fit: cover;
    background: {
      size: cover;
    }
  }

  &__group-tag {
    z-index: 1;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    position: absolute;
    bottom: 1.3rem;
    padding: 0 1.5rem;
  }

  &__info {
    border: 1px solid #E2E2E2;
    border-top: none;
    border-radius: 0 0 .8rem .8rem;
    height: calc(100% - 19.1rem);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  &__description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__tags {
    margin-top: auto;
    height: 2.4rem;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 2.4rem;
  }

  &__tag {
    background-color: #FFCC00;
    border-radius: .4rem;
    margin-right: 1rem;
    display: inline-block;
    color: #323232;
    padding: 0 .9rem 0 1.5rem;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0;
    color: #323232;
    transition: color 0.2s;

    &:hover {
      color: #D40511;
      display: block;
    }
  }

  &__author {
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 0;
    color: #323232;

    :not(:first-child)::before {
      content: "|";
      margin-right: 2px;
    }
  }
}
