.article-container-component {
  margin: 0 35px;
  .grid {
    margin: 0 auto;
    max-width: 1600px;
    &__container {
      gap: 20px;
      max-width: 1380px;
      margin-left: auto;

      [dir="rtl"] & {
        margin-left: 0;
        margin-right: auto;
      }
      @include respond(xl) {
        display: grid;
        grid-template-columns: minmax(auto, 1080px) 300px;
        grid-template-areas:"body sidebar";
      }

      &__body {
        @include respond(xl) {
          grid-area: body;
        }
      }

      &__sidebar {
        display: none;

        @include respond(xl) {
          display: block;
          grid-area: sidebar;
          .sidebar-container {
            max-width: 280px;
          }
        }
      }
    }
  }
}
