.article-author-banner {
  &_wrapper {
    display: none;
    margin-top: 5rem;
    padding: 2.5rem;
    background: map-get($palette, true-white) 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: .4rem;

    @include respond(xl) {
      display: block;
    }
  }

  &_title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #191919;

    &:after {
      content: ' ';
      display: block;
      width: 50%;
      border: 1px solid map-get($palette, scarlet);
    }
  }

  &_author {
    display: flex;
    padding-top: 2.3rem;

    &-image {
      width: 5.4rem;
      height: 5.4rem;
      border-radius: 50%;
    }

    &-description {
      padding-left: .5rem;

      &__name {
        font-size: 1.6rem;
        line-height: normal;
        font-weight: bold;
        color: map-get($palette, dhl-black);
        text-transform: capitalize;
        padding-bottom: .5rem;
      }

      &__title {
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: map-get($palette, dhl-black);
        text-transform: capitalize;
        opacity: 0.6;
      }

    }
  }

  &_brief {
    padding-top: 2.3rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: map-get($palette, dhl-black);
  }

  &_follow {
    padding-top: 3rem;
    text-align: center;

    &__button {
      display: inline-block;
      padding: 1rem 2.8rem;
      background: map-get($palette, true-white) 0% 0% no-repeat padding-box;
      border: 1px solid map-get($palette, scarlet);
      border-radius: .4rem;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: map-get($palette, scarlet);

      &:hover {
        text-decoration: none;
        color: map-get($palette, scarlet);
      }
    }
  }
}
