.articlepanel {
  @extend .clearfix;
  padding-bottom: 2rem;
  transition: transform 150ms ease, opacity 150ms ease;

  > * {
    transition: opacity 150ms ease;
  }

  > .nextSteps > .container {
    padding: 0;

    @include respond(md) {
      padding: 0 3.5rem;
    }
  }

  &__panel {
    padding: 0;
  }

  @include respond(lg) {
    padding-bottom: 2rem !important;
  }

  $block: &;

  &__image {
    display: block;
    width: 9rem;
    height: 6.9rem;
    @include backgroundImage(cover);
    float: left;
    margin: 0 1rem 0 0;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include respond(md) {
      width: 11.4rem;
      height: 7.4rem;
    }

    @include respond(lg) {
      width: 100%;
      height: 0;
      padding-bottom: 56.36%;
      margin: 0 0 1.3rem !important;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:focus {
      outline: 1px solid map-get($palette, true-black);
      outline-offset: 2px;
    }
  }

  &__content {
    float: left;
    width: 100%;
    width: calc(100% - 10rem);

    @include respond(md) {
      width: calc(100% - 12.4rem);
    }

    @include respond(lg) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    > a {
      display: block;

      @include respond(lg) {
        order: 2;
      }
    }
  }

  &__title {
    font-weight: 800;
    font-stretch: condensed;
    margin: 0 0 .8rem;
    transition: color 150ms ease;

    &:hover {
      color: map-get($palette, scarlet);
    }

    @include respond(lg) {
      font-size: 2.5rem !important;
      margin-bottom: 1.3rem;
    }
  }

  &__subTitle {
    font-weight: 200;
    font-stretch: condensed;
    text-transform: uppercase;
    margin: 0;

    a {
      &:hover {
        text-decoration: underline;
      }

      &.noUnderline:hover {
        text-decoration: none;
      }
    }

    @include respond(lg) {
      order: 1;
      margin-bottom: .9rem !important;
    }
  }

  &__description {
    display: none;

    @include respond(lg) {
      display: block;
    }
  }

  &--video {
    #{$block}__image {
      position: relative;

      &:before {
        content: " ";
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        background: map-get($palette, scarlet);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1.5rem;
        margin-left: -1.5rem;

        @include respond(lg) {
          width: 5.2rem;
          height: 5.2rem;
          border-radius: 5.2rem;
          margin-top: -2.6rem;
          margin-left: -2.6rem;
        }
      }

      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.7rem;
        margin-left: -0.5rem;
        width: 0;
        height: 0;
        border-top: .7rem solid transparent;
        border-bottom: .7rem solid transparent;
        border-left: 1.4rem solid map-get($palette, true-white);

        @include respond(lg) {
          border-top: 1.2rem solid transparent;
          border-bottom: 1.2rem solid transparent;
          border-left: 2.2rem solid map-get($palette, true-white);
          margin-top: -1.2rem;
          margin-left: -0.8rem;
        }
      }
    }
  }

  &--large {
    @include respond(md) {
      padding-bottom: 2.6rem;

      #{$block}__image {
        width: 100%;
        height: 0;
        padding-bottom: 56.36%;
        margin: 0 0 1.1rem;

        &:before {
          width: 5.2rem;
          height: 5.2rem;
          border-radius: 5.2rem;
          margin-top: -2.6rem;
          margin-left: -2.6rem;
        }

        &:after {
          border-top: 1.2rem solid transparent;
          border-bottom: 1.2rem solid transparent;
          border-left: 2.2rem solid map-get($palette, true-white);
          margin-top: -1.2rem;
          margin-left: -8px;
        }
      }

      #{$block}__content {
        width: 100%;
        display: flex;
        flex-direction: column;

        > a {
          order: 2;
        }
      }

      #{$block}__title {
        font-size: 2.2rem;
        margin-bottom: 1.3rem;
      }

      #{$block}__subTitle {
        order: 1;
        margin-bottom: .7rem;
      }

      #{$block}__description {
        display: block;
      }
    }
  }

  &--deletable {
    transform: translateX(-5rem);
    cursor: pointer;
    @include clearfix();

    @include respond(lg) {
      transform: translateX(0);
    }

    > * {
      opacity: 0.6;

      @include respond(lg) {
        opacity: 0.3;
      }
    }

    &:before {
      content: " ";
      display: block;
      width: 2rem;
      height: 2rem;
      background-image: url("__prefix__/discover/resources/img/redcloseicon.png");
      background-image: none,
        url("__prefix__/discover/resources/img/redcloseicon.svg");
      background-size: 2rem 2rem;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: -5rem;
      margin-top: -3rem;

      @include respond(lg) {
        top: 0;
        right: 0;
        margin-top: 56.36%;
        margin-top: calc(56.36% + 1.1rem);
        padding-bottom: 2.5rem;
        border-bottom: 3px solid transparent;
        transition: border 150ms ease;
      }
    }

    &:hover {
      @include respond(lg) {
        &:before {
          border-bottom: 3px solid map-get($palette, scarlet);
        }
      }
    }
  }

  &--search {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;

    @include respond(md) {
      padding-bottom: 0;
    }

    @include respond(lg) {
      border-bottom: 0;
      padding-bottom: .5rem !important;
    }

    .articlePanel__title {
      line-height: 1.05em;

      @include respond(md) {
        margin: 1rem 0 .5rem;
      }

      @include respond(lg) {
        margin: 0 0 .5rem !important;
        font-size: 2.2rem !important;
      }
    }

    .articlePanel__subTitle {
      font-size: 1.2rem;

      @include respond(lg) {
        font-size: 1.5rem !important;
      }

      a {
        &.group {
          color: map-get($palette, scarlet);
        }
      }
    }

    .articlePanel__description {
      @include respond(md) {
        display: block;
        margin-top: .8rem;
        line-height: 1.5em;
      }
    }

    .articlePanel__image {
      @include respond(lg) {
        width: 17.4rem;
        height: 9.8rem;
        padding-bottom: 0;
        margin: 0 3rem 0 0 !important;
      }
    }

    .articlePanel__content {
      @include respond(lg) {
        display: block;
        width: calc(100% - 20.4rem);
        min-height: 9.8rem;
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .dhl-btn {
    padding: 1rem 7rem;
    width: 100%;
    &--primary {
      color: white;
    }
    &:focus{
      outline: none;
    }

    @include respond(md) {
      width: auto;
    }
  }
}

.nextSteps__image {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  aspect-ratio: 16 / 9;
  border-radius: 0.4rem;

  .nextSteps__imageMedia {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nextSteps__imageMedia {
  display: block;
  width: 100%;
  height: auto;
}

@supports not (aspect-ratio: 16 / 9) {
  .nextSteps__image {
    padding-bottom: 56.25%;
  }

  .nextSteps__imageMedia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
