.article-carousel {
  max-width: 1640px;
  margin: auto;
  float: none !important;

  @include respond(md) {
    background: #F6F6F6 0% 0% no-repeat padding-box;
    padding: 0 35px;
  }

  .article-carousel_container {
    max-width: 1200px;
    margin: auto;

    @include respond(xl) {
      display: flex;
      align-items: baseline;
      padding: 0;
    }

    .article-carousel_pageTitle {
      font-size: 20px;
      line-height: 54px;
      font-weight: bold;
      color: #323232;
      padding: 20px 35px 0;

      @include respond(md) {
        padding: 20px 0;
        font-size: 30px;
      }

      @include respond(xl) {
        font-size: 50px;
        width: 40%;
      }
    }

    .cmp-carousel {
      padding: 25px 0;

      @include respond(md) {
        padding: 13px 0 0;
      }

      @include respond(xl) {
        width: 60%;
      }

      .article-teaser.teaser {
        margin: 0;
      }

      .cmp-teaser {
        margin: 0;
      }

      .cmp-teaser__content {
        position: absolute;
        bottom: 63px;
        left: 35px;
        color: map-get($palette, true-white);
        text-shadow:
          0 0 20px #131313,
          0 0 25px #131313;
        z-index: 1;

        @include respond(md) {
          bottom: 68px;
          left: 23px;
        }

        .cmp-teaser__title {
          font-size: 20px;
          line-height: 24px;
          font-weight: bold;

          @include respond(md) {
            padding-bottom: 10px;
            font-size: 40px;
            line-height: 40px;
          }

          @include respond(xl) {
            padding-bottom: 35px;
          }
        }

        .cmp-teaser__article-category-tag {
          font-size: 12px;
          line-height: 17px;
          font-weight: bold;

          @include respond(md) {
            font-size: 18px;
            line-height: 26px;
          }
        }

        .cmp-teaser__article-author {
          display: none;
          font-size: 12px;
          line-height: 17px;
          opacity: 0.93;

          @include respond(md) {
            font-size: 18px;
            line-height: 26px;
            opacity: 0.7;
          }
        }
      }

      .cmp-image {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          background: transparent linear-gradient(180deg, #DCDCDC 0%, #3A3A3A 86%, #0D0D0D 100%) 0% 0% no-repeat padding-box;
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          opacity: 0.4;
        }

        .cmp-image__image {
          width: 100%;
          height: 256px;
          object-fit: cover;
          object-position: center center;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 2px;

          @include respond(md) {
            height: 366px;
          }
        }
      }

      .cmp-carousel__indicators {
        display: flex;
        justify-content: left;
        padding: 11px 35px;

        @include respond(md) {
          padding: 20px 0;
        }

        .cmp-carousel__indicator {
          margin: 0 7px;
          width: 11px;
          height: 11px;
          background: #CCCCCC 0% 0% no-repeat padding-box;
          border-radius: 40px;
          transition: width 500ms;
          font-size: 0;
          text-indent: -3000px;
          cursor: pointer;

          &--active {
            width: 31px;
            background: #D40511 0% 0% no-repeat padding-box;
            transition: width 500ms;
          }
        }
      }

      .cmp-carousel__actions {
        display: none;
      }
    }
  }
}

