.article-showcase-component {
  .title {
    font: normal normal bold 20px/40px Delivery, sans-serif;
    padding-left: 10px;
    margin-bottom: 16px;
    border-left: 2px solid #DD3741;
  }
  .link {
    margin-top: 15px;
    margin-bottom: 15px;
    @include respond(md) {
      margin-bottom: 0px;
    }
    display: inline-block;
    font: normal normal normal 14px/20px Delivery, sans-serif;
    text-decoration: underline;
    color: #D40511;
  }
}

.article-showcase-component_horizontal {
  margin-top: 30px;
  @include respond(xl) {
    margin-top: 50px;
  }
  .article-items {
    @include respond(xl) {
      .article-card:nth-child(n + 5) {
        display: none;
      }
    }
    display: flex;
    gap: 36px;
  }
}

.article-showcase-component_vertical {
    padding-top: 18px;
    background-color: #E2E2E266;
    @include respond(md) {
      background-color: initial;
      margin-top: 30px;
      padding-top: 0px;
      padding-left: 5px;
      padding-right: 10px;
    }
    @include respond(xl) {
      margin-top: 50px;
      padding-right: 20px;
    }
  .article-items {
    margin-bottom: 0px;
    .article {
      &:not(:first-child) {
        margin-top:10px;
        border-top: 1px solid #E9E9E9;
        padding-top:22px;
        @include respond(xl) {
          margin-top:25px;
          padding-top:25px;
        }
      }
      display: flex;
      gap: 25px;

      &__image {
        min-height: 72px;
        width: 72px;
        min-width: 72px;
        @include respond(md) {
          min-height: 110px;
          width: 165px;
          min-width: 165px;
        }
        @include respond(xl) {
          min-height: 200px;
          width: 300px;
          min-width: 300px;
        }
        position: relative;
        display: inline-block;
        background-size: cover;
        background-position: center;
        border-radius: 2px;
        box-shadow: 0px 3px 6px #00000029;

        &:after {
          content: "";
          border-radius: 2px;
          position: absolute;
          background: transparent linear-gradient(180deg ,#dcdcdc 50%,#3a3a3a 80%,#0d0d0d 100%) 0 0 no-repeat padding-box;
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          opacity: 0.6;
        }
      }

      &__info {
        color: #323232;
        display: flex;
        flex-direction: column;

        &__group-tag {
          font: normal normal bold 12px/12px Delivery, sans-serif;
          margin-top: 5px;
          letter-spacing: 0.96px;
          color: #D40511;
          @include respond(md) {
            margin-top: 3px;
            font: normal normal normal 12px/12px Delivery, sans-serif;
          }
          @include respond(xl) {
            margin-top: 0px;
            font: normal normal normal 16px/16px Delivery, sans-serif;
          }
        }

        &__title {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #323232;
          margin-top: 10px;
          font: normal normal bold 20px/24px Delivery, sans-serif;
          text-decoration: none;
          letter-spacing: 0px;
          @include respond(md) {
            font: normal normal bold 18px/20px Delivery, sans-serif;
          }
          @include respond(xl) {
            -webkit-line-clamp: 1;
            font: normal normal bold 20px/22px Delivery, sans-serif;
          }

          &:hover {
            text-decoration: underline;
            color: #D40511;
            display: block;
          }
        }

        &__metadata {
          display: none;
          @include respond(md) {
            display: initial;
            margin-top: 10px;
            font: normal normal normal 12px/17px Delivery, sans-serif;
            opacity: 0.7;
          }
        }

        &__description {
          display: none;
          @include respond(xl) {
            display: -webkit-box;
            margin-top: 15px;
            margin-bottom: 10px;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font: normal normal normal 14px/20px Delivery, sans-serif;
          }
        }

        &__author {
          display: none;
          @include respond(xl) {
            display: flex;
            margin-top: auto;
            gap: 6px;
          }

          &__avatar {
            background-size: cover;
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }
          &__name {
            font: normal normal bold 12px/22px Delivery, sans-serif;
            margin: auto 0px;
          }
        }
      }
    }
  }
}
