.article-author-banner {
  &_wrapper {
    display: none;
    margin-top: 50px;
    padding: 25px;
    background: map-get($palette, true-white) 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    font-family: "Delivery", sans-serif;

    @include respond(xl) {
      display: block;
    }
  }

  &_title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #191919;

    &:after {
      content: ' ';
      display: block;
      width: 50%;
      border: 1px solid map-get($palette, scarlet);
    }
  }

  &_author {
    display: flex;
    padding-top: 23px;

    &-image {
      width: 54px;
      height: 54px;
      border-radius: 50%;
    }

    &-description {
      padding-left: 5px;

      &__name {
        font-size: 16px;
        line-height: normal;
        font-weight: bold;
        color: map-get($palette, dhl-black);
        text-transform: capitalize;
        padding-bottom: 5px;
      }

      &__title {
        font-size: 12px;
        line-height: 14px;
        color: map-get($palette, dhl-black);
        text-transform: capitalize;
        opacity: 0.6;
      }

    }
  }

  &_brief {
    padding-top: 23px;
    font-size: 14px;
    line-height: 20px;
    color: map-get($palette, dhl-black);
  }

  &_follow {
    padding-top: 30px;
    text-align: center;

    &__button {
      display: inline-block;
      padding: 10px 28px;
      background: map-get($palette, true-white) 0% 0% no-repeat padding-box;
      border: 1px solid map-get($palette, scarlet);
      border-radius: 4px;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: map-get($palette, scarlet);

      &:hover {
        text-decoration: none;
        color: map-get($palette, scarlet);
      }
    }
  }
}