.cmp-article-header {
  &__breadcrumb {
    padding-top: 7px;
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    color: map-get($palette, scarlet);

    @include respond(xl) {
      display: none;
    }
  }

  &__title {
    padding-top: 3px;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    text-transform: uppercase;

    @include respond(md) {
      font-size: 20px;
    }

    @include respond(xl) {
      padding-top: 48px;
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__info {
    padding-top: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 3px;
    align-items: center;

    @include respond(md) {
      padding-top: 20px;
    }

    @include respond(xl) {
      padding-top: 0;
      display: block;
    }
  }

  &__author-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;

    @include respond(xl) {
      display: none;
    }
  }

  &__author-info {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 17px;
    color: map-get($palette, dhl-black);
    opacity: 0.7;
    grid-column: 2;
    grid-row: 1;

    @include respond(xl) {
      display: none;
    }
  }

  &__author-name {
    font-size: 14px;
    font-weight: bold;
  }

  &__author-follow {
    padding-left: 15px;
    text-decoration: underline;
    color: map-get($palette, scarlet);
    opacity: 1;

    &:hover {
      color: map-get($palette, scarlet);
    }
  }

  &__date {
    font-size: 12px;
    line-height: 17px;
    color: map-get($palette, dhl-black);
    opacity: 0.7;
    grid-column: 2;
    grid-row: 2;

    @include respond(xl) {
      margin-left: 0;
      padding-top: 5px;
      font-size: 14px;
      line-height: 20px;
    }

    &> *::after {
      content: '|';
      padding: 0 2px 0 5px;
    }
    &> *:last-child::after {
      content: "";
    }
  }
}
