.article-carousel {
  max-width: 164rem;
  margin: auto;
  float: none !important;

  @include respond(md) {
    background: #F6F6F6 0% 0% no-repeat padding-box;
    padding: 0 3.5rem;
  }

  .article-carousel_container {
    max-width: 120rem;
    margin: auto;

    @include respond(xl) {
      display: flex;
      align-items: baseline;
      padding: 0;
    }

    .article-carousel_pageTitle {
      font-size: 2rem;
      line-height: 5.4rem;
      font-weight: bold;
      color: #323232;
      padding: 2rem 21px 0;

      @include respond(md) {
        padding: 2rem 0;
        font-size: 3rem;
      }

      @include respond(xl) {
        font-size: 5rem;
        width: 40%;
      }
    }

    .cmp-carousel {
      padding: 2.5rem 0;
      overflow: hidden;

      @include respond(md) {
        padding: 1.3rem 0 0;
      }

      @include respond(xl) {
        width: 60%;
      }

      &__item {
        flex-shrink: 0;
        display: block;
        width: 100%;
        position: relative;
      }

      &__content {
        display: flex;
        transition: transform .3s ease-in-out;
      }

      .article-teaser.teaser {
        margin: 0;
      }

      .cmp-teaser {
        margin: 0;
      }

      .cmp-teaser__content {
        position: absolute;
        bottom: 6.3rem;
        left: 3.5rem;
        color: map-get($palette, true-white);
        @include text-on-image;
        z-index: 1;

        @include respond(md) {
          bottom: 6.8rem;
          left: 2.3rem;
        }

        .cmp-teaser__title {
          font-size: 2rem;
          line-height: 2.4rem;
          font-weight: bold;

          @include respond(md) {
            padding-bottom: 1rem;
            font-size: 4rem;
            line-height: 4rem;
          }

          @include respond(xl) {
            padding-bottom: 3.5rem;
          }
        }

        .cmp-teaser__article-category-tag {
          font-size: 1.2rem;
          line-height: 1.7rem;
          font-weight: bold;

          @include respond(md) {
            font-size: 1.8rem;
            line-height: 2.6rem;
          }
        }

        .cmp-teaser__article-author {
          display: none;
          font-size: 1.2rem;
          line-height: 1.7rem;
          opacity: 0.93;

          @include respond(md) {
            font-size: 1.8rem;
            line-height: 2.6rem;
            opacity: 0.7;
          }
        }
      }

      .cmp-image {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          background: transparent linear-gradient(180deg, #DCDCDC 0%, #3A3A3A 86%, #0D0D0D 100%) 0% 0% no-repeat padding-box;
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          opacity: 0.4;
        }

        .cmp-image__image {
          width: 100%;
          height: 25.6rem;
          object-fit: cover;
          object-position: center center;
          box-shadow: 0 3px .6rem #00000029;
          border-radius: .2rem;

          @include respond(md) {
            height: 36.6rem;
          }
        }
      }

      .cmp-carousel__indicators {
        display: flex;
        justify-content: left;
        padding: 1.1rem 21px;

        @include respond(md) {
          padding: 2rem 0;
        }

        .cmp-carousel__indicator {
          margin: 0 .7rem;
          width: 1.1rem;
          height: 1.1rem;
          background: #CCCCCC 0% 0% no-repeat padding-box;
          border-radius: 4rem;
          transition: width 500ms;
          font-size: 0;
          text-indent: -300rem;
          cursor: pointer;

          &--active {
            width: 3.1rem;
            background: #D40511 0% 0% no-repeat padding-box;
            transition: width 500ms;
          }
        }
      }

      .cmp-carousel__actions {
        display: none;
      }
    }
  }
}

