.cmp-article-container {
  margin: 0 2.1rem;

  @include respond(md) {
    margin: 0 3.5rem;
  }
  &__grid {
    gap: 2rem;
    max-width: 138rem;
    margin-left: auto;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: auto;
    }
    @include respond(xl) {
      display: grid;
      grid-template-columns: minmax(auto, 108rem) 30rem;
      grid-template-areas: "body sidebar";
    }
  }

  &__body-wrapper {
    @include respond(xl) {
      grid-area: body;
    }
  }

  &__sidebar-wrapper {
    display: none;

    @include respond(xl) {
      display: block;
      grid-area: sidebar;
      .sidebar-container {
        max-width: 28rem;
      }
    }
  }
}
