.article-card {
  white-space: normal;
  width: 273px;
  min-width: 273px;

  &__image-wrapper {
    height: 191px;
    position: relative;

    &__image {
      display: block;
      border-radius: 2px;
      width: 100%;
      height: 191px;
      object-fit: cover;

      background: {
        size: cover;
      }

      &__group-tag {
        z-index: 1;
        font: normal normal normal 12px/17px Delivery, sans-serif;
        color: #FFFFFF;
        position: absolute;
        bottom: 13px;
        padding: 0 15px;
      }
    }

    &:after {
      content: "";
      border-radius: 2px;
      position: absolute;
      background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0.6;
    }
  }

  &__info {
    border: 1px solid #E2E2E2;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    height: calc(100% - 191px);
    display: flex;
    flex-direction: column;
    padding: 15px;

    &__author {
      font: normal normal normal 12px/17px Delivery, sans-serif;
      letter-spacing: 0px;
      color: #323232;

      :not(:first-child)::before {
        content: "|";
        margin-right: 2px;
      }
    }

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 10px;
      font: normal normal bold 18px/22px Delivery, sans-serif;
      letter-spacing: 0px;
      color: #323232;

      &:hover {
        color: #D40511;
        display: block;
      }
    }

    &__description {
      margin-top: 10px;
      margin-bottom: 10px;
      font: normal normal normal 12px/14px Delivery, sans-serif;
      letter-spacing: 0px;
      color: #323232;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    &__tags {
      margin-top: auto;
      height: 24px;
      overflow: hidden;
      font: normal normal normal 12px/24px Delivery, sans-serif;

      &__tag {
        background-color: #FFCC00;
        border-radius: 4px;
        margin-right: 10px;
        display: inline-block;
        color: #323232;
        padding: 0px 9px 0px 15px;
      }
    }
  }
}
