.cmp-article-header {
  &__groupTag {
    margin-top: 1.2rem;
    display: block;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: bold;

    @include respond(xl) {
      display: none;
    }
  }

  &__title {
    padding-top: 3px;
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: .8rem;
    font-weight: bold;
    text-transform: uppercase;

    @include respond(md) {
      font-size: 2rem;
    }

    @include respond(xl) {
      padding-top: 4.8rem;
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  &__info {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 3px;
    align-items: center;

    @include respond(md) {
      padding-top: 2rem;
    }

    @include respond(xl) {
      padding-top: 0;
      display: block;
    }
  }

  &__author-image {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-right: .8rem;

    @include respond(xl) {
      display: none;
    }
  }

  &__author-info {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: map-get($palette, dhl-black);
    opacity: 0.7;
    grid-column: 2;
    grid-row: 1;

    @include respond(xl) {
      display: none;
    }
  }

  &__author-name {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__author-follow {
    padding-left: 1.5rem;
    text-decoration: underline;
    color: map-get($palette, scarlet);
    opacity: 1;

    &:hover {
      color: map-get($palette, scarlet);
    }
  }

  &__date {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: map-get($palette, dhl-black);
    opacity: 0.7;
    grid-column: 2;
    grid-row: 2;

    @include respond(xl) {
      margin-left: 0;
      padding-top: .5rem;
      font-size: 1.4rem;
      line-height: 2rem;
    }

    &> *::after {
      content: '|';
      padding: 0 2px 0 .5rem;
    }
    &> *:last-child::after {
      content: "";
    }
  }
}
