.article-teaser-container {
  margin: 3.5rem -2rem;
  padding: 0;
  width: calc(100% + 4rem) !important;

  .cmp-container {
    max-width: 124rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(27rem, 100%), 1fr));

    .article-teaser {
      padding: 0 2rem;

      .cmp-teaser__link,
      .cmp-teaser {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        .cmp-image {
          order: 1;
          position: relative;

          .cmp-image__image {
            display: block;
            width: 100%;
            height: 19.1rem;
            border-radius: .2rem;
            object-fit: cover;
            margin-bottom: 0;
            background: {
              size: cover;
            }
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0 0 no-repeat padding-box;
            border-radius: .2rem;
            mix-blend-mode: multiply;
            opacity: 0.6;
          }
        }

        .cmp-teaser__content {
          order: 2;
          position: relative;
          display: flex;
          flex-direction: column;
          height: calc(100% - 19.1rem);
          padding: 1.5rem;
          border: 1px solid #E2E2E2;
          border-top: none;
          border-radius: 0 0 .8rem .8rem;

          .cmp-teaser__article-category-tag {
            order: 1;
            position: absolute;
            top: -3rem;
            z-index: 1;
            font-size: 1.2rem;
            line-height: 1.7rem;
            color: #FFFFFF;
          }

          .cmp-teaser__article-author {
            order: 2;
            font-size: 1.2rem;
            line-height: 1.7rem;
            color: #323232;
            min-height: 3.4rem;
          }

          .cmp-teaser__title {
            order: 3;
            margin-top: 1rem;
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 2.2rem;
            color: #323232;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            min-height: 4.4rem;

            &:hover {
              color: #D40511;
              display: block;
            }
          }

          .cmp-teaser__description {
            order: 4;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: #323232;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            min-height: 5.6rem;

            p {
              font-size: inherit;
              line-height: inherit;
            }
          }
        }
      }
    }
  }
}
