.article-showcase-component {
  .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
    margin-bottom: 16px;
    border-left: 2px solid #DD3741;

    [dir="rtl"] & {
      border-right: 2px solid #DD3741;
      border-left: none;
    }
  }

  .link {
    margin-top: 15px;
    margin-bottom: 15px;

    @include respond(md) {
      margin-bottom: 0px;
    }

    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    color: #D40511;
  }
}

.article-showcase-component_horizontal {
  .horizontal-scroll {
    margin-left: calc(-1 * (100vw - 100%)/2);
    padding-left: calc(1 * (100vw - 100%)/2);
    margin-right: calc(-1 * (100vw - 100%)/2);
    padding-right: calc(1 * (100vw - 100%)/2);

    &::-webkit-scrollbar-track {
      margin: 35px;
    }
  }

  @include respond(xl) {
    margin-top: 50px;
  }

  .article-items {
    @include respond(xl) {
      .article-card:nth-child(n + 5) {
        display: none;
      }
    }

    display: flex;
    gap: 36px;
  }
}

.article-showcase-component_vertical {
  padding-top: 18px;
  background-color: #E2E2E266;

  @include respond(md) {
    background-color: initial;
    margin-top: 30px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
  }

  @include respond(xl) {
    margin-top: 50px;
    padding-right: 20px;
  }

  .article-items {
    margin-bottom: 0px;

    .article {
      &:not(:first-child) {
        margin-top: 10px;
        border-top: 1px solid #E9E9E9;
        padding-top: 22px;

        @include respond(xl) {
          margin-top: 25px;
          padding-top: 25px;
        }
      }

      display: flex;
      gap: 25px;

      &__picture {
        position: relative;
        min-height: 72px;
        width: 72px;
        min-width: 72px;

        @include respond(md) {
          min-height: 110px;
          width: 165px;
          min-width: 165px;
        }

        @include respond(xl) {
          min-height: 200px;
          width: 300px;
          min-width: 300px;
        }

        &__image {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          display: inline-block;
          border-radius: 2px;
          box-shadow: 0px 3px 6px #00000029;
        }

        &:after {
          content: "";
          border-radius: 2px;
          position: absolute;
          background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0 0 no-repeat padding-box;
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          opacity: 0.6;
          left: 0;
        }
      }

      &__info {
        color: #323232;
        display: flex;
        flex-direction: column;

        &__group-tag {
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          margin-top: 5px;
          letter-spacing: 0.96px;
          color: #D40511;

          @include respond(md) {
            margin-top: 3px;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
          }

          @include respond(xl) {
            margin-top: 0px;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
          }
        }

        &__title {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #323232;
          margin-top: 10px;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          text-decoration: none;
          letter-spacing: 0px;

          @include respond(md) {
            font-size: 18px;
            line-height: 20px;
          }

          @include respond(xl) {
            -webkit-line-clamp: 1;
            font-size: 20px;
            line-height: 22px;
          }

          &:hover {
            text-decoration: underline;
            color: #D40511;
            display: block;
          }
        }

        &__metadata {
          display: none;

          :not(:first-child)::before {
            content: "|";
            margin-right: 2px;
          }

          @include respond(md) {
            display: initial;
            margin-top: 10px;
            font-size: 12px;
            line-height: 17px;
            opacity: 0.7;
          }
        }

        &__description {
          display: none;

          @include respond(xl) {
            display: -webkit-box;
            margin-top: 15px;
            margin-bottom: 10px;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 14px;
            line-height: 20px;
          }
        }

        &__author {
          display: none;

          @include respond(xl) {
            display: flex;
            margin-top: auto;
            gap: 6px;
          }

          &__avatar {
            object-fit: cover;
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }

          &__name {
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            margin: auto 0px;
          }
        }
      }
    }
  }
}
