.authorPanel {
    margin: 5px 0 0 0;
    border-top: 1px solid map-get($map: $palette, $key: border-grey);
    padding-top: 14px;

    @include respond(md) {
      margin: -15px 0 40px 0;
      padding-top: 20px;
    }

    &__image {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }

    &__caption {
        display: inline-block;
        vertical-align: middle;
    }

    &__name {
        @include font("%T2Left", map-get($map: $palette, $key: black));
        display: block;
    }

    &__title {
        @include font("%T5", map-get($map: $palette, $key: black));
    }

}
