.backButton {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #f9f9f9;
  padding: 12px 0;
  z-index: 999;
  border-top: 1px solid #b2b2b2;
  height: 45px;
  display: none;
  transition: bottom 250ms ease;

  &--show {
    display: block;
  }

  &--unpinned {
    bottom: -45px;
  }

  &__button {
    display: block;
    width: 12px;
    height: 22px;
    margin: 0 60px 0 0;
    float: left;

    &:focus {
      outline: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &--forward {
      float: right;
      margin-right: 0px;
    }

  }

}
