.boxFill {
  margin: 0;
  width: 9.8rem;
  height: 17.9rem;
  position: relative;
  float: left;

  @include respond(lg) {
    width: 15rem;
    height: 27.4rem;
  }

  $block: &;

  &:before,
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 1.4rem;
    left: 0;
    width: 4.9rem;
    height: 12.2rem;
    border: 1px solid #fff;
    transform: skew(0deg, -30deg);
    z-index: 1;

    @include respond(lg) {
      top: 2.2rem;
      width: 7.5rem;
      height: 18.7rem;
    }

  }

  &:after {
    left: auto;
    right: 0;
    width: 5rem;
    transform: skew(0deg, 30deg);

    @include respond(lg) {
      width: 7.6rem;
    }

  }

  &__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12.9rem;
    height: 5.6rem;
    background-image: url('__prefix__/discover-animatedpages/resources/img/boxFillShadow.png');
    background-image: none, url('__prefix__/discover-animatedpages/resources/img/boxFillShadow.svg');
    background-size: 100% auto;
    background-position: 0 0;

    @include respond(lg) {
      height: 8.9rem;
      width: 20.5rem;
    }

  }

  &__front {

    &:before,
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 4.2rem;
      left: 0;
      width: 4.9rem;
      height: 12.2rem;
      border: 1px solid #fff;
      transform: skew(0deg, 30deg);
      z-index: 3;

      @include respond(lg) {
        top: 6.5rem;
        width: 7.5rem;
        height: 18.7rem;
      }

    }

    &:after {
      left: auto;
      right: 0;
      width: 5rem;
      transform: skew(0deg, -30deg);

      @include respond(lg) {
        width: 7.6rem;
      }

    }

  }

  &__fill {
    position: absolute;
    bottom: 0;
    left: .1rem;
    width: 9.6rem;
    height: 32.4%;
    z-index: 2;
    transition: height 1200ms ease;

    @include respond(lg) {
      width: 14.8rem;
    }

    &:before,
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      bottom: 1.5rem;
      top: 4.3rem;
      left: 0;
      width: 4.9rem;
      height: auto;
      transform: skew(0deg, 30deg);
      z-index: 3;
      background: #f4cc01;

      @include respond(lg) {
        width: 7.5rem;
        bottom: 2.2rem;
        top: 6.5rem;
      }

    }

    &:after {
      left: auto;
      right: 0;
      width: 5rem;
      transform: skew(0deg, -30deg);
      background: #e5bf02;

      @include respond(lg) {
        width: 7.6rem;
      }

    }

  }

  &__fillTop {
    display: block;
    position: absolute;
    top: -0.6rem;
    left: 50%;
    margin-left: -3.5rem;
    width: 7rem;
    height: 7rem;
    background: #ffd100;
    z-index: -1;
    transform-style: preserve-3d;
    transform: rotateX(55deg) rotateZ(45deg);

    @include respond(lg) {
      top: -0.8rem;
      width: 10.4rem;
      height: 10.4rem;
      margin-left: -5.2rem;
    }

  }

  &--dark {

    &:before,
    &:after,
    #{$block}__front:before,
    #{$block}__front:after {
      border-color: #9d9d9d;
    }

  }

  &--show {

    #{$block}__fill {
      transition: height 4000ms ease-out;
    }

     #{$block}__fillstat2 {
      height: ((calc((100 - 32.4) / 100) * 50) + 32.4%);
      transition: height 3500ms ease-out;
    }

    #{$block}__fillstat3 {
      height: ((calc((100 - 32.4) / 100) * 35) + 32.4%);
      transition: height 2700ms ease-out;
    }

    #{$block}__fillstat4 {
      height: ((calc((100 - 32.4) / 100) * 47) + 32.4%);
      transition: height 4000ms ease-out;
    }

    #{$block}__fillstat5 {
      height: ((calc((100 - 32.4) / 100) * 35) + 32.4%);
      transition: height 4200ms ease-out;
    }

    #{$block}__fillstat6 {
      height: ((calc((100 - 32.4) / 100) * 25) + 32.4%);
      transition: height 2800ms ease-out;
    }

    #{$block}__fillstat7 {
      height: ((calc((100 - 32.4) / 100) * 66) + 32.4%);
      transition: height 4000ms ease-out;
    }

    #{$block}__fillstat8 {
      height: ((calc((100 - 32.4) / 100) * 40) + 32.4%);
      transition: height 2700ms ease-out;
    }

    #{$block}__fillstat9 {
      height: ((calc((100 - 32.4) / 100) * 30) + 32.4%);
      transition: height 2700ms ease-out;
    }

    #{$block}__fillstat10 {
      height: ((calc((100 - 32.4) / 100) * 50) + 32.4%);
      transition: height 4300ms ease-out;
    }

    #{$block}__fillstat11 {
      height: ((calc((100 - 32.4) / 100) * 75) + 32.4%);
      transition: height 4300ms ease-out;
    }

    #{$block}__fillstat12 {
      height: ((calc((100 - 32.4) / 100) * 63) + 32.4%);
      transition: height 3000ms ease-out;
    }

    #{$block}__fillstat13 {
      height: ((calc((100 - 32.4) / 100) * 47) + 32.4%);
      transition: height 3500ms ease-out;
    }

    @for $i from 0 through 100 {
      #{$block}__fill--p-#{$i} {
        height: calc((((100% - 32.4%) / 100) * #{$i}) + 32.4%);
        transition: height 4000ms ease-out;
      }
    }
  }
}
