.cmp-breadcrumb {
  display: block;
  padding: 1.8rem 0 0;
  max-width: 120rem;
  margin: auto;

  @include respond(xl) {
    padding: 3rem 0 0;
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2rem;
    color: map-get($palette, dhl-black);

    &:not(:last-child):after {
      content: '>';
      color: #707070;
    }

    &:last-child {
      color: #707070;
    }

    &-link {
      color: #d40511;

      &:hover {
        color: #eb131e;
        text-decoration: underline;
      }

      span {
        text-decoration: none;
      }
    }
  }
}

.page-body.article-counter {
  .cmp-breadcrumb {
    display: block;

    .cmp-breadcrumb__item {
      &:not(:nth-of-type(-n+2)):not(:nth-last-of-type(1)) {
        display: none;
      }
    }
  }
}
