.cmp-breadcrumb {
  display: block;
  padding: 18px 35px 0;
  max-width: 1200px;
  margin: auto;

  @include respond(xl) {
    padding: 30px 0 0;
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    display: inline-block;
    font-family: "Delivery", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: map-get($palette, dhl-black);

    &:not(:last-child):after {
      content: '>';
      color: #707070;
    }

    &:last-child {
      color: #707070;
    }

    &-link {
      color: unset;

      span {
        text-decoration: underline;
      }
    }
  }
}

.page-body.article-counter {
  .cmp-breadcrumb {
    display: none;

    @include respond(xl) {
      display: block;
    }

    .cmp-breadcrumb__item {
      &:not(:nth-of-type(-n+2)):not(:nth-last-of-type(1)) {
        display: none;
      }
    }
  }
}

.page-body.category {
  .cmp-breadcrumb {
    @include respond(md) {
      background: #F6F6F6 0% 0% no-repeat padding-box;
    }

    @include respond(xl) {
      max-width: 1640px;
      padding: 30px 35px 0;

      &__list {
        max-width: 1200px;
        margin: auto;
      }
    }
  }
}