.cmp-breadcrumb {
  display: none;

  @include respond(xl) {
    display: block;
    max-width: 1080px;
    margin: 0 auto;
    padding: 25px 0 0;

    .cmp-breadcrumb__item {
      display: inline-block;
      font-family: "Delivery", sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: map-get($palette, dhl-black);

      &:not(:last-child):after {
        content: '>';
        color: #707070;
      }

      &:last-child {
        color: #707070;
      }

      &-link {
        color: unset;

        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.page-body.article-counter .cmp-breadcrumb__item {
  &:not(:nth-of-type(-n+2)):not(:nth-last-of-type(1)) {
    display: none;
  }
}