.carouselRow {
  background-image: linear-gradient(to top, #49bfe0, #55dde0);
  padding: 1.9rem 0 3rem;

  @include respond(md) {
    padding: 4.1rem 0 3.8rem;
  }

  @include respond(xl) {
    padding: 9rem 0 15rem;
  }

  $block: &;

  &__title {
    font-size: 2.2rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 1rem;

    @include respond(md) {
      font-size: 3rem;
    }

    @include respond(xl) {
      font-size: 4rem;
    }
  }

  &__copy {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    margin: 0;
    a {
      color: #fff;
      text-decoration: underline;
    }

    @include respond(xl) {
      margin: 0 0 2rem;
    }

  }

  &__itemTile {
    width: 19rem;
    height: 32rem;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 3.8rem 1.5rem 4.4rem;
    text-align: center;

    @include respond(md) {
      width: 22.6rem;
      height: 37.2rem;
    }

    @include respond(xl) {
      width: 26.4rem;
      height: 44.5rem;
      padding: 4.4rem 3rem;
    }

    &--medical {
      height: 29.5rem;

      @include respond(md) {
        height: 34.2rem;
      }

      @include respond(xl) {
        height: 41rem;
      }
    }

  }

  &--medical {
    background: #1d2c33;
  }

  &__itemImage {
    display: block;
    height: 21.1rem;
    margin: 0 0 .7rem 3.7rem;

    @include respond(md) {
      height: 24rem;
      margin: 0 0 .7rem 4.8rem;
    }

    @include respond(xl) {
      height: 28.8rem;
      margin: 0 0 .7rem 4.1rem;
    }

    &--watch,
    &--pinkWatch {
      height: 15rem;
      margin: 0 ;

      @include respond(md) {
        height: 18.8rem;
      }

      @include respond(xl) {
        height: 20rem;
      }
    }

    &--pinkWatch {
      margin: 0 auto;
    }

    &--watchstrap {
      height: 13rem;
      margin: 0 ;

      @include respond(md) {
        height: 15.5rem;
      }

      @include respond(xl) {
        height: 16.5rem;
        margin-top: 2rem;
      }
    }
  }

  &__itemTitle {
    font-size: 1.7rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    color: #000000;
    margin: 0;

    @include respond(md) {
      font-size: 2.1rem;
    }

    @include respond(xl) {
      font-size: 2.4rem;
    }

    &--medical {
      bottom: 5rem;
      left: 0;
      right: 0;
      position: absolute;

      @include respond(md) {
        bottom: 6.5rem;
      }
    }

    &--medicalAlt {
      left: 2.5rem;
      right: 2.5rem;
      bottom: 5rem;
      position: absolute;
    }

  }

  &__carouselContainer {
    width: 100%;
    height: 32rem;
    box-sizing: content-box;
    padding: 3.4rem 0;
    position: relative;

    @include respond(md) {
      height: 37.2rem;
    }

    @include respond(xl) {
      height: 44.5rem;
      padding: 0;
    }
  }

  &__carousel {
    width: 100%;
    height: 32rem;
    position: relative;
    clear: both;

    @include respond(md) {
      height: 37.2rem;
      margin: 0 auto;
    }

    @include respond(xl) {
      height: 44.5rem;
    }

    > div {
      visibility:hidden;
      cursor:pointer;
    }
  }

  &__rightArrow,
  &__leftArrow {
    display: block;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 1.5rem solid #60e1e4;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1.5rem;
    margin-left: 13rem;
    z-index: 4;

    @include respond(md) {
      border-top: 1.9rem solid transparent;
      border-bottom: 1.9rem solid transparent;
      border-left: 1.9rem solid map-get($palette, true-white);
      margin-left: 21.9rem;
      margin-top: -1.9rem;
    }

    @include respond(lg) {
      border-top: 2.2rem solid transparent;
      border-bottom: 2.2rem solid transparent;
      border-left: 2.2rem solid map-get($palette, true-white);
      margin-top: -2.2rem;
    }
  }


  &__rightArrow {
    &--medical {
      border-left: 1.5rem solid #1d2c33;

      @include respond(md) {
        border-left: 1.9rem solid map-get($palette, true-white);
      }
    }
  }

  &__leftArrow {
    border-left: none;
    border-right: 1.5rem solid #60e1e4;
    margin-left: -14.5rem;

    @include respond(md) {
      border-left: none;
      border-right: 1.9rem solid map-get($palette, true-white);
      margin-left: -24.1rem;
    }

    @include respond(lg) {
      border-left: none;
      border-right: 2.2rem solid map-get($palette, true-white);
    }

    &--medical {
      border-right: 1.5rem solid #1d2c33;

      @include respond(md) {
        border-right: 1.9rem solid map-get($palette, true-white);
      }
    }
  }
}

.carouselRow--medical {
  .carouselRow__copy {
    margin: 0 0 2rem 0;
  }
}
