.categoryHero {
  position: relative;
  padding-bottom: 0px;

  $block: &;

  @include respond(lg) {
    background:  map-get($map: $palette, $key: white-two);
    padding-bottom: 30px;
  }

  &__banner {
      background:  map-get($map: $palette, $key: white-two);

      @include respond(lg) {
        padding: 70px 0 0 0;
      }
  }

  &__title {
      @include font("%H2", map-get($palette, black));
      text-transform: uppercase;
      text-align: center;
      padding: 16px 0 13px 0;
      margin: 0;

      @include respond(lg) {
        text-align: left;
        padding: 0;
      }
  }

  &__subTitle {
      @include font("%H4", map-get($palette, black));
      font-weight: 200;
      font-stretch: condensed;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 15px;

      @include respond(lg) {
        text-align: left;
        margin-bottom: 28px;
        padding-bottom: 15px;
        border-bottom: 1px solid map-get($map: $palette, $key: border-grey);
      }
  }

  &__link {
    @include clearfix();
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__image {
      width: 100%;
      height: 160px;
      background-size: cover;

      @include respond(md) {
          height: 430px;
      }

      @include respond(lg) {
        width: 65%;
        display: inline-block;
        vertical-align: middle;
        height: 445px;
      }
  }

  &__text {
      margin-top: 8px;
      text-align: center;

      @include respond(lg) {
        width: 35%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding: 70px 30px 0 30px;
        background: map-get($map: $palette, $key: true-white);
        height: 445px;
        margin: 0 0 0 -5px;
      }
  }

  &__metadata {
      @include font("%T4", map-get($palette, brownish-grey));
      text-transform: uppercase;
      .readTime {
          @extend %readTime;
          font-size: 100%;
      }

      @include respond(md) {
          margin: 20px 0;
      }
  }

  &__articleTitle {
      @include font("%H1", map-get($palette, black));
      text-transform: uppercase;
      margin: 3px 0 20px;

      @include respond(md) {
          padding: 0 100px;
      }

      @include respond(lg) {
        padding: 0;
        font-size: 32px;
        line-height: normal;
        margin: 20px 0;
      }
  }

  &__articleIntro {
    @include font("%T5", map-get($palette, black));
  }

  .hero__cta--red {
      margin: 10px 0 30px 0;
  }

  .carousel {
      padding: 15px 15px 5px;

      @include respond(md) {
          padding: 0;
      }

      @include respond(lg) {
        width: 100%;
      }
  }

  .carousel-item {
    @include respond(lg) {
      /* padding: 0 15px; */
    }
  }

  .carousel-indicators {
      position: static;

      @include respond(lg) {
        margin: 30px 0 0 0;
      }

      li {
          width: 10px;
          height: 10px;
          background-color: map-get($map: $palette, $key: border-grey);
          border-radius: 50%;
          margin: 0 16px 0 0;

          &:last-child {
              margin: 0;
          }

          &.active {
              background-color: map-get($palette, sunflower-yellow);
          }
      }
    }

    @include carousel-controls();
    .carousel-control-next,
    .carousel-control-prev {
      @include respond(lg) {
        display: flex !important;
        height: calc(100% - 70px);
      }
    }
}
