.categoryList {
  @include clearfix();
  margin-top: 70px;

	&__title {
    a {
      @include font($style: "%T1", $colour: map-get($map: $palette, $key: black)) ;
      transition: color 150ms ease;
      text-transform: uppercase;

      &:hover {
        color: map-get($map: $palette, $key: scarlet);
        text-decoration: none;
      }
    }
  }

  &__list {
    margin-top: 25px;
  }

  &__list-item {
    margin-top: 20px;

    a {
      @include font($style: "%T3", $colour: map-get($palette, black));
      transition: color 150ms ease;
      font-weight: 200;
      font-stretch: condensed;

      .readTime {
        @extend %readTime;
      }

      &:hover {
        color: map-get($map: $palette, $key: scarlet);
        text-decoration: none;

        .readTime {
          color: map-get($map: $palette, $key: scarlet);
        }
      }
    }

  }
}
