.categoryHero {
  position: relative;
  padding-bottom: 0;

  $block: &;

  @include respond(lg) {
    background:  map-get($map: $palette, $key: white-two);
    padding-bottom: 3rem;
  }

  &__banner {
      background:  map-get($map: $palette, $key: white-two);

      @include respond(lg) {
        padding: 7rem 0 0 0;
      }
  }

  &__title {
      text-transform: uppercase;
      text-align: center;
      padding: 1.6rem 0 1.3rem 0;
      margin: 0;

      @include respond(lg) {
        text-align: left;
        padding: 0;
      }
  }

  &__subTitle {
      font-weight: 200;
      font-stretch: condensed;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.5rem;

      @include respond(lg) {
        text-align: left;
        margin-bottom: 2.8rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid map-get($map: $palette, $key: border-grey);
      }
  }

  &__link {
    @include clearfix();
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__image {
      width: 100%;
      height: 16rem;
      background-size: cover;

      @include respond(md) {
          height: 43rem;
      }

      @include respond(lg) {
        width: 65%;
        display: inline-block;
        vertical-align: middle;
        height: 44.5rem;
      }
  }

  &__text {
      margin-top: .8rem;
      text-align: center;

      @include respond(lg) {
        width: 35%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding: 7rem 3rem 0 3rem;
        background: map-get($map: $palette, $key: true-white);
        height: 44.5rem;
        margin: 0 0 0 -0.5rem;
      }
  }

  &__metadata {
      text-transform: uppercase;
      .readTime {

          font-size: 100%;
      }

      @include respond(md) {
          margin: 2rem 0;
      }
  }

  &__articleTitle {
      text-transform: uppercase;
      margin: 0.3rem 0 2rem;

      @include respond(md) {
          padding: 0 10rem;
      }

      @include respond(lg) {
        padding: 0;
        font-size: 3.2rem;
        line-height: normal;
        margin: 2rem 0;
      }
  }

  .hero__cta--red {
      margin: 1rem 0 3rem 0;
  }

  .carousel {
      padding: 1.5rem 1.5rem .5rem;

      @include respond(md) {
          padding: 0;
      }

      @include respond(lg) {
        width: 100%;
      }
  }

  .carousel-item {
    @include respond(lg) {
      /* padding: 0 1.5rem; */
    }
  }

  .carousel-indicators {
      position: static;

      @include respond(lg) {
        margin: 3rem 0 0 0;
      }

      li {
          width: 1rem;
          height: 1rem;
          background-color: map-get($map: $palette, $key: border-grey);
          border-radius: 50%;
          margin: 0 1.6rem 0 0;

          &:last-child {
              margin: 0;
          }

          &.active {
              background-color: map-get($palette, sunflower-yellow);
          }
      }
    }

    @include carousel-controls();
    .carousel-control-next,
    .carousel-control-prev {
      @include respond(lg) {
        display: flex !important;
        height: calc(100% - 7rem);
      }
    }
}
