.callout-box {
  margin-top: 30px;
  @include respond(xl) {
    margin-top: 50px;
  }
}

.cmp-callout-box {
  overflow: hidden;
  &_large-text {
    font-size: 20px;
    line-height: 25px;
    @include respond(md) {
      font-size: 25px;
      line-height: 30px;
    }
    @include respond(xl) {
      font-size: 28px;
      line-height: 35px;
    }
    p, li {
      font-size: 20px;
      line-height: 25px;
      @include respond(md) {
        font-size: 25px;
        line-height: 30px;
      }
      @include respond(xl) {
        font-size: 28px;
        line-height: 35px;
      }
    }
  }

  &_medium-text {
    font-size: 18px;
    line-height: 22px;

    @include respond(md) {
      font-size: 20px;
      line-height: 25px;
    }

    @include respond(xl) {
      font-size: 20px;
      line-height: 25px;
    }
     p, li {
      font-size: 18px;
      line-height: 22px;

      @include respond(md) {
        font-size: 20px;
        line-height: 25px;
      }

      @include respond(xl) {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }

  .callout-box-body {
    z-index: 1;
    position: relative;
    font-weight: bold;
    color: black;

    p, li {
     font-weight: bold;
    }

    &__text {
      position: relative;
    }

    &_rounded {
      margin: 10px;
      padding: 45px 40px;
      @include respond(md) {
        margin: 13px;
        padding: 50px 60px;
      }

      .callout-border {
        position: absolute;
        border-radius: 90px;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 4px solid;
        @include respond(md) {
          border-radius: 100px;
          border-width: 5px;
        }
      }

      .background {
        background-color: #FFCC00;
        z-index: -1;
        position: absolute;
        border-radius: 90px;
        width: calc(100% - 7px);
        height: calc(100% - 4px);
        right: -5px;
        top: 2px;
        @include respond(md) {
          border-radius: 100px;
          right: -10px;
        }
      }

      .top-right-border {
        width: 50%;
        height: calc(50% + 10px);
        max-height: 100px;
        position: absolute;
        right: -10px;
        top: -10px;
        border: 4px dashed;
        border-radius: 0 100px 0 0;
        border-bottom-right-radius: 20px 5px;
        border-bottom-color: transparent !important;
        border-left: 1px solid transparent !important;
        @include respond(md) {
          border-width: 5px;
          height: calc(50% + 13px);
          border-radius: 0 113px 0 0;
          border-bottom-right-radius: 20px 6px;
          right: -13px;
          top: -13px;
        }
      }

      .bottom-left-border {
        width: 25%;
        min-width: 180px;
        height: calc(50% + 10px);
        max-height: 100px;
        position: absolute;
        left: -10px;
        bottom: -10px;
        border: 4px solid;
        border-radius: 0 0 0 100px;
        border-top: 1px solid transparent !important;
        border-right: 1px solid transparent !important;
        @include respond(md) {
          border-width: 5px;
          left: -13px;
          bottom: -13px;
          border-radius: 0 0 0 113px;
          height: calc(50% + 13px);
          max-height: 113px;
        }
      }

      &_lightGray {
        .background {
          background-color: #F5F5F5;
        }
      }

      &_darkGray {
        .background {
          background-color: #CCCCCC;
        }
      }
    }

    &_spiked {
      margin: 10px 16px 10px 10px;
      padding: 30px 45px 50px 35px;

      @include respond(md) {
        margin: 10px 26px 20px 10px;
        padding: 60px 100px 60px 70px;
      }

      @include respond(xl) {
        padding: 60px 130px 60px 100px;
      }

      .top-left-line {
        position: absolute;
        width: 10%;
        border-top: 5px solid;
        top: 0;
        left: 1px;
        @include respond(md) {
          border-width: 7px;
        }
      }

      .left-curve {
        width: 100%;
        height: 100%;
        border: 5px solid;
        border-top: 1px solid transparent !important;
        border-right: 1px solid transparent !important;
        position: absolute;
        border-radius: 0 0 0 90px;
        top: 0;
        left: 0;

        @include respond(md) {
          border-width: 7px;
          border-radius: 0 0 0 180px;
        }
      }

      .right-curve {
        width: calc(90% - 100px);
        height: calc(100% - 30px);
        border: 5px solid;
        position: absolute;
        border-top-right-radius: 90px;
        border-bottom: 1px solid transparent !important;
        border-left: 1px solid transparent !important;
        top: 0;
        right: 10px;
        @include respond(md) {
          right: 30px;
          border-width: 7px;
          border-top-right-radius: 180px;
        }
      }

      .background {
        position: absolute;
        z-index: -1;
        left: -10px;
        top: -10px;
        background-color: #FFCC00;
        width: calc(100% - 10px);
        height: calc(100% - 5px);
        border-radius: 0 90px 0 90px;
        right: 10px;
        @include respond(md) {
          width: calc(100% - 32px);
          right: 30px;
          border-radius: 0 180px 0 180px;
        }
      }

      .right-bottom-circle {
        bottom: -7px;
        right: -15px;
        position: absolute;
        border: 5px solid;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        @include respond(md) {
          border-width: 7px;
          width: 30px;
          height: 30px;
          bottom: -12px;
          right: -25px;
        }
      }

      .bottom-short-line {
        width: 30%;
        border-bottom: 5px solid;
        position: absolute;
        left: 35%;
        bottom: -10px;
        @include respond(md) {
          border-width: 7px;
          bottom: -20px;
        }
      }

      &_gray {
        .background {
          background-color: #CCCCCC;
          &::before {
            background-color: #CCCCCC;
          }
          &::after {
            background-color: #CCCCCC;
          }
        }

        .top-left-line {
          border-color:#FFCC00;
        }

        .left-curve {
          border-color:#FFCC00;
        }

        .right-curve {
          border-color:#FFCC00;
        }

        .top-right-line {
          border-color:#FFCC00;
        }

        .bottom-line {
          border-color:#FFCC00;
        }

        .bottom-short-line {
          border-color:#FFCC00;
        }

        .right-bottom-circle {
          border-color:#FFCC00;
        }
      }

      &_black {
        color: white;
        .background {
          background-color: #001C20;
        }

        .top-left-line {
          border-color:#FFCC00;
        }

        .left-curve {
          border-color:#FFCC00;
        }

        .right-curve {
          border-color:#FFCC00;
        }

        .top-right-line {
          border-color:#FFCC00;
        }

        .bottom-line {
          border-color:#FFCC00;
        }
        .bottom-short-line {
          border-color:#FFCC00;
        }

        .right-bottom-circle {
          border-color:#FFCC00;
        }
      }
    }
  }
}
