.column-container-component {
    margin: 0 21px;
    @include respond(md) {
      margin: 0 35px;
    }

    &--with-top-margin {
        margin-top: 3rem;
        @include respond(xl) {
            margin-top: 5rem;
        }
    }

    .grid {
        margin: 0 auto;
        &--medium{
            max-width: 120rem;
        }

        &--large{
            max-width: 138rem;
        }
        &--two-columns {
            @include respond(md) {
                display: grid;
                gap: 2rem;
                grid-template-columns: 1fr 1fr;
            }
        }
        &__container--ignore-first-margin :first-child {
            margin-top: 0;
        }
    }
}
