.callout-box-component {
  margin: 30px 0;
  .callout-box {
    z-index: 1;
    position: relative;
    font-weight: bold;
    color: black;

    &__rounded {
      margin: 13px;
      padding: 50px 60px;
      font-size: 20px;
      line-height: 25px;

      .callout-border {
        position: absolute;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 6px solid;
      }

      .background {
        background-color: #FFCC00;
        z-index: -1;
        position: absolute;
        border-radius: 100px;
        width: calc(100% - 7px);
        height: calc(100% - 4px);
        right: -10px;
        top: 2px;
      }

      .top-right-border {
        width: 50%;
        height: calc(50% + 13px);
        max-height: 113px;
        position: absolute;
        right: -13px;
        top: -13px;
        border: 6px dashed;
        border-radius: 0 113px 0 0;
        border-bottom-right-radius: 20px 7px;
        border-bottom-color: transparent;
        border-left: none;
      }

      .bottom-left-border {
        width: 25%;
        min-width: 180px;
        height: calc(50% + 13px);
        max-height: 113px;
        position: absolute;
        left: -13px;
        bottom: -13px;
        border: 6px solid;
        border-radius: 0 0 0 113px;
        border-top: none;
        border-right: none;
      }

      &__lightGray {
        .background {
          background-color: #F5F5F5;
        }
      }

      &__darkGray {
        .background {
          background-color: #CCCCCC;
        }
      }
    }

    &__spiked {
      margin: 10px 26px 20px 10px;
      padding: 60px 130px 60px 100px;
      font-size: 28px;
      line-height: 35px;

      .top-left-line {
        position: absolute;
        width: 10%;
        border-top: 7px solid;
        top: 0;
        left: 0;
      }

      .left-curve {
        width: 180px;
        height: 100%;
        border: 7px solid;
        border-top: none;
        border-right: none;
        position: absolute;
        border-radius: 0 0 0 95%;
        top: 0;
        left: 0;
      }

      .right-curve {
        width: 180px;
        height: calc(100% - 30px);
        border: 7px solid;
        position: absolute;
        border-top-right-radius: 100%;
        border-bottom: none;
        border-left: none;
        top: 0;
        right: 30px;
      }

      .top-right-line {
        border-top: 7px solid;
        position: absolute;
        width: calc(100% - 210px - 180px);
        right: 210px;
        top: 0;
      }

      .bottom-line {
        top: 0;
        height: 100%;
        position: absolute;
        border-bottom: 7px solid;
        width: calc(100% - 180px);
        left: 180px;
      }

      .background {
        position: absolute;
        z-index: -1;
        left: 170px;
        top: -10px;
        background-color: #FFCC00;
        width: calc(100% - 180px - 180px - 30px);
        height: calc(100% - 5px);

        &::before {
          content: "";
          position: absolute;
          border-radius: 0 0 0 95%;
          width: 180px;
          height: 100%;
          left: -180px;
          top: 0;
          background-color: #FFCC00;
        }

        &::after {
          content: "";
          position: absolute;
          border-radius: 0 95% 0 0;
          width: 180px;
          height: 100%;
          right: -180px;
          top: 0;
          background-color: #FFCC00;
        }
      }

      .right-bottom-circle {
        bottom: -12px;
        right: -25px;
        position: absolute;
        border: 7px solid;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .bottom-short-line {
        width: 30%;
        border-bottom: 7px solid;
        position: absolute;
        left: 35%;
        bottom: -20px
      }

      &__gray {
        .background {
          background-color: #CCCCCC;
          &::before {
            background-color: #CCCCCC;
          }
          &::after {
            background-color: #CCCCCC;
          }
        }

        .top-left-line {
          border-color:#FFCC00;
        }
  
        .left-curve {
          border-color:#FFCC00;
        }
  
        .right-curve {
          border-color:#FFCC00;
        }
  
        .top-right-line {
          border-color:#FFCC00;
        } 
  
        .bottom-line {
          border-color:#FFCC00;
        }

        .bottom-short-line {
          border-color:#FFCC00;
        }

        .right-bottom-circle {
          border-color:#FFCC00;
        }
      }

      &__black {
        color: white;
        .background {
          background-color: #001C20;
          &::before {
            background-color: #001C20;
          }
          &::after {
            background-color: #001C20;
          }
        }

        .top-left-line {
          border-color:#FFCC00;
        }
  
        .left-curve {
          border-color:#FFCC00;
        }
  
        .right-curve {
          border-color:#FFCC00;
        }
  
        .top-right-line {
          border-color:#FFCC00;
        } 
  
        .bottom-line {
          border-color:#FFCC00;
        }
        .bottom-short-line {
          border-color:#FFCC00;
        }
        
        .right-bottom-circle {
          border-color:#FFCC00;
        }
      }
    }
  }
}
