.callout-box {
  margin-top: 3rem;
  @include respond(xl) {
    margin-top: 5rem;
  }
}

.cmp-callout-box {
  overflow: hidden;
  &_large-text {
    font-size: 2rem;
    line-height: 2.5rem;
    @include respond(md) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    @include respond(xl) {
      font-size: 2.8rem;
      line-height: 3.5rem;
    }
    p, li {
      font-size: 2rem;
      line-height: 2.5rem;
      @include respond(md) {
        font-size: 2.5rem;
        line-height: 3rem;
      }
      @include respond(xl) {
        font-size: 2.8rem;
        line-height: 3.5rem;
      }
    }
  }

  &_medium-text {
    font-size: 1.8rem;
    line-height: 2.2rem;

    @include respond(md) {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    @include respond(xl) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
     p, li {
      font-size: 1.8rem;
      line-height: 2.2rem;

      @include respond(md) {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      @include respond(xl) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  .callout-box-body {
    z-index: 1;
    position: relative;
    font-weight: bold;
    color: black;

    p, li {
     font-weight: bold;
    }

    &__text {
      position: relative;
      a {
        @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
      }
    }

    &_rounded {
      margin: 1rem;
      padding: 4.5rem min(4rem, 40px);
      @include respond(md) {
        margin: 1.3rem;
        padding: 5rem 6rem;
      }

      .callout-border {
        position: absolute;
        border-radius: 9rem;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 4px solid;
        @include respond(md) {
          border-radius: 10rem;
          border-width: .5rem;
        }
      }

      .background {
        background-color: #FFCC00;
        z-index: -1;
        position: absolute;
        border-radius: 9rem;
        width: calc(100% - .7rem);
        height: calc(100% - .4rem);
        right: -0.5rem;
        top: .2rem;
        @include respond(md) {
          border-radius: 10rem;
          right: -1rem;
        }
      }

      .top-right-border {
        width: 50%;
        height: calc(50% + 1rem);
        max-height: 10rem;
        position: absolute;
        right: -1rem;
        top: -1rem;
        border: 4px dashed;
        border-radius: 0 10rem 0 0;
        border-bottom-right-radius: 2rem .5rem;
        border-bottom-color: transparent !important;
        border-left: 1px solid transparent !important;
        @include respond(md) {
          border-width: .5rem;
          height: calc(50% + 1.3rem);
          border-radius: 0 11.3rem 0 0;
          border-bottom-right-radius: 2rem .6rem;
          right: -1.3rem;
          top: -1.3rem;
        }
      }

      .bottom-left-border {
        width: 25%;
        min-width: 18rem;
        height: calc(50% + 1rem);
        max-height: 10rem;
        position: absolute;
        left: -1rem;
        bottom: -1rem;
        border: 4px solid;
        border-radius: 0 0 0 10rem;
        border-top: 1px solid transparent !important;
        border-right: 1px solid transparent !important;
        @include respond(md) {
          border-width: .5rem;
          left: -1.3rem;
          bottom: -1.3rem;
          border-radius: 0 0 0 11.3rem;
          height: calc(50% + 1.3rem);
          max-height: 11.3rem;
        }
      }

      &_lightGray {
        .background {
          background-color: #F5F5F5;
        }
      }

      &_darkGray {
        .background {
          background-color: #CCCCCC;
        }
      }
    }

    &_spiked {
      margin: 1rem 1.6rem 1rem 1rem;
      padding: 3rem min(4.5rem, 45px) 5rem min(3.5rem, 35px);

      @include respond(md) {
        margin: 1rem 2.6rem 2rem 1rem;
        padding: 6rem 10rem 6rem 7rem;
      }

      @include respond(xl) {
        padding: 6rem 13rem 6rem 10rem;
      }

      .top-left-line {
        position: absolute;
        width: 10%;
        border-top: .5rem solid;
        top: 0;
        left: .1rem;
        @include respond(md) {
          border-width: .7rem;
        }
      }

      .left-curve {
        width: 100%;
        height: 100%;
        border: .5rem solid;
        border-top: 1px solid transparent !important;
        border-right: 1px solid transparent !important;
        position: absolute;
        border-radius: 0 0 0 9rem;
        top: 0;
        left: 0;

        @include respond(md) {
          border-width: .7rem;
          border-radius: 0 0 0 18rem;
        }
      }

      .right-curve {
        width: calc(90% - 10rem);
        height: calc(100% - 3rem);
        border: .5rem solid;
        position: absolute;
        border-top-right-radius: 9rem;
        border-bottom: 1px solid transparent !important;
        border-left: 1px solid transparent !important;
        top: 0;
        right: 1rem;
        @include respond(md) {
          right: 3rem;
          border-width: .7rem;
          border-top-right-radius: 18rem;
        }
      }

      .background {
        position: absolute;
        z-index: -1;
        left: -1rem;
        top: -1rem;
        background-color: #FFCC00;
        width: calc(100% - 1rem);
        height: calc(100% - .5rem);
        border-radius: 0 9rem 0 9rem;
        right: 1rem;
        @include respond(md) {
          width: calc(100% - 3.2rem);
          right: 3rem;
          border-radius: 0 18rem 0 18rem;
        }
      }

      .right-bottom-circle {
        bottom: -7px;
        right: -1.5rem;
        position: absolute;
        border: .5rem solid;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        @include respond(md) {
          border-width: .7rem;
          width: 3rem;
          height: 3rem;
          bottom: -1.2rem;
          right: -2.5rem;
        }
      }

      .bottom-short-line {
        width: 30%;
        border-bottom: .5rem solid;
        position: absolute;
        left: 35%;
        bottom: -1rem;
        @include respond(md) {
          border-width: .7rem;
          bottom: -2rem;
        }
      }

      &_gray {
        .background {
          background-color: #CCCCCC;
          &::before {
            background-color: #CCCCCC;
          }
          &::after {
            background-color: #CCCCCC;
          }
        }

        .top-left-line {
          border-color:#FFCC00;
        }

        .left-curve {
          border-color:#FFCC00;
        }

        .right-curve {
          border-color:#FFCC00;
        }

        .top-right-line {
          border-color:#FFCC00;
        }

        .bottom-line {
          border-color:#FFCC00;
        }

        .bottom-short-line {
          border-color:#FFCC00;
        }

        .right-bottom-circle {
          border-color:#FFCC00;
        }
      }

      &_black {
        color: white;

        p, li {
         color: white;
        }
        .background {
          background-color: #001C20;
        }

        .top-left-line {
          border-color:#FFCC00;
        }

        .left-curve {
          border-color:#FFCC00;
        }

        .right-curve {
          border-color:#FFCC00;
        }

        .top-right-line {
          border-color:#FFCC00;
        }

        .bottom-line {
          border-color:#FFCC00;
        }
        .bottom-short-line {
          border-color:#FFCC00;
        }

        .right-bottom-circle {
          border-color:#FFCC00;
        }
      }
    }
  }
}
