.container {
  max-width: 164rem;
  margin: auto;
  padding: 0 21px;
  @include respond(md) {
    padding: 0 35px;
  }

  .cmp-container {
    max-width: 120rem;
    margin: auto;
  }
}

.bg-breadcrumb-wrapper-mobile-tablet {
  @include respond(md) {
    background: #F6F6F6 0% 0% no-repeat padding-box;
  }
}
