.cookie-banner {
  transition: opacity 150ms ease;
  background: map-get($map: $palette, $key: true-white);
  opacity: 0.85;
  padding: 10px 0 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &--display {
    opacity: 1;
    pointer-events: initial;
  }

  @include respond(md) {
  }

  @include respond(lg) {
    padding: 5px 0;
  }

  &__copy {
    @include font("%T4", map-get($palette, black));
    font-weight: 200;
    font-stretch: condensed;
    text-align: left;
    font-size: 13px;

    @include respond(lg) {
      margin: 0;
      padding-top: 15px;
      text-align: right;
    }

    a {
      @include hoverText($colour-normal: map-get($palette, scarlet),
      $colour-hover: map-get($palette, scarlet),
      $text-decoration-normal: underline,
      $text-decoration-hover: none);
    }
  }

  &__button {
    @include  button(map-get($palette, white-two), map-get($palette, scarlet), map-get($palette, dark-white), -1);
    border: 1px solid map-get($palette, dark-white);
    width: 100%;
    font-size: 13px;
    padding: 10px;

    @include respond(lg) {
      margin-bottom: 0;
    }
  }

  &__link {
    @include arrowLink('__prefix__/discover/resources/img/linkarrowyellow.svg');
    @include hoverText($colour-normal: map-get($palette, sunflower-yellow), $colour-hover: map-get($palette, sunflower-yellow));
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: block;

    padding-right: 20px;


    &:before {
      right: 35px;
    }
  }

  &__ctas {
    @include respond(lg) {
      vertical-align: middle;
      height: 100%;
    }
  }

}
