.cta-banner-gray {
  .cmp-cta-banner-gray {
    background-color: #E2E2E2;
    padding: 4rem min(4rem, 40px) 3rem;

    &__title {
      font-weight: bold;
      font-size: 3rem;
      line-height: normal;
      color: #323232;
      display: block;
      text-align: center;

      @include respond(md) {
        display: initial;
      }
    }

    &__description {
      margin: 1.8rem 0;
      font-size: 2.4rem;
      line-height: normal;
      color: #323232;
    }

    &__link-wrapper {
      text-align: center;
    }

    &__button {
      margin: auto;
      font-size: 2rem;
      line-height: 4rem;
      padding: 0 2rem;
      min-width: min(40rem, 100%);
    }
  }
}
