.cta-banner-gray {
  .cmp-cta-banner-gray {
    background-color: #E2E2E2;
    padding: 40px 40px 30px;

    &__title {
      font-weight: bold;
      font-size: 30px;
      line-height: normal;
      color: #323232;
      display: block;
      text-align: center;

      @include respond(md) {
        display: initial;
      }
    }

    &__description {
      margin: 18px 0;
      font-size: 24px;
      line-height: normal;
      color: #323232;
    }

    &__link-wrapper {
      text-align: center;
    }

    &__button {
      margin: auto;
      font-size: 20px;
      line-height: 40px;
      padding: 0 20px;
      min-width: min(400px, 100%);
    }
  }
}