.cta-banner {
  margin-top: 4rem;
  z-index: 1;
  position: relative;

  .cmp-cta-banner {
    @include remove-container-margins-mobile-only;

    min-height: 30rem;
    padding: 2rem;
    display: flex;

    border-radius: .6rem;
    color: #ffffff;
    font-size: 1.7rem;
    line-height: 2.4rem;

    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.5) 46%, rgba(19, 19, 19, 0.7) 100%);

    [dir="rtl"] & {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.5) 46%, rgba(19, 19, 19, 0.7) 100%);
    }

    @include respond(md) {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, #191919 50%, #191919 100%);
      opacity: 1;

      [dir="rtl"] & {
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 30%, #191919 50%, #191919 100%);
      }
    }

    @include respond(xl) {
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 30%, #191919 50%, #191919 100%);

      [dir="rtl"] & {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, #191919 50%, #191919 100%);
      }
    }

    @include respond(md) {
      margin-left: 0;
      margin-right: 0;
    }

    @include respond(xl) {
      padding: 6.5rem 18rem;
    }

    &__body {
      margin-top: auto;
      padding: 0 1.5rem;

      @include respond(md) {
        width: 50%;
        margin: auto 0 auto auto;

        [dir="rtl"] & {
          margin: auto auto auto 0;
        }
      }

      @include respond(xl) {
        width: 100%;
        margin: auto;
      }
    }

    &__top-title {
      line-height: 2.5rem;
      opacity: 0.7;
      font-size: 2rem;
      margin-bottom: 1.2rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 .5rem rgba(0, 0, 0, 0.8);

      @include respond(lg) {
        line-height: 4.2rem;
        opacity: 0.7;
        margin-bottom: unset;
        text-shadow: none;
      }
    }

    &__title {
      text-shadow: 0 0 2rem #131313, 0 0 2.5rem #131313;
      font-weight: bold;
      letter-spacing: 0;
      font-size: 1.6rem;
      line-height: 1.9rem;

      @include respond(md) {
        line-height: 2.4rem;
        font-size: 2rem;
      }

      @include respond(xl) {
        line-height: 3.6rem;
        font-size: 3rem;
      }
    }

    &__button {
      margin-top: 2rem;
      width: 100%;
      font-size: 1.5rem;

      @include respond(md) {
        font-size: 1.8rem;
      }

      @include respond(xl) {
        padding: 1rem 8.5rem;
        width: auto;
      }
    }

    &__image {
      border-radius: 0;

      @include respond(md) {
        border-radius: .6rem;
      }

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      [dir="rtl"] & {
        left: unset;
        right: 0;
      }

      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }

      @include respond(md) {
        width: 50%;
      }

      @include respond(xl) {
        right: 0;
        left: unset;

        [dir="rtl"] & {
          right: unset;
          left: 0;
        }
      }
    }
  }
}

.short-banners {
  .cmp-cta-banner {
    padding: 2rem;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.5) 46%, rgba(19, 19, 19, 0.7) 100%);

    [dir="rtl"] & {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.5) 46%, rgba(19, 19, 19, 0.7) 100%);
    }

    &__body {
      margin: auto 0 0 0;
      width: 100%;
    }

    &__title {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    &__button {
      padding: 1.5rem 0;
      width: 100%;
      line-height: 1.4rem;
      font-size: 1.5rem;
    }

    &__image {
      width: 100%;
      top: 0;
      left: 0;
      right: auto;
    }
  }
}
