.DHLdownload {
  border: 1px solid rgba(map-get($map: $palette, $key: border-grey), 0.2);
  padding: 25px 0;
  background: #ffcc00;
  background: linear-gradient(to bottom, #ffcc00 0%,#ffcc00 80%,#ffefb2 100%);
  margin: 20px 0;
  margin-left: calc(-1 * ((100vw - 100%)/ 2));
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;

  @include respond(md) {
    margin-left: auto;
    width: auto;
    margin: 30px 0;

    padding: 30px;

    .form-group {
      margin-bottom: 5px;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url('__prefix__/clientlib-site/resources/img/downloadicon.svg') no-repeat;
    background-size: contain;
    margin-bottom: 35px;

    @include respond(md) {
      display: block;
      width: 34px;
      height: 34px;
      margin-bottom: 19px;
    }
  }

  &__text {
    text-align: left;

    @include respond(md) {
      @include clearfix();
      text-align: left;
      float: left;
      display: inline-block;
      width: 66%;
    }
  }

  &__title {
    @include font("%H2");
    text-transform: uppercase;
    text-align: left;

    @include respond(md) {
      font-size: 25px;
    }
  }

  &__copy {
    @include font("%T4");
    text-align: left;
    margin: 20px 0;

    $block: &;

    &--small {
      @include font("%T5");
      font-weight: 200;
      font-stretch: condensed;

      a {
        @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
        color: map-get($palette, scarlet);
      }
    }
  }

  &__image {
    max-width: 190px;
    background-size: contain;
    display: block;
    margin: 35px auto;

    @include respond(md) {
      text-align: left;
      float: right;
      display: inline-block;
      max-width: 24%;
      margin-top: 0;
    }
  }

  &__ctas {
    @include clearfix();
    margin: 20px 0;

    & .download__copy {
      @include respond(md) {
        display: inline-block;
        width: 20px;
        text-align: left;
        margin: 0 20px;
      }
    }
  }

  &__cta--red {
    @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);

    background-image: none;
    border: none;
    padding: 10px 30px;
    width: 100%;
    display: block;
    outline: none !important;

    @include respond(md) {
      display: inline-block;
      width: 240px;
      white-space: nowrap;
    }
  }

  & .forms {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 0;

    &__group--text {
      &:nth-of-type(1) {
        border-top: 1px solid map-get($map: $palette, $key: border-grey) !important;

        &::before {
          background-color: map-get($map: $palette, $key: white-two);
        }
      }
    }

    &__row {
      margin-bottom: 0;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__copy {
      font-weight: bold !important;
    }

    &__copy--small {
      margin-top: 10px;
    }

    &__checkbox {
      font-weight: 800;
      font-stretch: condensed;

      label {
        font-weight: 800 !important;
        font-stretch: condensed !important;
      }
    }

    @include respond(md) {
      input[type=text],
      input[type=email],
      input[type=password],
      input[type=tel],
      input[type=number],
      input[type=search],
      textarea, {
        margin-bottom: 0;
      }
    }

    label.error {
      margin-top: 0 !important;
    }
  }

  &__hidden-form {
    display: none;
  }

  .row-socials {
    padding-bottom: 0;

    .forms__row {
      @include respond(lg) {
        max-width: 80%;
      }
    }
  }
}
