.download {
  margin: 2rem 0;

  @include respond(md) {
    margin: 3rem 0;
  }

  .DHLdownload {
    border: 1px solid rgba(map-get($map: $palette, $key: border-grey), 0.2);
    padding: 2.5rem 0;
    background: #ffcc00;
    background: linear-gradient(to bottom, #ffcc00 0%,#ffcc00 80%,#ffefb2 100%);
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: inherit;

    @include respond(md) {
      margin-left: auto;
      width: auto;
      padding: 3rem;

      .form-group {
        margin-bottom: .5rem;
      }
    }

    &__icon {
      width: 5rem;
      height: 5rem;
      display: inline-block;
      background: url('__prefix__/discover/resources/img/downloadicon.svg') no-repeat;
      background-size: contain;
      margin-bottom: 3.5rem;

      @include respond(md) {
        display: block;
        width: 3.4rem;
        height: 3.4rem;
        margin-bottom: 1.9rem;
      }
    }

    &__text {
      @include respond(md) {
        @include clearfix();
        float: left;
        display: inline-block;
        width: 66%;
      }
    }

    &__title {
      text-transform: uppercase;

      @include respond(md) {
        font-size: 2.5rem;
      }
    }

    &__copy {
      margin: 2rem 0;

      $block: &;

      &--small {
        font-weight: 200;
        font-stretch: condensed;

        a {
          @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
          color: map-get($palette, scarlet);
        }
      }
    }

    .DHLdownload__image {
      max-width: 19rem;
      background-size: contain;
      display: block;
      margin: 3.5rem auto;

      @include respond(md) {
        float: right;
        display: inline-block;
        max-width: 24%;
        margin-top: 0;
      }
    }

    &__ctas {
      @include clearfix();
      margin: 2rem 0;

      & .download__copy {
        @include respond(md) {
          display: inline-block;
          width: 2rem;
          margin: 0 2rem;
        }
      }
    }

    &__cta--red {
      @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);

      background-image: none;
      border: none;
      padding: 1rem 3rem;
      width: 100%;
      display: block;
      outline: none !important;

      @include respond(md) {
        display: inline-block;
        width: 24rem;
        white-space: nowrap;
      }
    }

    & .forms {
      margin-top: 0;
      padding-top: 3rem;
      padding-bottom: 0;

      &__group--text {
        &:nth-of-type(1) {
          border-top: 1px solid map-get($map: $palette, $key: border-grey) !important;

          &::before {
            background-color: map-get($map: $palette, $key: white-two);
          }
        }
      }

      &__row {
        margin-bottom: 0;
      }

      &__subtitle {
        font-size: 3rem;
      }

      &__copy {
        font-weight: bold !important;
      }

      &__copy--small {
        margin-top: 1rem;
      }

      &__checkbox {
        font-weight: 800;
        font-stretch: condensed;

        label {
          font-weight: 800 !important;
          font-stretch: condensed !important;
        }
      }

      @include respond(md) {
        input[type=text],
        input[type=email],
        input[type=password],
        input[type=tel],
        input[type=number],
        input[type=search],
        textarea, {
          margin-bottom: 0;
        }
      }

      label.error {
        margin-top: 0 !important;
      }
    }

    &__hidden-form {
      display: none;
    }

    .row-socials {
      padding-bottom: 0;

      .forms__row {
        @include respond(lg) {
          max-width: 80%;
        }
      }
    }
  }
}
