.ecom-form {
  transition: bottom 250ms ease;
  background: rgba(map-get($map: $palette, $key: black), 0.9);
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  max-height: 100%;
  overflow: scroll;

  @include respond(md) {
    overflow: initial;
    padding-top: 20px;
  }

  &__title,
  &__copy {
    @include respond(md) {
      padding-right: 30px;
      display: inline-block;
      text-align: left;
    }
  }

  &__title {
    @include font("%H2", map-get($palette, white));
    font-size: 25px;
  }

  &__copy {
    @include font("%T4", map-get($palette, white));
    margin: 15px 0;
  }

  .link-below {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid map-get($palette, white);

    &.no-border {
      border-top: 0;
      margin-top: 20px;
      padding-top: 0;
    }

    a {
      color: map-get($palette, white);
      font-weight: 400;

      &:after {
        content: ' ';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: transparent;
        background-image: none, url('__prefix__/discover/resources/img/externallinkiconwhite.svg');
        background-size: 14px 14px;
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-color 150ms ease;
        margin-left: 8px;
      }
    }
  }

  &__close {
    width: 15px;
    height: 15px;
    background: url('__prefix__/discover/resources/img/closeiconwhite.svg') no-repeat;
    background-size: contain;
    float: right;
    margin-top: 3px;

    @include respond(lg) {
      margin-top: 10px;
      position: absolute;
      right: -20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .forms {
    $block: &;

    margin-top: 0;

    @include respond(md) {
      padding-bottom: 0 !important;
    }

    .forms__checkbox {
      margin-bottom: 10px;

      label::before {
        background-color: transparentize(map-get($map: $palette, $key: black), 0.1);
      }
    }

    label,
    label a {
      color: map-get($palette, white) !important;
    }

    label.error {
      margin-top:5px;
    }

    input {
      margin-bottom: 10px;
      padding: 10px;
    }
  }

  $block: &;

  &--max {
    &.is-hidden {
      bottom: -500px;
    }
  }

  &--min {
    bottom: -300px;

    &.is-shown {
      bottom: 65px;

      @include respond(md) {
        bottom: 0px;
      }
    }


    #{$block}__title {
      @include hoverText($colour-normal: map-get($palette, white), $colour-hover: map-get($palette, white));
      font-size: 20px;
      display: block;
      text-align: center;

      @include respond(lg) {
        text-align: left;
        padding: 0;
        margin-bottom: 0;
      }

      @include respond(xl) {
        font-size: 25px;
      }
    }

    .forms {
      @include respond(md) {
        padding-bottom: 0 !important;
      }

      input,
      .forms__checkbox {
        margin-bottom: 0;
      }

      .forms__checkbox label {
        font-size: 12px;
      }

      .signup-elements {
        width: 100%;

        .forms__checkbox {
          margin-top: 5px !important;
        }
      }
    }
  }
}
