.editable-two-column-page{
  background-color: #F6F6F6;
  max-width: 164rem;
  margin: 0 auto;
  .breadcrumb {
    display: none;
    @include respond(xl) {
      display: initial;
    }
    padding: 0 3rem;
    .cmp-breadcrumb {
      max-width: 134rem;
    }
  }
  .footer-wrapper {
    margin-top: 10rem;
  }
  .disclaimer-text{
     padding-left: 3.5rem;
     padding-right: 3.5rem;
    p {
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin: 1.5rem 0 3rem;

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
  }
}
