.cmp-error-banner {
  min-height: 19rem;
  border: 2px solid #D40511;
  border-radius: .4rem;
  margin: 3.5rem;
  position: relative;
  padding: 2rem;
  @include respond(md) {
    margin: 10rem 3.5rem;
    margin-bottom: 50rem;
    padding: 3rem min(50rem, 50%) 3rem 5rem;
  }
  &__title{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    line-height: normal;
    color: #323232;
    @include respond(md) {
      text-align: left;
    }
  }
  &__description{
    font-size: 2.4rem;
    line-height: 3.3rem;
    letter-spacing: 0;
    color: #323232;
    text-align: center;
    @include respond(md) {
      text-align: left;
    }
  }
  &__image {
    max-height: 50rem;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    @include respond(md) {
      max-width: min(50rem, 50%);
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__button {
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    width: 100%;
    line-height: 1.4rem;
    font-size: 1.5rem;
    @include respond(md) {
      width: auto;
      padding: 2rem 5rem;
    }
  }
}
