.cmp-error-banner {
  min-height: 190px;
  border: 2px solid #D40511;
  border-radius: 4px;
  margin: 35px;
  position: relative;
  padding: 20px;
  @include respond(md) {
    margin: 100px 35px;
    margin-bottom: 500px;
    padding: 30px min(500px, 50%) 30px 50px;
  }
  &__title{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
    color: #323232;
    @include respond(md) {
      text-align: left;
    }
  }
  &__description{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0px;
    color: #323232;
    text-align: center;
    @include respond(md) {
      text-align: left;
    }
  }
  &__image {
    max-height: 500px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    @include respond(md) {
      max-width: min(500px, 50%);
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__button {
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    width: 100%;
    line-height: 14px;
    font-size: 15px;
    @include respond(md) {
      width: auto;
      padding: 20px 50px;
    }
  }
}
