.wysiwyg .figure,
.figure {

  $block: &;

  @extend  %imageComponent;
  border-bottom: none;
  border-top: 1px solid rgba(102,102,102,0.3);
  padding-top: 20px;
  margin-bottom: 20px;

  @include respond(lg) {

    &.left,
    &.right {
      float: left;
      display: table;
      margin-right: 15px;

      figcaption {
        display: table-caption;
        caption-side: bottom;
      }

      #{$block}__caption-text {
        margin-bottom: 0px;
      }
    }

    &.right {
      float: right;
      margin-left: 15px;
      margin-right: 0px;
    }

  }

  &__video,
  &__image {
    margin-bottom: 10px;
    max-width: 100%;

    @include respond(md) {
      margin-bottom: 20px;
    }
  }

	&__caption-title {
    @include font("%T5");
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__caption-text {
    @include font("%T5");
    margin-bottom: 20px;
  }

  &__video {
    iframe {
      height: 180px;
      width: 100%;

      @include respond(md) {
        height: 430px;
      }
    }
  }
}

div.figure {
  border-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
