.figure {

  $block: &;

  @extend  %imageComponent;
  border-bottom: none;
  margin-bottom: 2rem;

  @include respond(lg) {

    &.left,
    &.right {
      float: left;
      display: table;
      margin-right: 1.5rem;

      figcaption {
        display: table-caption;
        caption-side: bottom;
      }

      #{$block}__caption-text {
        margin-bottom: 0;
      }
    }

    &.right {
      float: right;
      margin-left: 1.5rem;
      margin-right: 0;
    }

  }

  &__video,
  &__image {
    margin-bottom: 1rem;
    max-width: 100%;

    @include respond(md) {
      margin-bottom: 2rem;
    }
  }

	&__caption-title {
    display: block;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__caption-text {
    margin-bottom: 2rem;
  }

  &__video {
    iframe {
      height: 18rem;
      width: 100%;

      @include respond(md) {
        height: 43rem;
      }
    }
  }
}

div.figure {
  border-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
