.figure-carousel {
  margin-left: calc(-1 * ((100vw - 100%)/ 2));
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  @include respond(lg) {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }

  .figure {
    &__caption {
      width:  66%;
      margin: 0 auto;
      @include clearfix();

      @include respond(lg) {
        width: 100%;
      }
    }

    &__image {
      background-size: cover;
      background-position: center;
      height: 180px;

      @include respond(md) {
        height: 430px;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    height: 50%;
    position: absolute;
    align-items: start;
    top: 195px;


    @include respond(md) {
      top: 455px;
    }

    @include respond(lg) {
      height: 430px;
      top: 0;
      align-items: center;
      width: 40px;
    }

  }


  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background: url('__prefix__/discover/resources/img/carouseliconsblack.png');
    background-repeat: no-repeat;
    background-size: 20px 36px;
    background-position: -13px;
    top: -15px;
    width: 20px;
    height: 26px;

    @include respond(lg) {
      height: 72px;
      width: 25px;
      background-size: 25px 72px;
    }
  }

  .carousel-control-prev-icon {
    background-position: 13px;
  }

}
