.figure-carousel {
  margin-left: calc(-1 * ((100vw - 100%)/ 2));
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  @include respond(lg) {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }

  .figure {
    &__caption {
      width:  66%;
      margin: 0 auto;
      @include clearfix();

      @include respond(lg) {
        width: 100%;
      }
    }

    &__image {
      background-size: cover;
      background-position: center;
      height: 18rem;

      @include respond(md) {
        height: 43rem;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    height: 50%;
    position: absolute;
    align-items: start;
    top: 19.5rem;


    @include respond(md) {
      top: 45.5rem;
    }

    @include respond(lg) {
      height: 43rem;
      top: 0;
      align-items: center;
      width: 4rem;
    }

  }


  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background: url('__prefix__/discover/resources/img/carouseliconsblack.png');
    background-repeat: no-repeat;
    background-size: 2rem 3.6rem;
    background-position: -1.3rem;
    top: -1.5rem;
    width: 2rem;
    height: 2.6rem;

    @include respond(lg) {
      height: 7.2rem;
      width: 2.5rem;
      background-size: 2.5rem 7.2rem;
    }
  }

  .carousel-control-prev-icon {
    background-position: 1.3rem;
  }

}
