.followUs {
  padding: 1.5rem 0 5rem;

  &__title {
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: bold;
    color: #323232;

    @include respond(xl) {
      padding-bottom: 2.5rem;
      font-size: 3.2rem;
      line-height: 4.6rem;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__items> {
    .logo__image {
      display: none;
    }
  }

  &__item {
    display: block;
    padding: 0 min(1.5rem, 15px);
    height: 5rem;

    &:hover .logo__image {
      transform: scale(1.3);
    }

    .logo__image {
      transition:  transform 0.15s ease-in-out;
      height: 4rem;
      width: 4rem;
      object-fit: contain;
    }
  }
}
