.followUs {
  padding: 1.5rem 0 5rem;

  &__title {
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: bold;
    color: #323232;

    @include respond(xl) {
      padding-bottom: 2.5rem;
      font-size: 3.2rem;
      line-height: 4.6rem;
    }
  }

  &__items {
    display: flex;
    column-gap: min(3rem, 30px);
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    display: block;
    height: 5rem;

    .logo__image {
      height: 4rem;
      width: 4rem;
      object-fit: contain;

      &:hover {
        height: 5rem;
        width: 5rem;
        margin: 0 1.5rem;
      }
    }
  }
}
