.footer {
  background: map-get($palette, white-two);
  color: map-get($palette, true-black);
  position: relative;
  z-index: 2;

  $block: &;

  &__backToTop {
    background: map-get($palette, dhl-black);
    color: map-get($palette, true-white);
    display: block;
    cursor: pointer;

    &:hover,
    &:hover * {
      color: map-get($palette, true-white);
      text-decoration: none;
    }

    &:focus {
      outline: none;

      #{$block}__backToTopLabel {
        outline: 1px solid map-get($palette, true-white);
        outline-offset: -3px;
      }
    }
  }

  &__backToTopLabel {
    @include font($style: "%T4");
    font-weight: 200;
    font-stretch: condensed;
    margin: 0;
    text-align: right;
    padding: 9px 53px 9px 0;
    position: relative;

    &:after {
      content: ' ';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: map-get($palette, scarlet);
      position: absolute;
      right: 0px;
      top: -12px;
      background-image: url('__prefix__/resources/img/backtotoparrow.png');
      background-image: none, url('__prefix__/resources/img/backtotoparrow.svg');
      background-size: 26px 11px;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__main {
    padding: 70px 0 40px;

    @include respond(lg) {
      padding: 64px 0 35px;
      box-shadow: inset 0 1px 0 0 map-get($palette, brownish-grey);
    }
  }

  &__title {
    @include font($style: "%T1");
    text-transform: uppercase;
    margin: 0 0 15px;

    @include respond(md) {
      margin: 0 0 30px;
    }
  }

  &__categoryList {
    display: block;
    margin: 23px 0 74px;

    @include respond(md) {
      margin: 0;
    }
  }

  &__categoryItem {
    display: block;
    width: 100%;
    margin: 0px;

    &:last-child {

      #{$block}__categoryLink {
        border-bottom: none;
      }

    }
  }

  &__categoryLink {
    display: block;
    @include font($style: "%T2Left");
    font-weight: 200;
    font-stretch: condensed;
    padding: 15px 0;
    border-bottom: 1px solid rgba(map-get($palette, brownish-grey), 0.3);
    position: relative;
    transition: color 150ms ease;
    @include arrowLink('__prefix__/resources/img/linkarrow.png');

    &:hover {
      color: map-get($palette, scarlet);

    }

    &:focus {
      outline: 1px solid map-get($palette, true-black);
      outline-offset: 0px;
    }
  }


  &__rule {
    display: block;
    width: 100%;
    height: 1px;
    border: none;
    opacity: 0.3;
    background-color: map-get($palette, brownish-grey);
    margin: 25px 0 30px;

    @include respond(md) {
      margin: 30px 0 40px;
    }

    @include respond(lg) {
      margin: 15px 0 28px;
    }
  }

  &__linkList {
    display: block;
    margin: 0;
    @extend .clearfix;
  }

  &__linkItem {
    display: block;
    margin: 0 0 3px;

    @include respond(lg) {
      float: left;
      margin: 0 15px 0 0;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &__link {
    display: inline-block;
    @include font($style: "%T5");
    font-weight: 200;
    font-stretch: condensed;
    letter-spacing: -0.3px;
    vertical-align: top;
    transition: color 150ms ease;

    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

    &[target="_blank"] {

      &:after {
        content: ' ';
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: map-get($palette, white-two);
        background-image: url('__prefix__/resources/img/externallinkicon.png');
        background-image: none, url('__prefix__/resources/img/externallinkicon.svg');
        background-size: 12px 12px;
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-color 150ms ease;
        margin-left: 6px;
      }

    }

    &:hover {
      color: map-get($palette, scarlet);
      text-decoration: none;

      &[target="_blank"] {

        &:after {
          background-color: map-get($palette, white-two);
          background-image: url('__prefix__/resources/img/externallinkiconred.png');
          background-image: none, url('__prefix__/resources/img/externallinkiconred.svg');
        }

      }
    }

    &:focus {
      outline: 1px solid map-get($palette, true-black);
      outline-offset: 2px;
    }
  }

  &__legalText {
    @include font($style: "%T5");
    font-weight: 200;
    font-stretch: condensed;
    margin: 50px 0 0;

    @include respond(md) {
      text-align: center;
      margin: 35px 0 0;
    }

    @include respond(xl) {
      margin: 0;
    }
  }

  &__ctas {
    width: 100%;
    float: left;
    margin-bottom: 10px;

    @include respond(lg) {
      margin-top: 50px;
      border-top: 1px solid rgba(map-get($palette, brownish-grey), 0.3);
      padding-top: 30px;
    }
  }

  &__cta {
    @include  button(map-get($palette, scarlet), map-get($palette, true-white), map-get($palette, scarlet), -1);
    border: 1px solid map-get($palette, scarlet);
    width: 49%;
    float: left;
    font-size: 16px;

    outline: none !important;

    &--register {
      float: right;
    }

    @include respond(lg) {
      float: left;
      margin-left: 10px;
      max-width: 180px;

      &--login {
        margin-left: 0;
      }
    }
  }

  .footer__ctas--loggedin {
    .footer__cta {
      color: map-get($palette, scarlet);
      background: map-get($palette, true-white);
      border: 1px solid rgba(map-get($palette, brownish-grey), 0.3);
    }
  }

}

body.offline .footer {

  &__main {
    padding: 20px 0;
  }

  &__legalText {
    margin-top: 0px;
  }

}
