.forms {
  text-align: left;
  margin-top: 40px;

  @include respond(md) {
    margin-top: 70px;
    padding-bottom: 50px;
  }

  .col-6 {
    padding: 0 0 0 15px;

    &:nth-child(2n) {
      padding-right: 15px;
    }
  }

	&__title {
    @include font("%H2Left");
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__subtitle {
    @include font("%T1");
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__copy {
    @include font("%T4");

    a {
      color: map-get($map: $palette, $key: black);
      text-decoration: underline;
    }

    &--small {
      @include font("%T5", map-get($palette, brownish-grey));
      font-weight: 200;
      font-stretch: condensed;
      margin-top: -10px;

      a {
        color: map-get($map: $palette, $key: scarlet);
        text-decoration: underline;
      }
    }

    &--spaced {
      margin: 0 0 32px;
    }
  }

  &__link {
    @include font("%T5");
    font-weight: 200;
    font-stretch: condensed;
    @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
    margin: 0 0 20px 0;
  }

  $block: &;

  .col-md-6,
  .col-md-4 {
    #{$block}__link {
      @include respond(md) {
        display: inline-block;
        margin-top: 10px;
      }
    }
  }

  $group-padding-tb: 40px;

  &__group,
  &__group--text {

    padding: $group-padding-tb 0;
    border-top: 1px solid map-get($map: $palette, $key: border-grey);

    &:nth-of-type(1) {
      border-top: none;
    }

    &--text {
      position: relative;
      text-align: center;
      padding-top: $group-padding-tb - 20;
    }

    + .forms__group--text {

      &:before {
        @include font("%T2");
        display: inline-block;
        content: attr(data-bar-text);
        padding: 0 10px;
        text-transform: uppercase;
        position: relative;
        background-color: white;
        top: -#{$group-padding-tb - 7};
      }

    }

  }

  &__group-text {
    @include font("%T2");
    padding: 0 10px;
    background-color: white;
    position: relative;
    top: -12px;
    text-transform: uppercase;
  }

  &__row {
    @include make-row();
    text-align: left;

    @include respond(md) {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    [class*=col] {
      input,
      select,
      button,
      textarea,
      .input-group-text,
      .forms__checkbox--highlight,
      .forms__checkbox,
      .forms__password {
        margin-bottom: 20px;
      }
    }


    &:last-child {

      [class*=col]:last-child {
        input,
        select,
        button,
        textarea,
      .input-group-text,
      .forms__checkbox--highlight,
      .forms__checkbox,
      .forms__password {
          margin-bottom: 0;

          + label.error {
            margin-top: 3px;
          }
        }
      }
    }
  }

  .ecom-link-below {
    margin-top: 40px;

    a {
      @include font("%T2");
      color: #000;

      &:after {
        content: ' ';
        display: inline-block;
        position: relative;
        top: 2px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        background-image: none, url('__prefix__/clientlib-site/resources/img/externallinkicon.svg');
        background-size: 16px 16px;
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-color 150ms ease;
        margin-left: 12px;
      }
    }
  }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea, {
    @include  form-inputs-indented();
    @include font("%T2Left");
    font-weight: 200;
    padding: 13px;
    width: 100%;
  }

  select {
    @include font("%T2Left");
    @include form-inputs-outdented();
    appearance: none;
    width: 100%;
    font-weight: 200;
    padding: 13px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0.5px 0.5px 2px 0 #979797;
    border: solid 1px rgba(151, 151, 151, 0.3);
    background-image: url('__prefix__/clientlib-site/resources/img/selecttriangle.png');
    background-image: none, url('__prefix__/clientlib-site/resources/img/selecttriangle.svg');
    background-size: 8px 8px;
    background-position: center right 17px;
    background-repeat: no-repeat;
  }

  %custom-checkbox {
    content: "";
    display: inline-block;
    position: absolute;
    height: 14px;
    width: 14px;
    border: 1px solid map-get($map: $palette, $key: checkbox-border-grey);
    background-color: map-get($map: $palette, $key: true-white);

  }

  %custom-checkmark {
    content: none;
    display: inline-block;
    position: absolute;
    height: 7px;
    width: 16px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-56deg);
  }

  %custom-checkbox-input {
    label:not(.error) {
      @extend .forms__copy--small;
      margin: 0;
      position: relative;
      padding-left: 20px;

      //the checkbox
      &::before {
        @extend %custom-checkbox;
        left: 0;
        top: 2px;
      }

      //the checkmark
      &::after {
        @extend %custom-checkmark;
        left: 1px;
        top: 3px;
      }
    }

    input[type=checkbox] {
      opacity: 0;
      position: absolute;
      left: -9999px;
      margin: 0;

      &:checked {
        + label::after {
            content: "";
        }
      }
    }

    input[type=radio] {
      opacity: 0;
      position: absolute;
      left: -9999px;
      margin: 0;

      &:checked {
        + label::after {
            content: "";
        }
      }
    }
  }

  &__checkbox {
    @extend %custom-checkbox-input;

    label.error {
      margin-top: 0;
    }
  }

  &__checkbox--highlight {
    position: relative;

    label {
      @include font("%T5", map-get($palette, brownish-grey));
      font-weight: 200;
      font-stretch: condensed;
      transition: background-color 150ms ease;
      position: relative;
      margin-bottom: 0;
      background-color: map-get($palette, white);
      border: 1px solid map-get($map: $palette, $key: true-white);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 13px;

      @include respond(md) {
        padding: 15px 20px;
      }

      span {
        flex-basis: 1;
        margin-left: 20px;
        @include respond(md) {
          margin-left: 30px;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: map-get($map: $palette, $key: dark-white);
      }

      //the checkbox
      &::before {
          @extend %custom-checkbox;

          top: 50%;
          left: 10px;
          margin-top: -7px;

          @include respond(md) {
            left: 20px;
          }
      }

      //the checkmark
      &::after {
        @extend %custom-checkmark;

        top: 50%;
        left: 11px;
        margin-top: -8px;

        @include respond(md) {
          left: 21px;
        }
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      left: -9999px;
      position: absolute;

      &:focus {
        + label::before {
          border: 1px solid map-get($map: $palette, $key: border-grey);
        }
      }

      &:checked {

        + label {
          background-color: map-get($map: $palette, $key: sunflower-yellow);

          &::after {
            content: "";
          }
        }
      }
    }

    input[type="radio"] {
      opacity: 0;
      left: -9999px;
      position: absolute;

      &:focus {
        + label::before {
          border: 1px solid map-get($map: $palette, $key: border-grey);
        }
      }

      &:checked {

        + label {
          background-color: map-get($map: $palette, $key: sunflower-yellow);

          &::after {
            content: "";
          }
        }
      }
    }
  }

  &__password {
    margin-bottom: 0;

    input[type=text],
    input[type=password] {
      width: auto;
      margin-bottom: 0 !important;
    }

    .input-group-text {
      @extend %custom-checkbox-input;
      margin-bottom: 0 !important;
      background-color: map-get($map: $palette, $key: white);
      border-color: map-get($map: $palette, $key: border-grey);

      label {
        margin: 5px 0 !important;
      }
    }

    + label.error {
      margin-top: -13px;

      @include respond(lg) {
        margin-top: -16px;
      }
    }

    $block: &;

    #{$block}--plain {
      input {
        width: 100%;
      }
    }
  }

  %form-cta {
    @include font("%T2");
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;

    @include respond(md) {
      margin-bottom: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__cta--red,
  &__cta--grey,
  &__cta--social {
    @extend %form-cta;

    &:hover {
      cursor: pointer;
    }
  }

  &__cta--red {
    background-color: map-get($map: $palette, $key: scarlet);
    color: map-get($map: $palette, $key: true-white) !important;

    &:hover {
      background-color: map-get($map: $palette, $key: dark-scarlet);
    }
  }

  &__cta--grey {
    background-color: map-get($map: $palette, $key: white);

    &:hover {
      background-color: map-get($map: $palette, $key: dark-white);
    }
  }

  &__cta--social {
    position: relative;
    background-color: #187fb8;
    color: map-get($map: $palette, $key: white) !important;
    margin-bottom: 20px;
    padding: 12px !important;
    text-align: center;

    &:before {
        display: none;
        content: '';
        position: absolute;
        left: 42px;
        width: 1px;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.15);

        @include respond(md) {
            display: block;
        }
    }

    .forms__button-text {
      display: none;
      @include respond(md) {
        display: inline-block;
      }
    }

    &:hover {
      background-color: darken(#187fb8, 10%);
    }

    &.google {
      background-color: #5383ec;

      &:hover {
        background-color: darken(#5383ec, 10%);
      }
    }

    &.facebook {
      background-color: #43619c;

      &:hover {
        background-color: darken(#43619c, 10%);
      }
    }
  }

  %button-icon {
    @include font("%T4", map-get($palette, true-white));
    width: 28px;
    height: 28px;
    margin: -4px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: contain;

    @include respond(md) {
      float: left;
    }
  }

  &__icon--facebook,
  &__icon--linkedin,
  &__icon--google, {
    @extend %button-icon;
  }

  &__icon--facebook {
    background-image: url('__prefix__/clientlib-site/resources/img/formssocialfacebook.png');
    background-image: none, url('__prefix__/clientlib-site/resources/img/formssocialfacebook.svg');
  }

  &__icon--linkedin {
    background-image: url('__prefix__/clientlib-site/resources/img/formssociallinkedin.png');
    background-image: none, url('__prefix__/clientlib-site/resources/img/formssociallinkedin.svg');
  }

  &__icon--google {
    background-image: url('__prefix__/clientlib-site/resources/img/formssocialgoogle.png');
    background-image: none, url('__prefix__/clientlib-site/resources/img/formssocialgoogle.svg');
  }

  label.error {
    @extend %form-error-msg;
  }

  &__textarea {
    label {
      @include font("%T3");
      font-weight: 700;
      display: block;
      margin-bottom: 15px;

      textarea {
        width: 100%;
      }
    }
  }
}


.validity-checks {
  font-size: 0;
  text-align: left;
  margin-top: 10px;

  $block: &;

  &__check {
    display: inline-block;

    &.is-valid {
      #{$block}__circle {
        border-color: map-get($palette, valid-green);
        background: map-get($palette, valid-green);
      }

      #{$block}__criterion {
        color: map-get($palette, valid-green);
      }
    }
  }

  &__circle {
    width: 8px;
    height: 8px;
    border: 1px solid map-get($map: $palette, $key: brownish-grey);
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
  }

  &__criterion {
    @include font("%T5", map-get($palette, brownish-grey));
    font-weight: 200;
    font-stretch: condensed;
    margin-right: 30px;
  }
}

.download.parbase {
  .icon.type_pdf {
    display: none !important;
  }

  .cq-dd-file {
    @include font("%T2");
    display: inline-block;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;

    @include respond(md) {
      margin-bottom: 20px;
    }

    &:hover {
      text-decoration: none;
    }

    background-color: map-get($map: $palette, $key: scarlet);
    color: map-get($map: $palette, $key: true-white) !important;

    &:hover {
      cursor: pointer;
      background-color: map-get($map: $palette, $key: dark-scarlet);
    }
  }
}
