.cmp-hero-banner {
  @include remove-container-margins-mobile-only;

  &--with-margins {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include respond(xl) {
      margin-top: 5rem;
      margin-bottom: 4rem;
    }
  }

  &__asset {
    position: relative;

    &:after {
      content: "";
      border-radius: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      opacity: 0.4;
      background: transparent linear-gradient(180deg, #ffffff 50%, #131313 100%)
        0% 0% no-repeat padding-box;
    }

    &--with-rounded-corners {
      .cmp-hero-banner__image {
        border-radius: 0;

        @include respond(md) {
          border-radius: .6rem;
        }
      }

      .cmp-hero-banner__video-wrapper {
        overflow: hidden;
        border-radius: 0;

        @include respond(md) {
          border-radius: .6rem;
        }
      }

      &:after {
        border-radius: 0;

        @include respond(md) {
          border-radius: .6rem;
        }
      }
    }

  }

  .cmp-hero-banner__image {
    width: 100%;
    min-height: 21.5rem;
    max-height: 40rem;
    aspect-ratio: 2/1;
    margin-bottom: 0;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 3px .6rem #00000029;

    @include respond(xl) {
      height: 40rem;
    }
  }

  &__video-wrapper {
    width: 100%;
    box-shadow: 0 3px .6rem #00000029;
  }

  &__video {
    display: block;
    min-height: 21.5rem;
    max-height: 40rem;
    object-fit: cover;

    @include respond(xl) {
      height: 40rem;
    }
  }

  &__summary {
    box-shadow: 0 3px .6rem #00000029;
    position: relative;
    background-color: white;
    border-radius: .6rem;
    border: 1px solid #e2e2e2;
    margin: -2.5rem 1.6rem 0;
    padding: 2rem 1rem;
    z-index: 2;

    @include respond(md) {
      padding: 4rem 5rem;
    }

    @include respond(xl) {
      margin: -5rem 2.5rem 0;
    }
  }

  &__summary-label {
    font-style: italic;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #323232;

    @include respond(xl) {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }

  &__summary-points {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 3rem 0 0;
    padding-left: 0;
    counter-reset: item;
  }

   &__summary-item {
    @include respond(xl) {
      margin-top: 2.3rem;
      font-size: 2.2rem;
    }

    &::before {
      content: counter(item) ". ";
      counter-increment: item;
    }
  }
}
