.hero-banner-component {
  max-width: 1200px;
  margin-bottom: 30px;
  margin-top: 30px;

  @include respond(xl) {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .hero-banner {
    width: 100%;
    min-height: 215px;
    max-height: 400px;
    aspect-ratio: 2/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    @include respond(xl) {
      height: 400px;
    }
    &:after {
      content: "";
      border-radius: inherit;
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 1;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      opacity: 0.4;
      background: transparent linear-gradient(180deg, #FFFFFF 50%, #131313 100%) 0% 0% no-repeat padding-box;
    }
  }
  .summary {
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #E2E2E2;
    margin: -25px 15px 0;
    padding: 20px 10px;
    z-index: 2;
    @include respond(md) {
      padding: 40px 50px;
    }
    @include respond(xl) {
        margin: -50px 25px 0;
    }
    &__label {
      font: italic normal 300 14px/24px Delivery, sans-serif;
      color: #323232;
      @include respond(xl) {
        font: italic normal 300 20px/24px Delivery, sans-serif;
      }
    }
    &__points {
      font: normal normal bold 16px/24px Delivery, sans-serif;
      margin: 30px 0 0;
      padding-left: 0;
      counter-reset: item;
      &__item {
        @include respond(xl) {
          margin-top: 23px;
          font: normal normal bold 22px/24px Delivery, sans-serif;
        }
        &::before {
          content: counter(item) ". ";
          counter-increment: item;
        }
      }
    }
  }
}
