.hero {
  text-align: center;
  padding-bottom: 2rem;

  @include respond(md) {
    padding-bottom: 3.9rem;
  }

  @include respond(lg) {
    text-align: left;
    position: relative;
    padding-bottom: 0;
    max-height: calc(100vh - 8rem);
    min-height: 67rem;
    overflow: hidden;

    .row {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .container {
      position: absolute;
      top: 20rem;
      left: 0;
      right: 0;
      bottom: 0;

      .row {
        width: calc(100% + 3rem);
      }
    }
  }

  $block: &;

  &__image {
    margin: 0;
    padding-bottom: 56.25%;
    position: relative;
    @include backgroundImage(cover);

    @include respond(lg) {
      padding-bottom: 0;
      height: 67rem;
    }
  }

  &__playButton {
    display: block;
    width: 4.6rem;
    height: 4.6rem;
    background-image: url('__prefix__/discover/resources/img/playiconlarge.png');
    background-image: none,url('__prefix__/discover/resources/img/playiconlarge.svg');
    background-size: 4.6rem 4.6rem;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.3rem;
    margin-left: -2.3rem;

    @include respond(lg) {
      display: none;
    }
  }

  &__subTitle {
    font-size: var(--font-size-md);
    color: map-get($palette, brownish-grey);
    font-weight: 200;
    font-stretch: condensed;
    text-align: center;
    text-transform: uppercase;
    margin: 1.2rem 0 .5rem;

    @include respond(md) {
      margin: 1.5rem 0 1.5rem;
    }

    @include respond(lg) {
      margin: 0 0 .2rem;
      text-align: left;
    }
  }

  &__title {
    font-size: var(--font-size-11xl);
    text-transform: uppercase;
    margin: 0 0 2.1rem;

    a {
      display: inline-block;
      font: inherit;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: inherit;
      }

      &:focus {
        outline: 1px solid map-get($palette, brownish-grey);
        outline-offset: -1px;
      }
    }

    @include respond(md) {
      margin: 0 0 3.4rem;
    }

    @include respond(lg) {
      margin: 0 0 1.6rem;
    }
  }

  &__date {
    display: block;
    font-size: var(--font-size-md);
    color: map-get($palette, black);
    font-weight: 200;
    font-stretch: condensed;
    text-transform: uppercase;
    margin: 0;
    text-align: center;

    @include respond(lg) {
      text-align: left;
      display: inline-block;
      float: left;
      font-size: 1.7rem;
      line-height: 1;
    }

    + #{$block}__cta {
      margin-top: 2rem;
    }
  }

  &__saveForOffline {
    display: block;
    width: 100%;
    background: map-get($palette, true-white);
    border: none;
    cursor: pointer;
    margin: -1px 0 0;
    padding: 2rem 0;
    font-size: var(--font-size-lg);
    text-align: center;
    box-shadow: 0 1px 0 0 rgba(102, 102, 102, 0.3), inset 0 1px 0 0 rgba(102, 102, 102, 0.3);

    &--desktop {
      display: none;
    }

    @include respond(lg) {
      display: none;
      background: none;
      box-shadow: none;
      float: left;
      width: auto;
      line-height: 1;
      padding: 0;
      padding-left: 3.2rem;
      margin-left: 3.2rem;
      border-left: 1px solid map-get($palette, black);

      &--desktop {
        display: block;
      }
    }

    span {
      position: relative;
      padding-right: 2.1rem;
      transition: padding 150ms ease;

      &:before,
      &:after {
        content: ' ';
        display: block;
        width: 1.2rem;
        height: .2rem;
        background: map-get($palette, black);
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -0.1rem;
      }

      &:after {
        transform: rotate(90deg);
      }

    }

    &:focus {
      outline: none;

      span {
        outline: 1px solid map-get($palette, dhl-black);
        outline-offset: 2px;
      }
    }

    &--home {
      box-shadow: none;
      border-left: none;
      float: none;
      display: inline-block;
      width: auto;
      margin-left: 2rem;
      color: #999;

      @include respond(lg) {
        margin-left: 0;
        padding-left: 2rem;
      }

      span {
        &:before, &:after {
          background: #999;
        }
      }
    }

    &--saved {

      span {
        padding-right: 3.1rem;

        &:before {
          width: 1.7rem;
          transform: rotate(-45deg);
        }

        &:after {
          width: .9rem;
          transform: rotate(45deg);
          margin-top: 2px;
          margin-right: 1.2rem;
        }

      }

    }

  }

  &__cta {
    @include button($background: map-get($palette, dhl-black), $colour: map-get($palette, true-white), $hover: 1);

    @include respond(lg) {
      margin-top: 2rem;
    }

    &--red {
      @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
      padding: 1rem 7rem 1rem 4.3rem;
      background-image: url('__prefix__/discover/resources/img/linkarrowwhite.png');
      background-image: none, url('__prefix__/discover/resources/img/linkarrowwhite.svg');
      background-position: center right 1.9rem;
      background-size: .8rem 2rem;
      background-repeat: no-repeat;
    }

    &--video {
      @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
      padding: 1rem 7rem 1rem 4.3rem;
      position: relative;
      display: none;

      @include respond(lg) {
        display: inline-block;
      }

      &:after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: .9rem solid transparent;
        border-bottom: .9rem solid transparent;
        border-left: 1.5rem solid map-get($palette, white);
        position: absolute;
        top: 50%;
        right: 4.1rem;
        margin-top: -0.9rem;
      }
    }
  }

  &__itemContent {
    @include clearfix();

    @include respond(lg) {
      background: rgba(map-get($palette, true-white), 0.85);
      padding: 2.2rem 2rem 3rem 0;
      position: relative;

      @include respond(lg) {
        margin-bottom: 7rem;
      }
    }

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      background: rgba(map-get($palette, true-white), 0.85);
      width: calc((100vw - 0px) / 2);
      opacity: 0;

      @include respond(lg) {
        opacity: 1;
      }
    }
  }

  &--noMasthead {
      @include respond(lg) {
        padding-top: 6rem;

        .container:after {
          background: none !important;
        }

        #{$block}__itemContent,
        #{$block}__itemContent:before {
            background: map-get($map: $palette, $key: white-two);
        }
    }
  }

  &--divider {
    padding-bottom: 0;

    .container {

      &:after {
        content: ' ';
        display: block;
        width: 100%;
        height: .1rem;
        background: rgba(map-get($palette, brownish-grey), 0.3);
        margin: 1.6rem 0 0;
      }

    }

  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    background: map-get($palette, dhl-black);
    z-index: 3;
    transition: opacity 150ms ease;

    &--open {
      width: 100%;
      opacity: 1;
    }
  }

  &__intro {
    font-size: var(--font-size-md);
    line-height: 1.37;
    letter-spacing: -0.1px;
    font-weight: 200;
    font-stretch: condensed;
    margin: 0;
  }

  &--saved {
    padding: 2.8rem 0;

    @include respond(lg) {
      max-height: none;
      min-height: 0;
    }

    #{$block}__title {
      text-align: left;
      font-size: var(--font-size-9xl);
    }

    #{$block}__editSavedArticles {
      display: inline-block;
      text-align: center;
      background: map-get($palette, black);
      font-size: var(--font-size-md);
      color: map-get($palette, true-white);
      font-weight: 800;
      font-stretch: condensed;
      margin: 2.8rem auto 1.2rem;
      padding: 1rem 5.6rem 1.1rem 8rem;
      position: relative;

      @include respond(lg) {
        margin: 0 0 0 auto;
        background: map-get($palette, brownish-grey);
        padding: 1rem 1.5rem 1.1rem 5.8rem;
      }

      @include respond(xl) {
        padding: 1rem 2.1rem 1.1rem 5.8rem;
      }

      &:hover {
        text-decoration: none;
        background: lighten(map-get($palette, black), 15%);

        @include respond(lg) {
          background: lighten(map-get($palette, brownish-grey), 7%);
        }
      }

      &:focus {
        outline: 1px solid map-get($palette, black);
        outline-offset: 2px;
      }

      span {
        display: block;
        width: 2rem;
        height: .3rem;
        position: absolute;
        top: 50%;
        left: 3.4rem;
        margin-top: -0.2rem;

        @include respond(lg) {
          left: 2.1rem;
        }

        &:first-child {
          margin-top: -0.7rem;
        }

        &:last-child {
          margin-top: 3px;
        }

        &:before {
          content: ' ';
          display: block;
          width: .3rem;
          height: .3rem;
          border-radius: .3rem;
          background: map-get($palette, true-white);
          float: left;
          vertical-align: top;
        }

        &:after {
          content: ' ';
          display: block;
          width: 1.5rem;
          height: .3rem;
          border-radius: .3rem;
          background: map-get($palette, true-white);
          margin-left: 2px;
          float: left;
          vertical-align: top;
        }
      }

      &--editing {

        &:after {
          content: 'Done';
          display: block;
          background: map-get($palette, scarlet);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1rem 1.5rem 1.1rem;
        }

        span {
          display: none;
        }
      }

    }

    #{$block}__itemContent {
      margin-bottom: 0;

      @include respond(lg) {
        padding-bottom: 0;
      }
    }

    .row,
    .container {
      @include respond(lg) {
        position: static;

        &:after {
          content: none;
          display: none;
        }
      }
    }

  }

  &--home {
    @include respond(lg) {
      min-height: 42rem;
    }

    .row {
      position: relative;
    }

    #{$block}__image {
      padding-bottom: 20rem;
      border-bottom: .8rem solid map-get($palette, sunflower-yellow);

      @include respond(md) {
        padding-bottom: 37rem;
      }

      @include respond(lg) {
        height: 42rem;
        padding-bottom: 0;
        border-bottom: 4px solid map-get($palette, sunflower-yellow);
      }
    }

    #{$block}__itemContent {
      text-align: left;

      @include respond(lg) {
        margin-bottom: 9rem;
        background: map-get($palette, true-white);
        padding: 1.5rem 2rem 2rem;

        &:before {
          display: none;
        }
      }
    }
    #{$block}__title {
      text-align: left;
      margin-bottom: 1rem;

      @include respond(lg) {
        font-size: 3.8rem;
        margin-bottom: 2rem;
      }
    }
    #{$block}__subTitle {
      text-align: left;
      margin-bottom: 0;
    }

    #{$block}__cta {
      background-image: none;
      padding: 1rem 2rem;
    }
  }
}


body.offline {

  .hero__saveForOffline:not(.hero__saveForOffline--saved) {
    box-shadow: 0 1px 0 0 rgba(102, 102, 102, 0.09), inset 0 1px 0 0 rgba(102, 102, 102, 0.09);
    pointer-events: none;

    span {
      opacity: 0.3;
    }

  }

}
