.hero-banner-component {

  &--with-margins {
    margin-bottom: 30px;
    margin-top: 30px;

    @include respond(xl) {
      margin-top: 50px;
      margin-bottom: 40px;
    }
  }

  .hero-banner {
    position: relative;

    &__image {
      width: 100%;
      min-height: 215px;
      max-height: 400px;
      aspect-ratio: 2/1;
      margin-bottom: 0;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 3px 6px #00000029;

      @include respond(xl) {
        height: 400px;
      }
    }

    &__video {
      width: 100%;
      box-shadow: 0px 3px 6px #00000029;
    }

    video {
      display: block;
    }

    &:after {
      content: "";
      border-radius: inherit;
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 1;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      opacity: 0.4;
      background: transparent linear-gradient(180deg, #FFFFFF 50%, #131313 100%) 0% 0% no-repeat padding-box;
    }

    &--with-rounded-corners {
      .hero-banner__image {
        border-radius: 6px;
      }

      .hero-banner__video {
        overflow: hidden;
        border-radius: 6px;
      }

      &:after {
        border-radius: 6px;
      }
    }
  }

  .summary {
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #E2E2E2;
    margin: -25px 15px 0;
    padding: 20px 10px;
    z-index: 2;

    @include respond(md) {
      padding: 40px 50px;
    }

    @include respond(xl) {
      margin: -50px 25px 0;
    }

    &__label {
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: #323232;

      @include respond(xl) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__points {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      margin: 30px 0 0;
      padding-left: 0;
      counter-reset: item;

      &__item {
        @include respond(xl) {
          margin-top: 23px;
          font-size: 22px;
        }

        &::before {
          content: counter(item) ". ";
          counter-increment: item;
        }
      }
    }
  }
}
