.heroCarousel {
  position: relative;
  z-index: 1;

  .hero {
    padding-bottom: 2rem;

    @include respond(lg) {
      padding-bottom: 0;
    }
  }

  .carousel-inner {
    .carousel-item {
      &:first-child:last-child {
        position: relative;
        z-index: 16;
      }
    }
  }

  .carousel {
    &.static {
      .carousel-indicators,
      .carousel-control-prev,
      .carousel-control-next {
        display: none !important;
      }
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
    top: 18rem;
    bottom: initial;

    @include respond(md) {
      top: 35rem;
    }

    @include respond(lg) {
      top: initial;
      bottom: 1.5rem;
    }

    li {
      width: .7rem;
      height: .7rem;
      border-radius: .7rem;
      background: #d2d2d2;
      border: none;
      margin: 0 .5rem;
      cursor: pointer;

      &.active {
        background: map-get($palette, true-white);
      }

      @include respond(lg) {
        height: .9rem;
        width: .9rem;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    background: none;
    width: 5rem;
    opacity: 0.7;
    z-index: 2;

    @include respond(140rem) {
      width: 10rem;
    }
    @include respond(134.4rem) {
      width: 7rem;
    }

    &:before {
      content: ' ';
      display: block;
      width: 2.4rem;
      height: 7.2rem;
      position: absolute;
      top: 50%;
      left: 1.2rem;
      margin-top: -3.6rem;
      background-image: url('__prefix__/discover/resources/img/carouselicons.png');
      background-image: none, url('__prefix__/discover/resources/img/carouselicons.svg');
      background-size: 4.8rem 7.2rem;
      background-position: 0 0;
      background-repeat: no-repeat;

      @include respond(134.4rem) {
        left: 2.4rem;
      }
    }
  }

  .carousel-control-next {
    &:before {
      background-position: -2.4rem 0;
      left: auto;
      right: 1.2rem;

      @include respond(134.4rem) {
        right: 2.4rem;
      }
    }
  }
}
