.hp-prop {
    padding: 15px 0;
    background: map-get($palette, white-three);

    h2 {
        @include font($style: "%H2");
        text-align: left;
        font-size: 20px;
        line-height: 1em;
        margin-right: 15px;
    }

    p {
        font-size: 14px;
        line-height: 1.2em;
        margin: 0 15px 0 0;
    }

    .btn {
        @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 14px;

        border: 0;

        position: absolute;
        right: 15px;
        bottom: 0;
    }
    
    @include respond(md) {
        h2 {
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }
    }
    
    @include respond(lg) {
        padding: 25px 0;
        background: map-get($palette, true-white);

        h2 {
            font-size: 30px;
            margin: -4px 0 0;
        }

        p {
            font-size: 16px;
            margin: 5px 0 0;
        }

        .btn {
            font-size: 16px;
            right: 0;
            bottom: initial;
        }
    }
}