.home-page-container-component {
  margin: 1rem 21px;
  @include respond(md) {
    margin: 2rem 26px;
  }
  @include respond(xl) {
    margin: 2rem 35px;
  }
  .container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;

    .horizontal-scroll {
      @include extend-background-edge;
      &::-webkit-scrollbar-track {
        margin: 21px;
        @include respond(md) {
          margin: 26px;
        }
        @include respond(xl) {
          margin: 35px;
        }
      }
    }

    &_with-side-bar {
      @include respond(md) {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: minmax(43.4rem, 83rem) minmax(26.8rem, 35rem);
        grid-template-areas: "body sidebar";
      }

      @include respond(xl) {
        grid-template-columns: minmax(auto, 83rem) 35rem;
        grid-gap: 2rem;
      }

      .container {
        &__body {
          @include ignore-top-child-margin-deep;
          @include respond(md) {
            grid-area: body;
          }
        }

        &__sidebar {
          display: none;
          @include ignore-top-child-margin-deep;
          @include respond(md) {
            display: block;
            grid-area: sidebar;
          }
        }
      }
    }
  }
}
