.home-page-container-component {
  margin: 10px 35px;
  @include respond(md) {
    margin: 20px 35px;
  }
  .container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px;

    .horizontal-scroll {
      @include extend-background-edge;
      &::-webkit-scrollbar-track {
        margin: 35px;
      }
    }

    &_with-side-bar {
      @include respond(md) {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: minmax(434px, 830px) minmax(268px, 350px);
        grid-template-areas: "body sidebar";
      }

      @include respond(xl) {
        grid-template-columns: minmax(auto, 830px) 350px;
        grid-gap: 20px;
      }

      .container {
        &__body {
          @include ignore-top-child-margin-deep;
          @include respond(md) {
            grid-area: body;
          }
        }

        &__sidebar {
          display: none;
          @include ignore-top-child-margin-deep;
          @include respond(md) {
            display: block;
            grid-area: sidebar;
          }
        }
      }
    }
  }
}
