.horizontal-scroll{
  padding-bottom: 5px;
  overflow-x: auto;

  &> * {
    flex-shrink: 0;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #777;
  }

  &_scrollable {
    cursor: grab;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }
  }

  &_active {
    cursor: grabbing;
    a, .horizontal-scroll__react-button {
      cursor: grabbing;
    }
  }
}
