.infoRow {
  background-color: #33658a;
  padding-top: 2rem;
  padding-bottom: 12rem;

  @include respond(md) {
    padding-top: 4rem;
    padding-bottom: 9rem;
  }

  @include respond(lg) {
    padding-top: 9rem;
    padding-bottom: 14rem;
  }

  &--country {
    margin: 0 0 2rem;

    @include respond(md) {
      margin: 0 0 3rem;
    }

    @include respond(lg) {
      margin: 0 0 8rem;
    }
  }

  &--music,
  &--music2 {
    background-color: #213139;
  }

  &--music2 {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include respond(md) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include respond(xl) {
      padding-top: 9rem;
      padding-bottom: 9rem;
    }
  }

  &--countryIndia {
    margin: 3rem 0;

    @include respond(md) {
      margin: 4rem 0;
    }

    @include respond(lg) {
      margin: 9rem 0;
    }
  }

  &--countryAsia {
    margin: 3rem 0;

    @include respond(md) {
      margin: 4rem 0;
    }

    @include respond(lg) {
      margin: 9rem 0 3rem;
    }

    .container {
      position: relative;

      &:after {
        content: ' ';
        display: block;
        height: .2rem;
        background: #e8e8e8;
        position: absolute;
        z-index: 4;
        left: 1.5rem;
        right: 1.5rem;
        bottom: -1rem;
      }
    }
  }

  &--countryUK {
    margin: 3rem 0;

    @include respond(md) {
      margin: 6.5rem 0 6rem;
    }

    @include respond(lg) {
      margin: 9rem 0;
    }
  }


  &--cosmetics101 {
    background:#21314a;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 3rem 0 2rem;

    @include respond(md) {
      padding: 4rem 0 3rem;
    }

    @include respond(lg) {
      padding: 9rem 0;
    }
  }

  &--medical {
    background: #33658a;
    padding: 3rem 0 0;

    @include respond(md) {
      padding: 5rem 0 5rem;
    }

    @include respond(md) {
      padding: 9rem 0 5rem;
    }

  }

  &--office {
    background: #203239;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 3rem 0 2rem;

    @include respond(md) {
      padding: 4rem 0;
    }

    @include respond(lg) {
      padding: 11rem 0 5rem 0;
    }
  }

  &--fashion {
    background-color: #49bfe0;
    padding-top: 3rem;
    padding-bottom: 8rem;
    z-index: 0 !important;

    @include respond(md) {
      padding-top: 4rem;
      padding-bottom: 9rem;
    }

    @include respond(lg) {
      padding-top: 9rem;
      padding-bottom: 14rem;
    }
  }

  &--textiles {
    background-color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include respond(md) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @include respond(lg) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &--fashionAlt {
    background-color: map-get($palette, true-white);
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include respond(md) {
      padding-bottom: 4rem;
      padding-top: 3rem;
    }

    @include respond(lg) {
      height: 46.7rem;
      overflow: visible;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--electronics {
    background-color: #33658a;
    padding: 3rem 0;

    @include respond(md) {
      padding: 4rem 0;
    }

    @include respond(lg) {
      padding-top: 14rem;
      padding-bottom: 9rem;
    }
  }

  &--sport {
    background: #49bfe0;
    padding: 2rem 0 .5rem 0;

    @include respond(md) {
      padding: 4rem 0 2.5rem;
    }

    @include respond(lg) {
      padding: 18rem 0 10rem;
    }

    @include respond(xl) {
      padding-top: 12rem;
    }

  }

  &--sportAlt {
    background: white;
    padding: 2rem 0 2rem 0;
  }

  &--textRow {
    background-color: #49bfe0;
    padding: 3rem 0 6rem;

    @include respond(md) {
      padding: 4rem 0 6rem;
    }

    @include respond(lg) {
      padding: 7rem 0 9rem;
    }
  }

  &__title {

    font-size: 2.2rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include respond(md) {
      font-size: 4rem;
      line-height:normal;
    }

    &--fashion,
    &--alt {

      @include respond(md) {
        font-size: 3rem;
      }

      @include respond(lg) {
        font-size: 4rem;
      }
    }

    &--alt {
      color: #000000;
    }

    &--center {
      @include respond(md) {
        text-align: center;
      }
    }
 }

  &__copy {

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;

    a {
      color: #ffffff;
      text-decoration: underline;
    }

    &--alt {
      color: #000000;
        a {
          color: #000000;
        }
    }

    &--center {
      @include respond(md) {
        text-align: center;
      }
    }
  }

  &__link {
    color: #000000;
    text-decoration: underline;

    &:hover {
      color: #000000;
      text-decoration: underline;
    }

    &--alt {
      color: #ffffff;
      text-decoration: underline;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }

  &__boxWrapper {
    width: 100%;
    display: flex;
  }

  &__image {
    width: 27.5rem;
    height: 27.5rem;
    margin: 0 auto;
    display: block;

    @include respond(md) {
      width: 34rem;
      height: 34rem;
      position: relative;
      left: -3.7rem;
      top: -2.5rem;
    }

    @include respond(lg) {
      width: 40rem;
      height: 40rem;
      left: 0;
      top: -3.3rem;
    }

    &--letter {
      width: 19rem;
      height: auto;

      @include respond(md) {
        width: 37.3rem;
        left: 0;
        top: 0;
      }
    }

    &--medical {
      margin-top: 4rem;
    }

    &--music {
      margin-top: 3rem;

      @include respond(md) {
        margin-top: 8rem;
        width: 30rem;
        height: auto;
      }

      @include respond(lg) {
        margin-top: 5rem;
        width: 40rem;
      }
    }

    &--music2 {
      height: auto;
      width: 26rem;

      @include respond(md) {
        width: 25.5rem;
        margin-top: 4rem;
      }

      @include respond(lg) {
        width: 35rem;
      }
    }

    &--ring {
      width: 24.6rem;
      height: auto;
      margin-bottom:2.5rem;

      @include respond(md) {
        width: 24.6rem;
        margin-bottom:0;
      }

      @include respond(lg) {
        width: 37.3rem;
      }
    }

    &--vr,
    &--book {
      width: 100%;
      height: auto;
      margin:0 auto 2rem;

      @include respond(md) {
        width: 40rem;
        margin:4rem auto;
        top:auto;
        left:auto;
      }

      @include respond(lg) {
        width: 37.4rem;
        top:-1.4rem;
      }
    }

    &--book {

      width: 80%;
      margin: 0 auto 0;

      @include respond(md) {
        width: 25rem;
      }

      @include respond(lg) {
        width: 37.4rem;
      }
    }

    &--sport {
      @include respond(md) {
        width: 40rem;
        margin:4rem auto;
        top:auto;
        left:auto;
      }
    }
  }

  &__sewing {
    width: 29rem;
    height: 21.5rem;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    margin: 0 auto;
    display: block;

    @include respond(md) {
      width: 38.4rem;
      height: 28.5rem;
      margin: 4rem auto;
      position: initial;
    }

    @include respond(lg){
      width: 37.2rem;
      height: 29.6rem;
    }
  }
}

.country-gif {
  background-image:none;
  margin:4rem auto;

  width:32rem;
  height:34.4rem;
  background-size:32rem 34.4rem;

  @include respond(sm){
    background-image:none;
    width:38.9rem;
    height:42.1rem;
    background-size:38.9rem 42.1rem;
  }

  @include respond(lg){
    background-image:none;
    width:38.9rem;
    height:42.1rem;
    background-size:38.9rem 42.1rem;
    margin:0 auto;
  }

}

#country_us {
  &.visible {
    background-image: url('__prefix__/discover-animatedpages/resources/img/animated5/cosmetic-map-us.gif');
  }
}

#country_india {
  &.visible {
    background-image: url('__prefix__/discover-animatedpages/resources/img/animated9/map-india.gif');
  }
}

#country_uk {
  &.visible {
    background-image: url('__prefix__/discover-animatedpages/resources/img/animated9/map-uk.gif');
  }
}

#country_asia {
  &.visible {
    background-image: url('__prefix__/discover-animatedpages/resources/img/animated8/map-asia.gif');
  }
}
