.inPageNavigation {
  display: none;
  align-items: center;
  position: fixed;
  top: 0 !important;
  bottom: 0;
  left: 5rem;
  z-index: 8;

  @include respond(xl) {
    display: flex;
  }

  $block: &;

  &__list {
    margin: 0;
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid map-get($palette, true-white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
    background: map-get($palette, true-white);
    margin: 0 0 1.5rem;
    padding: 0 0 0 .6rem;
    @include clearfix();
    transition: background 300ms ease;

    &--active {
      background: map-get($palette, brownish-grey);
    }

  }

  &--affix {
    position: static;

    #{$block}__list {
      position: absolute;
      left: 5rem;
      z-index: 7;
    }

  }

}
