.page-body {
    &.landing-page-twocol {
        .hero {
            position: relative;
            padding-bottom: 0;

            &--landing {
                text-align: left;
                padding-bottom: 0;
            }

            &__subTitle {
                text-align: left;
                color: map-get($palette, scarlet);
            }

            &__title {
                text-align: left;
                margin-bottom: 10px;
            }

            &__cta {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                background-image: none;

                &--default {
                    @include button($background: map-get($palette, true-white), $colour: map-get($palette, scarlet), $hover: 1);
                    border: 1px solid #d1d1d1;
                    margin-top: 10px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &__buttons {
                p {
                    text-align: center;
                    margin: 20px 0 5px;

                    color: #909090;
                    font-weight: bold;

                    a {
                        position: relative;
                        padding: 0 10px 0 6px;
                        color: map-get($palette, scarlet);

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;

                            width: 4px;
                            height: 9px;

                            top: 9px;
                            right: 0;

                            background: transparent url('__prefix__/discover/resources/img/linkarrow.png') center no-repeat;
                            background: transparent url('__prefix__/discover/resources/img/linkarrow.svg') center no-repeat;
                            background-size: cover;

                        }
                    }
                }
            }

            @include respond(md) {
                margin-bottom: 40px;

                .row {
                  width: 100%;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                }

                .container {
                    position: absolute;
                    top: 60px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;

                    &:after {
                        display: none !important;
                    }
                }

                &__image {
                    padding-bottom: 25%;
                }

                &__itemContent {
                    max-width: 450px;
                    background: rgba(map-get($palette, true-white), 0.85);
                    padding: 5px 20px 10px;
                    position: relative;
                }

                &__subTitle {
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 16px;
                }

                &__title {
                    font-size: 26px;
                    line-height: 29px;
                }

                &__buttons {
                    width: 100%;
                    float: left;
                    margin-bottom: 10px;

                    .hero__cta {
                        width: 49%;
                        float: left;
                        font-size: 13px;

                        &--default {
                            margin-top: 0;
                            border: none;
                            float: right;
                        }
                    }

                    p {
                        float: left;
                        font-size: 13px;
                        line-height: 32px;
                        margin: 0;
                        padding: 0 0 0 15px;

                        a {
                            &:after {
                                top: 6px;
                            }
                        }
                    }
                }
            }

            @include respond(lg) {
                min-height: 0;
                max-height: 420px;

                &__image {
                    height: auto;
                    min-height: 0;
                    padding-bottom: 420px;

                }

                &__itemContent {
                    max-width: 570px;

                    &:before {
                        display: none;
                    }
                }

                &__subTitle {
                    margin-top: 15px;
                    margin-bottom: 10px;
                    font-size: 25px;
                    line-height: 30px;
                }

                &__title {
                    font-size: 48px;
                    line-height: 50px;
                    letter-spacing: -0.02em;
                }

                &__buttons {
                    .hero__cta {
                        font-size: 16px;
                    }

                    p {
                        font-size: 16px;

                        a {
                            padding: 0 10px 0 8px;

                            &:after {
                                top: 9px;
                            }
                        }
                    }
                }
            }
        }

        .wysiwyg {
            &--landing {
                padding: 15px 0 5px;

                h2 {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 15px;

                    color: map-get($palette, black);
                }

                @include respond(md) {
                    h2 {
                        font-size: 22px;
                        line-height: 30px;
                        margin-bottom: 20px;
                    }
                }

                @include respond(lg) {
                    h2 {
                        font-size: 28px;
                        line-height: 38px;
                    }
                }
            }
        }

        .landingpoints {
            margin-bottom: 20px;

            .landingpoint {
                box-sizing: border-box;
                padding: 12px 0 10px;
                margin: 0 0 13px;

                color: map-get($palette, dhl-black);
                background: map-get($palette, white-two);
                border: 1px solid #ddd;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.14);

                overflow: hidden;

                &__title {
                    position: relative;
                    z-index: 1;

                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;

                        left: 15px;
                        top: 5px;

                        color: map-get($palette, true-white);
                        background: transparent url('__prefix__/discover/resources/img/lp-circletick.png') center no-repeat;
                        background: transparent url('__prefix__/discover/resources/img/lp-circletick.svg') center no-repeat;
                        background-size: cover;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 12px;
                        height: 12px;

                        right: 15px;
                        top: 9px;

                        background: transparent url('__prefix__/discover/resources/img/lp-plus.png') center no-repeat;
                        background: transparent url('__prefix__/discover/resources/img/lp-plus2.svg') center no-repeat;
                        background-size: contain;
                    }

                    h3 {
                        margin: 0;
                        font-size: 18px;
                        line-height: 30px;
                        position: relative;

                        a {
                            display: block;
                            text-decoration: none;
                            padding: 0 48px;
                            position: relative;
                            z-index: 10;

                            &:hover {
                                color: inherit;
                            }
                        }
                    }
                }

                &__content {
                    opacity: 0;
                    height: 0;
                    padding: 0 48px;
                    transition: all 0.3s;

                    p {
                        margin: 5px 0 10px;
                    }
                }

                &.open {
                    .landingpoint__title {
                        &:after {
                            background-image: url('__prefix__/discover/resources/img/lp-minus.png');
                            background-image: url('__prefix__/discover/resources/img/lp-minus2.svg');
                        }
                    }

                    .landingpoint__content {
                        opacity: 1;
                    }
                }

                @include respond(md) {
                    margin-bottom: 0;
                    background: transparent;
                    border: none;
                    box-shadow: none;

                    &__title {
                        padding-right: 0;

                        &:before {
                            width: 26px;
                            height: 26px;
                            top: 2px;
                            left: 5px;
                        }

                        &:after {
                            display: none;
                        }

                        h3 {
                            font-size: 22px;
                            line-height: 30px;
                        }
                    }


                    &__content {
                        height: auto !important;
                        opacity: 1 !important;
                        padding-right: 0;
                        display: block;
                    }
                }

                @include respond(lg) {
                    &__title {
                        h3 {
                            font-size: 25px;
                            line-height: 30px;
                        }
                    }

                    &__content {
                        p {
                            margin: 10px 0 10px;
                        }
                    }
                }
            }
        }

        .ship-now-group {
            .forms {
                &.ship-now {
                    margin: 0 0 30px;
                    padding: 20px;
                    background: #ffcc00;
                    background: linear-gradient(to bottom, #ffcc00 0%,#ffcc00 80%,#ffefb2 100%);
                    border: 1px solid #ffcc00;

                    @include respond(md) {
                        padding-bottom: 5px;
                    }

                    @include respond(xl) {
                        padding: 20px 50px;
                    }
                }

                .col-6 {
                    padding: 0 0 0 15px;

                    &:nth-child(2n) {
                        padding-right: 15px;
                    }
                }

                @include respond(xl) {
                    .col-xl-6 {
                        padding: 0 0 0 15px;

                        &:nth-child(2n) {
                            padding-right: 15px;
                        }
                    }
                }

                &__title {
                    margin: 0 0 15px;
                    font-size: 25px;
                    line-height: 28px;
                    text-transform: none;

                    @include respond(xl) {
                        font-size: 29px;
                        line-height: 30px;
                        margin: 5px 0 30px;
                    }
                }

                &__group {
                    border: none;
                    padding: 0;

                    [class*=col] {
                        input,
                        select,
                        button,
                        textarea,
                        .input-group-text,
                        .forms__checkbox--highlight,
                        .forms__checkbox,
                        .forms__password {
                            margin-bottom: 10px;

                            &.error {
                                border: 1px solid map-get($palette, scarlet);

                                &::placeholder {
                                    color: map-get($palette, scarlet);
                                }
                            }

                            @include respond(xl) {
                                margin-bottom: 15px;

                                &.error {
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }

                    input[type=text],
                    input[type=email],
                    input[type=password],
                    input[type=tel],
                    input[type=number],
                    input[type=search],
                    textarea, {
                        padding: 10px;

                        &.valid {
                            background: #fff url('__prefix__/discover/resources/img/lp-greentick.png') center right no-repeat;
                            background: #fff url('__prefix__/discover/resources/img/lp-greentick.svg') 98% center no-repeat;
                            background-size: 28px 14px;
                        }

                    }
                }

                &__copy {
                    &--small {
                        color: map-get($palette, black);
                        margin-top: -5px;

                        p {
                            color: map-get($palette, black);
                        }
                    }
                }

                label.error {
                    margin-top: -8px;

                    @include respond(xl) {
                        position: absolute;
                        font-size: 10px;
                        margin-top: -20px;
                    }
                }

                select {
                    background-color: map-get($palette, true-white);
                    box-shadow: inset 1px 1px 0 0 rgba(102,102,102,0.3);
                    border: solid 1px rgba(102,102,102,0.3);
                    padding: 10px;

                    &.error {
                        border: 1px solid map-get($palette, scarlet);

                        &::placeholder {
                            color: map-get($palette, scarlet);
                        }
                    }
                }

                @include respond(md) {
                    &__row {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }

            .sep {
                position: relative;
                width: 18%;
                margin: 0 auto;
                text-align: center;
                border-top: 1px solid #ccc;

                p {
                    position: relative;
                    top: -15px;
                    padding: 0 10px;
                    display: inline-block;
                    color: #aaa;
                    background: map-get($palette, true-white);
                }
            }

            .ship-now-now {
                position: relative;
                z-index: 1;
                color: map-get($palette, dhl-black);
                background: map-get($palette, white-two);
                background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 50%,#f5f5f5 100%);
                border: 1px solid #ddd;
                padding: 15px 25px 20px 25px;
                margin-top: -10px;
                margin-bottom: 15px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50px;
                    right: 25px;
                    width: 85px;
                    height: 65px;
                    background: transparent url('__prefix__/discover/resources/img/lp-shipnow-icon.png') center no-repeat;
                    background-size: contain;

                    @include respond(lg) {
                        width: 105px;
                        height: 83px;
                    }

                    @include respond(xl) {
                        top: 40px;
                    }
                }

                h3 {
                    @include font("%T1");

                    @include respond(lg) {
                        font-size: 25px;
                        line-height: 30px;
                    }

                    @include respond(xl) {
                        margin-right: 115px;
                    }
                }

                p {
                    font-size: 13px;
                    line-height: 19px;
                    margin-right: 90px;
                    min-height: 80px;

                    @include respond(lg) {
                        font-size: 15px;
                        line-height: 24px;
                        margin-right: 115px;
                    }

                    @include respond(xl) {
                        min-height: 0;
                    }
                }

                a {
                    position: relative;
                    @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
                    border: 1px solid map-get($palette, scarlet);
                    width: 100%;
                }

                @include respond(xl) {
                    padding: 20px 25px 25px;

                    h3 {
                        font-size: 25px;
                        line-height: 30px;
                    }

                    a {
                        margin-top: 10px;
                    }
                }
            }
        }

        .disclaimer-text {
            p {
                font-size: 12px;
                line-height: 19px;
                margin: 15px 0 30px;

                a {
                    color: inherit;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            @include respond(lg) {
                p {
                    margin: 25px 0 50px;
                }
            }
        }
    }
}
