.page-body.landing-page {
    &.october-2018 {
        .hero {
            .container {
                margin-top: 40px;
            }

            @include respond(lg) {
                min-height: 290px;

                .container {
                    margin-top: 0;
                    top: 50px;
                }
            }
        }

        .wysiwyg {
            &--article {
                @include respond(lg) {
                    padding-top: 0;
                }
            }
        }

        .inlineshipnow {
            .forms {
                &__row {
                    margin-top: 5px;
                    margin-bottom: 0;
                }

                &__copy {
                    &--small {
                        p {
                            @include font("%T5", map-get($palette, brownish-grey));
                            font-weight: 200;
                            font-stretch: condensed;
                            margin-bottom: 15px;

                            a {
                                color: map-get($map: $palette, $key: scarlet);
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .ecom-link-below {
                    margin-top: 15px;
                }
            }
        }

        .accordion {
            .container {
                .card {
                    &__header {
                        &:before {
                            top: 36px;
                        }

                        h3 {
                            font-size: 24px;
                            font-weight: 800;
                            font-stretch: condensed;
                        }
                    }
                }
            }
        }
    }
}
