.landing-points-component {
  @include inherit-headings;

  p {
    margin-bottom: 0;
  }
  .header-image {
    margin: 4rem auto;
    max-height: 20rem;
    max-width: 100%;
    display: block;
    @include respond(xl) {
      max-height: 35rem;
      margin: 2rem auto;
    }
  }
  .landing-point {
    margin-top: 1.5em;
    min-height: 4.5rem;
    color: #323232;
    position: relative;
    font-size: 1.4rem;
    line-height: 2rem;
    @include respond(xl) {
      font-size: 2rem;
      line-height: 2.9rem;
    }
    &::before{
        content: "";
        background-size: contain;
        width: 4rem;
        height: 4rem;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top: .5rem;
    }
    &__title{
      margin: 0;
      padding-left: 5.5rem;
      font-weight: bold;

      [dir="rtl"] & {
        padding-left: 0;
        padding-right: 5.5rem;
      }
    }
    &__content{
      padding-left: 5.5rem;

      [dir="rtl"] & {
        padding-left: 0;
        padding-right: 5.5rem;
      }

      a {
        @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
      }
    }

    &--red-dot {
      min-height: 2rem;
      &::before{
        content: "•";
        color: #d40511;
        top: 0;
        display: block;
        position: absolute;
        font-size: 4rem;
      }
      .landing-point {
        &__title{
          padding-left: 3rem;
        }
        &__content{
          padding-left: 3rem;
        }
      }
    }
  }
}
