.listicle-component {
  margin-bottom: 20px;

  .listicle__row {
    margin-bottom: 20px;

    @include respond(md) {
      display: flex;
      gap: 30px;
      flex-direction: row;
      margin-bottom: 30px;
    }

    &__picture {
      @include respond(md) {
        width: 50%
      }
      img {
        @extend %listicle-block;
        width: 100%;
        margin-bottom: 0px;
        object-fit: cover;

        @include respond(md) {
          height: 316px;
        }

        @include respond(lg) {
          height: 277px;
        }
      }
    }

    &__text {
      @include respond(md) {
        width: 50%
      }

      &__title {
        color: map-get($palette, scarlet) !important;
        font-size: 25px !important;
        font-weight: bold !important;
        margin-bottom: .5rem !important;
      }

      &--yellow {
        @extend %listicle-text-block;
        background-color: map-get($map: $palette, $key: sunflower-yellow);
      }

      &--white {
        @extend %listicle-text-block;
        background-color: map-get($map: $palette, $key: true-white);
        border: 1px solid map-get($map: $palette, $key: border-grey);
      }

      &--grey {
        @extend %listicle-text-block;
        background-color: map-get($map: $palette, $key: white-two);
      }

      &__body {
        @include font("%T4");
        margin: 10px 0;
      }
    }

    &--text {
      &-left {
        flex-direction: row-reverse;
      }

      @include respond(md) {
        &-one-third {
          .listicle__row__picture{
            width: 60%
          }
          .listicle__row__text{
            width: 40%
          }
        }

        &-two-thirds {
          .listicle__row__picture{
            width: 40%
          }
          .listicle__row__text{
            width: 60%
          }
        }

        &-half {
          .listicle__row__picture{
            width: 50%
          }
          .listicle__row__text{
            width: 50%
          }
        }
      }
    }
  }
}

%listicle-block {
  @include respond(md) {
    margin-right: 30px;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

%listicle-text-block {
  @extend %listicle-block;

  padding: 20px;

  @include respond(md) {
    margin: 0 30px 0 0;
    overflow: hidden;
  }

}
