.listicle-component {
  margin-bottom: 20px;
  overflow: hidden;

  &.listicle__row__text--yellow {
    background-color: map-get($map: $palette, $key: sunflower-yellow);
  }

  &.listicle__row__text--white {
    background-color: map-get($map: $palette, $key: true-white);
  }

  &.listicle__row__text--grey {
    background-color: map-get($map: $palette, $key: white-two);
  }

  .listicle__row {
    margin-bottom: 20px;

    @include respond(md) {
      display: block;
      margin-bottom: 30px;
    }

    &__picture {
      @include respond(md) {
        width: 50%;
        float: left;
        padding-right: 15px;
        padding-left: 0;
      }
      img {
        @extend %listicle-block;
        width: 100%;
        margin-bottom: 0px;
        object-fit: cover;

        @include respond(md) {
          height: 316px;
        }

        @include respond(lg) {
          height: 277px;
        }
      }
    }

    &__text {
      padding: 15px;

      @include respond(md) {
        width: 50%
      }

      &__title {
        color: map-get($palette, scarlet) !important;
        font-size: 25px !important;
        font-weight: bold !important;
        margin-bottom: .5rem !important;
      }

      &__body {
        @include font("%T4");
        margin: 10px 0;
      }
    }

    &--text {
      &-left .listicle__row__picture {
        float: right;
        padding-left: 15px;
        padding-right: 0;
      }

      @include respond(md) {
        &-one-third {
          .listicle__row__picture{
            width: 60%
          }
          .listicle__row__text{
            width: 100%;
          }
        }

        &-two-thirds {
          .listicle__row__picture{
            width: 40%
          }
          .listicle__row__text{
            width: 100%;
          }
        }

        &-half {
          .listicle__row__picture{
            width: 50%;
          }
          .listicle__row__text{
            width: 100%;
          }
        }
      }
    }
  }
}

%listicle-block {
  @include respond(md) {
    margin-right: 30px;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

%listicle-text-block {
  @extend %listicle-block;

  padding: 20px;

  @include respond(md) {
    margin: 0 30px 0 0;
  }

}
