.marketoForm {
  background: white;
  &--yellow {
    background: linear-gradient(to bottom,#fc0 0,#fc0 80%,#ffefb2 100%);
  }
}

.cmp-marketoForm {
  .mktoForm {
    font-family: "Delivery", sans-serif !important;
    font-size: var(--font-size-sm) !important;

    a {
      @include hoverText($text-decoration-normal: none, $text-decoration-hover: underline);
    }
  }

  &__container{
    .mktoCaptchaDisclaimer {
      font-style: italic;
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
    .mktoFormRow {
      .mktoLabel{
        font-size: 1.6rem;
        line-height: 2.3rem;
      }
      .mktoHtmlText {
        font-style: italic;
        font-size: 1.6rem;
        line-height: 2.3rem;
      }
      input, select {
        box-shadow: none;
        border: 1px solid #707070;
        font-size: 1.8rem;
        line-height: 2.6rem;
        color: #828282;
        padding: 1.6rem;
      }
    }
  }
  .mktoButtonRow {
    margin-top: 3rem;
    @include respond(md) {
      margin-top: 5rem;
    }
  }

  &.forms {
    margin-top: 0;
    padding-top: 0;
  }

  [data-marketo-hidden-form] {
    display: none;
  }

  form,
  label,
  select,
  input {
    width: 100%!important;
  }
  .mktoRadioList {
    padding-left: 3.6rem;
    label,
    input {
      margin-top: 1rem;
      display: inline;
      width: auto !important;
    }
    label {
      padding-left: 1rem;
      &:after {
        content:"";
        display:block;
      }
    }
  }

  .mktoAsterix {
    display: none;
  }

  &__title {
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1.5rem;
    line-height: 1.08;
  }

  &__container {
    padding: 2rem;
  }

  .mktoErrorMsg {
    font-size: 1.2rem;
    color: map-get($palette, red);
    display: block;
    margin-top: .7rem;
  }

  select.mktoInvalid,
  input.mktoInvalid {
    border: solid 1px map-get($palette, red);
  }

  .mktoFieldWrap {
    position: relative;
  }

  label {
    padding-left: 3.6rem;
    font-size: 1.4rem;
    color: #212121;
    margin: 0;
    display: block;
    line-height: normal;
    [dir="rtl"] & {
      padding-left: unset;
      padding-right: 3.6rem;
    }
  }



  .mktoHtmlText {
    font-size: 1.6rem;
    color: #212121;
  }

  .mktoButtonWrap {
    margin-left: 0 !important;
  }

  .mktoButton {
    cursor: pointer !important;
    background-image: none !important;
    width: 100% !important;
    text-decoration: none !important;
    text-align: center !important;
    display: inline-block !important;
    transition: background-color .2s ease, color .2s ease !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 1rem 3.2rem !important;
    color: white !important;
    background-color: map-get($palette, red) !important;

    &:hover {
      color: white !important;
      background-color: map-get($palette, light-red) !important;
      text-decoration: none !important;
    }

    &:active {
      background-color: map-get($palette, dark-red) !important;
      color: white !important;
    }
  }

  .mktoCheckboxList {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.3rem !important;
    [dir="rtl"] & {
      right: 0;
    }

    input {
      position: fixed;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      left: -100%;
      top: -100%;
      + label {
        &:before {
          content: '';
          width: 2.3rem;
          height: 2.3rem;
          position: absolute;
          top: .2rem;
          left: 0;
          border: solid 1px map-get($palette,  checkbox-border-grey);
          background-color: white;
        }
      }

      &:checked {
        + label {
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            height: .7rem;
            width: 1.6rem;
            border-left: 2px solid rgb(102, 102, 102);
            border-bottom: 2px solid rgb(102, 102, 102);
            transform: rotate(-56deg);
            left: .4rem;
            top: .8rem;
          }
        }
      }
    }
  }

  .mktoFormRow {
    margin-bottom: 1.7rem;
  }

  .mktoFormCol {
    margin-bottom: 0 !important;
  }

  #mktoForm_1795 {
    @include respond(lg) {
      .mktoFormRow {
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9) {
          width: 50%;
          display: inline-block;
          font-size: 0;
          vertical-align: top;
        }

        &:nth-child(4),
        &:nth-child(8) {
          padding-right: 1rem;

          [dir="rtl"] & {
            padding-right: 0;
            padding-left: 1rem;
          }
        }

        &:nth-child(5),
        &:nth-child(9){
          padding-left: 1rem;

          [dir="rtl"] & {
            padding-left: 0;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

