.MarketoNewsletter {
  padding: 0 0 25px 0;
  background: #ffcc00;
  background: linear-gradient(to bottom, #ffcc00 0%,#ffcc00 80%,#ffefb2 100%);
  margin: 20px 0;
  margin-left: calc(-1 * ((100vw - 100%)/ 2));
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  text-align: inherit;

  @include respond(sm) {
    padding: 25px 0;
    margin-left: auto;
    width: auto;
    margin: 30px 0;

    padding: 30px 5px;

    .form-group {
      margin-bottom: 5px;
    }
  }

  &__text {
    text-align: inherit;

    h2 {
      @include font("%H2");
      text-align: inherit;
      margin-top: 26px;
      font-weight: 800;

      @include respond(sm) {
        font-size: 25px;
        margin-top: 0;
      }
    }

    ul {
      padding-left: 10px;
      margin-top: 15px;
      margin-bottom: 5px;

      li {
        position: relative;
        padding-left: 10px;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        &:before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 3px;
          position: absolute;
          top: 10px;
          left: -10px;
          background-color: map-get($palette, red);

          [dir="rtl"] & {
            left: unset;
            right: -10px;
          }
        }
      }
    }

    @include respond(sm) {
      @include clearfix();
      text-align: inherit;
      float: left;
      display: inline-block;
      width: 66%;

      ul {
        font-size: 0;
        li {
          font-size: 16px;
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding-left: 10px;
          padding-right: 10px;

          &:before {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 3px;
            position: absolute;
            top: 10px;
            left: -10px;
            background-color: map-get($palette, red);

            [dir="rtl"] & {
              left: unset;
              right: -10px;
            }
          }
          // &:nth-child(even) {
          //   padding-left: 10px;
          // }
          // &:nth-child(odd) {
          //   padding-right: 10px;
          // }
        }
      }
    }
  }

  &__copy {
    @include font("%T4");
    text-align: left;
    margin: 20px 0;

    $block: &;

    &--small {
      @include font("%T5");
      font-weight: 200;
      font-stretch: condensed;

      a {
        @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
        color: map-get($palette, scarlet);
      }
    }
  }

  &__image-container {
    height: 140px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, #fff0b2 0%, #ffde59 25%, #ffde59 80%, #fff0b2);
    margin-left: -15px;
    margin-right: -15px;
    img {
      position: absolute;
      top: -70px;
      margin: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__image {
    max-width: 190px !important;
    background-size: contain;
    margin: 35px auto;

    @include respond(sm) {
      text-align: left;
      float: right;
      display: inline-block !important;
      max-width: 24% !important;
      margin-top: 0;
    }
  }

  &__ctas {
    @include clearfix();
    margin: 20px 0;

    & .download__copy {
      @include respond(sm) {
        display: inline-block;
        width: 20px;
        text-align: left;
        margin: 0 20px;
      }
    }
  }

  &__cta--red {
    @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);

    background-image: none;
    border: none;
    padding: 10px 30px;
    width: 100%;
    display: block;
    outline: none !important;

    @include respond(sm) {
      display: inline-block;
      width: 240px;
      white-space: nowrap;
    }
  }

  & .forms {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 0;

    &__group--text {
      &:nth-of-type(1) {
        border-top: 1px solid map-get($map: $palette, $key: border-grey) !important;

        &::before {
          background-color: map-get($map: $palette, $key: white-two);
        }
      }
    }

    &__row {
      margin-bottom: 0;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__copy {
      font-weight: bold !important;
    }

    &__copy--small {
      margin-top: 10px;
    }

    &__checkbox {
      font-weight: 800;
      font-stretch: condensed;

      label {
        font-weight: 800 !important;
        font-stretch: condensed !important;
      }
    }

    @include respond(sm) {
      input[type=text],
      input[type=email],
      input[type=password],
      input[type=tel],
      input[type=number],
      input[type=search],
      textarea, {
        margin-bottom: 0;
      }
    }

    label.error {
      margin-top: 0 !important;
    }
  }

  &__hidden-form {
    display: none;
  }

  .row-socials {
    padding-bottom: 0;

    .forms__row {
      @include respond(lg) {
        max-width: 80%;
      }
    }
  }
}
