.marketoForm {
	//Styles

  &--yellow {
    background: #ffcc00;
    background: linear-gradient(to bottom, #fc0 0%, #fc0 80%, #ffefb2 100%);
    padding-bottom: 12px;
  }

  &--white {
    background: map-get($palette, true-white);
    padding-bottom: 12px;
  }

  &.forms {
    margin-top: 0;
    padding-top: 0;
  }

  [data-marketo-hidden-form] {
    display: none;
  }

  form,
  label,
  select,
  input {
    width: 100%!important;
  }

  .mktoAsterix {
    display: none;
  }

  &__title {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 1.08;
  }

  &__container {
    padding: 20px;
  }

  .mktoErrorMsg {
    font-size: 12px;
    color: map-get($palette, red);
    display: block;
    margin-top: 7px;
  }

  select.mktoInvalid,
  input.mktoInvalid {
    border: solid 1px map-get($palette, red);
  }

  .mktoFieldWrap {
    position: relative;
  }

  label {
    padding-left: 36px;
    font-size: 14px;
    color: #212121;
    margin: 0;
    display: block;
    line-height: normal;
    font-family: "Delivery",sans-serif;
  }

  .wysiwyg {
    padding: 0;
  }

  .mktoHtmlText {
    font-size: 16px;
    color: #212121;
  }

  .mktoButtonWrap {
    margin-left: 0 !important;
    font-family: "Delivery",sans-serif;
  }

  .mktoButton {
    @include font("%T2");
    display: inline-block !important;
    width: 100% !important;
    padding: 12px 20px !important;
    border-radius: 5px !important;
    border: none !important;
    background-color: map-get($map: $palette, $key: scarlet)!important;
    color: map-get($map: $palette, $key: true-white) !important;
    background-image: none !important;
    cursor: pointer;
    font-size: 14px !important;

    &:hover {
      background-color: map-get($map: $palette, $key: dark-scarlet)!important;
    }
  }

  .mktoCheckboxList {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px !important;

    input {
      position: fixed;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      left: -100%;
      top: -100%;
      + label {
        &:before {
          content: '';
          width: 23px;
          height: 23px;
          position: absolute;
          top: 2px;
          left: 0;
          border: solid 1px map-get($palette,  checkbox-border-grey);
          background-color: white;
        }
      }

      &:checked {
        + label {
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 7px;
            width: 16px;
            border-left: 2px solid rgb(102, 102, 102);
            border-bottom: 2px solid rgb(102, 102, 102);
            transform: rotate(-56deg);
            left: 4px;
            top: 8px;
          }
        }
      }
    }
  }

  .mktoFormRow {
    margin-bottom: 17px;
  }

  .mktoFormCol {
    margin-bottom: 0 !important;
  }

  // Custom
  #mktoForm_1796,
  #mktoForm_1799 {
    .mktoButton {
      width: auto !important;
      min-width: 154px;
    }
  }

  #mktoForm_1795 {

    @include respond(lg) {
      .mktoFormRow {
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9) {
          width: 50%;
          display: inline-block;
          font-size: 0;
          vertical-align: top;
        }

        &:nth-child(4),
        &:nth-child(8) {
          padding-right: 10px;
        }

        &:nth-child(5),
        &:nth-child(9){
          padding-left: 10px;
        }
      }
    }
  }
}