.MarketoNewsletter {
  padding: 0 0 2.5rem 0;
  background: #ffcc00;
  background: linear-gradient(to bottom, #ffcc00 0%,#ffcc00 80%,#ffefb2 100%);
  margin: 2rem 0;
  margin-left: calc(-1 * ((100vw - 100%)/ 2));
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  text-align: inherit;

  @include respond(sm) {
    padding: 2.5rem 0;
    margin-left: auto;
    width: auto;
    margin: 3rem 0;

    padding: 3rem .5rem;

    .form-group {
      margin-bottom: .5rem;
    }
  }

  &__text {
    text-align: inherit;

    h2 {
      text-align: inherit;
      margin-top: 2.6rem;
      font-weight: 800;

      @include respond(sm) {
        font-size: 2.5rem;
        margin-top: 0;
      }
    }

    ul {
      padding-left: 1rem;
      margin-top: 1.5rem;
      margin-bottom: .5rem;

      li {
        position: relative;
        padding-left: 1rem;
        display: inline-block;
        width: 100%;
        margin-bottom: 1rem;
        &:before {
          content: '';
          width: .4rem;
          height: .4rem;
          border-radius: .3rem;
          position: absolute;
          top: 1rem;
          left: -1rem;
          background-color: map-get($palette, red);

          [dir="rtl"] & {
            left: unset;
            right: -1rem;
          }
        }
      }
    }

    @include respond(sm) {
      @include clearfix();
      text-align: inherit;
      float: left;
      display: inline-block;
      width: 66%;

      ul {
        font-size: 0;
        li {
          font-size: 1.6rem;
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding-left: 1rem;
          padding-right: 1rem;

          &:before {
            content: '';
            width: .4rem;
            height: .4rem;
            border-radius: .3rem;
            position: absolute;
            top: 1rem;
            left: -1rem;
            background-color: map-get($palette, red);

            [dir="rtl"] & {
              left: unset;
              right: -1rem;
            }
          }
          // &:nth-child(even) {
          //   padding-left: 1rem;
          // }
          // &:nth-child(odd) {
          //   padding-right: 1rem;
          // }
        }
      }
    }
  }

  &__copy {
    text-align: left;
    margin: 2rem 0;

    $block: &;

    &--small {
      font-weight: 200;
      font-stretch: condensed;

      a {
        @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
        color: map-get($palette, scarlet);
      }
    }
  }

  &__image-container {
    height: 14rem;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, #fff0b2 0%, #ffde59 25%, #ffde59 80%, #fff0b2);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    img {
      position: absolute;
      top: -7rem;
      margin: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__image {
    max-width: 19rem !important;
    background-size: contain;
    margin: 3.5rem auto;

    @include respond(sm) {
      text-align: left;
      float: right;
      display: inline-block !important;
      max-width: 24% !important;
      margin-top: 0;
    }
  }

  &__ctas {
    @include clearfix();
    margin: 2rem 0;

    & .download__copy {
      @include respond(sm) {
        display: inline-block;
        width: 2rem;
        text-align: left;
        margin: 0 2rem;
      }
    }
  }

  &__cta--red {
    @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);

    background-image: none;
    border: none;
    padding: 1rem 3rem;
    width: 100%;
    display: block;
    outline: none !important;

    @include respond(sm) {
      display: inline-block;
      width: 24rem;
      white-space: nowrap;
    }
  }

  & .forms {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 0;

    &__group--text {
      &:nth-of-type(1) {
        border-top: 1px solid map-get($map: $palette, $key: border-grey) !important;

        &::before {
          background-color: map-get($map: $palette, $key: white-two);
        }
      }
    }

    &__row {
      margin-bottom: 0;
    }

    &__subtitle {
      font-size: 3rem;
    }

    &__copy {
      font-weight: bold !important;
    }

    &__copy--small {
      margin-top: 1rem;
    }

    &__checkbox {
      font-weight: 800;
      font-stretch: condensed;

      label {
        font-weight: 800 !important;
        font-stretch: condensed !important;
      }
    }

    @include respond(sm) {
      input[type=text],
      input[type=email],
      input[type=password],
      input[type=tel],
      input[type=number],
      input[type=search],
      textarea, {
        margin-bottom: 0;
      }
    }

    label.error {
      margin-top: 0 !important;
    }
  }

  &__hidden-form {
    display: none;
  }

  .row-socials {
    padding-bottom: 0;

    .forms__row {
      @include respond(lg) {
        max-width: 80%;
      }
    }
  }
}
