.nextSteps {
  margin: 2rem 0 0 0;
  padding-top: 2rem;
  border-top: 1px solid map-get($map: $palette, $key: border-grey);

  @include respond(md) {
    margin: 2rem 0 4rem 0;
    flex-direction: row;
    padding-top: 4rem;
  }

  &__image {
    background-size: cover;
    background-position: center;
    height: 281px;
    margin: 2rem 0 0;

    @include respond(md) {
      height: 281px;
      margin-top: 0;
    }
  }

  &__text {
    padding: 0;
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
  }

  &__articleTitle {
    margin-top: 2rem;

    @include respond(md) {
      margin-top: 0;
    }
  }

  &__copy {
    margin-bottom: 3rem;
  }

  &__cta {
    margin-bottom: 4rem;
    width: 100%;
    background-image: none;
    padding: 1rem;

    @include respond(md) {
      padding: 1rem 7rem;
      width: auto;
    }
  }
}
