.quote-component {
  margin: auto;
  max-width: 71rem;
  padding: 3rem 0;
  margin-top: 5rem;
  @include respond(xl) {
     padding: 3rem 0;
     margin-top: 5rem;
  }
  &__text {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 3.7rem;
    margin-top: 2rem;
    margin-bottom: 0;
    @include respond(xl) {
       font-size: 3rem;
    }
  }
}
