.quote-component {
  margin: auto;
  max-width: 710px;
  padding: 30px 0px;
  margin-top: 50px;
  @include respond(xl) {
     padding: 30px 0px;
     margin-top: 50px;
  }
  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 37px;
    margin-top: 20px;
    margin-bottom: 0px;
    @include respond(xl) {
       font-size: 30px;
    }
  }
}
