.related-posts-component {
  max-width: 1200px;
  padding: 50px;
  background: transparent linear-gradient(270deg, #323232 0%, #070707 56%, #040404 100%) 0% 0% no-repeat padding-box;
  color: white;
  mix-blend-mode: multiply;
  border-radius: 6px;
  opacity: 1;
  margin: auto;
  margin-top: 30px;
  @include respond(xl) {
    margin-top: 50px;
  }
  .title {
    font: normal normal bold 26px/26px Delivery, sans-serif;
    padding-left: 10px;
    border-left: 2px solid white;
    margin-bottom: 27px;
  }
  .article-container {
    display: flex;
    gap: 10px;
    margin-left: -50px;
    padding-left: 50px;
    margin-right: -50px;
    padding-right: 50px;
    @include respond(xl) {
      .article-container__article:nth-child(n + 4) {
        display: none;
      }
    }
    &__article {
      display: flex;
      gap: 18px;
      width: 360px;
      min-width: 360px;
      &__image {
        height: 100%;
        min-height: 94px;
        width: 132px;
        min-width: 132px;
        position: relative;
        display: inline-block;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        &:after {
          content: "";
          border-radius: 6px;
          position: absolute;
          background: transparent linear-gradient(180deg, #DCDCDC 0%, #3A3A3A 56%, #0D0D0D 100%) 0% 0% no-repeat padding-box;
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          opacity: 0.6;
        }
      }
      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__title {
          font: normal normal bold 20px/22px Delivery, sans-serif;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-decoration: none;
          color: white;
          &:hover {
            text-decoration: underline;
            color: #D40511;
            display: block;
          }
        }
        &__metadata {
          margin-top: 5px;
          font: normal normal normal 14px/20px Delivery, sans-serif;
          opacity: 0.7;
        }
      }
    }
  }
}
