.related-posts-component {
  max-width: 120rem;
  padding: 5rem;
  background: transparent
    linear-gradient(270deg, #323232 0%, #070707 56%, #040404 100%) 0% 0%
    no-repeat padding-box;
  color: white;
  mix-blend-mode: multiply;
  border-radius: 0;
  @include respond(xl) {
    border-radius: .6rem;
  }
  opacity: 1;
  margin: auto;
  margin-top: 3rem;
  @include respond(xl) {
    margin-top: 5rem;
  }
  .horizontal-scroll {
    &::-webkit-scrollbar-track {
      margin: 5rem;
    }
  }
  .title {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 2.6rem;
    padding: 0 1rem;
    border-left: 2px solid white;
    margin-bottom: 2.7rem;

    [dir="rtl"] & {
      border-left: none;
      border-right: 2px solid white;
    }
  }
  .article-container {
    display: flex;
    gap: 1rem;
    margin-left: -5rem;
    padding-left: 5rem;
    margin-right: -5rem;
    padding-right: 5rem;
    @include respond(xl) {
      .article-container__article:nth-child(n + 4) {
        display: none;
      }
    }
    &__article {
      display: flex;
      gap: 1.8rem;
      width: 36rem;
      min-width: 36rem;
      &__image-wrapper {
        position: relative;
        min-height: 9.4rem;
        width: 13.2rem;
        min-width: 13.2rem;
        &__image {
          height: 100%;
          width: 100%;
          position: absolute;
          display: inline-block;
          object-fit: cover;
          border-radius: .6rem;
        }
        &:after {
          content: "";
          border-radius: .6rem;
          position: absolute;
          background: transparent
            linear-gradient(180deg, #dcdcdc 0%, #3a3a3a 56%, #0d0d0d 100%) 0% 0%
            no-repeat padding-box;
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          opacity: 0.6;
          left: 0;
        }
      }
      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__title {
          font-weight: bold;
          font-size: 2rem;
          line-height: 2.2rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-decoration: none;
          color: white;
          &:hover {
            text-decoration: underline;
            color: #d40511;
            display: block;
          }
        }
        &__metadata {
          margin-top: .5rem;
          font-weight: normal;
          font-size: 1.4rem;
          line-height: 2rem;
          opacity: 0.7;
          :not(:first-child)::before {
            content: "|";
            margin-right: 2px;
          }
        }
      }
    }
  }
}
