.share-options {
  padding-top: 2.5rem;

  &__label {
    display: none;

    @include respond(xl) {
      display: block;

      font-size: 1.2rem;
      line-height: 1.7rem;
      font-weight: bold;
      color: map-get($palette, dhl-black);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .st-custom-button {
      cursor: pointer;
      align-items: center;
      display: flex;
      gap: .5rem;
    }
  }

  &__left {
    display: flex;
    gap: 1rem;

    .logo__image {
      height: 2.7rem;
      width: 2.7rem;
      object-fit: contain;
      margin: 0;
    }
  }

  &__right {
    .logo__image {
      height: 1.7rem;
      width: 1.7rem;
      object-fit: contain;
      margin: 0;
    }

    .st-label {
      position: relative;
      font-size: 1.4rem;
      line-height: 2.5rem;
      letter-spacing: 0.4.8rem;
      color: map-get($palette, scarlet);

      @include respond(md) {
        font-size: 1.4rem;
        line-height: 3.4rem;
        letter-spacing: 0.6.6rem;
      }

      @include respond(xl) {
        font-size: 1.5rem;
        line-height: 3.7rem;
        letter-spacing: 0.7.2rem;
      }
    }
  }

  &--underline {
    padding-bottom: 2rem;
    border-bottom: 2px solid map-get($palette, scarlet);
  }
}
