.shipNowMulti {
    margin: 0 !important;
    padding: 0 !important;
    background: linear-gradient(to bottom, #fff, #f5f5f5);

    @include respond(md) {
        padding-bottom: 4rem !important;
    }

    form.forms {
        margin: 0;
        padding: 0;
    }

    .col-12 {
        padding-left: 0;
        padding-right: 0;
    }

    &__head {
        background: #f9f9f9;
        padding: 1rem 2rem 2rem;

        h1, h2 {
            text-align: center;
            font-size: 2.3rem;
            line-height: 2.6rem;

            font-weight: 800;
            text-transform: uppercase;
        }

        @include respond(md) {
            background: none;
            padding-top: 3rem;

            h1, h2 {
                font-size: 3rem;
                line-height: 3.5rem;
            }
        }

        @include respond(xl) {
            h1, h2 {
                font-size: 4rem;
                line-height: 4.2rem;
            }
        }

        &--thanks {
            padding: 3rem 2rem 3rem;

            h1, h2 {
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 1.3rem;
                font-weight: 200;
                color: #666;
                text-align: center;
                margin-bottom: 0;
            }

            @include respond(md) {
                padding-bottom: 0;

                p {
                    font-size: 1.4rem;
                    margin: 3rem 0 1rem;
                }
            }

            @include respond(lg) {
                padding: 6rem 0 1rem;

                p {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }
            }
        }
    }

    &__headitems {
        margin-left: 0;
        margin-right: 0;
    }

    &__headitem {
        width: 50%;
        padding: 1rem 0 1.5rem;
        float: left;
        border-right: 1px solid rgba(map-get($palette, brownish-grey), 0.1);
        border-bottom: 1px solid rgba(map-get($palette, brownish-grey), 0.1);

        &:before {
            content: '';
            display: block;
            position: relative;
            z-index: 1;
            width: 7rem;
            height: 6.5rem;
            margin: 0 auto .5rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url('__prefix__/discover/resources/img/lp-icon-1.svg');
        }

        &--first {
            padding-top: 0;
            &:before {
                left: -1rem;
            }
        }

        &--second {
            padding-top: 0;
            border-right-color: transparent;
            &:before {
                background-image: url('__prefix__/discover/resources/img/lp-icon-2.svg');
            }
        }

        &--third {
            padding-bottom: 0;
            border-bottom-color: transparent;
            &:before {
                background-image: url('__prefix__/discover/resources/img/lp-icon-3.svg');
            }
        }

        &--fourth {
            padding-bottom: 0;
            border-right-color: transparent;
            border-bottom-color: transparent;
            &:before {
                background-image: url('__prefix__/discover/resources/img/lp-icon-4.svg');
            }
        }

        h3 {
            font-size: 1.7rem;
            letter-spacing: -0.02em;
            margin: 0;
            padding: 0;
            text-align: center;

            @include respond(md) {
                font-size: 1.8rem;
                margin-bottom: .5rem;
            }
        }

        p {
            display: none;

            @include respond(md) {
                display: block;
                padding: 0 1.5rem;
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-weight: 200;
                color: #666;
            }
        }

        @include respond(md) {
            width: 25%;
            border: none;
            padding-top: 0;
            padding-bottom: 2rem;
        }

        @include respond(xl) {
            margin: 2rem 0 4rem;
            padding: 0;
            border-right: 1px solid #e1e1e1;
            border-left: 1px solid #ffffff;

            &:before {
                width: 12rem;
                height: 9rem;
            }

            &--first {
                border-left: none;
            }

            &--fourth {
                border-right: none;
            }

            p {
                margin-bottom: 0;
            }
        }

        &--step2 {
            width: 100%;
            float: left;
            padding: 1rem 0;
            margin: 0;
            border-bottom: 1px solid rgba(map-get($palette, brownish-grey), 0.1);

            &.shipNowMulti__headitem--fourth {
                border-bottom: none;
            }

            h3 {
                margin-bottom: 0;
            }

            p {
                font-size: 1rem !important;
                margin-top: -2px !important;
            }

            @include respond(xl) {
                width: 50%;
                padding: 4rem 0 3rem;
                border-right: 1px solid rgba(map-get($palette, brownish-grey), 0.1);

                &.shipNowMulti__headitem--first {
                    padding-top: 0;
                }

                &.shipNowMulti__headitem--second {
                    padding-top: 0;
                    border-right-color: transparent;
                }

                &.shipNowMulti__headitem--third {
                    padding-bottom: 0;
                    border-bottom-color: transparent;
                }

                &.shipNowMulti__headitem--fourth {
                    padding-bottom: 0;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }

                p {
                    min-height: 4.5rem;
                    line-height: 1.6rem !important;
                    font-size: 1.3rem !important;
                    margin-top: 2px !important;
                }
            }
        }
    }

    &__headcta {
        @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
        margin-top: 2rem;
        width: 100%;

        @include respond(md) {
            display: block;
            width: 35rem;
            margin: 3rem auto 0;
        }
    }

    &__form {
        @include respond(md) {
            width: 100%;
            float: left;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        }

        &--step2 {
            margin-top: -1.5rem;
        }
    }

    &__intro {
        background: map-get($palette, true-white);
        margin-top: 0;
        padding: 2rem;

        .forms__group {
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 1rem 0 0;
        }
        .col-4 {
            padding-left: .5rem;
            padding-right: .5rem;
        }

        h2 {
            font-size: 1.9rem;
            line-height: 3rem;
            font-weight: 800;
            font-stretch: condensed;
            margin: 0 0 1rem;
        }

        p {
            margin: 0 0 1rem;
            font-size: 1.3rem;
            line-height: 1.9rem;
            color: #666;
        }

        .forms__cta--social {
            position: relative;
            padding: 1.2rem 1.2rem;

            &:before {
                display: none;
                content: '';
                position: absolute;
                left: 4.2rem;
                width: .1rem;
                top: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.15);

                @include respond(md) {
                    display: block;
                }
            }

            .forms__button-text {
                display: inline-block;
            }

            .forms__icon {
                display: none;
                @include respond(md) {
                    display: inline-block;
                }
            }
        }

        @include respond(md) {
            width: 50%;
            float: left;
            min-height: 50.5rem;
            padding-bottom: 0;

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.4rem;
                line-height: 2.2rem;
                margin-bottom: 0;
            }
        }

        @include respond(xl) {
            padding: 3rem 6rem 2rem;
            min-height: 36rem;

            p {
                font-size: 1.4rem;
                line-height: 2.2rem;
            }
        }

        &--step2 {
            display: none;
            padding: 1.5rem 8rem;
            min-height: 55.5rem;

            @include respond(md) {
                display: block;
            }

            @include respond(xl) {
                min-height: 51rem;
                padding-top: 6rem;
                padding-bottom: 6rem;
            }
        }
    }

    &__steps {
        position: relative;
        width: 100%;
        float: left;
        height: .3rem;
        margin: 1rem 0 3rem;
        background: map-get($palette, true-white);

        .step {
            position: absolute;

            &.zeroth {
                width: .9rem;
                height: .9rem;
                top: -3px;
                left: -2px;
                border-radius: .5rem;
                background: map-get($palette, scarlet);
            }

            &.first {
                top: -8px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 2rem;
                height: 2rem;
                background: #ffcc00;
                border: 2px solid map-get($palette, scarlet);
                border-radius: 1rem;

                span {
                    display: block;
                    position: relative;
                    top: .2rem;
                    left: .2rem;
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: .6rem;
                    text-align: center;
                    font-size: .8rem;
                    line-height: 1.2rem;

                    color: map-get($palette, true-white);
                    background: map-get($palette, scarlet);
                }
            }

            &.second {
                top: -4px;
                right: -2px;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: .6rem;
                text-align: center;
                font-size: .8rem;
                line-height: 1.2rem;

                color: #ffcc00;
                background: map-get($palette, true-white);
            }
        }

        &--step2 {
            .step {
                &.first {
                    background: transparent;
                    border: 2px solid transparent;
                }

                &.second {
                    top: -8px;
                    right: -8px;
                    width: 2rem;
                    height: 2rem;
                    background: #ffcc00;
                    border: 2px solid map-get($palette, scarlet);
                    border-radius: 1rem;

                    span {
                        display: block;
                        position: relative;
                        top: .2rem;
                        left: .2rem;
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: .6rem;
                        text-align: center;
                        font-size: .8rem;
                        line-height: 1.2rem;

                        color: map-get($palette, true-white);
                        background: map-get($palette, scarlet);
                    }
                }
            }
        }

        .sep {
            width: 50%;
            float: left;
            height: .3rem;
            background: map-get($palette, true-white);

            &.on {
                background: map-get($palette, scarlet);
            }
        }
    }

    &__form1 {
        background: #ffcc00;
        background: linear-gradient(to bottom, #ffcc00 0%,#ffcc00 80%,#ffefb2 100%);
        position: relative;
        margin-top: 0;
        padding: 2.5rem 2rem 3rem;

        @include respond(md) {
            width: 50%;
            float: left;
            min-height: 50.5rem;
        }

        @include respond(xl) {
            padding: 3rem 6rem 2rem;
            min-height: 36rem;
        }

        &:before {
            content: 'or';
            display: block;
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: -1.5rem;
            left: 0;
            right: 0;
            margin: 0 auto;

            font-size: 1.2rem;
            font-weight: 800;
            font-stretch: condensed;
            line-height: 3rem;
            text-align: center;

            background: map-get($palette, true-white);
            border-radius: 1.5rem;
            box-shadow: 1px 1px .7rem rgba(0, 0, 0, 0.3);

            @include respond(md) {
                margin: 0;
                left: -1.5rem;
            }

            @include respond(xl) {
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }

        &--step2 {
            min-height: none;

            &:before {
                display: none;
            }

            @include respond(md) {
                min-height: 55.5rem;
            }

            @include respond(xl) {
                min-height: 51.8rem;
            }
        }

        .forms__group {
            clear: both;
        }

        @include respond(md) {
            .forms__row {
                margin-bottom: 0;
            }
        }

        .forms__row {
            margin-left: -5px;
            margin-right: -5px;
        }

        .col-12, .col-6 {
            padding-left: .5rem !important;
            padding-right: .5rem !important;
        }

        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 800;
            font-stretch: condensed;
            margin: 0 0 1rem;
        }

        .forms__group {
            border: none;
            padding: 0;

            input,
            select,
            button,
            textarea,
            .input-group-text,
            .forms__checkbox--highlight,
            .forms__checkbox,
            .forms__password {
                margin-bottom: 1rem;

                &.error {
                    border: 1px solid map-get($palette, scarlet);

                    &::placeholder {
                        color: map-get($palette, scarlet);
                    }
                }

                @include respond(md) {
                    margin-bottom: 1.5rem;

                    &.error {
                        margin-bottom: 2.5rem;
                    }
                }
            }

            input[type=text],
            input[type=email],
            input[type=password],
            input[type=tel],
            input[type=number],
            input[type=search],
            textarea, {
                padding: 1rem;

                &.valid {
                    background: #fff url('__prefix__/discover/resources/img/lp-greentick.png') center right no-repeat;
                    background: #fff url('__prefix__/discover/resources/img/lp-greentick.svg') 98% center no-repeat;
                    background-size: 2.8rem 1.4rem;
                }

            }
        }

        .forms__copy {
            &--small {
                font-size: 1.1rem;
                color: map-get($palette, black);
                margin-top: .5rem;

                p {
                    font-size: 1.1rem;
                    color: map-get($palette, black);
                    margin-top: .5rem;

                    @include respond(xl) {
                        margin-bottom: 1.5rem !important;
                    }
                }

                @include respond(xl) {
                    margin-bottom: 1.5rem !important;
                }
            }
        }

        label.error {
            margin-top: -0.8rem;
            font-size: 1.1rem;

            @include respond(md) {
                position: absolute;
                margin-top: -2rem;
            }
        }

        select {
            background-color: map-get($palette, true-white);
            box-shadow: inset 1px 1px 0 0 rgba(102,102,102,0.3);
            border: solid 1px rgba(102,102,102,0.3);
            padding: 1rem;

            &.error {
                border: 1px solid map-get($palette, scarlet);

                &::placeholder {
                    color: map-get($palette, scarlet);
                }
            }
        }
    }
}

.shipNowNowMulti {
    padding: 2rem .5rem;

    @include respond(md) {
        .col-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__panel {
        position: relative;
        z-index: 1;
        color: map-get($palette, dhl-black);
        background: map-get($palette, white-two);
        background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 50%,#f5f5f5 100%);
        border: 1px solid #ddd;
        padding: 1.5rem 2.5rem 2rem 2.5rem;
        margin: 0;

        &:before {
            content: '';
            position: absolute;
            top: 5rem;
            right: 2.5rem;
            width: 8.5rem;
            height: 6.5rem;
            background: transparent url('__prefix__/discover/resources/img/lp-shipnow-icon.png') center no-repeat;
            background-size: contain;

            @include respond(md) {
                width: 10.5rem;
                height: 8.3rem;
                top: 2rem;
            }

            @include respond(xl) {
                top: 4rem;
            }
        }

        h3 {
            @include respond(md) {
                font-size: 2.5rem;
                line-height: 3rem;
                margin-bottom: 1rem;
            }
        }

        p {
            font-size: 1.3rem;
            line-height: 1.9rem;
            margin-right: 9rem;
            min-height: 8rem;
            color: #6f6f6f;

            @include respond(md) {
                font-size: 1.5rem;
                line-height: 2.4rem;
                margin-right: 21.5rem;
            }
        }

        a {
            position: relative;
            @include button($background: map-get($palette, scarlet), $colour: map-get($palette, true-white), $hover: 1);
            border: 1px solid map-get($palette, scarlet);
            width: 100%;
        }

        @include respond(md) {
            p {
                font-size: 1.4rem;
            }
        }

        @include respond(xl) {
            padding: 2rem 2.5rem 2.5rem;

            h3 {
                text-align: center;
                font-size: 2.5rem;
                line-height: 3rem;
            }

            p {
                text-align: center;
                min-height: 0;
                margin-left: 12rem;
                margin-right: 12rem;
            }

            a {
                display: block;
                width: 35rem;
                margin: 0 auto;
            }
        }
    }
}
