.sitemap {

  $block: &;

  a {
    @include font("%T3",map-get($palette, dhl-black));
    @include hoverText($colour-normal: map-get($palette, dhl-black), $colour-hover: map-get($palette, scarlet));
    font-weight: 200;
    font-stretch: condensed;
    margin-bottom: 15px;
    display: block;

    &#{$block}__title {
      @include font('%T1');
      @include hoverText($colour-normal: map-get($palette, black), $colour-hover: map-get($palette, scarlet));

      display: block;
      text-transform: uppercase;
      margin: 25px 0 20px 0;
    }
  }




  &__l1-item,
  &__l2-item {
    a {
      @include font('%T3', map-get($palette, dhl-black));
      font-weight: 200;
      font-stretch: condensed;
      display: block;
      margin-bottom: 15px;
    }
  }


  &__l1-item {
    @include respond(md) {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      padding-right: 20px;
    }

  }


  &__l2 {
    margin-left: 20px;
  }

  &__full-width-lists {
    @include make-row();

    #{$block}__l0 {
      width: 100%;

      > li {
        @include make-col-ready();
        @include make-col(12);
      }
    }


    #{$block}__l1 {
      @include make-row();

      > li {

        @include make-col-ready();
        @include make-col(12);

        @include respond(md) {
          @include make-col(6);
        }
      }
    }
  }

  &__half-width-lists {

    @include make-row();

    #{$block}__l0 {
      @include make-col-ready();
      @include make-col(12);

      @include respond(md) {
        @include make-col(6);
      }
    }
  }
}
