.social {
	&__title {
    @include font($style: "%T1");
    text-transform: uppercase;
    margin: 0 0 15px;

    @include respond(md) {
      margin: 0 0 30px;
    }
  }

  .at-icon-wrapper {
    padding: 0 !important;
    margin: 0 auto 20px !important;

    * {
      display: none !important;
    }
  }

  &__socialList {
    display: block;
    margin: 0;
    @extend .clearfix;
  }

  &__socialItem {
    display: block;
    float: left;
    margin: 0 9px 9px 0;
  }

  &__socialLink,
  .at-icon-wrapper {
    display: block;
    width: 39px;
    height: 39px;
    border-radius: 39px !important;
    border: 2px solid map-get($palette, black) !important;
    background-color: map-get($palette, black) !important;
    background-image: url('__prefix__/clientlib-site/resources/img/socialiconsfacebook.png');
    background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsfacebook.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 39px 39px;
    transition: border-color 150ms ease, background-color 150ms ease;

    &--youtube,
    &.at-svc-youtube {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconsyoutube.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsyoutube.svg');
    }

    &--instagram,
    &.at-svc-instagram {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconsinstagram.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsinstagram.svg');
    }

    &--linkedin,
    &.at-svc-linkedin {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconslinkedin.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconslinkedin.svg');
    }

    &--twitter,
    &.at-svc-twitter {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconstwitter.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconstwitter.svg');
    }

    &--email,
    &.at-svc-email {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconsemail.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsemail.svg');
    }

    &:hover {
      border-color: map-get($palette, scarlet) !important;
      background-color: map-get($palette, scarlet) !important;
      transform: none !important;
    }

    &:focus {
      outline: 1px solid map-get($palette, black);
      outline-offset: 2px;
      transform: none !important;
    }
  }

  $block: &;

  &--vertical {
    background: map-get($palette, white-two);
    padding: 11px;
    position: fixed;
    top: auto !important;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
		text-align: center;
    @include respond(sm) {
			text-align: left;
      padding-left: calc(50% - 255px);
    }
    @include respond(md) {
      padding-left: calc(50% - 330px);
    }
    @include respond(lg) {
      position: absolute !important;
      left: -102px;
      top: 50px;
      width: 72px;
      text-align: center;
      bottom: auto;
      padding-left: 0;
      padding-right: 0;
    }

    #{$block}__title {
      @include font($style: "%T4");
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      margin: 10px 10px 0 0;
			vertical-align: top;
      @include respond(lg) {
        display: block;
        margin: 0 0 30px;
      }
    }

    #{$block}__socialItem {
      margin: 0 auto 20px auto;
      float: none;
    }

    #{$block}__socialLink {
      margin: 0 auto;
    }

    .addthis_inline_share_toolbox {
      display: inline-block;
			vertical-align: middle;
      .at-icon-wrapper {
        margin: 0 5px 0 !important;
        @include respond(lg) {
          margin: 0 auto 20px !important;
        }
      }
    }
  }

  &--affix {
    position: fixed !important;
    top: 50px !important;
  }
}
