.socialStatic {
  width: 100%;
  float: left;
  margin: 10px 0 30px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    top: 0;
    border-top: 1px solid rgba(map-get($palette, brownish-grey), 0.1);
  }

	&__title {
    @include font($style: "%T1");
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    margin: 10px 0 10px 5px;
  }

  .at-icon-wrapper {
    display: block;
    width: 39px;
    height: 39px;

    padding: 0 !important;
    margin: 0 20px 20px 5px !important;

    border-radius: 39px !important;
    border: 2px solid map-get($palette, black) !important;
    background-color: map-get($palette, black) !important;
    background-image: url('__prefix__/clientlib-site/resources/img/socialiconsfacebook-white.png');
    background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsfacebook-white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 39px 39px;
    transition: border-color 150ms ease, background-color 150ms ease;

    * {
      display: none !important;
    }

    &--youtube,
    &.at-svc-youtube {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconsyoutube-white.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsyoutube-white.svg');
    }

    &--instagram,
    &.at-svc-instagram {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconsinstagram-white.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsinstagram-white.svg');
    }

    &--linkedin,
    &.at-svc-linkedin {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconslinkedin-white.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconslinkedin-white.svg');
    }

    &--twitter,
    &.at-svc-twitter {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconstwitter-white.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconstwitter-white.svg');
    }

    &--email,
    &.at-svc-email {
      background-image: url('__prefix__/clientlib-site/resources/img/socialiconsemail-white.png');
      background-image: none, url('__prefix__/clientlib-site/resources/img/socialiconsemail-white.svg');
    }

    &:hover {
      border-color: map-get($palette, scarlet) !important;
      background-color: map-get($palette, scarlet) !important;
      transform: none !important;
    }

    &:focus {
      outline: 1px solid map-get($palette, black);
      outline-offset: 2px;
      transform: none !important;
    }
  }

  $block: &;
}
