.statsPanel {
  background-color: #33658a;
  padding-top: 0;
  padding-bottom: 8rem;

  @include respond(md) {
    padding-bottom: 9rem;
    padding-top: 3rem;
  }

  @include respond(lg) {
    padding-top: 8rem;
    padding-bottom: 14rem;
  }

  &--spacing {
    .container {
      @include respond(md) {
        padding-left:0 !important;
        padding-right:0!important;
      }
    }

  }

  &--office {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 5rem;

    @include respond(md) {
      padding-bottom: 4rem !important;
    }

    @include respond(lg) {
      padding-bottom: 0;
    }
  }

  &--alt,
  &--fashion,
  &--office {
    background-color: map-get($palette, true-white);
    padding-top: 3rem;
    padding-bottom: 3rem;

    .container {
      padding-left:0;
      padding-right:0;

      @include respond(md) {
        padding-left:1.5rem;
        padding-right:0;
      }
    }

    @include respond(md) {
      margin-bottom: 4rem !important;
      padding-top: 4rem !important;
      padding-bottom: 0 !important;
    }

    @include respond(lg) {
      height: 50rem;
      overflow: visible;
    }
  }

  &--office {
    @include respond(lg) {
      height: 54.5rem;
    }

    @include respond(xl) {
      height: 41.5rem;
    }
  }

  &--electronics {
    background: #ffffff;
    padding: 3rem 0 1.5rem 0;
    text-align: center;

    @include respond(md) {
      padding: 4rem 0  2.5rem 0!important;
    }

    @include respond(lg) {
      padding: 7rem 0 5.5rem 0!important;
    }

    .statsPanel__copy--alt {
      margin-bottom: 1rem;
    }
  }

  &--fashion {
    background-color: #49bfe0;
    padding: 3rem 0;

    @include respond(md) {
      padding: 4rem 0 !important;
      margin-bottom: 0 !important;
    }

    @include respond(lg) {
      padding-top: 14rem !important;
      padding-bottom: 9rem !important;
      height: auto;
    }
  }

  &--textiles {
    background-color: #33658a;
    padding: 3rem 0;

    @include respond(md) {
      padding: 4rem 0 !important;
      margin-bottom: 0 !important;
    }

    @include respond(lg) {
      padding-top: 9rem !important;
      padding-bottom: 7rem !important;
      height: auto;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  &--fashionAlt {
    background-color: map-get($palette, true-white);
    padding-top: 3rem;
    padding-bottom: 0;

    @include respond(md) {
      padding-top: 4rem !important;
      padding-bottom: 0 !important;
    }

    @include respond(lg) {
      padding-top: 9rem !important;
      padding-bottom: 9rem !important;
      height: auto;
    }
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
    display: table;
    padding: 3rem 0;

    @include respond(md) {
      margin: inherit;
      margin-left: 0;
      padding: 4rem 0;
    }

    @include respond(lg) {
      padding: 0;
    }

    &--alt {
      @include respond(md) {
        margin: auto;
        margin-left: auto;
      }
      @include respond(lg) {
        padding: 0;
      }
    }

    &--music {

      @include respond(md) {
        margin: auto;
        margin-left: auto;
      }

      @include respond(lg) {
        padding: 0;
      }

      @include respond(xl) {
        padding: 4rem;
      }
    }

    &--noPadding {
      @include respond(md) {
        padding: 0;
      }
    }

    &--padding {

      @include respond(md) {
        margin-top: 4rem;
      }
    }
  }

  &__title {

    font-size: 2.2rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    letter-spacing: normal;
    color: #000000;
    text-transform: uppercase;
    margin-bottom:0.5em;

    @include respond(md) {
      font-size: 3rem;
      line-height: normal;
    }

    @include respond(lg) {
      font-size: 4rem;
    }

    &--light {
      color: map-get($palette, true-white);
    }
  }

  &__copy {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
    color: map-get($palette, true-white);
    height: 100%;
    display: -webkit-box;
    align-items: center;
    position: relative;

    a {
      color: #fff;
      text-decoration: underline;
    }

    &--alt {
      color: #000000;
      display: block;
      height: auto;
      margin-bottom: 0;
      position: relative;

      a {
        color: #000;
        text-decoration: underline;
      }
    }

    &--light {
      height: auto;
      margin-bottom: 0;
    }

    &--block {
      display: block;
    }
  }

  &__statsValue {
    font-family: Delivery;
    font-size: 4.4rem;
    font-weight: 900;
    height: 4.7rem;
    line-height:4.3rem;
    margin-bottom:0;
    transform: translate3d( 0, 0, 0);
    will-change: transform;
    -webkit-transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    transform: perspective(1px) scale(1.1);
    color: map-get($palette, sunflower-yellow);
    margin-left: .6rem;


    @include respond(sm) {
      font-size: 5rem;
      height: 5rem;
      line-height:5rem;
    }

    @include respond(md) {
      height: 5.4rem;
    }

    @include respond(lg) {
      height: 9.8rem;
      font-size: 8rem;
      line-height:9.2rem;
    }

    &--alt {

      @include respond(md) {
        height: 5.5rem;
      }

      @include respond(lg) {
        font-size: 5rem;
        height: 7.5rem;
      }
    }

    &--light {
      color: map-get($palette, true-white);

      @include respond(md) {
        font-size: 5rem;
        height: 5.6rem;
      }

      @include respond(lg) {
        height: 6rem;
      }
    }
  }

  &__value {
    font-size: 1.7rem;
    font-weight: 900;
    color: map-get($palette, sunflower-yellow);
    text-transform: uppercase;
    line-height:2rem;


    @include respond(lg) {
      font-size: 2.7rem;
    }

    &--alt {
      width: 101%;

      @include respond(lg) {
        font-size: 1.7rem;
      }
    }

    &--light {
      color: map-get($palette, true-white);
      line-height:2rem;

      @include respond(md) {
        font-size: 1.7rem;

      }

      @include respond(lg) {
        margin-top: 1.8rem;
      }
    }

    &--noPercentage {
      font-size: 2.8rem;
      font-weight: 900;
      margin: 2rem 0;
    }
  }

  &__statsWrapper {
    float: right;
    margin-top: 4rem;
    margin-left: 3rem;

    @include respond(lg) {
      margin-left: 2rem;
    }

    @include respond(xl) {
      margin-left: 3rem;
    }

    &--alt,
    &--altDown {
      float: none;
      margin: 0;
    }

    &--altDown {
      margin-top: 5rem;
    }

    &--electronics {
      margin-right: 0 !important;
    }
  }

  &__link {
    color: map-get($palette, white);
    text-decoration: underline;

    &:hover {
      color: map-get($palette, white);
      text-decoration: underline;
    }

    &--alt {
      color: #000000;

      &:hover {
        color: #000000;
      }
    }

    &--light {
      color: map-get($palette, true-white);

      &:hover {
        color: map-get($palette, true-white);
      }
    }
  }

  &__parallaxBox {

    display: contents;
    position: relative;
    width: 100%;
    z-index: 2 !important;
    will-change: transform;
    box-shadow: none;

    @include respond(sm) {
      margin:0 auto;
    }

    @include respond(lg) {
      display: flex;
      //margin-top: 4rem;
      padding: 3rem 2rem 4rem 2rem;
      // object-fit: contain;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }

    &--fashion {
      box-shadow: none;
      padding: 0 !important;
      margin: 0 !important;
    }

    &--office {
      position: relative;
      box-shadow: none;
      display: contents;

      @include respond(lg) {
        padding: 4rem 2rem 5rem 4rem;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        display: block;
      }
    }
  }

  &__boxWrapper {
    display: flex;
    margin-left:-1.5rem;
    margin-right:-1.5rem;

    @include respond(lg) {
      width: 100%;
    }
  }
}

.product__fill {
  position: relative;

  polygon {
    fill: transparent;
    transition: fill 4s ease-in-out;
  }

  rect {
    transform: translateY(100%);
    fill: #ffcc00;
    transition: transform 50ms ease-in-out;
  }

  &.product__fill--active {

    rect {
      transform: translateY(0);
      fill: #ffcc00;
      transition: transform 4s ease-in-out;
    }
  }
}

.o-pd-copy {
  margin-bottom:3rem;

  @include respond(sm) {
    margin-bottom:0;
  }

  @include respond(md) {
    margin-bottom:0;
  }
}

