.teaser {
  .cmp-teaser__content {
    margin-top: 3rem;
  }

  @extend  %imageComponent;
  border-bottom: none;
  margin-bottom: 2rem;

  @include respond(lg) {

    &.left,
    &.right {
      .cmp-teaser__image-wrapper {
        float: left;
        display: table;
        margin-right: 1.5rem;

        .cmp-teaser__content {
          display: table-caption;
          caption-side: bottom;
        }

        .cmp-teaser__pretitle {
          margin-bottom: 2rem;
        }
      }
    }

    &.right {
      .cmp-teaser__image-wrapper {
        float: right;
        margin-left: 1.5rem;
        margin-right: 0;
      }
    }
  }

  .cmp-image__image {
      width: revert-layer;
      max-width: 100%;
  }

	.cmp-teaser__title {
    display: block;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .cmp-teaser__pretitle {
    margin-bottom: 2rem;
  }

  .cmp-teaser__article-category-tag {
    background-color: rgba(0,0,0,0.01); /* for contrast */
  }

  .cmp-teaser {
    border-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;

    a {
      @include hoverText($text-decoration-normal: none, $text-decoration-hover: underline);
    }
  }
}
