.text {
  padding-top: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #323232;

  @include headersWithRteWrapper(no-margin, margin, 0);
  @include headersWithRteWrapper(margin-small, margin, 0.5em 0);
  @include headersWithRteWrapper(margin-medium, margin, 1em 0);
  @include headersWithRteWrapper(margin-large, margin, 1.5em 0);
  @include headersWithRteWrapper(no-margin, display, block);
  @include headersWithRteWrapper(margin-small, display, block);
  @include headersWithRteWrapper(margin-medium, display, block);
  @include headersWithRteWrapper(margin-large, display, block);

  h1, h2 {
    font-size: 20px;
    line-height: 29px;
  }

  hr {
    height: 3px;
    color: #D40511;
    background-color: #D40511;
    max-width: 260px;
    border-style: none;
    margin-top: 20px;
  }

  @include respond(md) {
    padding-top: 35px;
    font-size: 20px;
    line-height: 29px;

    h1, h2 {
      font-size: 30px;
      line-height: 43px;
    }

    hr {
      margin-top: 40px;
    }
  }

  @include respond(xl) {
    padding-top: 40px;
    font-size: 30px;
    line-height: 43px;

    h1, h2 {
      font-size: 50px;
      line-height: 72px;
    }

    hr {
      margin-top: 80px;
    }
  }

  &.simpleRedTable {
    table {

      caption {
        text-align: center;
        caption-side: top;
      }

      &[border="0"], &[border="1"]  {
        border: none;
        * {
          border: none;
        }
      }

      tr:first-child {
        color: map-get($palette, red);
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        border-bottom: 3pt solid red !important;

        td, th {
          padding: 0 0 0 0.75rem;
        }
      }

      tr {
        font-size: 15px;
        line-height: 22px;
        border-bottom: 1pt solid map-get($palette, black) !important;
      }

      tr:last-child {
        border-bottom: 3pt solid red !important;
      }
    }
  }
}
