.text {
  padding-top: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #323232;

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  h1 {
    font-size: 20px;
    line-height: 28px;
  }

  h2 {
    font-size: 18px;
    line-height: 26px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h4 {
    font-size: 16px;
    line-height: 22px;
  }

  hr {
    height: 3px;
    color: #D40511;
    background-color: #D40511;
    max-width: 260px;
    border-style: none;
    margin-top: 20px;
  }

  @include respond(md) {
    padding-top: 18px;
    font-size: 20px;
    line-height: 29px;

    h1 {
      font-size: 30px;
      line-height: 38px;
    }

    h2 {
      font-size: 20px;
      line-height: 26px;
    }

    h3 {
      font-size: 18px;
      line-height: 24px;
    }

    h4 {
      font-size: 16px;
      line-height: 22px;
    }


    hr {
      margin-top: 40px;
    }
  }

  @include respond(xl) {
    padding-top: 20px;
    font-size: 30px;
    line-height: 43px;

    h1 {
      font-size: 40px;
      line-height: 50px;
    }

    h2 {
      font-size: 35px;
      line-height: 42px;
    }

    h3 {
      font-size: 25px;
      line-height: 32px;
    }

    h4 {
      font-size: 20px;
      line-height: 28px;
    }

    hr {
      margin-top: 80px;
    }
  }

  &.simpleRedTable {
    table {

      caption {
        text-align: center;
        caption-side: top;
      }

      &[border="0"], &[border="1"]  {
        border: none;
        * {
          border: none;
        }
      }

      tr:first-child {
        color: map-get($palette, red);
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        border-bottom: 3pt solid red !important;

        td, th {
          padding: 0 0 0 0.75rem;
        }
      }

      tr {
        font-size: 15px;
        line-height: 22px;
        border-bottom: 1pt solid map-get($palette, black) !important;
      }

      tr:last-child {
        border-bottom: 3pt solid red !important;
      }
    }
  }
}
