.text, .listicle-component {
  margin-top: 1rem;
  @include styledLists();

  h1,h2,h3,h4,h5,h6 {
    font-stretch: condensed;
    margin-bottom: .6em;
    margin-top: 1em;
    @include respond(md) {
      margin-bottom: .4em;
      margin-top: .6em;
    }
  }

  p {
    color: #000;
  }

  hr {
    height: .3rem;
    color: #D40511;
    background-color: #D40511;
    max-width: 26rem;
    border-style: none;
    margin-top: 2rem;
  }

  i {
      font-style: italic;
  }

  @include respond(md) {
    margin-top: 1.8rem;

    hr {
      margin-top: 4rem;
    }
  }

  @include respond(xl) {
    margin-top: 2rem;

    hr {
      margin-top: 8rem;
    }
  }

  &.simpleRedTable {
    table {

      caption {
        text-align: center;
        caption-side: top;
      }

      &[border="0"], &[border="1"]  {
        border: none;
        * {
          border: none;
        }
      }

      tr:first-child {
        color: map-get($palette, red);
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: bold;
        border-bottom: 3pt solid red !important;

        td, th {
          padding: 0 0 0 0.75rem;
        }
      }

      tr {
        font-size: 1.5rem;
        line-height: 2.2rem;
        border-bottom: 1pt solid map-get($palette, black) !important;
      }

      tr:last-child {
        border-bottom: 3pt solid red !important;
      }
    }
  }

  &.custom-text--p1 p {
    font-size: 2rem;
    line-height: 1.6;
  }

  &.custom-text--p2 p {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  &.custom-text--p3 p {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  &.custom-text--mb0 .cmp-text p {
    margin-bottom: 0;
  }

  &.custom-text--mb1 .cmp-text p {
    margin-bottom: 1rem;
  }

  &.custom-text--mb2 .cmp-text p {
    margin-bottom: 2rem;
  }

  &.custom-text--mb3 .cmp-text p {
    margin-bottom: 3rem;
  }
}
.text.text-general-page {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

[lang^="ko"] body .text {
  p {
    line-height: 1.8;
    margin: 0;
  }
}

.cmp-text p {
  a {
  @include hoverText($text-decoration-normal: underline, $text-decoration-hover: underline);
  }
}
