%textBlock {
  margin-bottom: 2rem;
  font-size: 2.5rem;

  p,
  a {
     clear: both;
  }
}

%yellowBlock {
  @extend %textBlock;
  color: map-get($palette, black);
  background-color: map-get($palette, sunflower-yellow);
  padding: 2rem;

  @include respond(md) {
    width: 40%;
    padding-bottom: 3rem;
  }

  span {
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    font-size: 2.3rem;
    font-weight: 200;
    font-stretch: condensed;
    line-height: 1.2;
    margin-bottom: 0;
  }
}

.textBlock {

  &--left,
  &--right,
  &--yellow {
    @extend %textBlock;
    font-weight: 800;
    font-stretch: condensed;

    span {
      font-weight: 800;
      font-stretch: condensed;
    }

    a {
      @include hoverText($colour-normal: map-get($palette, scarlet), $text-decoration-normal: none, $text-decoration-hover: none);
      span {
        background-image: url('__prefix__/discover/resources/img/externallinkicon.svg');
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;
        background-position: center;
        display: inline-block;
      }
    }
  }

  &--left {
    float: left;

    span {
      font-weight: 800;
      font-stretch: condensed;
    }

    @include respond(md) {
      width: 50%;
      margin-right: 3rem;
    }
  }

  &--right {
    float: right;

    span {
      font-weight: 800;
      font-stretch: condensed;
    }

    @include respond(md) {
      width: 50%;
      margin-left: 3rem;
      padding-left: 3rem;
    }

  }

  &--yellow {
    @extend %yellowBlock;

    span {
      font-weight: 800;
      font-stretch: condensed;
    }
  }

  &--yellow-left {
    @extend %textBlock;
    @extend %yellowBlock;

    span {
      font-weight: 800;
      font-stretch: condensed;
    }

    @include respond(md) {
      float: left;
      margin-right: 3rem;
    }
  }

  &--yellow-right {
    @extend %yellowBlock;

    span {
      font-weight: 800;
      font-stretch: condensed;
    }

    @include respond(md) {
      float: right;
      margin-left: 4rem;
    }
  }
}
