.title-component {
  position: relative;
  max-width: 1640px;
  margin: 0px auto 0px auto;
  background-color: #040404;
  @include respond(md) {
    background-color: initial;
    margin-top: 30px;
  }
  @include respond(xl) {
     margin-top: 45px;
  }
  .svg {
    opacity: 0.29;
    position: absolute;
    &_top-left {
      transform-origin: left;
      top: 30px;
      left: 0;
      transform: translate(-148px, 0px);
      @include respond(md) {
        top: 0px;
        transform: translate(-48px, 0px);
      }
      @include respond(xl) {
        transform: none;
      }
    }
    &_bottom-right {
      transform-origin: right;
      bottom: 30px;
      right: 0;
      transform: translate(+148px, 0px);
      @include respond(md) {
        bottom: 0px;
        transform: translate(+48px, 0px);
      }
      @include respond(xl) {
        transform: none;
      }
    }
  }

  .title {
    font: normal normal bold 28px/32px Delivery, sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-left: 53px;
    margin-right:53px;
    padding-top: 70px;
    padding-bottom: 65px;
    @include respond(md) {
      color: #323232;
      margin-left: 210px;
      margin-right:210px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include respond(xl) {
      line-height: 42px;
      font-size: 36px;
      text-align: left;
      margin-left: 310px;
      margin-right:310px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

