.cmp-title-v2 {
  font-weight: bold;
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-lg);

  &--underline {
    margin: 3rem auto 0;
    line-height: 2.9rem;
    font-size: 2rem;
    color: #323232;
    @include respond(xl) {
      margin-top: 5rem;
      line-height: 7.2rem;
      font-size: 5rem;
    }
    .cmp-title-v2{
      &__text {
        display: inline-block;
        position: relative;
        &:after {
          content: ".";
          color: transparent;
          display: block;
          position: absolute;
          top: 0;
          width: 50%;
          border-bottom: .4rem solid #d40511;
        }
      }
    }
  }

  &--leftLine {
    margin: 3rem auto 0;
    line-height: 2.9rem;
    font-size: 2rem;
    border-left: .2rem solid #d40511;
    color: #323232;
    padding: 0 1rem;
    @include respond(xl) {
      margin-top: 5rem;
      line-height: 7.2rem;
      font-size: 5rem;
    }
  }

  &--strips {
    position: relative;
    margin: 0 auto;

    @include inherit-headings;

    @include remove-container-margins-mobile-only;

    background-color: #040404;
    @include respond(md) {
      background-color: initial;
      margin-top: 30px;
    }
    @include respond(xl) {
       margin-top: 45px;
    }
    .svg {
      opacity: 0.29;
      position: absolute;
      &_top-left {
        transform-origin: left;
        top: 30px;
        left: 0;
        transform: translate(-148px, 0);
        @include respond(md) {
          top: 0;
          transform: translate(-48px, 0);
        }
        @include respond(xl) {
          transform: none;
        }
      }
      &_bottom-right {
        transform-origin: right;
        bottom: 30px;
        right: 0;
        transform: translate(+148px, 0);
        @include respond(md) {
          bottom: 0;
          transform: translate(+48px, 0);
        }
        @include respond(xl) {
          transform: none;
        }
      }
    }

    .cmp-title-v2 {
      line-height: var(--line-height-3xl);
      font-size: var(--font-size-6xl);
      color: #FFFFFF;
      text-align: center;
      padding: 70px 53px 65px;
      border-top: 2px solid #454545;
      @include respond(md) {
        font-size: var(--font-size-7xl);
        border-top: none;
        color: #323232;
        padding: 20px 210px;
      }
      @include respond(xl) {
        font-size: var(--font-size-10xl);
        padding: 0 310px;
      }
    }
  }
}

