.title {

  &.custom-title--mg0 .cmp-title__text {
    margin:0;
  }

  &.custom-title--mg1 .cmp-title__text {
    margin: 0.5em 0;
  }

  &.custom-title--mg2 .cmp-title__text {
    margin: 1em 0;
  }

  &.custom-title--mg3 .cmp-title__text {
    margin: 1.5em 0;
  }

  &.custom-title--mg4 .cmp-title__text {
    margin: 2em 0;
  }

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  h1 {
    font-size: 20px;
    line-height: 28px;
    @include respond(md) {
      font-size: 30px;
      line-height: 38px;
    }
    @include respond(xl) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 26px;
    @include respond(md) {
      font-size: 20px;
      line-height: 26px;
    }
    @include respond(xl) {
      font-size: 35px;
      line-height: 42px;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
    @include respond(md) {
      font-size: 18px;
      line-height: 24px;
    }
    @include respond(xl) {
      font-size: 25px;
      line-height: 32px;
    }
  }

  h4 {
    font-size: 16px;
    line-height: 22px;
    @include respond(md) {
      font-size: 16px;
      line-height: 22px;
    }
    @include respond(xl) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

[lang^="ko"] body .title {
  h1 {
    font-size: 40px;
    line-height: 35px;
  }

  h2 {
    font-size: 35px;
    line-height: 35px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }
}
