.cmp-title {

  &.custom-title--mg0 .cmp-title__text {
    margin:0;
  }

  &.custom-title--mg1 .cmp-title__text {
    margin: 0.5em 0;
  }

  &.custom-title--mg2 .cmp-title__text {
    margin: 1em 0;
  }

  &.custom-title--mg3 .cmp-title__text {
    margin: 1.5em 0;
  }

  &.custom-title--mg4 .cmp-title__text {
    margin: 2em 0;
  }

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.8rem;
    @include respond(md) {
      font-size: 3rem;
      line-height: 3.8rem;
    }
    @include respond(xl) {
      font-size: 4rem;
      line-height: 5rem;
    }
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    @include respond(md) {
      font-size: 2rem;
      line-height: 2.6rem;
    }
    @include respond(xl) {
      font-size: 3.5rem;
      line-height: 4.2rem;
    }
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    @include respond(md) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
    @include respond(xl) {
      font-size: 2.5rem;
      line-height: 3.2rem;
    }
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    @include respond(md) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
    @include respond(xl) {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
}

[lang^="ko"] body .title {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }
}
