.cmp-top-tiles {
  margin: auto;
  display: grid;
  grid-template-areas: "article_1 article_1" "article_2 article_3";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  overflow: hidden;
  grid-auto-rows: 0;
  grid-gap: 0;
  line-height: var(--line-height-sm);

  @include respond(md) {
    height: -webkit-fill-available;
    aspect-ratio: 3/1;
    grid-gap: 1rem;
    margin-top: 1rem;
    grid-template-areas: "article_1 article_1 article_2 article_2" "article_1 article_1 article_3 article_4";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @include respond(xl) {
    grid-gap: 2rem;
    margin-top: 2rem;
  }

  &__tile {
    overflow: hidden;
    height: 20.9rem;

    @include respond(md) {
      height: auto;
      border-radius: 0.2rem;
    }
  }

  &__article {
    height: 100%;
    mix-blend-mode: multiply;
    cursor: pointer;
    position: relative;

    @include respond(md) {
      &:hover {
        .cmp-top-tiles__article-image {
          transform: scale(1.16);
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      background: transparent linear-gradient(180deg, #DCDCDC 20%, #3A3A3A 56%, #0D0D0D 100%) 20% 100% no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      left: 0;
      top: 0;
    }
  }

  &__article-image {
    transition: all .3s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  &__article-info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin: 1rem;
    letter-spacing: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: var(--font-size-xs);

    @include respond(xl) {
      font-size: var(--font-size-sm);
      margin: 2rem;
    }
  }

  &__article-title {
    height: auto;
    font-size: var(--font-size-lg);
    margin-bottom: 1rem;

    @include respond(md) {
      font-size: var(--font-size-sm);
    }

    @include respond(xl) {
      font-size: var(--font-size-2xl);
    }
  }

  > :first-child {
    grid-area: article_1;
    height: 25.6rem;

    @include respond(md) {
      height: auto;
    }

    .cmp-top-tiles__article-title {
      font-size: var(--font-size-5xl);

      @include respond(xl) {
        font-size: var(--font-size-10xl);
        line-height: var(--line-height-xs);
      }
    }

    .cmp-top-tiles__article {
      &:after {
        opacity: 0.5;
      }
    }

    .cmp-top-tiles__article-info {
      margin: 3rem;
      font-size: var(--font-size-xs);

      @include respond(md) {
        font-size: var(--font-size-lg);
      }
    }
  }

  > :nth-child(2) {
    grid-area: article_2;

    @include respond(md) {
      .cmp-top-tiles__article-info {
        width: 65%;
      }

      .cmp-top-tiles__article-title {
        font-size: var(--font-size-2xl);
      }
    }

    @include respond(xl) {
      .cmp-top-tiles__article-title {
        line-height: var(--line-height-xs);
        font-size: var(--font-size-5xl);
      }
    }
  }
}
