.top-tiles-component {
  margin: auto;
  display: grid;
  max-width: 1640px;
  grid-template-areas: "article_1 article_1" "article_2 article_3";
  grid-gap: 0px;
  .article {
    .article__info {
      text-shadow: 0 0 20px #131313;
    }
  }
  :nth-child(4) {
    display: none;
  }
  :first-child {
    grid-area: article_1;
    height: 256px;
    .article {
      .article__background {
        &:after {
          opacity: 0.5;
        }
      }
      .article__info {
        margin: 30px;
        line-height: 17px;
        font-size: 12px;
        .article__info__title {
          line-height: 24px;
          font-size: 20px;
        }
      }
    }
  }
  :nth-child(2) {
    grid-area: article_2;
  }
  @include respond(md) {
    height: -webkit-fill-available;
    aspect-ratio: 3/1;
    grid-gap: 10px;
    margin-top: 10px;
    grid-template-areas: "article_1 article_1 article_2 article_2" "article_1 article_1 article_3 article_4";
    grid-template-columns: repeat(4, 1fr);
    :nth-child(2) {
      .article {
        .article__info {
          width: 50%;
          .article__info__title {
            line-height: 22px;
            font-size: 16px;
          }
        }
      }
    }
    :nth-child(4) {
      display: block;
    }
    :first-child {
      height: auto;
      .article {
        .article__info {
          line-height: 26px;
          font-size: 18px;
        }
      }
    }
  }
  @include respond(xl) {
    grid-gap: 20px;
    margin-top: 20px;
    :nth-child(2) {
      .article {
        .article__info {
          .article__info__title {
            font-size: 20px;
          }
        }
      }
    }
    :first-child {
      .article {
        .article__info {
          .article__info__title {
            line-height: 40px;
            font-size: 40px;
          }
        }
      }
    }
  }
}
.tile {
  overflow: hidden;
  height: 209px;
  @include respond(md) {
    height: auto;
    border-radius: 2px;
  }

  .article {
    height: 100%;
    mix-blend-mode: multiply;
    cursor: pointer;
    position: relative;
    @include respond(md) {
      &:hover {
       .article__background {
          transform: scale(1.16);
        }
      }
    }

    &__background {
      transition: all .3s ease;
      height: 100%;
      mix-blend-mode: multiply;
      background: {
        size: cover;
        repeat: no-repeat;
        position: center;
      }
      &:after {
        content: "";
        position: absolute;
        background: transparent linear-gradient(180deg, #DCDCDC 20%, #3A3A3A 56%, #0D0D0D 100%) 20% 100% no-repeat padding-box;
        mix-blend-mode: multiply;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
    }
    &__info {
      position: absolute;
      bottom: 0;
      margin: 10px;
      letter-spacing: 0px;
      color: #FFFFFF;
      font: normal normal bold 12px/17px Delivery, sans-serif;
      @include respond(xl) {
        line-height: 20px;
        font-size: 14px;
        margin: 20px;
      }

      &__title {
        height: auto;
        line-height: 20px;
        font-size: 17px;
        margin-bottom: 10px;
        @include respond(md) {
          line-height: 12px;
          font-size: 12px;
        }
        @include respond(xl) {
          line-height: 22px;
          font-size: 20px;
        }
      }
    }
  }
}
