.two-columns-container-with-five-sections-component {
  .main-container {
    padding: 0 3rem;

    @include respond(xl) {
      max-width: 140rem;
      margin: 0 auto;
    }

    .text {
      p {
        font-size: 2rem;
        line-height: 2.9rem;
      }
    }

    .columns-section {
      gap: 2rem;

      .marketoForm--white {
        border: 1px solid #E2E2E2;
        border-radius: .4rem;
      }

      &__left-column {
        &__description :first-child :first-child {
          padding-top: 0;
          margin-top: 0;
        }
        &__body {
          margin-top: 4rem;
        }
      }
    }

    .description-section {
      margin-top: 2.5rem;
    }

    .columns-section,
    .description-section {
      @include respond(ml) {
        margin-top: 3rem;
      }

      @include respond(xl) {
        margin-top: 5rem;
      }
    }
  }

  .bottom-section {
    margin-top: 2rem;
  }

  &__editor {
    .right-header-section {
      padding-right: 7rem;
      width: calc(50% - 1rem);
      margin-left: auto;
      [dir="rtl"] & {
        margin-right: auto;
        margin-left: unset;
        padding-right: unset;
        padding-left: 7rem;
      }
    }

    .columns-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "left-column right-column";

      &__left-column {
        grid-area: left-column;
      }

      &__right-column {
        grid-area: right-column;
      }
    }
  }

  &__adaptive {
    .right-header-section {
      display: none;

      @include respond(xl) {
        padding-right: 7rem;
        display: block;
        width: calc(50% - 1rem);
        margin-left: auto;
        [dir="rtl"] & {
          margin-right: auto;
          margin-left: unset;
          padding-right: unset;
          padding-left: 7rem;
        }
      }
    }

    .main-container {
      .description-section {
        @include respond(xl) {
          display: none;
        }
      }

      .columns-section {
        .marketoForm--white {
          @include respond(md) {
            border: none;
          }

          @include respond(xl) {
            border: 1px solid #E2E2E2;
          }
        }

        @include respond(md) {
          padding-left: 2rem;
          background: white;
          border: 1px solid #E2E2E2;
          border-radius: .4rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "left-column right-column";
        }

        @include respond(xl) {
          padding-left: 0;
          background: transparent;
          border: none;
        }

        &__left-column {
          grid-area: left-column;

          &__description {
            display: none;

            @include respond(xl) {
              display: block;
            }
          }
        }

        &__right-column {
          grid-area: right-column;

          &__header-section {
            @include respond(md) {
              padding: 0 2rem;
            }

            @include respond(xl) {
              display: none;
            }
          }

          &__body {
            margin-top: 2rem;

            @include respond(md) {
              margin-top: 0;
            }
          }

          &__bottom {
            display: none;

            @include respond(xl) {
              display: block;
            }
          }
        }
      }
    }

    .bottom-section {
      @include respond(xl) {
        display: none;
      }
    }
  }
}
