.video-component {
  margin-top: 3rem;
  @include respond(xl) {
    margin-top: 5rem;
  }
  display: flex;
  &--align {
    &-left{
      justify-content: flex-start;
    }
    &-right{
      justify-content: flex-end;
    }
    &-center{
      justify-content: center;
    }
  }
  video {
    object-fit: cover;
  }
}

.cmp-embed__youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;

  &-iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
