.videoRow {
  padding: 0 0 2.2rem;
  color: map-get($palette, true-black);

  @include respond(md) {
    padding: 0 0 3.5rem;
  }

  @include respond(xl) {
    padding: 0 0 4.8rem;
  }

  .container {

    &:before {
      content: ' ';
      display: block;
      height: .1rem;
      width: 100%;
      background-color: #e8e8e8;
      position: relative;
      display: block;
      margin: 0 0 3rem;

      @include respond(md) {
        margin: 0 0 4rem;
      }

      @include respond(xl) {
        margin: 0 0 5rem;
      }

    }

  }

  &__title {
    font-size: 2.2rem;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    color: #000000;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 2rem;

    @include respond(md) {
      text-align: center;
      font-size: 3rem;
      padding-bottom: 3rem;
    }

    @include respond(xl) {
      font-size: 4rem;
    }

  }

  &__video {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__videoWrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding: 2rem 0 0;

    a {
      color: #000;
      text-decoration: underline;
    }

    @include respond(md) {
      text-align: center;
      padding: 3rem 0 0;
    }

    @include respond(lg) {
      padding-top: 3rem;
    }

  }

  &__link {
    color: map-get($palette, true-black);
    text-decoration: underline;

    &:hover {
      color: map-get($palette, true-black);
      text-decoration: underline;
    }
  }

}
