.videoRow {
  padding: 0 0 22px;
  color: map-get($palette, true-black);

  @include respond(md) {
    padding: 0 0 35px;
  }

  @include respond(xl) {
    padding: 0 0 48px;
  }

  .container {

    &:before {
      content: ' ';
      display: block;
      height: 1px;
      width: 100%;
      background-color: #e8e8e8;
      position: relative;
      display: block;
      margin: 0 0 30px;

      @include respond(md) {
        margin: 0 0 40px;
      }

      @include respond(xl) {
        margin: 0 0 50px;
      }

    }

  }

  &__title {
    font-family: $font-family--animated;
    font-size: 22px;
    font-weight: 800;
    font-stretch: condensed;
    line-height: 1.18;
    color: #000000;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 20px;

    @include respond(md) {
      text-align: center;
      font-size: 30px;
      padding-bottom: 30px;
    }

    @include respond(xl) {
      font-size: 40px;
    }

  }

  &__video {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__videoWrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }

  &__text {
    font-family: $font-family--animated;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding: 20px 0 0;

    a {
      color: #000;
      text-decoration: underline;
    }

    @include respond(md) {
      text-align: center;
      padding: 30px 0 0;
    }

    @include respond(lg) {
      padding-top: 30px;
    }

  }

  &__link {
    color: map-get($palette, true-black);
    text-decoration: underline;

    &:hover {
      color: map-get($palette, true-black);
      text-decoration: underline;
    }
  }

}
