.wrapper {
  position: fixed;
  bottom: 42px;
  right: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
  transition: all 0.3s ease;
  gap: 10px;

  .chatbot {
    position: relative;
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
    order: 1;

    #dhl-va-widget-iframe {
      position: relative !important;
      bottom: auto !important;
      right: auto !important;
      width: 100% !important;
      height: 100% !important;
      max-width: 100% !important;
      max-height: 100% !important;
    }
  }

  .arrow {
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    order: 2;

    .c-go-to-top-button {
      width: 100%;
      height: 100%;
      position: relative !important;
      bottom: auto !important;
      right: 0.7rem;
    }
  }

  .arrow-hidden {
    height: 0;
    margin-bottom: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }
}
