.wysiwyg {
    padding: 30px 0 20px;
    display: block;
    @include respond(md) {
      padding: 40px 0;
    }

    &--search {
      @include respond(md) {
        margin: 60px 0;
      }
    }

    &--article {
      padding-top: 29px;

      @include respond(lg) {
        padding-top: 40px;
      }
    }

    h1 {
      text-align: inherit;
      text-transform: uppercase;
    }

    p {
        @include font("%T4", map-get($palette, black));
        margin-bottom: 16px;
    }

    li {
      @include font("%T4", map-get($palette, black));
    }

    p a,
    li a,
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a {
      @include hoverText($colour-normal: map-get($map: $palette, $key: black), $text-decoration-normal: underline, $text-decoration-hover: underline);
    }

    h1, h2, h3, h4 {
      font-weight: bold;
    }

    h1 {
      font-size: 20px;
      line-height: 28px;
      @include respond(md) {
        font-size: 30px;
        line-height: 38px;
      }
      @include respond(xl) {
        font-size: 40px;
        line-height: 50px;
      }
    }

    h2 {
      font-size: 18px;
      line-height: 26px;
      @include respond(md) {
        font-size: 20px;
        line-height: 26px;
      }
      @include respond(xl) {
        font-size: 35px;
        line-height: 42px;
      }
    }

    h3 {
      font-size: 18px;
      line-height: 24px;
      @include respond(md) {
        font-size: 18px;
        line-height: 24px;
      }
      @include respond(xl) {
        font-size: 25px;
        line-height: 32px;
      }
    }

    h4 {
      font-size: 16px;
      line-height: 22px;
      @include respond(md) {
        font-size: 16px;
        line-height: 22px;
      }
      @include respond(xl) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    img {
        @include clearfix();
        margin-bottom: 35px;
        width: 100%;
        max-width: 100%;

        &.left {
            float: left;
            margin-right: 20px;
        }

        &.right {
            float: right;
            margin-left: 20px;
        }
    }

    blockquote {

      margin: 20px 0;

      @include respond(md) {
        margin: 30px 0;
        padding: 0 30px;
      }

      @include respond(lg) {
        padding: 0 70px;
      }

      p {
        @include font("%H3");
        font-size: 25px;
        text-align: center;
        margin-bottom: 16px;

        @include respond(lg) {
          margin-bottom: 25px;
        }

        &::before {
          content: '\201C';
          display: inline-block;
        }

        &::after {
          content: '\201D';
          display: inline-block;
        }
      }

      small {
        @include font("%T5");
        display: block;
        text-align: center;
      }
    }

    .article-grid {
        .cmp-article-grid {
            ul {
                margin: 25px -50px 0;

                 @include respond(md) {
                    margin-top: 40px;
                }
                li {
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    color: #323232;
                    margin: 0;

                     &[aria-selected="true"] {
                        color: #D40511;
                        text-decoration: underline;
                    }

                    &:hover {
                        color: #D40511;
                    }

                    &:before {
                      content: unset;
                    }
                }
            }
        }
    }
}
