<header class="headerV2-wrapper"
        data-sly-use.meganav="com.positive.dhl.core.models.Meganav"
        data-sly-use.languageVariants="com.positive.dhl.core.models.LanguageVariants">
    <div class="header-container">
        <div class="main-row">
            <div class="main-row__left">
                <div class="headerV2__logoWrap">
                    <a class="headerV2__logo" href="${meganav.homeUrl}" title="${meganav.siteTitle}"><span class="sr-only">${meganav.siteTitle}</span></a>
                </div>
            </div>
            <div class="main-row__right">
                <div class="header__icon">
                    <div class="header__desktopLinkItem">
                        <a href="#" class="header__desktopSearch" title="${ 'Search' @ i18n, context='html' }">
                            <span class="icon"></span>
                        </a>
                    </div>
                </div>
                <div class="search-bar" data-sly-resource="${'search-bar' @ resourceType='dhl/components/content/search-bar'}"></div>
                <div class="header__icon">
                    <div class="header-countryList">
                        <label for="countryList-widget" class="header-countryList__label">Countries & Regions</label>
                        <div class="header-countryList__widget" id="countryList-widget">
                            <sly data-sly-repeat="${languageVariants.countries}">
                                <div class="header-countryList__option">
                                    <input type="radio" id="country-${item}" name="country-option" value="country-${item}">
                                    <label for="country-${item}">
                                        <span class="fi fi-${item == 'tw' ? 'twx' : item}"></span>
                                        <span class="country-name">${languageVariants.countries[item].region}</span>
                                    </label>
                                    <a class="header-countryList__option-link" href="${languageVariants.countries[item].link}.html"></a>
                                </div>
                            </sly>
                        </div>
                    </div>
                    <div class="headerV2__desktopCountry">
                        <sly data-sly-test.isGlobal="${languageVariants.getCurrentRegion == 'Global'}">
                            <span class="global-icon"></span>
                        </sly>
                        <sly data-sly-test="${!isGlobal}"
                             data-sly-set.currentRegionCode="${languageVariants.currentRegionCode}">
                            <span class="fi fi-${currentRegionCode}"></span>
                            <span class="title">${ currentRegionCode == 'tw' ? 'Taiwan' : languageVariants.getCurrentRegion @ i18n, context='html' }</span>
                        </sly>
                    </div>
                </div>
                <div class="header__icon">
                    <sly data-sly-test="${languageVariants.getCurrentRegion.length > 0 && languageVariants.getLanguageVariants.size > 0}">
                        <a data-sly-repeat="${languageVariants.getLanguageVariants}"
                           href="${item.link}.html" data-home="${ item.home }.html"
                           class="headerV2__lang${((item.current) ? ' headerV2__lang--selected' : '') @ context='html'}">
                            ${ item.name @ i18n, context='html' }
                        </a>
                    </sly>
                </div>
                <div class="header__icon">
                    <a class="headerV2__navigation" href="#">
                        <i class="headerV2__hamburger"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="navigation-row" data-sly-use.headerV2="com.positive.dhl.core.models.HeaderV2Model">
            <div class="navigation-row__left" data-sly-set.currentPagePath="${currentPage.path}.html">
                <a class="navigation-item ${currentPagePath == headerV2.homePageLink ? 'active' : '' }" href="${headerV2.homePageLink}"><span>${headerV2.homePageLabel}</span></a>
                <sly data-sly-list="${meganav.panels}">
                    <a class="navigation-item  ${currentPagePath == item.url ? 'active' : '' }" href="${item.url}"><span>${item.navigationTitle}</span></a>
                </sly>
                <span class="navigation-item navigation-item_more-less less">${headerV2.lessLinkLabel}</span>
            </div>
            <div class="navigation-row__right">
                <span class="navigation-item navigation-item_more-less more">${headerV2.moreLinkLabel}</span>
                <a data-sly-test="${headerV2.buttonName}" class="button" href="${headerV2.buttonLink}" title="${headerV2.buttonName}">
                    <span>${headerV2.buttonName}</span>
                </a>
                <a class="navigation-item" data-sly-repeat="${headerV2.companyLinks}" href="${item.linkPath}"><span>${item.linkName}</span></a>
            </div>
        </div>
    </div>
    <div class="headerV2__meganav">
        <nav class="headerV2__meganavNavigation">
            <ul class="headerV2__meganavNav">
                <li>
                    <div class="menuNav-title">${headerV2.signInLabel}</div>
                </li>
                <li>
                    <div class="menuNav-title">${headerV2.categoryLinksLabel}</div>
                    <ul>
                        <li>
                            <a data-sly-repeat="${meganav.panels}" class="navigation-item"  href="${item.url}"><span>${item.navigationTitle}</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="menuNav-title">${headerV2.companyLinksLabel}</div>
                    <ul>
                        <li>
                            <a data-sly-repeat="${headerV2.companyLinks}" class="navigation-item" href="${item.linkPath}"><span>${item.linkName}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="short-banners" data-sly-resource="${'cta_banner_with_poin' @ resourceType='dhl/components/content/cta-banner-with-points'}"></div>
        </nav>
    </div>
    <div class="header__searchform">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-8 offset-xl-2">
                    <form action="${meganav.searchResultsPage}" method="GET" autocomplete="off" data-suggestions="${meganav.AutocompleteUrl @context='unsafe'}" data-topsearches="${meganav.TopsearchesUrl @context='unsafe'}">
                        <div class="form-group">
                            <input class="form-field" type="text" name="searchfield" value="" placeholder="${ 'Enter a keyword or topic' @ i18n, context='html' }" />
                            <button class="clear"><span class="sr-only">${ "Clear" @ i18n, context='html' }</span></button>
                            <div class="suggestions"></div>
                            <div class="top-searches">
                                <h3>${ "Most Popular" @ i18n, context='html' }</h3>
                                <div class="items"></div>
                            </div>
                        </div>
                        <button class="btn btn-primary">
                            <span>${ "Search" @ i18n, context='html' }</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
