<header class="headerV2-wrapper"
        data-sly-use.meganav="com.dhl.discover.core.models.Meganav"
        data-sly-use.languageVariants="com.dhl.discover.core.models.LanguageVariants"
        data-sly-use.headerV2="com.dhl.discover.core.models.HeaderV2Model"
        data-sly-set.showNavigationMenu="${(properties.hideNavigationMenu || headerV2.hideNavigationMenu) != 'true'}">
    <div class="header-container">
        <div class="main-row">
            <div class="main-row__left">
                <div class="headerV2__logoWrap">
                    <a class="headerV2__logo" href="${meganav.homeUrl}" title="${meganav.siteTitle}"><span class="sr-only">${meganav.siteTitle}</span></a>
                </div>
            </div>

            <div class="main-row__right">
                <div class="search-bar" data-sly-resource="${'search-bar' @ resourceType='dhl/components/content/search-bar'}"></div>
                <div class="header__icon">
                    <button class="headerV2__desktopCountry"
                       aria-label="${headerV2.countrySelectorToggleAriaLabel}"
                        aria-expanded="false">
                        <sly data-sly-test.isGlobal="${languageVariants.getCurrentRegion == 'Global'}">
                            <span class="global-icon"></span>
                        </sly>
                        <sly data-sly-test="${!isGlobal}"
                             data-sly-set.currentRegionCode="${languageVariants.currentRegionCode}"
                             data-sly-set.selectedSpecificCountry="${languageVariants.specificCountries[currentRegionCode]}">
                            <span class="fi fi-${currentRegionCode}"></span>
                            <span class="title ">${ selectedSpecificCountry || languageVariants.getCurrentRegion @ i18n, context='html' }</span>
                        </sly>
                    </button>
                    <div class="header-countryList">
                        <label for="countryList-widget" class="header-countryList__label">${headerV2.countrySelectorTitle}</label>
                        <input class="countrySearch" id="countrySearch" type="text" aria-label="${headerV2.countryFilterInputAriaLabel}" placeholder="${headerV2.countrySearchPlaceholder}">
                        <ul class="header-countryList__widget" id="countryList-widget">
                            <sly data-sly-repeat="${languageVariants.countries}">
                                <li class="header-countryList__option"><a href="${languageVariants.countries[item].link}.html">
                                    <label for="country-${item}">
                                        <span class="fi fi-${(item == 'tw' && !selectedSpecificCountry) ? 'twx' : item}"></span>
                                        <span class="country-name" >
                                            ${selectedSpecificCountry ? (languageVariants.specificCountries[item] || languageVariants.countries[item].region) : languageVariants.countries[item].region}
                                        </span>
                                    </label>
                                </a></li>
                            </sly>
                        </ul>
                    </div>
                </div>
                <div class="header__icon">
                    <sly data-sly-test="${languageVariants.getCurrentRegion.length > 0 && languageVariants.getLanguageVariants.size > 0}">
                        <a data-sly-repeat="${languageVariants.getLanguageVariants}"
                           aria-label="${headerV2.switchLanguageAriaLabel}: ${item.title}"
                           data-sly-attribute.aria-current="${item.current ? 'page' : ''}"
                           href="${item.link}.html" data-home="${ item.home }.html"
                           rel="alternate" lang="${item.acceptlanguages}" hreflang="${item.acceptlanguages}"
                           class="headerV2__lang${((item.current) ? ' headerV2__lang--selected' : '') @ context='html'}">
                            ${ item.name @ i18n, context='html' }
                        </a>
                    </sly>
                </div>
                <div data-sly-test="${showNavigationMenu}"
                     class="header__icon">
                    <a class="headerV2__navigation" href="#">
                        <i class="headerV2__hamburger"></i>
                    </a>
                </div>
            </div>
        </div>
        <div data-sly-test="${showNavigationMenu}"
             class="navigation-row">
            <nav class="navigation-row__left" data-sly-set.currentPagePath="${currentPage.path}.html">
                <a class="navigation-item ${currentPagePath == headerV2.homePageLink ? 'active' : '' }" href="${headerV2.homePageLink}"><span>${headerV2.homePageLabel}</span></a>
                <sly data-sly-list="${meganav.panels}">
                    <a class="navigation-item  ${currentPagePath == item.url ? 'active' : '' }"
                       data-sly-attribute.aria-current="${currentPagePath == item.url ? 'page' : ''}"
                       data-analytics="{&quot;content&quot;:{&quot;name&quot;:&quot;${item.navigationTitle}&quot;,&quot;type&quot;:&quot;header&quot;,&quot;interaction&quot;:&quot;Click&quot;},&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;}"
                       href="${item.url}">
                        <span>${item.navigationTitle}</span></a>
                </sly>
                <span class="navigation-item navigation-item_more-less less">${headerV2.lessLinkLabel}</span>
            </nav>
            <div class="navigation-row__right">
                <span class="navigation-item navigation-item_more-less more">${headerV2.moreLinkLabel}</span>
                <a data-sly-test="${headerV2.buttonName}"
                   class="button dhl-btn dhl-btn--primary"
                   href="${headerV2.buttonLink}"
                   title="${headerV2.buttonName}"
                   data-testid="header-button"
                   data-analytics="{&quot;content&quot;:{&quot;name&quot;:&quot;${headerV2.buttonName}&quot;,&quot;type&quot;:&quot;header&quot;,&quot;interaction&quot;:&quot;Click&quot;},&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;}">
                    <span>${headerV2.buttonName}</span>
                </a>
                <a class="navigation-item" data-sly-repeat="${headerV2.companyLinks}" href="${item.linkPath}"
                   data-analytics="{&quot;content&quot;:{&quot;name&quot;:&quot;${headerV2.linkName}&quot;,&quot;type&quot;:&quot;header&quot;,&quot;interaction&quot;:&quot;Click&quot;},&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;}">
                    <span>${item.linkName}</span>
                </a>
            </div>
        </div>
    </div>
    <div data-sly-test="${showNavigationMenu}"
         class="headerV2__meganav">
        <nav class="headerV2__meganavNavigation">
            <ul class="headerV2__meganavNav">
                <li>
                    <div class="menuNav-title">${headerV2.signInLabel}</div>
                </li>
                <li>
                    <div class="menuNav-title">${headerV2.categoryLinksLabel}</div>
                    <ul>
                        <li>
                            <a data-sly-repeat="${meganav.panels}" class="navigation-item"  href="${item.url}"
                               data-analytics="{&quot;content&quot;:{&quot;name&quot;:&quot;${item.navigationTitle}&quot;,&quot;type&quot;:&quot;header&quot;,&quot;interaction&quot;:&quot;Click&quot;},&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;}">
                                <span>${item.navigationTitle}</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="menuNav-title">${headerV2.companyLinksLabel}</div>
                    <ul>
                        <li>
                            <a data-sly-repeat="${headerV2.companyLinks}" class="navigation-item" href="${item.linkPath}"
                               data-analytics="{&quot;content&quot;:{&quot;name&quot;:&quot;${item.linkName}&quot;,&quot;type&quot;:&quot;header&quot;,&quot;interaction&quot;:&quot;Click&quot;},&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;}">
                                <span>${item.linkName}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="short-banners" data-sly-resource="${'cta_banner_with_poin' @ resourceType='dhl/components/content/cta-banner-with-points'}"></div>
        </nav>
    </div>
</header>
