<div class="gatingArticle" id="uniqueGatingArticleId" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover/resources/img/gatingArticle.jpg);">
	<style type="text/css">@media screen and (min-width: 768px) { #uniqueGatingArticleId { background-image: url(/etc.clientlibs/dhl/clientlibs/discover/resources/img/gatingArticle-tab.jpg) !important; } }</style>
	<style type="text/css">@media screen and (min-width: 991px) { #uniqueGatingArticleId { background-image: url(/etc.clientlibs/dhl/clientlibs/discover/resources/img/gatingArticle-desk.jpg) !important; } }</style>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-7 col-lg-8">
				<h2>Download the The 21st century spice trade, a guide to the e-Commerce opportunity</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing eugiat egestas justo, et consequat sem</p>
				<div class="gatingArticle__actions">
					<a href="#" class="gatingArticle__button">Download a sample - 296 KB</a>
					<p class="gatingArticle__or">or</p>
					<a href="#" class="gatingArticle__button gatingArticle__button--arrow">Sign up/register to download</a>
					<small>Already a Discover Member? <a href="#">Log in to download</a></small>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 col-lg-4">
				<img src="/etc.clientlibs/dhl/clientlibs/discover/resources/img/gatingArticleTeaser.jpg" alt="The 21st century spice trade">
			</div>
			<div class="col-xs-12">
				<sly data-sly-include="partials/share.html" data-sly-unwrap/>
			</div>
		</div>
	</div>
</div>