:root {
  --icon-chevron-up: "\e66b";
}
.c-go-to-top-button {
  position: fixed;
  align-items: center;
  background-clip: border-box;
  background-origin: padding-box;
  bottom: 42px;
  right: 45px;
  z-index: 1000;
  border: 0.1rem solid #d40511;
  outline: none;
  background-color: #d40511;
  color: #ffffff;
  cursor: pointer;
  padding: 0.7rem 1.54rem;
  overflow: hidden;
  border-radius: 0.4rem;
  display: none;
  font-size: 1.6rem;
  opacity: 1;
  transition: opacity 0.3s, display 0.3s;
  width: 4.2rem;
  height: 4.2rem;
  text-align: center;
  vertical-align: middle;

  @media (max-width: 768px) {
    margin-left: 20px;
  }
}

.c-go-to-top-button.visible {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.c-go-to-top-button:hover {
  background-color: #800404;
}

.icon-chevron-up:before {
  content: var(--icon-chevron-up);
}

.has-icon:before,[class*=" icon-"]:before,[class^=icon-]:before {
  speak: none;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: dhlicons;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
}

.c-go-to-top-button:before {
  font-size: 1.6rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.button.base-button {
  display: inline-block;
}
