<style type="text/css">
	.cookie-banner { z-index: 2000; }
</style>
<div class="cookie-banner" data-sly-use.cookiePolicy="com.positive.dhl.core.models.CookiePolicy">
	<div class="container">
		<div class="row justify-content-center">
  			<div class="col-8 col-lg-7">
				<div class="cookie-banner__copy">
					${cookiePolicy.message @ context='html'}
				</div>
			</div>
	  		<div class="col-4 col-lg-2">
	  			<div class="row justify-content-center align-items-center cookie-banner__ctas">
					<div class="col-12">
						<button class="cookie-banner__button" title="${ 'Accept' @ i18n, context='html' }">${ 'Accept' @ i18n, context='html' }</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
