<div class="register below-register-form" style="display: none;" data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions">
	<div class="container hidden-md-down">
		<div class="row">
			<div class="tab-container">
				<div id="register-tab-1" class="tab" style="display: none;">
					<h4><a href="#register-tab-1" title="${ 'Join Discover' @ i18n, context='html' }">${ 'Join Discover' @ i18n, context='html' }</a></h4>
				</div>
				<div id="register-tab-2" class="tab active">
					<h4><a href="#register-tab-2" title="${ 'Ship Now with DHL Express' @ i18n, context='html' }">${ 'Ship Now with DHL Express' @ i18n, context='html' }</a></h4>
				</div>
			</div>
		</div>
	</div>

	<div class="hidden-lg-up">
		<div id="register-mobile-tab-1" class="tab mobile active">
			<div class="container">
				<div class="row">
					<h4><a href="#register-tab-1" title="Join Discover">${ 'Join Discover' @ i18n, context='html' }</a></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="tab-contents">
				<div data-rel="#register-tab-1" class="tab-content">
					<div class="col-xs-12 col-lg-6 register__intro">
						<i class="register__icon"></i>
						<h2>${ 'Sign up' @ i18n, context='html' }</h2>
						<h3>${ 'Looking for a fresh take on trends, innovation and more?' @ i18n, context='html' }</h3>
						${accountactions.signupMessage @context='html'}
						<form action="/register/linkedin" method="POST" class="row register__form--linkedin hidden-md-down" autocomplete="off">
							<div class="col-xs-12">
								<h4>${ 'Sign up with LinkedIn' @ i18n, context='html' }:</h4>
							</div>
							<div class="col-xs-12 col-md-10">
								<button type="submit" class="form__linkedIn">${ 'Sign up with LinkedIn' @ i18n, context='html' }</button>
								<script type="in/Login"></script>
							</div>
							<div class="col-xs-12">
								<small class="form-text no-margin">${accountactions.signupPrivacyMessage @context='html'}</small>
							</div>

							<div class="ship-now">
								<div class="col-xs-12">
									<h4>${ 'Want to Ship Now?' @ i18n, context='html' }</h4>
									<p><a href="#register-tab-2">${ 'Ship now with DHL Express' @ i18n, context='html' }</a></p>
								</div>
								<div class="col-xs-12">
									<small class="form-text no-margin">${ 'Your login details are unique to Discover DHL and are separate to any DHL shipping account login you may have.' @ i18n, context='html' }</small>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-12 col-lg-6">
						<div class="register__or hidden-md-down"></div>
						<form id="register-form-01" action="/register" method="POST" class="row register__form passwordForm" data-back="${currentPage.path}.html" autocomplete="off">
							<div class="col-xs-12">
								<h4>${ 'Sign up with email' @ i18n, context='html' }:</h4>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="register__firstName" class="sr-only">${ 'First name' @ i18n, context='html' }*</label>
									<input type="text" class="form-control" name="register__firstName" id="register__firstName" placeholder="${ 'First name' @ i18n, context='html' }*" data-msg="${ 'Enter first name' @ i18n, context='html' }" required>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="register__lastName" class="sr-only">${ 'Last name' @ i18n, context='html' }*</label>
									<input type="text" class="form-control" name="register__lastName" id="register__lastName" placeholder="${ 'Last name' @ i18n, context='html' }*" data-msg="${ 'Enter last name' @ i18n, context='html' }" required>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="register__yourEmail" class="sr-only">${ 'Your email' @ i18n, context='html' }*</label>
									<input type="text" class="form-control" name="register__yourEmail" id="register__yourEmail" placeholder="${ 'Your email' @ i18n, context='html' }*" aria-describedby="register__yourEmailHelp" data-msg="${ 'Enter a valid email address' @ i18n, context='html' }" required>
									<small id="register__yourEmailHelp" class="form-text">${accountactions.signupEmailPrivacyMessage @context='html'}</small>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="register__position" class="sr-only">${ 'Position' @ i18n, context='html' }*</label>
									<input type="text" class="form-control" name="register__position" id="register__position" placeholder="${ 'Position' @ i18n, context='html' }*" data-msg="${ 'Enter position' @ i18n, context='html' }" required>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="register__contactNumber" class="sr-only">${ 'Contact number' @ i18n, context='html' }</label>
									<input type="text" class="form-control" name="register__contactNumber" id="register__contactNumber" placeholder="${ 'Contact number' @ i18n, context='html' }" data-msg="${ 'Enter contact number' @ i18n, context='html' }">
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="register__businessSize" class="sr-only">${ 'Business size' @ i18n, context='html' }*</label>
									<select class="form-control" name="register__businessSize" id="register__businessSize" required>
										<option value="" selected disabled>${ 'Business size' @ i18n, context='html' }*</option>
										<option>Business &lt;10 employees</option>
										<option>11 - 49 employees</option>
										<option>50 - 249 employees</option>
										<option>250 - 499 employees</option>
										<option>500 - 999 employees</option>
										<option>1000+ employees</option>
									</select>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="register__businessSector" class="sr-only">${ 'Business sector' @ i18n, context='html' }*</label>
									<select class="form-control" name="register__businessSector" id="register__businessSector" required>
										<option value="" selected disabled>${ 'Business sector' @ i18n, context='html' }*</option>
										<option>Aerospace, Defense &amp; Security</option>
										<option>Airline Industry</option>
										<option>Automotive</option>
										<option>Banking</option>
										<option>Chemistry &amp; Pharma</option>
										<option>Consumer Goods</option>
										<option>Energy</option>
										<option>Engineering &amp; Manufacturing</option>
										<option>Health</option>
										<option>Insurance</option>
										<option>Life Sciences &amp; Healthcare</option>
										<option>Manufacturing</option>
										<option>Mining Industry</option>
										<option>Public Sector</option>
										<option>Technology</option>
										<option>Telecom</option>
										<option>Tourism</option>
										<option>Transport</option>
										<option>Utilities &amp; Energy</option>
										<option>Other</option>
									</select>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="register__createPassword" class="sr-only">${ 'Create password' @ i18n, context='html' }*</label>
									<input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_\W])[A-Za-z\d_\W]{8,}$" class="form-control form__passwordCreationField" name="register__createPassword" id="register__createPassword" placeholder="${ 'Create password' @ i18n, context='html' }*" autocomplete="off" required>
									<button type="button" class="showPassword">${ 'Show' @ i18n, context='html' }</button>
									<ul class="register__passwordChecklist passwordChecklist">
										<li class="cases">${ 'Lower and upper case' @ i18n, context='html' }</li>
										<li class="special">${ 'Special character' @ i18n, context='html' }</li>
										<li class="digit">${ 'Number' @ i18n, context='html' }</li>
										<li class="length">${ '8+ characters' @ i18n, context='html' }</li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label class="form-check-label">
										<input type="checkbox" name="register__termsAndConditions" class="form-check-input" required>
										${accountactions.signupTCMessage @context='html'}
									</label>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<button type="submit">${ 'Submit' @ i18n, context='html' }</button>
									<small class="form-text text-center">${ 'Already a Discover Member?' @ i18n, context='html' } <a href="${accountactions.loginUrl @context='uri'}">${ 'Log in' @ i18n, context='html' }</a></small>
								</div>
							</div>
						</form>
						<div class="register__or hidden-lg-up"></div>
						<form action="/register/linkedin" method="POST" class="row hidden-lg-up" autocomplete="off">
							<div class="col-xs-12">
								<h4>${ 'Sign up with LinkedIn' @ i18n, context='html' }:</h4>
							</div>
							<div class="col-xs-12 col-md-6">
								<button type="submit" class="form__linkedIn">${ 'Sign up with LinkedIn' @ i18n, context='html' }</button>
							</div>
							<div class="col-xs-12 col-md-6">
								<small class="form-text no-margin">${ 'Do not worry. We will never post on your behalf. To learn more about how we protect your privacy, please read our' @ i18n, context='html' } <a href="#">${ 'Privacy Notice.' @ i18n, context='html' }</a></small>
							</div>

							<div class="ship-now">
								<div class="col-xs-12">
									<h4>${ 'Want to Ship Now?' @ i18n, context='html' }</h4>
									<p><a href="#register-tab-2">${ 'Ship now with DHL Express' @ i18n, context='html' }</a></p>
								</div>
								<div class="col-xs-12">
									<small class="form-text no-margin">${ 'Your login details are unique to Discover DHL and are separate to any DHL shipping account login you may have.' @ i18n, context='html' }</small>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-12 hidden-lg-up">
						<p class="register__havingTrouble">${ 'Something not working? Please contact us at' @ i18n, context='html' } <a href="mailto:help@dhlcontenthub.com">help@dhlcontenthub.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hidden-lg-up">
		<div id="register-tab-mobile-2" class="tab mobile second">
			<div class="container">
				<div class="row">
					<h4><a href="#register-tab-2" title="Ship Now with DHL Express">${ 'Ship Now with DHL Express' @ i18n, context='html' }</a></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="tab-contents">
				<div data-rel="#register-tab-2" class="tab-content">
					<sly data-sly-test="${(currentSession.userID == null || currentSession.userID == 'anonymous')}" data-sly-unwrap>
						<script id="ion-embed-scr" type="text/javascript">(function(n){var r="_ion_ionizer",t=n.getElementById("ion-embed-scr"),i;t.id = r+ +new Date+Math.floor(Math.random()*10);t.setAttribute("data-ion-embed",'{"url":"//dhl.postclickmarketing.com/test/ddhl-embed?_ion_target=embed-1.0","target":"'+t.id+'","appendQuery":false}');n.getElementById(r)||(i=n.createElement("script"),i.id=r,i.src=(n.location.protocol==="https:"?"//8f2a3f802cdf2859af9e-51128641de34f0801c2bd5e1e5f0dc25.ssl.cf1.rackcdn.com":"//1f1835935797600af226-51128641de34f0801c2bd5e1e5f0dc25.r5.cf1.rackcdn.com")+"/ionizer-1.0.min.js",t.parentNode.insertBefore(i,t.nextSibling))})(document);</script>
					</sly>
					<sly data-sly-test="${(!(currentSession.userID == null || currentSession.userID == 'anonymous'))}" data-sly-unwrap>
						<div style="width: 100%; min-height: 200px; padding: 100px 0 80px; background: #f1f1f1; text-align: center;">
							<p>ION iframe appears here</p>
						</div>
					</sly>
				</div>
			</div>
			<div class="col-xs-12 hidden-md-down">
				<p class="register__havingTrouble">${ 'Something not working? Please contact us at' @ i18n, context='html' } <a href="mailto:help@dhlcontenthub.com">help@dhlcontenthub.com</a></p>
			</div>
		</div>
	</div>

	<div class="modal fade">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content email">
				<div class="modal-header">
					<h2 class="modal-title">${ 'Thank you' @ i18n, context='html' } <span class="thanks-name"></span></h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="sr-only">${ 'Close' @ i18n, context='html' }</span>
					</button>
				</div>
				<div class="modal-body">
					${accountactions.registerThanksMessage @context='html'}
					<button type="button" class="modal__cta modal__cta--margin" data-dismiss="modal">${ 'Continue browsing' @ i18n, context='html' }</button>
				</div>

				<div class="modal-footer border">
					<small>${ 'Having trouble? Please contact us at' @ i18n, context='html' } <a href="mailto:${accountactions.contactEmail}">${accountactions.contactEmail}</a></small>
				</div>
			</div>
		</div>
	</div>
</div>