<div class='ecom-form ecom-form--max is-hidden' data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8">
				<span class="ecom-form__close"></span>
				<div class="row">
					<div class="col-12 col-md-5 col-lg-6">
						<span class="ecom-form__title">${ 'Apply for a DHL Express Account' @ i18n, context='html' }</span>
						<div class="ecom-form__copy">
							${accountactions.shipNowMessage @context='html'}

							<div class="link-below d-none d-md-block">
								<a href="https://webshipping.dhl.com" rel="external" target="_blank" title="${ 'Want to ship a package now?' @ i18n, context='html' }">${ 'Want to ship a package now?' @ i18n, context='html' }</a>
							</div>
						</div>
					</div>
					<form action="${accountactions.shipNowUrl @context='uri'}" class="forms col-12 col-md-7 col-lg-6" novalidate="novalidate">
						<div class="forms__row">
							<div class="col-12 col-md-6">
								<input id="firstname" type="text" placeholder="${ 'First name' @ i18n, context='html' }*" name="firstname" value="" data-msg="${ 'Enter first name' @ i18n, context='html' }" required />
							</div>
							<div class="col-12 col-md-6">
								<input id="lastname" type="text" placeholder="${ 'Last name' @ i18n, context='html' }*" name="lastname" value="" data-msg="${ 'Enter last name' @ i18n, context='html' }" required />
							</div>
						</div>
						<div class="forms__row">
							<div class="col-12">
								<input id="email" type="email" placeholder="${ 'Business email address' @ i18n, context='html' }*" name="email" value="" data-msg="${ 'Enter a valid email address' @ i18n, context='html' }" required />
							</div>
						</div>
						<div class="forms__row">
							<div class="col-12">
								<div class="forms__checkbox">
									<input id="tandcs" type="checkbox" name="tandcs" /> <label for="tandcs">${accountactions.signupTCMessage @context='html'}</label>
								</div>
							</div>
						</div>
						<div class="forms__row">
							<div class="col-12">
								<input type="submit" class="forms__cta--red" value="${ 'Apply now' @ i18n, context='html' }" />

								<div class="link-below no-border d-block d-md-none">
									<a href="https://webshipping.dhl.com" rel="external" target="_blank" title="Want to ship a package now?">${ 'Want to ship a package now?' @ i18n, context='html' }</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ecom-form ecom-form--min" data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions">
	<div class="container">
		<div class="row ">
			<div class="col-12">
				<div class="row">
					<form class="forms col-12" action="${accountactions.shipNowUrl @context='uri'}">
						<div class="row align-items-center">
							<div class="col-12 col-lg-4">
								<a href="${accountactions.shipNowUrl @context='uri'}" class="ecom-form__title">${ 'Apply for a DHL Express Account' @ i18n, context='html' }</a>
								<div class="link-below d-none d-md-block">
									<a href="https://webshipping.dhl.com" rel="external" target="_blank" title="Want to ship a package now?">${ 'Want to ship a package now?' @ i18n, context='html' }</a>
								</div>
							</div>
							<div class="col-5 d-none d-lg-flex align-self-start">
								<div class="signup-elements">
									<input type="email" placeholder="Business email address*" name="email" data-msg="${ 'Enter a valid email address' @ i18n, context='html' }" />
									<div class="forms__checkbox">
										<input id="tandcs2" type="checkbox" name="tandcs" />
										<label for="tandcs2">${accountactions.signupTCMessage @context='html'}</label>
									</div>
								</div>
							</div>
							<div class="col-2 d-none d-lg-flex align-self-start">
								<input type="submit" class="forms__cta--red" value="Apply now" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
