.search {
  color: #323232;
  position: relative;

  .loader {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .8);
    background-position-y: 20rem;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/loading.svg');
    top: 0;
    left: 0;

  }

  &Form {
    background-color: #F6F6F6;
    padding: 3rem 2rem 2rem;
    @media screen and (min-width: 76.8rem) {
      padding: 5rem 2rem 2rem;
    }

    &InputWrapper {
      max-width: 80rem;
      border-radius: 6px;
      border: 1px solid #5A5A5A;
      height: 5rem;
      background-color: white;
      position: relative;
      margin: auto;
      @media screen and (min-width: 76.8rem) {
        height: 7rem;
      }

      input {
        width: 100%;
        border: none;
        background: transparent;
        padding-left: 5rem;
        height: 100%;
        font-size: 1.6rem;
        line-height: 2.5rem;

        [dir="rtl"] & {
          padding-left: 0px;
          padding-right: 5rem;
        }
        @media screen and (min-width: 76.8rem) {
          line-height: 3rem;
          font-size: 2rem;
          padding-left: 7rem;

          [dir="rtl"] & {
            padding-left: 0px;
            padding-right: 7rem;
          }
        }

        &:focus-visible {
          border: none;
        }
      }
    }

    &Title {
      margin-top: 2rem;
      font-weight: bold;
      font-size: 2.8rem;
      line-height: 4rem;
      @media screen and (min-width: 76.8rem) {
        margin-top: 3rem;
        line-height: 5rem;
        font-size: 4rem;
      }
      @media screen and (min-width: 120rem) {
        margin-top: 4rem;
        line-height: 6rem;
        font-size: 5rem;
      }
      text-align: center;
    }

    &Details {
      font-size: 1.6rem;
      line-height: 2.5rem;
      @media screen and (min-width: 76.8rem) {
        line-height: 3rem;
        font-size: 2rem;
      }
      text-align: center;
    }
  }

  &Result {
    max-width: 127rem;
    padding: 1rem 21px;
    margin: auto;
    @media screen and (min-width: 76.8rem) {
      padding: 35px;
    }

    &Headline {
      font-size: 1.4rem;
      line-height: 3rem;
      gap: 2rem;
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 0;

      .sorting {
        margin-left: auto;
        [dir="rtl"] & {
          margin-left: initial;
          margin-right: auto;
        }
      }

      .trending {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        &Title {}

        &Item {
          background-color: #FFCC00;
          border-radius: 4px;
          display: inline-block;
          color: #323232;
          
          cursor: pointer;
          padding: 0 8px;
        }
      }
    }

    &Button {
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      color: #FFFFFF;
      background: #D40511 0% 0% no-repeat padding-box;
      border-radius: 4px;
      padding: 1.5rem 0px;
      font-weight: bold;
      width: 100%;
      line-height: 1.4rem;
      font-size: 1.5rem;
      border: none;
      margin: 5rem auto 2rem;
      display: block;

      &:hover {
        color: #FFFFFF;
        background-color: #eb131e;
        text-decoration: none;
      }

      &:active {
        background-color: #9A0000;
        text-decoration: none;
      }

      @media screen and (min-width: 76.8rem) {
        line-height: 1.6rem;
        font-size: 1.8rem;
      }

      @media screen and (min-width: 120rem) {
        padding: 1.5rem 8.5rem;
        width: auto;
      }
    }
  }
}

.searchButton {
  cursor: pointer;
  background: transparent;
  border: none;
  max-height: 10rem;
  height: 100%;
  padding: 0;
  aspect-ratio: 1/1;
  position: absolute;
  left: 0;
  [dir="rtl"] & {
    left: unset;
    right: 0;
  }
  &Image {
      width: 100%;
      height: 100%;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        width: 50%;
        height: 50%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        content: " ";
        display: inline-block;
        background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/searchicon.svg');
      }
  }
}