.search {
  color: #323232;
  position: relative;

  .loader {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .8);
    background-position-y: 200px;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/loading.svg');
    top: 0;
    left: 0;

  }

  &Form {
    background-color: #F6F6F6;
    padding: 30px 20px 20px;
    @media screen and (min-width: 768px) {
      padding: 50px 20px 20px;
    }

    &InputWrapper {
      max-width: 800px;
      border-radius: 6px;
      border: 1px solid #5A5A5A;
      height: 50px;
      background-color: white;
      position: relative;
      margin: auto;
      @media screen and (min-width: 768px) {
        height: 70px;
      }

      input {
        width: 100%;
        border: none;
        background: transparent;
        padding-left: 50px;
        height: 100%;
        font: normal normal normal 16px/25px Delivery, sans-serif;

        [dir="rtl"] & {
          padding-left: 0px;
          padding-right: 50px;
        }
        @media screen and (min-width: 768px) {
          line-height: 30px;
          font-size: 20px;
          padding-left: 70px;

          [dir="rtl"] & {
            padding-left: 0px;
            padding-right: 70px;
          }
        }

        &:focus-visible {
          border: none;
        }
      }
    }

    &Title {
      margin-top: 20px;
      font: normal normal bold 28px/40px Delivery, sans-serif;
      @media screen and (min-width: 768px) {
        margin-top: 30px;
        line-height: 50px;
        font-size: 40px;
      }
      @media screen and (min-width: 1200px) {
        margin-top: 40px;
        line-height: 60px;
        font-size: 50px;
      }
      text-align: center;
    }

    &Details {
      font: normal normal normal 16px/25px Delivery, sans-serif;
      @media screen and (min-width: 768px) {
        line-height: 30px;
        font-size: 20px;
      }
      text-align: center;
    }
  }

  &Result {
    max-width: 1270px;
    padding: 10px 35px;
    margin: auto;
    @media screen and (min-width: 768px) {
      padding: 35px;
    }

    &Headline {
      font: normal normal normal 14px/30px Delivery, sans-serif;
      gap: 20px;
      @media screen and (min-width: 768px) {
        display: flex;
      }
      .sorting {
        margin: 20px 0;
        flex-shrink: 0;
        text-align: right;
        margin-left: auto;

        &Label {
          margin-bottom: 0px;
          margin-right: 20px;

          &:after {
            content: ":";
          }
        }

        &Select {
          border: 1px solid #CECECE;
          border-radius: 3px;
          display: inline;
          padding: 7px;
        }
      }

      .trending {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &Title {}

        &Item {
          background-color: #FFCC00;
          border-radius: 4px;
          display: inline-block;
          color: #323232;
          
          cursor: pointer;
          padding: 0 8px;
        }
      }
    }

    &Button {
      margin-top: 20px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      color: #FFFFFF;
      background: #D40511 0% 0% no-repeat padding-box;
      border-radius: 4px;
      padding: 15px 0px;
      display: inline-block;
      font-weight: bold;
      width: 100%;
      line-height: 14px;
      font-size: 15px;
      border: none;
      margin: 50px auto 20px;
      display: block;

      &:hover {
        color: #FFFFFF;
        background-color: #eb131e;
        text-decoration: none;
      }

      &:active {
        background-color: #9A0000;
        text-decoration: none;
      }

      @media screen and (min-width: 768px) {
        line-height: 16px;
        font-size: 18px;
      }

      @media screen and (min-width: 1200px) {
        padding: 15px 85px;
        width: auto;
      }
    }
  }
}