<sly data-sly-use.articlePage="com.dhl.discover.core.models.ArticlePage"
     data-sly-set.article="${articlePage.article}"/>

<div class="cmp-article-header">
  <div class="cmp-article-header__breadcrumb">
    <span>${article.groupTag}</span>
  </div>

  <h1 class="cmp-article-header__title">${article.pageTitle}</h1>

  <!--/* This Author-related part of the code will be finalised as part of DIS-372 */-->
  <div class="cmp-article-header__info">
    <img data-sly-test.authorimage="${article.authorimage}"
         data-sly-test.articleAuthor="${article.author}"
         class="cmp-article-header__author-image"
         src="${authorimage}"
         alt="${articleAuthor}"
         area-label="${articleAuthor}"
         role="img"
    >
    <div class="cmp-article-header__author-info" data-sly-test.articleAuthor="${article.author}">
      <div>
        <span class="cmp-article-header__author-name">${articleAuthor}</span>
        <a data-sly-test.followLabel="${articlePage.followLabel}" class="cmp-article-header__author-follow" href="${articlePage.followPath}">
          <span>${followLabel}</span>
        </a>
      </div>
      <div class="cmp-article-header__author-title">${article.authortitle}</div>
    </div>
    <div class="cmp-article-header__date">
      <time class="cmp-article-header__publishDate" datetime="${article.created}">${article.createdfriendly}</time>
      <span class="cmp-article-header__readingDuration" data-sly-test="${article.readtime}">${article.readtime}</span>
    </div>
  </div>
  <!--/* End */-->

  <sly data-sly-use.share="/apps/dhl/htl/templates/share.html"
       data-sly-call="${share.shareOptions @ articlePage = articlePage, label = true}"></sly>
</div>
