<sly data-sly-use.articlePage="com.positive.dhl.core.models.ArticlePage"
     data-sly-set.article="${articlePage.article}"/>

<div class="article-header_breadcrumb">
  <span>${article.groupTag}</span>
</div>

<h1 class="article-header_title">${article.fullTitle}</h1>

<!--/* This Author-related part of the code will be finalised as part of DIS-372 */-->
<div class="article-header_author">
  <img data-sly-test.authorimage="${article.authorimage}"
       class="article-header_author-image"
       src="${authorimage}"
       alt="${article.author}">
  <div class="article-header_author-description">
    <div>
      <span class="article-header_author-description__name">${article.author}</span>
      <a data-sly-test.followLabel="${articlePage.followLabel}" class="article-header_author-description__follow" href="${articlePage.followPath}">
        <span>${followLabel}</span>
      </a>
    </div>
    <div class="article-header_author-description__title">${article.authortitle}</div>
  </div>
</div>
<!--/* End */-->

<div class="article-header_date">
  <time class="article-header_date-publishDate" datetime="${article.created}">${article.createdfriendly}</time>
  <span class="article-header_date-readingDuration">${article.readtime}</span>
</div>

<div class="article-header_share">
  <div class="article-header_share-label">${articlePage.shareOn}</div>
  <div class="article-header_share-container">
    <div class="article-header_share-container__left">
      <div data-sly-repeat="${articlePage.socialNetwork}" class="st-custom-button" data-network="${item}">
        <img class="logo__image" alt="${item} sharing button" src="${articlePage.socialNetwork[item]}">
      </div>
    </div>
    <div class="article-header_share-container__right">
      <div class="st-custom-button" data-network="sharethis">
        <img class="logo__image" alt="Smart Share Buttons Icon" src="${articlePage.smartShareButtonsIconPath}">
        <span class="st-label">${articlePage.smartShareButtonsLabel}</span>
      </div>
    </div>
  </div>
</div>
