<sly data-sly-use.articlePage="com.dhl.discover.core.models.ArticlePage"
     data-sly-set.article="${articlePage.article}"></sly>

<div class="cmp-article-footer">
  <sly data-sly-use.share="/apps/dhl/htl/templates/share.html"
       data-sly-call="${share.shareOptions @ articlePage = articlePage, underline = true}"></sly>

  <!--/* This Author-related part of the code will be finalised as part of DIS-372 */-->
  <div data-sly-test.articleAuthor="${article.author}" class="cmp-article-footer__author">
    <img data-sly-test="${(article.authorimage.length > 0)}"
         class="cmp-article-footer__author-image"
         src="${article.authorimage}"
         alt="${articleAuthor}">
    <div class="cmp-article-footer__author-info">
      <div>
        <span class="cmp-article-footer__author-name">${articleAuthor}</span>
        <a data-sly-test="${articlePage.followLabel}" class="cmp-article-footer__author-follow" href="${articlePage.followPath}">
          <span>${articlePage.followLabel}</span>
        </a>
      </div>
      <div class="cmp-article-footer__author-title">${article.authortitle}</div>
    </div>
  </div>
  <!--/* End */-->

</div>

