<div class='statsPanel statsPanel--fashion parallaxSection' data-duration="4" data-separator="," data-decimal=".">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="statsPanel__parallaxBox statsPanel__parallaxBox--fashion">
          <div class="col-lg-5 offset-lg-1">
            <p class="statsPanel__title statsPanel__title--light">CHANGE TOWARDS CHINA</p>
            <p class="statsPanel__copy statsPanel__copy--light">2018 marked the first time that <a class="statsPanel__link statsPanel__link--light" target="_blank" href="https://cdn.businessoffashion.com/reports/The_State_of_Fashion_2018_v2.pdf">over half of apparel and footwear sales</a> originated outside of Europe and North America, instead coming from emerging markets across Asia-Pacific and Latin America.</p>
            <div class="d-none d-lg-block"><br></div>
            <div class="d-none d-lg-block">
              <p class="statsPanel__copy statsPanel__copy--light">China also continues to be the largest exporter of apparel in the world, dominating the global trade market in 2017. They're not just making the products though &ndash; they're buying them too, owing to GDP growth and a strengthening economy. This means the Asia-Pacific region now accounts for 38% of fashion sales, leaving Europe in second place with 27%.</p>
            </div>
          </div>
          <div class="statsPanel__boxWrapper">
            <div class="col-6 offset-lg-2 col-lg-4">
              <div class="statsPanel__wrapper statsPanel__wrapper--alt">
                <div class="statsPanel__statsWrapper statsPanel__statsWrapper--alt">
                  <h4 class="statsPanel__statsValue statsPanel__statsValue--light" data-start="0" data-end="38" data-suffix="%">38%</h4>
                  <h2 class="statsPanel__value statsPanel__value--light">Asia-Pacific<br> fashion sales</h2>
                </div>
                <div class="boxFill">
				  <div class="boxFill__shadow"></div>
				  <div class="boxFill__fill boxFill__fillstat5">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
              </div>
            </div>
            <div class="col-6 col-lg-4">
              <div class="statsPanel__wrapper statsPanel__wrapper--alt">
                <div class="statsPanel__statsWrapper statsPanel__statsWrapper--altDown">
                  <h4 class="statsPanel__statsValue statsPanel__statsValue--light" data-start="0" data-end="27" data-suffix="%" data-duration="2.4">27%</h4>
                  <h2 class="statsPanel__value statsPanel__value--light">leaving Europe<br> in second place</h2>
                </div>
                <div class="boxFill">
				  <div class="boxFill__shadow"></div>
				  <div class="boxFill__fill boxFill__fillstat6">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
              </div>
            </div>
          </div>
          <div class="col-12 d-lg-none">
            <p class="statsPanel__copy statsPanel__copy--light">China also continues to be the largest exporter of apparel in the world, dominating the global trade market in 2017. They're not just making the products though &ndash; they're buying them too, owing to GDP growth and a strengthening economy. This means the Asia-Pacific region now accounts for <a class="statsPanel__link statsPanel__link--light" target="_blank" href="https://cdn.businessoffashion.com/reports/The_State_of_Fashion_2018_v2.pdf">38% of fashion sales</a>, leaving Europe in second place with 27%.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
