<div class='parallaxSection parallaxSection--fashion animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-7">
        <div class="parallaxSection__title parallaxSection__title--fashion">TAKING fashion home</div>
        <p class="parallaxSection__copy parallaxSection__copy--alt">The importance of fashion weeks will always anchor the industry in cities like London, Paris and New York. However, many western companies are now localizing their supply chains too, with two thirds of US apparel executives prioritizing speed to market and in-season reactivity.</p>
        <p class="parallaxSection__copy parallaxSection__copy--alt">Zara has achieved a two-week lead time for taking trends from catwalk to shop floor (traditional fashion players can take as long as 12), by basing their manufacturing in northern Spain and managing their own supply chain. Keeping manufacture closer  to the stores reduces the product journey and also consumer waiting time.</p>
      </div>
      <div class="col-12">
        <div class="parallaxSection__wrapper parallaxSection__wrapper--electronics parallax-wrapper">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--shop" data-max-top="540" data-multiplier="0.1">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated3/shop.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--coat" data-multiplier="0.3">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated3/coat.jpg);"></div>
          </div>
          <div class="parallaxSection__tileBlock parallaxSection__tile--noParallax parallaxSection__tile--fashionBlueBox">
            <div class="parallaxSection__title parallaxSection__title--fashionAlt">See now, buy now</div>
            <div class="parallaxSection__copy">Driven by digital catwalks, online flash sales and click-to-purchase options on social media, fast-fashion sales have <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://www.businessoffashion.com/articles/intelligence/10-trends-that-will-define-the-fashion-agenda-in-2018">grown 20% over the last three years</a>. With brands accelerating the timescale from design to shelf, the need to expedite shipping has also grown, with Gucci offering home delivery in 90 minutes or less for certain cities.</div>
            <div class="parallaxSection__copy">Burberry even defied the typical six-month lag between catwalk and store arrival in 2016, making items available immediately after the models had walked in them. With such flexibility, fast fashion supply chain has become a lucrative business model.</div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--zara" data-min-top="30">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated3/zara.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--catwalk" data-multiplier="0.2">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated3/catwalk.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--fashionBag">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated3/fashionBag.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
