<div class='statsPanel statsPanel--fashionAlt parallaxSection' data-duration="4" data-separator="," data-decimal=".">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="statsPanel__parallaxBox statsPanel__parallaxBox--fashion">
          <div class="col-lg-5 offset-lg-1">
            <p class="statsPanel__title">Recycling Rewards</p>
            <p class="statsPanel__copy statsPanel__copy--alt">With <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.businessoffashion.com/articles/intelligence/top-industry-trends-2018-8-sustainability-credibility">66% of global millennials</a> willing to spend more on sustainable brands, clothing waste reduction practices are not only good for the planet but for business too. As 42% of fashion brands shared their supplier information last year in a bid to improve consumer transparency and promote sustainable practices, companies failing to step up will soon fall out of fashion favor &ndash; particularly in the UK, whose shoppers are the most likely to consider a brand's ethics before buying.</p>
          </div>
          <div class="statsPanel__boxWrapper">
            <div class="col-6 offset-lg-2 col-lg-4">
              <div class="statsPanel__wrapper statsPanel__wrapper--alt">
                <div class="statsPanel__statsWrapper statsPanel__statsWrapper--alt">
                  <h4 class="statsPanel__statsValue statsPanel__statsValue--alt" data-start="0" data-end="66" data-suffix="%">66%</h4>
                  <h2 class="statsPanel__value statsPanel__value--alt">Of global<br> millenials</h2>
                </div>
                <div class="boxFill boxFill--dark">
				  <div class="boxFill__fill boxFill__fillstat7">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
              </div>
            </div>
            <div class="col-6 col-lg-4">
              <div class="statsPanel__wrapper statsPanel__wrapper--alt">
                <div class="statsPanel__statsWrapper statsPanel__statsWrapper--altDown">
                  <h4 class="statsPanel__statsValue statsPanel__statsValue--alt" data-start="0" data-end="42" data-suffix="%" data-duration="2.4">42%</h4>
                  <h2 class="statsPanel__value statsPanel__value--alt">of fashion<br> brands</h2>
                </div>
                <div class="boxFill boxFill--dark">
				  <div class="boxFill__fill boxFill__fillstat8">
				    <div class="boxFill__fillTop"></div>
				  </div>
				  <div class="boxFill__front"></div>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
