<div class='infoRow infoRow--fashion'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="d-md-none">
          <p class="infoRow__title infoRow__title--fashion">DEPENDABLE DELIVERY</p>
          <p class="infoRow__copy">Half of online shoppers cite ease and cost of delivery as the main factor influencing their web-based purchase decisions, while over a third consider the ease and cost of returns too. With so many market changes and new technologies being introduced, all promising to revolutionize the manufacturing process, it's important to have a shipping partner you can depend upon.</p>
          <p class="infoRow__copy">A delay in delivery to stores by even a week can drastically affect profit margins, with a product's average life cycle being limited to eight weeks. Make sure your chosen service can ship to and from all the countries you trade with, and that your logistics plan is ready to respond to the changes that will inevitably come.</p>
        </div>
        <img class="infoRow__image" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated3/calender.gif">
      </div>
      <div class="col-12 col-md-7 col-lg-5">
        <div class="d-none d-md-block">
          <p class="infoRow__title infoRow__title--fashion">DEPENDABLE DELIVERY</p>
          <p class="infoRow__copy">Half of online shoppers cite ease and cost of delivery as the main factor influencing their web-based purchase decisions, while over a third consider the ease and cost of returns too. With so many market changes and new technologies being introduced, all promising to revolutionize the manufacturing process, it's important to have a shipping partner you can depend upon.</p>
          <p class="infoRow__copy">A delay in delivery to stores by even a week can drastically affect profit margins, with a product's average life cycle being limited to eight weeks. Make sure your chosen service can ship to and from all the countries you trade with, and that your logistics plan is ready to respond to the changes that will inevitably come.</p>
        </div>
      </div>
    </div>
  </div>
</div>
