.articleGrid {
    margin: auto;
    max-width: 120rem;

    &Sorting {
      margin-left: auto;
      [dir="rtl"] & {
        margin-left: initial;
        margin-right: auto;
      }
    }

    &Header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        &>* {
            align-self: center;
        }

        &Title {
            font-weight: bold;
            font-size: 2rem;
            line-height: 4rem;
            padding: 0 1rem;
            border-left: 2px solid #dd3741;
        }
    }

    &Categories {
        margin: 2.5rem -5rem 0;
        padding: 0 5rem;
        display: flex;
        gap: 2rem;

        //TODO update @media with mixin
        @media screen and (min-width: 48rem) {
            margin-top: 4rem;
        }

        white-space: nowrap;

        &::-webkit-scrollbar-track {
            margin: 5rem;
        }
    }

    &Category {
        cursor: pointer;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.6rem;
        letter-spacing: 0px;
        color: #323232;

        &:hover {
            color: #D40511;
        }

        &Selected {
            color: #D40511;
            text-decoration: underline;
        }
    }

    &Articles {
        display: grid;
        flex-wrap: wrap;
        gap: 2rem 3.6rem;
        margin-top: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(min(27rem, 100%), 1fr));
    }

    &ShowMoreButton {
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        color: #FFFFFF;
        background: #D40511 0% 0% no-repeat padding-box;
        border-radius: 4px;
        padding: 1.5rem 0px;
        font-weight: bold;
        width: 100%;
        line-height: 1.4rem;
        font-size: 1.5rem;
        border: none;
        margin: 5rem auto 0;
        display: block;

        &:hover {
            color: #FFFFFF;
            background-color: #eb131e;
            text-decoration: none;
        }

        &:active {
            background-color: #9A0000;
            text-decoration: none;
        }

        @media screen and (min-width: 48rem) {
            line-height: 1.6rem;
            font-size: 1.8rem;
            width: auto;
            padding: 1.5rem 8.5rem;
        }

    }
}

[dir="rtl"] .articleGrid {
    &Header {
        &Title {
            border-left: none;
            border-right: 2px solid #dd3741;
        }
    }
}
