.articleGrid {
    margin: auto;
    max-width: 1200px;
    margin-top: 40px;

    //TODO update @media with mixin
    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }

    &Header {
        @media screen and (min-width: 567px) {
            display: flex;
            justify-content: space-between;
        }
    
        &>* {
            align-self: center;
        }

        &Title {
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            padding: 0 10px;
            border-left: 2px solid #dd3741;
        }
    }

    &Categories {
        margin: 25px -50px 0;
        padding: 0 50px;
        display: flex;
        gap: 20px;

        //TODO update @media with mixin
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }

        white-space: nowrap;

        &::-webkit-scrollbar-track {
            margin: 50px;
        }

        &Category {
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0px;
            color: #323232;

            &:hover {
                color: #D40511;
            }

            &Selected {
                color: #D40511;
                text-decoration: underline;
            }
        }
    }

    &Articles {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 36px;
        margin-top: 30px;
    }

    &ShowMoreButton {
        margin-top: 20px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        color: #FFFFFF;
        background: #D40511 0% 0% no-repeat padding-box;
        border-radius: 4px;
        padding: 15px 0px;
        display: inline-block;
        font-weight: bold;
        width: 100%;
        line-height: 14px;
        font-size: 15px;
        border: none;
        margin: 50px auto 20px;
        display: block;

        &:hover {
            color: #FFFFFF;
            background-color: #eb131e;
            text-decoration: none;
        }

        &:active {
            background-color: #9A0000;
            text-decoration: none;
        }

        @media screen and (min-width: 768px) {
            line-height: 16px;
            font-size: 18px;
        }

        @media screen and (min-width: 1200px) {
            padding: 15px 85px;
            width: auto;
        }
    }
}

[dir="rtl"] .articleGrid {
    &Header {
        &Title {
            border-left: none;
            border-right: 2px solid #dd3741;
        }
    }
}
