.articleGrid {
    margin:auto;
    max-width: 1200px;
    margin-top: 40px;
    //TODO update @media with mixin
    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }
    &Header {
        display: flex;
        & > * {
            align-self: center;
        }
        &Title {
            font: normal normal bold 20px/40px Delivery,sans-serif;
            padding-left: 10px;
            border-left: 2px solid #dd3741;
        }
        &Sort {
            margin-left: auto;
            &Label {
                margin-bottom: 0px;
                margin-right: 20px;
                &:after {
                    content: ":";
                }
            }
            &Select {
                border: 1px solid #CECECE;
                border-radius: 3px;
                display: inline;
                padding: 7px;
            }
        }

    }
    &Categories {
        margin: 25px -50px 0;
        padding: 0 50px;
        //TODO update @media with mixin
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
        white-space: nowrap;
        &::-webkit-scrollbar-track {
            margin: 50px;
        }
        &Category {
            display: inline;
            margin-right: 20px;
            cursor: pointer;
            font: normal normal bold 18px/26px Delivery;
            letter-spacing: 0px;
            color: #323232;
            &:hover {
                color: #D40511;
            }
            &Selected {
                color: #D40511;
                text-decoration: underline;
            }
        }
    }
    &Articles {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 36px;
        margin-top: 30px;
    }
}