.articleCard {
  white-space: normal;
  width: 100%;

  &Image {
    display: block;
    position: relative;
    border-radius: 2px;
    height: 19.1rem;
    background: {
      size: cover;
      position: center;
    }

    &:after {
      content: "";
      border-radius: 2px;
      position: absolute;
      background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
  }

  &GroupTag {
    z-index: 1;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    position: absolute;
    bottom: 1.3rem;
    padding: 0 1.5rem;
  }

  &Info {
    border: 1px solid #E2E2E2;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    height: calc(100% - 19.1rem);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  &Author {
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 0px;
    color: #323232;
  }

  &Title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0px;
    color: #323232;

    &:hover {
      color: #D40511;
      display: block;
    }
  }

  &Description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0px;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &Tags {
    margin-top: auto;
    height: 2.4rem;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 2.4rem;
  }

  &Tag {
    background-color: #FFCC00;
    border-radius: 4px;
    margin-right: 1rem;
    display: inline-block;
    color: #323232;
    padding: 0px 9px 0px 1.5rem;
  }
}