.articleCard {
  white-space: normal;
  width: 100%;

  &Image {
    display: block;
    position: relative;
    border-radius: 2px;
    height: 191px;
    background: {
      size: cover;
      position: center;
    }

    &:after {
      content: "";
      border-radius: 2px;
      position: absolute;
      background: transparent linear-gradient(180deg, #dcdcdc 50%, #3a3a3a 80%, #0d0d0d 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
  }

  &GroupTag {
    z-index: 1;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    bottom: 13px;
    padding: 0 15px;
  }

  &Info {
    border: 1px solid #E2E2E2;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    height: calc(100% - 191px);
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &Author {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0px;
    color: #323232;
  }

  &Title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #323232;

    &:hover {
      color: #D40511;
      display: block;
    }
  }

  &Description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &Tags {
    margin-top: auto;
    height: 24px;
    overflow: hidden;
    font-size: 12px;
    line-height: 24px;
  }

  &Tag {
    background-color: #FFCC00;
    border-radius: 4px;
    margin-right: 10px;
    display: inline-block;
    color: #323232;
    padding: 0px 9px 0px 15px;
  }
}