<sly data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions"
     data-sly-use.cmf="com.positive.dhl.core.models.ConfigurableMarketoForm"
     data-sly-use.analytics="com.positive.dhl.core.models.TrackableComponent"
     data-sly-set.isEmpty="${!cmf.marketoformid}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>

<div class="ship-now-group" data-sly-test="${!isEmpty}">
    <div class="forms marketoForm marketoForm--white"
         formId="${cmf.marketoformid @ context='attribute'}"
         munchkinId="${cmf.marketoid @ context='attribute'}"
         formHost="${cmf.getVisibleFormHost @ context='attribute'}"
         hiddenFormId="${cmf.marketohiddenformid @ context='attribute'}"
         action="${accountactions.getAssetprefix}${currentPage.path}.form.html"
         formstart="${accountactions.getAssetprefix}${currentNode.path}.form.html"
         source="conf"
         data-sly-attribute.data-analytics="${analytics.json}"
         data-marketo-form>
      <div class="marketoForm__container">
        <h3 class="marketoForm__title" data-sly-test.formTitle="${properties.formTitle}">${formTitle}</h3>
        <div data-marketo-visible-form>
          <form id="mktoForm_${cmf.marketoformid}"></form>
          <script src="${cmf.getVisibleFormHost}/js/forms2/js/forms2.min.js"></script>
        </div>
      </div>
    </div>
</div>
