<footer class="footer" data-sly-use.dhlpage="com.positive.dhl.core.models.DhlPage">
	<a class="footer__backToTop d-lg-none" href="#top">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="footer__backToTopLabel">Back to top</p>
				</div>
			</div>
		</div>
	</a>

	<div class="footer__main">
		<div class="container">
			<div class="row" data-sly-use.footer="com.positive.dhl.core.models.Footer">
				<div class="col-12 col-md-6 col-lg-4 hide-offline">
					<h2 class="footer__title">${footer.titleColumnOne}</h2>
					<ul class="footer__categoryList" data-sly-list.link="${footer.linksColumnOne}">
						<li class="footer__categoryItem"><a class="footer__categoryLink" href="//${dhlpage.getAkamaiHostname}${link.link}">${link.name}</a></li>
					</ul>
				</div>

				<div class="col-12 col-md-6 col-lg-5 offset-lg-3 hide-offline">
					<h2 class="social__title">${footer.titleSocial}</h2>
					<amp-addthis width="320" height="92" layout="responsive"
						data-pub-id="ra-59c2c366435ef478" data-widget-id="0fyg">
					</amp-addthis>
				</div>
			</div>

			<div class="row" data-sly-use.footerAbsolute="com.positive.dhl.core.models.FooterAbsolute">
				<div class="col-12 hide-offline">
					<hr class="footer__rule">
				</div>

				<div class="col-6 col-md-4 col-lg-6 col-xl-4 order-xl-1">
					<ul class="footer__linkList hide-offline" data-sly-list.link="${footerAbsolute.leftLinks}">
						<li class="footer__linkItem"><a class="footer__link" href="//${dhlpage.getAkamaiHostname}${link.link}" target="_blank" rel="nofollow">${link.name}</a></li>
					</ul>
				</div>

				<div class="col-6 col-md-4 offset-md-4 offset-lg-0 col-lg-6 col-xl-4 order-xl-3">
					<ul class="footer__linkList hide-offline" data-sly-list.link="${footerAbsolute.rightLinks}">
						<li class="footer__linkItem"><a class="footer__link" href="//${dhlpage.getAkamaiHostname}${link.link}" title="${link.name}">${link.name}</a></li>
					</ul>
				</div>

				<div class="col-12 col-xl-4 order-xl-2">
					<p class="footer__legalText">${footerAbsolute.copyrightNotice @ context='html'}</p>
				</div>
			</div>
		</div>
	</div>
</footer>
