div[data-field-style="dhl-highlight-banner-title"] {
  color: #d40511;
  font-family: Delivery, sans-serif;
  font-weight: 900;
  font-size: 16px;
  height: 100px !important;
}

div[data-field-style="dhl-highlight-banner-title"] p {
  margin: 0;
  padding: 0;
}

div[data-field-style="dhl-highlight-banner-title"] span.large {
  font-size: 30px;
}
