<sly data-sly-use.articleCardTemplate="article.html"
     data-sly-use.model="com.dhl.discover.core.models.ArticleShowcase"
     data-sly-set.isEmpty="${model.articles.size == 0}"
     data-sly-set.isVertical="${model.designMode == 'vertical'}"
     data-sly-set.isHorizontal="${model.designMode == 'horizontal'}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>
<section class="cmp-article-showcase cmp-article-showcase--${model.designMode}" data-sly-test="${!isEmpty}">
  <h2 data-sly-element="${model.titleType}" class="cmp-article-showcase__title" data-sly-test="${model.title}">
    ${model.title}
  </h2>
  <div id="${properties.id}" class="cmp-article-showcase__articles horizontal-scroll" data-sly-test="${isHorizontal}">
    <sly data-sly-repeat="${model.articles}"
         data-sly-call="${articleCardTemplate.card @
               article=item,
               showTags=model.showTags,
               titleType=model.articlesTitleType}">
    </sly>
  </div>
  <sly data-sly-test="${isVertical}">
    <div class="cmp-article-showcase__articles">
      <sly data-sly-repeat="${model.articles}"
           data-sly-call="${articleCardTemplate.row @
               article=item,
               showTags=model.showTags,
               titleType=model.articlesTitleType}">
      </sly>
    </div>
    <a class="cmp-article-showcase__link" data-sly-test="${model.linkName}"
       href="${model.linkPath}.html">${model.linkName}</a>
  </sly>
</section>
