<sly data-sly-use.articleCardTemplate="/apps/dhl/htl/templates/article-card.html"
     data-sly-use.model="com.positive.dhl.core.models.ArticleShowcase"
     data-sly-set.isEmpty="${model.articles.size == 0}"
     data-sly-set.isVertical="${model.designMode == 'vertical'}"
     data-sly-set.isHorizontal="${model.designMode == 'horizontal'}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>
<section class="article-showcase-component article-showcase-component_${model.designMode}" data-sly-test="${!isEmpty}">
    <h2 class="title" data-sly-test="${model.title}">
        ${model.title}
    </h2>
    <div class="article-items horizontal-scroll" data-sly-test="${isHorizontal}">
        <sly data-sly-repeat="${model.articles}" data-sly-call="${articleCardTemplate.card @ article=item, showTags=model.showTags, enableAssetDelivery=model.enableAssetDelivery}"></sly>
    </div>
    <sly data-sly-test="${isVertical}">
        <div class="article-items">
            <article class="article" data-sly-repeat="${model.articles}">
                <a tabindex="-1" href="${item.path}.html" class="article__picture">
                    <sly data-sly-use.template="/apps/dhl/htl/templates/responsive-image.html"
                         data-sly-call="${template.picture @
                         image=item.listimage,
                         useWebOptimized=model.enableAssetDelivery,
                         imgClass='article__picture__image'
                     }"></sly>
                </a>
                <div class="article__info">
                    <div class="article__info__group-tag">${item.groupTag}</div>
                    <h3><a href="${item.path}.html" class="article__info__title">${item.title}</a></h3>
                    <div class="article__info__metadata">
                        <time datetime="${item.created}" data-sly-test="${item.createdfriendly}">${item.createdfriendly}</time>
                        <span data-sly-test="${item.readtime}">${item.readtime}</span>
                    </div>
                    <div class="article__info__description">${item.description}</div>
                    <div class="article__info__author">
                        <sly data-sly-use.template="/apps/dhl/htl/templates/responsive-image.html"
                             data-sly-call="${template.picture @
                             image=item.authorimage,
                             useWebOptimized=model.enableAssetDelivery,
                             imgClass='article__info__author__avatar'
                         }"></sly>
                        <div class="article__info__author__name">${item.author}</div>
                    </div>
                </div>
            </article>
        </div>
        <a class="link" data-sly-test="${model.linkName}" href="${model.linkPath}.html">${model.linkName}</a>
    </sly>
</section>