<sly data-sly-use.articleSideNavigation="com.positive.dhl.core.models.ArticleSideNavigation"
     data-sly-test.isEmpty="${articleSideNavigation.articles.size == 0}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>

<sly data-sly-test="${!isEmpty}" data-sly-unwrap>
    <div class='similarStories hide-offline d-sm-block d-lg-none'>
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <h2 class="similarStories__title">${ 'Similar stories' @ i18n, context='html' }</h2>
                    <ul class="similarStories__list" data-sly-list="${articleSideNavigation.articles}">
                        <li class="similarStories__list-item"><a href="${item.path}.html" class="similarStories__link">${item.title}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="similarStories hide-offline d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <h2 class="similarStories__title">${ 'Similar stories' @ i18n, context='html' }</h2>
                </div>
            </div>
            <div class="row">
                <div id="carouselControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-sly-list="${articleSideNavigation.articles}">
                            <sly data-sly-unwrap data-sly-test="${(item.third && item.index != 0)}">
                                ${'</div>' @context='unsafe'}
                                ${'<div class="carousel-item">' @context='unsafe'}
                            </sly>
                            <div class="col-4" style="align-self: flex-start;">
                                <article class="articlePanel${((item.youtubeid.length > 0) ? ' articlePanel--video' : '')}" id="articlePanelUniqueId">
                                    <a class="articlePanel__image"
                                       href="${item.path}.html"
                                       title="${item.title}"
                                       style="background-image: url('${item.listimage @ context='uri'}');">
                                        <span class="sr-only">${item.title}</span>
                                    </a>
                                    <div class="articlePanel__content">
                                        <a href="${item.path}.html" title="${item.title}">
                                            <h2 class="articlePanel__title">${item.title}</h2>
                                            <p class="articlePanel__description">${item.brief}</p>
                                        </a>
                                        <h3 class="articlePanel__subTitle">
                                            <a href="${item.path}.html" title="Business">${item.grouptitle}</a> <sly data-sly-unwrap data-sly-test="${(item.readtime.length > 0)}">&middot; <a class="noUnderline" href="${item.path}.html" title="${item.title}">3 min read</sly></a>
                                        </h3>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <a data-sly-test="${articleSideNavigation.articles.size > 3}" class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">${ 'Previous' @ i18n, context='html' }</span>
                    </a>
                    <a data-sly-test="${articleSideNavigation.articles.size > 3}" class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">${ 'Next' @ i18n, context='html' }</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</sly>