.searchButton {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 45px;
    height: 45px;
    padding: 12px;
    &Image {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: inline-block;
        &Close {
            background-image: url('https://www.dhl.com/etc.clientlibs/dhl/clientlibs/discover/resources/img/searchcloseicon.png');
            background-image: none, url('https://www.dhl.com/etc.clientlibs/dhl/clientlibs/discover/resources/img/searchcloseicon.svg');
        }
        &Search {
            background-image: url('https://www.dhl.com/etc.clientlibs/dhl/clientlibs/discover/resources/img/searchicon.png');
            background-image: none, url('https://www.dhl.com/etc.clientlibs/dhl/clientlibs/discover/resources/img/searchicon.svg');
        }
    }

}

.hidden {
    visibility: hidden;
}