.searchButton {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1.2rem;
    &Image {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: inline-block;
        &Close {
            background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/searchcloseicon.svg');
        }
        &Search {
            mask: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/searchicon.svg') no-repeat center/contain;
            background-color: #000;
            transition: background-color 0.2s;

            &:hover {
                background-color: #d40511;
            }
        }

    }

}

.hidden {
    visibility: hidden;
}