
<sly data-sly-use.articlePage="com.positive.dhl.core.models.ArticlePage"
    data-sly-set.author="${articlePage.article.author}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && !author}" data-emptytext="${component.title}"></div>

<div class="mb-3" data-sly-test="${author}">
    <figure class="authorPanel">
        <img data-sly-test.authorimage="${articlePage.article.authorimage}" src="${authorimage}" alt="${author}" class="authorPanel__image">
        <figcaption class="authorPanel__caption">
            <span class="authorPanel__name">${author}</span>
            <span class="authorPanel__title" data-sly-test.authortitle="${articlePage.article.authortitle}">${authortitle}</span>
        </figcaption>
    </figure>
</div>