<div data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
     data-sly-use.articleTeaser="com.dhl.discover.core.models.ArticleTeaserModel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.imageTemplate="image.html"
     data-sly-use.pretitleTemplate="pretitle.html"
     data-sly-use.titleTemplate="title.html"
     data-sly-use.descriptionTemplate="description.html"
     data-sly-use.actionsTemplate="actions.html"
     data-sly-test.hasContent="${teaser.imageResource || (properties.imageFromPageImage && properties.linkURL)}"
     id="${teaser.id}"
     class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''}"
     data-cmp-data-layer="${teaser.data.json}">
    <a class="cmp-teaser__link"
       data-sly-attribute="${teaser.link.htmlAttributes}"
       data-sly-unwrap="${!teaser.link.valid || !teaser.actions.empty}"
       data-cmp-clickable="${teaser.data ? true : false}">
        <div class="cmp-teaser__content">
            <sly data-sly-call="${pretitleTemplate.pretitle @ teaser=teaser}"></sly>
            <sly data-sly-test.titleFromLinkedPage="${articleTeaser.titleFromLinkedPage}" data-sly-call="${titleTemplate.titleFromPage @ teaser=teaser,articleTeaser=articleTeaser}"></sly>
            <sly data-sly-test="${!titleFromLinkedPage}" data-sly-call="${titleTemplate.title @ teaser=teaser}"></sly>
            <sly data-sly-call="${descriptionTemplate.description @ teaser=teaser}"></sly>
            <sly data-sly-call="${actionsTemplate.actions @ teaser=teaser}"></sly>
            <div class="cmp-teaser__article-category-tag">${articleTeaser.categoryTag}</div>
            <div data-sly-set.articleAuthor="${articleTeaser.author}"
                 data-sly-set.friendlyPublishDate="${articleTeaser.friendlyPublishDate}"
                 class="cmp-teaser__article-author">
                <span>${articleAuthor}</span>
                <span data-sly-test="${articleAuthor && friendlyPublishDate}"> | </span>
                <time datetime="${articleTeaser.publishDate}">${friendlyPublishDate}</time>
            </div>
        </div>
        <sly data-sly-test.useImageFromPage="${articleTeaser.imageFromPage}" data-sly-call="${imageTemplate.imageFromPage @ articleTeaser=articleTeaser}"></sly>
        <sly data-sly-test="${!useImageFromPage}" data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
    </a>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>
