.searchButton {
    cursor: pointer;
    background: transparent;
    border: none;
    max-height: 100px;
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 0;
    [dir="rtl"] & {
      left: unset;
      right: 0;
    }
    &Image {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 50%;
        height: 50%;
        display: inline-block;
        background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/searchicon.svg');
    }
}
