.sort {
    display: flex;
    align-items: center;
    gap: 2rem;

    &Label {
        margin-bottom: 0px;

        &:after {
            content: ":";
        }
    }

    &Select {
        min-width: 16rem;
    }
}
