.searchSection {
    z-index: 10;
    position: absolute;
    padding: 2rem;
    top: 5.6rem;
    @media screen and (min-width: 48rem) {
        top: 7.6rem;
    }
    width: 100%;
    background: white;
    border: 1px solid #5A5A5A;
    border-radius: 4px;
    max-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &Items {
        &Item {
            &Wrapper {
                position: relative;
            }
            font-size: 1.6rem;
            line-height: 2.5rem;
            @media screen and (min-width: 48rem) {
              line-height: 3.5rem;
              font-size: 2rem;
            }
            display: flex;
            color: #323232;
            border: none;
            background: transparent; 
            cursor: pointer;
            text-align: inherit;

            margin-left: -2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width: calc(100% + 4rem);

            &WithIcon {
              gap: 5px;
              align-items: center;
            }
            &WithRefreshButton {
              padding-right: 5rem;
            }

            [dir="rtl"] & {
              margin-left: 0px;
              margin-right: -2rem;
            }

            &Active,
            &:hover {
                color: #323232;
                text-decoration: none;
                background: #ccc;
            }
            &Text {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 4px;
    margin-right: 4px;
    @media screen and (min-width: 48rem) {
        width: 2rem;
        height: 2rem;
    }  
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    &History {
        background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/time-forward.svg');
    }
}

.refreshButton {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
  max-height: 10rem;
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
  top: 0;
  [dir="rtl"] & {
    right: unset;
    left: 0;
  }
  &Image {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      width: 40%;
      height: 40%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      content: " ";
      display: inline-block;
      background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/arrow-up-left.svg');
    }
  }
}
