.searchSection {
    z-index: 10;
    position: absolute;
    padding: 20px;
    top: 56px;
    @media screen and (min-width: 768px) {
        top: 76px;
    }
    width: 100%;
    background: white;
    border: 1px solid #5A5A5A;
    border-radius: 4px;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &Items {
        &Item {
            &Wrapper {
                position: relative;
            }
            font-size: 16px;
            line-height: 25px;
            @media screen and (min-width: 768px) {
              line-height: 35px;
              font-size: 20px;
            }
            display: flex;
            color: #323232;
            border: none;
            background: transparent; 
            cursor: pointer;
            text-align: inherit;

            margin-left: -20px;
            padding-left: 20px;
            padding-right: 20px;
            width: calc(100% + 40px);

            &WithIcon {
              gap: 5px;
              align-items: center;
            }
            &WithRefreshButton {
              padding-right: 50px;
            }

            [dir="rtl"] & {
              margin-left: 0px;
              margin-right: -20px;
            }

            &Active,
            &:hover {
                color: #323232;
                text-decoration: none;
                background: #ccc;
            }
            &Text {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.icon {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 4px;
    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }  
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    &History {
        background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/time-forward.svg');
    }
}

.refreshButton {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
  max-height: 100px;
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
  top: 0;
  [dir="rtl"] & {
    right: unset;
    left: 0;
  }
  &Image {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      width: 40%;
      height: 40%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      content: " ";
      display: inline-block;
      background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/arrow-up-left.svg');
    }
  }
}
