<div data-sly-use.fragment="com.adobe.cq.wcm.core.components.models.ExperienceFragment"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.localization="${'com.dhl.discover.core.models.ExperienceFragmentLocalization' @ path=fragment.localizedFragmentVariationPath}"
     data-sly-test="${fragment.configured}"
     data-sly-set.selector = "content.${request.requestPathInfo.selectorString}"
     data-sly-resource="${@path=localization.localizedPath, selectors=selector, wcmmode='disabled'}"
     id="${fragment.id}"
     class="cmp-experiencefragment cmp-experiencefragment--${fragment.name}">
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!fragment.configured, classAppend='cmp-dd-experiencefragment'}"></sly>