<div id="glb-register-start" class="gated__registerform" data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions">
	<div class='forms'>
        <div class="forms__group gated__intro">
			<h1 class="forms__title">${ 'Sign up for Free Membership' @ i18n, context='html' }</h1>
			<div class="forms__copy">
				<p>${ 'Register to access the latest downloads, exclusive videos and expert advice from the world of business, e-commerce and culture.' @ i18n, context='html' }</p>
			</div>
		</div>
		
		<div class="forms__group--text" data-bar-text="Register with">
			<form method="post" novalidate>
				<div class="forms__row">
					<div class="col-12 col-md-4">
						<button class="forms__cta--social linkedin li">
							<span class="forms__icon--linkedin"></span> <span class="forms__button-text">${ 'LinkedIn' @ i18n, context='html' }</span>
						</button>
					</div>
					<div class="col-12 col-md-4">
						<button class="forms__cta--social google go">
							<span class="forms__icon--google"></span> <span class="forms__button-text">${ 'Google' @ i18n, context='html' }</span>
						</button>
					</div>
					<div class="col-12 col-md-4">
						<button class="forms__cta--social facebook fb">
							<span class="forms__icon--facebook"></span> <span class="forms__button-text">${ 'Facebook' @ i18n, context='html' }</span>
						</button>
					</div>
				</div>
			</form>
		</div>
		
		<div class="forms__group--text" data-bar-text="${ 'or' @ i18n, context='html' }">
			<form id="register-detail-form" method="post" autocomplete="off" novalidate>
				<div class="forms__row">
					<div class="col-12 col-md-6">
						<input id="register__firstname" name="firstname" type="text" placeholder="${ 'First name' @ i18n, context='html' }*" data-msg="${ 'Enter first name' @ i18n, context='html' }" required />
					</div>
					<div class="col-12 col-md-6">
						<input id="register__lastname" name="lastname" type="text" placeholder="${ 'Last name' @ i18n, context='html' }*" data-msg="${ 'Enter last name' @ i18n, context='html' }" required />
					</div>
				</div>
				<div class="forms__row">
					<div class="col-12">
						<input id="register__email" name="email" type="email" placeholder="${ 'Email' @ i18n, context='html' }*" data-msg="${ 'Enter a valid email address' @ i18n, context='html' }" required />
						<div class="forms__copy--small">
							${accountactions.signupEmailPrivacyMessage @context='html'}
						</div>
					</div>
				</div>
				<p class="forms__copy">${ 'Setting a password gives you free unrestricted access to the whole site.' @ i18n, context='html' }</p>
				<div class="forms__row">
					<div class="col-12">
						<div class="forms__password has-validity-check input-group mb-3">
							<input id="register__password1" name="password" type="password" class="form-control" placeholder="${ 'Create password (optional)' @ i18n, context='html' }" data-msg="${ 'Enter password' @ i18n, context='html' }" autocomplete="off" />
							<div class="input-group-append">
								<div class="input-group-text">
									<input type="checkbox" id="showme1" data-field-id="register__password1">
									<label for="showme1">${ 'Show' @ i18n, context='html' }</label>
								</div>
							</div>
						</div>
						<ul class="validity-checks" data-field-id="register__password1">
							<li class="validity-checks__check" data-check="casing">
								<div class="validity-checks__circle"></div> <span class="validity-checks__criterion">${ 'lower and upper case' @ i18n, context='html' }</span>
							</li>
							<li class="validity-checks__check" data-check="special">
								<div class="validity-checks__circle"></div> <span class="validity-checks__criterion">${ 'special character' @ i18n, context='html' }</span>
							</li>
							<li class="validity-checks__check" data-check="number">
								<div class="validity-checks__circle"></div> <span class="validity-checks__criterion">${ 'number' @ i18n, context='html' }</span>
							</li>
							<li class="validity-checks__check" data-check="length">
								<div class="validity-checks__circle"></div> <span class="validity-checks__criterion">${ '8+ characters' @ i18n, context='html' }</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="forms__row">
					<div class="col-12">
						<div class="forms__checkbox">
							<input id="checkboxId" type="checkbox" name="required" /> <label for="checkboxId">${accountactions.signupTCMessage @context='html'}</label>
						</div>
					</div>
				</div>
				<div class="forms__row">
					<div class="col-12 col-md-6">
						<input type="submit" class="forms__cta--red" value="Register" />
					</div>
				</div>
				<p class="forms__copy--small">
					${ 'Already have an account?' @ i18n, context='html' } <a href="${accountactions.loginUrl @context='unsafe'}" target="_blank">${ 'Login' @ i18n, context='html' }</a>
				</p>
			</form>
		</div>
	</div>
</div>