<div class="animatedShowcasePanel animatedShowcasePanel--electronics">
  <div class="container container--alt">
    <div class="row">
      <div class="col-12 col-md-10 col-xl-8">
        <h2 class="animatedShowcasePanel__heading"><span>LOWER PRICES ARE ON THE WAY</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottom"><span>Cost-focused development will trigger significant global growth in what is currently a steady smart home market, with <a class="animatedShowcasePanel__link animatedShowcasePanel__link--alt" target="_blank" href="https://www.juniperresearch.com/press/press-releases/voice-assistants-used-in-smart-homes">Juniper Research</a> estimating that the average cost of connected appliances will drop 52% between 2018 and 2023. With the market valued at nearly US$96bn in 2018, it is predicted to reach US$155bn by 2021.</span></h2>
      </div>
    </div>
    <div class="animatedShowcasePanel__wrapper animatedShowcasePanel__wrapper--electronics">
      <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--speakers">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/speakers.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">IKEA'S GETTING INTO TECH</h3>
            <p class="animatedShowcasePanel__itemCopy">Sonos and Ikea announced their &apos;music and sound&apos; Symfonisk range in late 2017. The first prototype speakers were recently revealed, which can also function as a shelf to suit any surroundings. Intended to declutter your home of unwanted cords, the initial products should hit the market mid-2019.</p>
            <br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Look for category-defying innovations.</b></p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--headphones">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/headphones.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">HEARABLES ARE HERE</h3>
            <p class="animatedShowcasePanel__itemCopy">Apple&apos;s pricey $159 AirPods were poorly received when they launched in late-2016, but now a quarter of headphone sales are wire-free. Affordable alternatives now start as low as US$26. Wireless is the future of headphones, with better battery life, features, and noise canceling all still to come.</p>
            <br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Stock up on true-wireless headphones.</b></p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--charger">
            <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/charger.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">THE CASE TO BE MADE FOR ACCESSORIES </h3>
            <p class="animatedShowcasePanel__itemCopy">Along with wireless earphones, the US$65bn mobile phone accessories market is bursting with portable power banks, shatter-proof cases and multi-point chargers, climbing to US$105bn by 2023. As phones grow in value, so do their protective cases, becoming the biggest revenue contributor in the field.</p>
            <br>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Are you stocking cases for the latest models?</b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 col-xl-8 offset-xl-4 d-none d-md-block">
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottomText"><span>North America will account for 41% of spending with US$40bn total, followed by the Asia-Pacific region at US$26bn. This latter market promises rapid expansion as smart home awareness spreads and consumers have more disposable income to spend on lifestyle upgrades.</span></h2>
      </div>
      <div class="col-12 col-md-6 order-md-0 d-xl-none">
        <div class="animatedShowcasePanel__carousel animatedShowcasePanel__carousel--light">
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/speakers.gif" alt="Item 1">
              <h3 class="animatedShowcasePanel__itemTitle">IKEA'S GETTING INTO TECH</h3>
              <p class="animatedShowcasePanel__itemCopy">Sonos and Ikea announced their &apos;music and sound&apos; Symfonisk range in late 2017. The first prototype speakers were recently revealed, which can also function as a shelf to suit any surroundings. Intended to declutter your home of unwanted cords, the initial products should hit the market mid-2019.</p>
              <br>
              <p class="animatedShowcasePanel__itemCopy"><b>TIP: Look for category-defying innovations.</b></p>
            </div>
          </div>
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/headphones.gif" alt="Item 2">
              <h3 class="animatedShowcasePanel__itemTitle">HEARABLES ARE HERE</h3>
              <p class="animatedShowcasePanel__itemCopy">Apple&apos;s pricey $159 AirPods were poorly received when they launched in late-2016, but now a quarter of headphone sales are wire-free. Affordable alternatives now start as low as US$26. Wireless is the future of headphones, with better battery life, features, and noise canceling all still to come.</p>
              <br>
              <p class="animatedShowcasePanel__itemCopy"><b>TIP: Stock up on true-wireless headphones.</b></p>
            </div>
          </div>
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/charger.gif" alt="Item 3">
              <h3 class="animatedShowcasePanel__itemTitle">THE CASE TO BE MADE FOR ACCESSORIES </h3>
              <p class="animatedShowcasePanel__itemCopy">Along with wireless earphones, the US$65bn mobile phone accessories market is bursting with portable power banks, shatter-proof cases and multi-point chargers, climbing to US$105bn by 2023. As phones grow in value, so do their protective cases, becoming the biggest revenue contributor in the field.</p>
              <br>
              <p class="animatedShowcasePanel__itemCopy"><b>TIP: Are you stocking cases for the latest models?</b></p>
            </div>
          </div>
        </div>
        <div class="d-md-none">
          <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span>North America will account for 41% of spending with US$40bn total, followed by the Asia-Pacific region at US$26bn. This latter market promises rapid expansion as smart home awareness spreads and consumers have more disposable income to spend on lifestyle upgrades.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
