<div class='parallaxSection parallaxSection--electronics animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="parallaxSection__wrapper parallaxSection__wrapper--electronics">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--smartWatch" data-min-top="340" data-max-top="380">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/smartWatch.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--glasses">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/glasses.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--darkBlueBox" data-min-top="-30" data-max-top="200">
            <div class="parallaxSection__title parallaxSection__title--alt">THE TIME&apos;S RIGHT FOR SMARTWATCHES</div>
            <div class="parallaxSection__copy">If smart home tech is the near-future, smartwatches are the here-and-now. Apple is the market leader, but as their latest model could cost you over US$1,000, affordable alternatives are flooding to market to meet demand.</div>
            <div class="parallaxSection__copy parallaxSection__copyBottom">You too can get involved in the mid-market smartwatch boom. Take a look at Mobvoi&apos;s Android-compatible Ticwatch E, which retails at just US$160 and comes with GPS and a heart-rate sensor. Or how about designer brand Fossil, now offering their own fashionable pieces from US$175? Fitness is a major driver of smartwatch sales, so make sure your models have the right features.</div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--yellowBoxAlt" >
            <div class="parallaxSection__tileImage"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--watch" data-multiplier="0.1" data-min-top="300" data-max-top="300">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/watch.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--tea" data-min-top="0" data-max-top="250">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/tea.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--woodWatch" data-multiplier="0.5">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/woodWatch.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--watchHand" data-multiplier="0.1" data-min-top="350">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/watchHand.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
