<div class="animatedShowcasePanel animatedShowcasePanel--alt">
  <div class="container container--alt">
    <div class="row">
      <div class="col-12 col-md-11 col-xl-8">
        <h2 class="animatedShowcasePanel__heading"><span>SMARTENING UP THE SMART HOME MARKET</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottom"><span>Helping to bring the smart home to the everyday consumer, companies like Lenovo, Google Nest, Philips and others are making true smart home experiences possible. So, what kind of products are on offer?</span></h2>
      </div>
    </div>
      <div class="row">
          <div class="col-xl-4 d-none d-xl-block">
            <div class="animatedShowcasePanel__item animatedShowcasePanel__item--camera">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/camera.gif" alt="Item 1">
              <h3 class="animatedShowcasePanel__itemTitle">SMART CAMERA</h3>
              <p class="animatedShowcasePanel__itemCopy">Features two-way audio, remote directional and zoom capabilities</p>
            </div>
          </div>
          <div class="col-xl-4 d-none d-xl-block">
            <div class="animatedShowcasePanel__item animatedShowcasePanel__item--tv animatedShowcasePanel__item--pullUp">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/tv.gif" alt="Item 2">
              <h3 class="animatedShowcasePanel__itemTitle">Remote PLUG</h3>
              <p class="animatedShowcasePanel__itemCopy">Can be used to remotely turn on or off any attached device via an app</p>
            </div>
          </div>
          <div class="col-xl-4 d-none d-xl-block">
            <div class="animatedShowcasePanel__item animatedShowcasePanel__item--bulb">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/bulb.gif" alt="Item 3">
              <h3 class="animatedShowcasePanel__itemTitle">Adjustable BULB</h3>
              <p class="animatedShowcasePanel__itemCopy">Offers varied brightness and color temperature for different moods</p>
            </div>
          </div>
      </div>
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 col-xl-8 offset-xl-4 d-none d-md-block">
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottomText"><span>But, making products cross-compatible so they work with other brands&apos; devices is tricky. Apple has its own HomeKit standard that other manufacturers can use, while Google uses Google Nest, as well as selling its own devices under the same brand name. Smart speakers &ndash; and services like Siri, Alexa, and Google Home &ndash; are seen as the main way to control smart home devices.</span></h2>
      </div>
      <div class="col-12 col-md-6 order-md-0 d-xl-none">
        <div class="animatedShowcasePanel__carousel animatedShowcasePanel__carousel--light animatedShowcasePanel__carousel--alt">
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item animatedShowcasePanel__item--camera">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/camera.gif" alt="Item 1">
              <h3 class="animatedShowcasePanel__itemTitle">SMART CAMERA</h3>
              <p class="animatedShowcasePanel__itemCopy">Features two-way audio, remote directional and zoom capabilities</p>
            </div>
          </div>
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item animatedShowcasePanel__item--tv">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/tv.gif" alt="Item 2">
              <h3 class="animatedShowcasePanel__itemTitle">Remote PLUG</h3>
              <p class="animatedShowcasePanel__itemCopy">Can be used to remotely turn on or off any attached device via an app</p>
            </div>
          </div>
          <div class="animatedShowcasePanel__carouselItem">
            <div class="animatedShowcasePanel__item animatedShowcasePanel__item--bulb">
              <img class="animatedShowcasePanel__itemImage" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/bulb.gif" alt="Item 3">
              <h3 class="animatedShowcasePanel__itemTitle">Adjustable BULB</h3>
              <p class="animatedShowcasePanel__itemCopy">Offers varied brightness and color temperature for different moods</p>
            </div>
          </div>
        </div>
        <div class="d-md-none">
          <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span>But, making products cross-compatible so they work with other brands&apos; devices is tricky. Apple has its own HomeKit standard that other manufacturers can use, while Google uses Google Nest, as well as selling its own devices under the same brand name. Smart speakers &ndash; and services like Siri, Alexa, and Google Home &ndash; are seen as the main way to control smart home devices.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
