<div class='statsPanel statsPanel--electronics' data-duration="3" data-separator="," data-decimal=".">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-5 offset-lg-1">
        <h2 class="statsPanel__title statsPanel__title--alt">Smart but safe</h2>
        <p class="statsPanel__copy statsPanel__copy--alt">Smart homes are nothing without good security. A recent survey from Metova found that <a class="statsPanel__link statsPanel__link--alt" target="_blank" href="https://www.iottechnews.com/news/2018/may/15/research-us-consumers-smart-home-device/">58%</a> of consumers who own a connected home device are concerned about how it may threaten their privacy.</p>
        <div class="d-none d-md-block"><br></div>
        <div class="d-none d-md-block">
          <p class="statsPanel__copy statsPanel__copy--alt">In the USA, California Governor Jerry Brown recently signed a new law requiring all new smart devices to have &apos;reasonable&apos; security features from 2020. Such a publicized focus, and the changes it will bring, should prompt more consumers to trust smart home products. Are the devices you supply compliant with local online security regulations and privacy laws? You should confirm with your manufacturer or supplier that the products you sell meet your market&apos;s regulations.</p>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-5 offset-lg-1">
        <div class="statsPanel__wrapper statsPanel__wrapper--noPadding">
          <div class="boxFill boxFill--dark">
            <div class="boxFill__fill boxFill__fillstat2">
              <div class="boxFill__fillTop"></div>
            </div>
            <div class="boxFill__front"></div>
          </div>

          <div class="statsPanel__statsWrapper statsPanel__statsWrapper--electronics">
            <h4 class="statsPanel__statsValue" data-start="0" data-end="58" data-suffix="%">58%</h4>
            <h2 class="statsPanel__value">of customers</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="d-md-none">
          <p class="statsPanel__copy statsPanel__copy--alt">In the USA, California Governor Jerry Brown recently signed a new law requiring all new smart devices to have &apos;reasonable&apos; security features from 2020. Such a publicized focus, and the changes it will bring, should prompt more consumers to trust smart home products. Are the devices you supply compliant with local online security regulations and privacy laws? You should confirm with your manufacturer or supplier that the products you sell meet your market&apos;s regulations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
