<div class='infoRow'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="d-md-none">
          <p class="infoRow__title">Going Global</p>
          <p class="infoRow__copy">If you are looking to capitalize on the smart home trend, you should look for reliable shipping partners who can securely deliver to any country. Globalized markets mean tech enthusiasts want simultaneous release dates, no matter where they are in the world. For example, the Amazon Echo launched in the US in June 2015, but the rest of the world had to wait another year. Fast forward two years and the Echo Dot 3 saw simultaneous release dates on both sides of the Atlantic.</p>
        </div>
        <img class="infoRow__image" src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated2/globe.gif">
      </div>
      <div class="col-12 col-md-7 col-lg-5">
        <div class="d-none d-md-block">
          <p class="infoRow__title">Going Global</p>
          <p class="infoRow__copy">If you are looking to capitalize on the smart home trend, you should look for reliable shipping partners who can securely deliver to any country. Globalized markets mean tech enthusiasts want simultaneous release dates, no matter where they are in the world. For example, the Amazon Echo launched in the US in June 2015, but the rest of the world had to wait another year. Fast forward two years and the Echo Dot 3 saw simultaneous release dates on both sides of the Atlantic.</p>
        </div>
        <p class="infoRow__copy">To ensure you keep pace with demand, make sure you plan your shipping strategies with manufacturers in advance of any new product announcements. But don't forget &ndash; smart home tech is new to everyone, so your website needs to clearly communicate the value proposition of each and every device. It's an exciting new market segment, but still very much in its infancy and you&apos;ll need to educate your customers to the benefits.</p>
      </div>
    </div>
  </div>
</div>
