.search {
    height: 4.5rem;
    position: absolute;
    background: white;
    border: 1px solid #5A5A5A;
    right: 0;
    z-index: 10;
    border-radius: 4px;
    width: calc(100% - 4rem);
    margin: 0 2rem;
    opacity: 1;
    animation: fadeIn 0.3s ease-in-out;

    [dir="rtl"] & {
      right: unset;
      left: 0;
    }
    @media screen and (min-width: 48rem) {
        width: 50rem;
        margin: 0;
    }

    input {
        width: 100%;
        border: none;
        background: transparent;
        padding: 0 4.5rem;
        height: 100%;

        &:focus-visible {
            border: none;
        }
    }

    &Result {
        z-index: 10;
        position: absolute;
        padding: 2rem;
        top: 5rem;
        width: 100%;
        background: white;
        border: 1px solid #5A5A5A;
        border-radius: 4px;
        max-height: calc(100dvh - 10rem);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        opacity: 1;
        animation: fadeIn 0.3s ease-in-out;

        >div:not(:first-child) {
            border-top: 1px solid #DFDFDF;
            padding-top: 1.2rem;
            margin-top: 1.2rem;
        }
    }
}

:global(.header__navigation--open) {
    .search {
        width: calc(100% - 4rem);
        margin: 0 2rem;
    }
}

.article {
    display: flex;
    padding: 8px 0;
    min-width: 100%;
    gap: 5px;
    color: #323232;

    &:hover {
        color: #D40511;
        text-decoration: none;
        .articleInfoTitle {
            text-decoration: underline;
        }
    }

    &Image {
        height: 4rem;
        min-width: 4rem;
        width: 4rem;
        margin-right: 5px;
        background-size: cover;
        background-position: center;
        border-radius: 4px;
    }

    &Info {
        display: flex;
        flex-direction: column;

        &Title {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        &Metadata {
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: #323232;
        }
    }

}

.searchSection {
    &Items {
        &Item {
            &Wrapper {
                position: relative;
            }
            font-size: 1.4rem;
            line-height: 3rem;
            display: flex;
            color: #323232;
            border: none;
            background: transparent; 
            cursor: pointer;
            text-align: left;

            margin-left: -2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width: calc(100% + 4rem);

            [dir="rtl"] & {
              text-align: right;
              margin-left: 0px;
              margin-right: -2rem;
            }

            &WithIcon {
              gap: 5px;
              align-items: center;
            }
            &WithRefreshButton {
              padding-right: 5rem;
            }

            &Active,
            &:hover {
                color: #323232;
                text-decoration: none;
                background: #ccc;
            }
            &Text {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }

}

.refreshButton {
    cursor: pointer;
    background: transparent;
    border: none;
    max-height: 10rem;
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    [dir="rtl"] & {
      right: unset;
      left: 0;
    }
    &Image {
        width: 100%;
        height: 100%;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
          width: 40%;
          height: 40%;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          content: " ";
          display: inline-block;
          background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/arrow-up-left.svg');
        }
    }
  }

.icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &History {
        background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/time-forward.svg');
    }
    &Trending {
        background-image: url('/etc.clientlibs/dhl/clientlibs/discover-react-common/resources/fire.svg');
    }
}

.absolute {
    &Right {
        position: absolute;
        right: 0;
        [dir="rtl"] & {
          right: unset;
          left: 0;
        }
    }

    &Left {
        position: absolute;
        left: 0;
        [dir="rtl"] & {
          left: unset;
          right: 0;
        }
    }
}

.fade-out {
    animation: fadeOut 0.1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}