<sly data-sly-test.editmode="${wcmmode.edit || wcmmode.preview}" />
<div id="${properties.id}"
        data-sly-use.downloadasset="com.dhl.discover.core.models.DownloadAsset"
        data-sly-use.accountactions="com.dhl.discover.core.models.AccountActions"
        data-sly-use.marketoConfig="com.dhl.discover.core.models.MarketoConfiguration"
		data-sly-use.analytics="com.dhl.discover.core.models.TrackableComponent">
	<div id="download" class="DHLdownload">
 		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="row">
						<div class="col-12">
							<div class="DHLdownload__text">
								<h2 class="DHLdownload__title">${properties.title}</h2>
								<p class="DHLdownload__copy">${properties.brief}</p>

								<img class="DHLdownload__image d-block d-md-none" src="${!editmode ? accountactions.assetprefix : '' @ context='uri'}${properties.assetimage}" alt="${properties.title}"/>

								<div class="forms cmp-marketoForm"
                                     data-sly-set.marketoHostname="${marketoConfig.marketoHostname}"
                                     data-sly-set.marketoMunchkinId="${marketoConfig.marketoMunchkinId}"
                                     data-sly-set.marketoFormId="${marketoConfig.marketoFormId}"
                                     data-sly-set.marketoHiddenFormId="${marketoConfig.hiddenMarketoId}"
									 hiddenFormId="${marketoHiddenFormId @ context='attribute'}"
									 munchkinid="${marketoMunchkinId || '903-EZK-832' @ context='attribute'}"
									 formid="${marketoFormId || '1796' @ context='attribute'}"
									 formHost="${marketoHostname || 'https://express-resource.dhl.com' @ context='attribute'}"
                                     action="${accountactions.getAssetprefix}${currentPage.path}.form.html"
                                     formstart="${accountactions.getAssetprefix}${currentNode.path}.form.html"
                                     source="conf"
									 data-sly-attribute.data-analytics="${analytics.json}"
                                     data-sly-attribute.apiSubmit="${marketoConfig.isGlobalPage ? 'true' : 'false'}"
                                     data-marketo-form
                                >

								  <div data-marketo-visible-form>
									<div>
									  <form id="mktoForm_${marketoFormId || '1796' @ context='attribute'}">
                                          <script src="${marketoConfig.marketoHostname}/js/forms2/js/forms2.min.js"></script>
                                      </form>
									</div>
								  </div>
								</div>
    						</div>
							<img class="DHLdownload__image d-none d-md-block" src="${!editmode ? accountactions.assetprefix : '' @ context='uri'}${properties.assetimage}" alt="${properties.title}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
