<sly data-sly-use.model="com.positive.dhl.core.models.LandingPoints"
	 data-sly-set.isEmpty="${model.landingPointItems.size == 0}"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && isEmpty}" data-emptytext="${component.title}"></div>

<div class="landing-points-component">
	<img class="header-image" src="${model.image}" alt="${model.altText}">
	<div id="${item.id}" class="landing-point" data-sly-repeat="${model.landingPointItems}">
		<h3 class="landing-point__title">
			${item.title}
		</h3>
		<div class="landing-point__content">
			${item.content @ context='html'}
		</div>
		<style type="text/css">
			#${item.id @ context='unsafe'}::before {
				background-image: url('${item.icon || model.defaultIcon @ context='uri'}');
			}
		</style>
	</div>
</div>