<sly data-sly-use.contentBanner="com.positive.dhl.core.models.ContentBanner"></sly>

<div class="cq-placeholder" data-sly-test="${wcmmode.edit && !contentBanner.Hasbanner}" data-emptytext="${component.title}"></div>

<sly data-sly-test="${contentBanner.Hasbanner}">
    <style type="text/css">
      @media screen and (min-width: 768px) {#applyForAccountPanel--article--id { background-image: url(${contentBanner.Img @context='unsafe'}) !important;} }
    </style>
    <div id="applyForAccountPanel--article--id" class="applyForAccountPanel applyForAccountPanel--article" style="background-image: url('${contentBanner.Imgmob @context='unsafe'}');">
        <div class="col-12">
            <h4 class="applyForAccountPanel__subtitle">${contentBanner.Subtitle}</h4>
            <h3 class="applyForAccountPanel__title">${contentBanner.Title}</h3>
        </div>
        <div class="col-12">
            <ul class="applyForAccountPanel__points" data-sly-list.point=${contentBanner.Points}>
                <li>${point}</li>
            </ul>
            <a class="applyForAccountPanel__cta" href="${contentBanner.Url}" title="${contentBanner.Urltitle}"><span>${contentBanner.Urltitle}</span></a>
        </div>
    </div>
</sly>