<div class="title-component">
    <svg class="svg svg_top-left" width="308" height="38" xmlns="http://www.w3.org/2000/svg">
        <polygon points="0,0 308,0 294,8 0,8" fill="#e2e2e2"/>
        <polygon points="0,15 265,15 251,23 0,23" fill="#e2e2e2"/>
        <polygon points="0,30 224,30 210,38 0,38" fill="#e2e2e2"/>
    </svg>
    <h1 class="title" data-sly-use.title="title.js" data-sly-element="${title.element}">${title.text}</h1>
    <svg class="svg svg_bottom-right" width="308" height="38" xmlns="http://www.w3.org/2000/svg">
        <polygon points="98,0 308,0 308,8 84,8" fill="#e2e2e2"/>
        <polygon points="14,30 308,30 308,38 0,38" fill="#e2e2e2"/>
        <polygon points="57,15 308,15 308,23 43,23" fill="#e2e2e2"/>
    </svg>
</div>