<sly data-sly-set.designMode="${properties.designMode || 'topLeftAndBottomRightStrips'}"
     data-sly-set.isStrips="${designMode == 'topLeftAndBottomRightStrips'}"
     data-sly-set.isUnderline="${designMode == 'bottomLeftUnderline'}"
     data-sly-set.isLeftLine="${designMode == 'leftLine'}"
></sly>

<div class="title-component
    ${isStrips ? 'title-component_strips' : ''}
    ${isUnderline ? 'title-component_underline' : ''}
    ${isLeftLine ? 'title-component_leftLine' : ''}">
    <svg data-sly-test="${isStrips}" class="svg svg_top-left" width="308" height="38"
         xmlns="http://www.w3.org/2000/svg">
        <polygon points="0,0 308,0 294,8 0,8" fill="#e2e2e2"/>
        <polygon points="0,15 265,15 251,23 0,23" fill="#e2e2e2"/>
        <polygon points="0,30 224,30 210,38 0,38" fill="#e2e2e2"/>
    </svg>
    <div data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
         data-sly-use.template="core/wcm/components/commons/v1/templates.html"
         data-sly-test.text="${title.text}"
         data-cmp-data-layer="${title.data.json}"
         id="${title.id}"
         class="cmp-title title">
        <h1 class="cmp-title__text" data-sly-element="${title.type}"><a
                data-sly-unwrap="${!title.link.valid || title.linkDisabled}"
                class="cmp-title__link"
                data-sly-attribute="${title.link.htmlAttributes}"
                data-cmp-clickable="${title.data ? true : false}">${text}</a></h1>
    </div>
    <svg data-sly-test="${isStrips}" class="svg svg_bottom-right" width="308" height="38"
         xmlns="http://www.w3.org/2000/svg">
        <polygon points="98,0 308,0 308,8 84,8" fill="#e2e2e2"/>
        <polygon points="14,30 308,30 308,38 0,38" fill="#e2e2e2"/>
        <polygon points="57,15 308,15 308,23 43,23" fill="#e2e2e2"/>
    </svg>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"></sly>