<!DOCTYPE html>
<html lang="${languageVariants.getCurrentLanguage}" data-sly-use.dhlpage="com.positive.dhl.core.models.DhlPage" data-sly-use.accountactions="com.positive.dhl.core.models.AccountActions" data-sly-use.languageVariants="com.positive.dhl.core.models.LanguageVariants">
    <head>
		<sly data-sly-test="${(currentSession.userID == null || currentSession.userID == 'anonymous')}" data-sly-unwrap> 
			<script src="//assets.adobedtm.com/cd52279ef3fa/3cec625096bb/launch-${dhlpage.trackingid}.min.js" async></script>
			<sly data-sly-test="${(dhlpage.gtmtrackingid != '')}" data-sly-unwrap> 
			<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','${dhlpage.gtmtrackingid @ context = "unsafe"}');</script>
			<!-- End Google Tag Manager -->
			</sly>
    	</sly>
    	
    	<meta name="dhl-path-prefix" content="${dhlpage.pathprefix}" />
    	<meta name="dhl-path-home" content="${accountactions.homeUrl}" />
    	
        <sly data-sly-include="partials/head.html" data-sly-unwrap/>
        <sly data-sly-include="partials/headlibs.html" data-sly-unwrap/>
        
        <sly data-sly-unwrap data-sly-test="${(dhlpage.amparticlepath.length > 0)}">
        <link rel="amphtml" href="//${dhlpage.getHostDetail}${dhlpage.amparticlepath}.html">
		</sly>
    </head>
    <body>
		<sly data-sly-test="${(currentSession.userID == null || currentSession.userID == 'anonymous')}" data-sly-unwrap> 
		<sly data-sly-test="${(dhlpage.gtmtrackingid != '')}" data-sly-unwrap> 
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=${dhlpage.gtmtrackingid @ context = 'unsafe'}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
    	</sly>
		</sly>

        <sly data-sly-use.header="partials/components/header.html" data-sly-call="${header.data @ accountactions=accountactions, languageVariants=languageVariants}" data-sly-unwrap/>
        <sly data-sly-use.main="partials/main.html" data-sly-call="${main.data @ accountactions=accountactions}" data-sly-unwrap/>
        <sly data-sly-use.footer="partials/components/footer.html" data-sly-call="${footer.data @ accountactions=accountactions}" data-sly-unwrap/>
        
		<sly data-sly-test="${!accountactions.usethirdpartycookie}" data-sly-unwrap>
			<sly data-sly-include="partials/components/cookie-policy.html" data-sly-unwrap/>
		</sly>
		<sly data-sly-include="partials/footlibs.html" data-sly-unwrap/>
		
		<script src="https://r1-t.trackedlink.net/_dmpt.js" type="text/javascript"></script>
    </body>
</html>