<div class="animatedPagesHero animatedPagesHero--textiles">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <h1 class="animatedPagesHero__title">TEXTILES 101</h1>
      </div>
      <div class="col-12">
        <img class="animatedPagesHero__animation animatedPagesHero__animation--cosmetic" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/hero.gif" alt="office supplies">
     </div>
     <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
      <p class="animatedPagesHero__copy">The textile industry may rely on mass production of sweatshirts, mattresses and even medical scrubs, but recent developments in smart and sustainable textiles are shifting the sector&apos;s focus onto more specialist offerings.</p>
     </div>
        <a class="animatedPagesHero__arrow"></a>
    </div>
  </div>
</div>
