<div class='infoRow--country infoRow--countryAsia'>
	<div class="container">
    <div class="sep-country"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <p class="infoRow__title infoRow__title--alt">CHANGE IN ASIA</p>
            <p class="infoRow__copy infoRow__copy--alt">With Greenpeace reporting that global textile production <a class="infoRow__link" target="_blank" href="https://www.eco-business.com/news/textile-industry-under-pressure-to-detox-fashion/">doubled between 2000 and 2017</a>, fast fashion has obviously driven the bulk of growth in the textile market. While China remains the world&apos;s largest exporter of textiles, the rising popularity of alternative materials is creating potential for smaller players to step in.</p>
            <p class="infoRow__copy infoRow__copy--alt">Vietnam&apos;s manufacturers are attempting to move away from simple processing (Cut, Make and Trim) towards dealing directly with foreign designers in producing garments &ndash; particularly for their top importer, the US. However, they face increasing competition from Bangladesh and Cambodia, who enjoy favorable access to several apparel markets and lower working wages.</p>
            <p class="infoRow__copy infoRow__copy--alt">The textile industry in India, dominated by small, independent players, is similarly threatened and is struggling to adapt to current trends, lacking access to the more expensive man-made textiles which are growing in demand. Get into the inner workings of <a class="infoRow__link" target="_blank" href="https://discover.dhl.com/business/market-intelligence/dhl-sector-guides/fast-fashion-guide">Fast Fashion in our comprehensive guide.</a></p>
            <p class="infoRow__copy infoRow__copy--alt"><b>TIP: Take time to consider what&apos;s important to you, and your customers &ndash; then shop around.</b></p>
          </div>
          <div class="col-lg-6 col-xl-4 offset-xl-1">
            <div id="country_asia" class="country-gif js-country-gif"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>