<div class='parallaxSection parallaxSection--textiles animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-7">
        <div class="parallaxSection__title parallaxSection__title--fashion">THE CHEMICAL IMPACT</div>
        <p class="parallaxSection__copy parallaxSection__copy--alt">No matter where it happens, textile manufacturing uses huge quantities of harmful chemicals in fabric treatment, including dyes, additives and stabilizers. Companies such as Puma and Nike are now creating their own chemical blacklists to find cleaner alternatives, pressured into doing so to maintain their global reputations. However, the rise of online shopping means smaller brands&apos; supply chains go unchecked.</p>
      </div>
      <div class="col-12">
        <div class="parallaxSection__wrapper parallaxSection__wrapper--textiles">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--earing">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated8/bottle.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--yellowBoxLuxury">
            <div class="parallaxSection__tileImage"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--noParallax parallaxSection__tile--textilesBlueBox">
            <div class="parallaxSection__copy">Beyond the factory, <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://www.theengineer.co.uk/fashion-microplastics-synthetic-textiles/">a typical 5kg laundry load</a> releases six million microfibers into the ocean according to IMechE. Awareness is therefore being raised around using mesh laundry bags to catch threads, as well as installing filters on washing machine waste pipes. This creates further business potential for such by-products within the industry.</div>
            <div class="parallaxSection__copy">For some further reading, take a look at our <a class="parallaxSection__link parallaxSection__link--alt" target="_blank" href="https://discover.dhl.com/business/business-ethics/carbon-neutral-future">guide on leading your business into a carbon neutral future.</a></div>
            <div class="parallaxSection__copy"><b>TIP: Harmful chemicals could also be harmful to your sales &ndash; use them at your peril.</b></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--tux">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated8/chemicals.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--ring" data-multiplier="0.5">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated8/beach.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--hand" data-max-top="100">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/animated8/sea.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
