<div class="animatedShowcasePanel animatedShowcasePanel--textiles parallaxSection">
  <div class="container container--alt">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-8">
        <h2 class="animatedShowcasePanel__heading"><span>MAKING FABRICS FROM FOOD</span></h2>
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--bottom"><span>Due to the extreme environmental impact of microfibers, there is a growing global market for sustainable textile alternatives. For example, while the US eco-apparel market has already <a class="animatedShowcasePanel__link animatedShowcasePanel__link--alt" target="_blank" href="https://www.inc.com/this-way-up/sustainability-is-fashions-future-3-reasons-why.html">reached US$5bn,</a> a report by British NGO Fashion Revolution found that <a class="animatedShowcasePanel__link animatedShowcasePanel__link--alt" target="_blank" href="https://www.fashionrevolution.org/resources/consumer-survey/">38% of consumers</a> across Germany, UK, France, Italy and Spain consider a clothing brand’s social and environmental impact in their purchase decisions, making Europe a key target for sustainable suppliers.</span></h2>
      </div>
    </div>
    <div class="animatedShowcasePanel__wrapper animatedShowcasePanel__wrapper--electronics">
      <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--clothes ">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--textiles" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/pineapple.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">PINEAPPLE HANDBAGS</h3>
            <p class="animatedShowcasePanel__itemCopy">As veganism grows in popularity, consumers are seeking out alternatives to leather. These include pineapple leaves, which are used to produce a natural, non-woven textile known as Piñatex.</p>
            <p class="animatedShowcasePanel__itemCopy">In the Philippines, pineapple plantations already take up <a class="animatedShowcasePanel__link " target="_blank" href="https://www.supplychaindive.com/news/supply-chain-unusual-materials-textiles/543793/">10% of agricultural land.</a> The banana fiber has also proven suitable for tea bags, car tires, and even Japanese Yen notes.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: One man's trash is another man's treasure &ndash; do your research into plant-based alternatives.</b></p>
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--bag">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--textiles" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/tree.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">LIFE VESTS GROW ON TREES</h3>
            <p class="animatedShowcasePanel__itemCopy">Startup Flocus is offering a sustainable fiber from the Kapok tree&apos;s non-food fruit crop, grown in sub-tropical countries. As a floating, hydrophobic fiber, it is appropriate for use in life-vest fillers as well as sleeping bag down insulation. However, the process requires Kapok fibers to be blended with other longer fibres such as recycled polyester, and is currently too costly to go mainstream.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Stay on top of the latest innovations and show your green credentials.</b></p>          
          </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block">
          <div class="animatedShowcasePanel__item animatedShowcasePanel__item--recycling" >
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--textiles" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/milk.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">USING MILK FOR MEDICAL TEXTILES </h3>
            <p class="animatedShowcasePanel__itemCopy">QMILK is turning German farmers&apos; unsold milk into a chemical-free fabric, complete with anti-microbial properties. This makes it appropriate for medical textiles including surgical drapes and tapes, where common disposable ones produce <a class="animatedShowcasePanel__link " target="_blank" href="http://www.sustainabilityroadmap.org/pims/pdfs/pim247_How_to_Reduce_Waste_NJenkins.pdf">80% more waste than reusables.</a> However, the apparel cycle for QMILK fabric currently takes at least two years from development to shop floor, requiring further research.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Investing time, as well as money, can pay off.</b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 offset-md-6 col-xl-8 offset-xl-4 d-none d-md-block">
      <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span>However these new textiles must prove financially sustainable for businesses as well as the environment, with higher costs and lower availability acting as potential barriers. Further education is also needed to teach manufacturers how to use them successfully.</span></h2>
    </div>
    <div class="col-12 col-md-6 order-md-0 d-xl-none">
      <div class="animatedShowcasePanel__carousel animatedShowcasePanel__carousel--light animatedShowcasePanel__carousel--textiles">
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--textiles" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/pineapple.gif" alt="Item 1">
            <h3 class="animatedShowcasePanel__itemTitle">PINEAPPLE HANDBAGS</h3>
            <p class="animatedShowcasePanel__itemCopy" style="margin-bottom: 0;">As veganism grows in popularity, consumers are seeking out alternatives to leather. These include pineapple leaves, which are used to produce a natural, non-woven textile known as Piñatex.</p>
            <p class="animatedShowcasePanel__itemCopy">In the Philippines, pineapple plantations already take up <a class="animatedShowcasePanel__link " target="_blank" href="https://www.supplychaindive.com/news/supply-chain-unusual-materials-textiles/543793/">10% of agricultural land.</a> The banana fiber has also proven suitable for tea bags, car tires, and even Japanese Yen notes.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: One man's trash is another man's treasure &ndash; do your research into plant-based alternatives.</b></p>
          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--textiles" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/tree.gif" alt="Item 2">
            <h3 class="animatedShowcasePanel__itemTitle">LIFE VESTS GROW ON TREES</h3>
            <p class="animatedShowcasePanel__itemCopy">Startup Flocus is offering a sustainable fiber from the Kapok tree&apos;s non-food fruit crop, grown in sub-tropical countries. As a floating, hydrophobic fiber, it is appropriate for use in life-vest fillers as well as sleeping bag down insulation. However, the process requires Kapok fibers to be blended with other longer fibres such as recycled polyester, and is currently too costly to go mainstream.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Stay on top of the latest innovations and show your green credentials.</b></p>   
          </div>
        </div>
        <div class="animatedShowcasePanel__carouselItem">
          <div class="animatedShowcasePanel__item">
            <img class="animatedShowcasePanel__itemImage animatedShowcasePanel__itemImage--textiles" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/milk.gif" alt="Item 3">
            <h3 class="animatedShowcasePanel__itemTitle">USING MILK FOR MEDICAL TEXTILES </h3>
            <p class="animatedShowcasePanel__itemCopy">QMILK is turning German farmers&apos; unsold milk into a chemical-free fabric, complete with anti-microbial properties. This makes it appropriate for medical textiles including surgical drapes and tapes, where common disposable ones produce <a class="animatedShowcasePanel__link " target="_blank" href="http://www.sustainabilityroadmap.org/pims/pdfs/pim247_How_to_Reduce_Waste_NJenkins.pdf">80% more waste than reusables.</a> However, the apparel cycle for QMILK fabric currently takes at least two years from development to shop floor, requiring further research.</p>
            <p class="animatedShowcasePanel__itemCopy"><b>TIP: Investing time, as well as money, can pay off.</b></p>
          </div>
        </div>
      </div>
      <div class="d-md-none">
        <h2 class="animatedShowcasePanel__title animatedShowcasePanel__title--alt"><span>However these new textiles must prove financially sustainable for businesses as well as the environment, with higher costs and lower availability acting as potential barriers. Further education is also needed to teach manufacturers how to use them successfully.</span></h2>
      </div>
    </div>
  </div>
</div>
