<div class='infoRow infoRow--textiles'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-6">
        <div class="d-md-none">
          <p class="infoRow__title infoRow__title--alt">smart fabrics</p>
          <p class="infoRow__copy infoRow__copy--alt">Textiles are not only becoming more sustainable but smarter too, with the tech market transitioning from wearable electronics (where devices are glued onto fabrics) to clothing which incorporates devices into the material itself. With the necessary algorithms readily available, fitness applications anticipate the highest growth &ndash; especially in North America, where consumers are known for adopting new technologies.</p>
          <p class="infoRow__copy infoRow__copy--alt">Kymira have developed the first heart-monitoring Bluetooth t-shirt, inserting specific minerals within its fibers that can detect irregular heartbeats. Conversely, TexDel&apos;s system embeds active vitamins, supplements and medications within traditional yarns, such as polyester and nylon. These can then be delivered at a controlled rate into the wearer&apos;s body.</p>
          <p class="infoRow__copy infoRow__copy--alt"><b>TIP: Listen to your head, your heart, and your gut, when making decisions</b></p>
        </div>
        <img class="infoRow__image" src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/animated8/top.gif">
      </div>
      <div class="col-12 col-md-7 col-lg-5">
        <div class="d-none d-md-block">
        <p class="infoRow__title infoRow__title--alt">smart fabrics</p>
          <p class="infoRow__copy infoRow__copy--alt">Textiles are not only becoming more sustainable but smarter too, with the tech market transitioning from wearable electronics (where devices are glued onto fabrics) to clothing which incorporates devices into the material itself. With the necessary algorithms readily available, fitness applications anticipate the highest growth &ndash; especially in North America, where consumers are known for adopting new technologies.</p>
          <p class="infoRow__copy infoRow__copy--alt">Kymira have developed the first heart-monitoring Bluetooth t-shirt, inserting specific minerals within its fibers that can detect irregular heartbeats. Conversely, TexDel&apos;s system embeds active vitamins, supplements and medications within traditional yarns, such as polyester and nylon. These can then be delivered at a controlled rate into the wearer&apos;s body.</p>
          <p class="infoRow__copy infoRow__copy--alt"><b>TIP: Listen to your head, your heart, and your gut, when making decisions</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
