<div class='statsPanel statsPanel--textiles parallaxSection' data-duration="4" data-separator="," data-decimal=".">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="statsPanel__parallaxBox statsPanel__parallaxBox--fashion">
          <div class="col-lg-5 offset-lg-1">
            <p class="statsPanel__title statsPanel__title--light">BACK TO BASICS</p>
            <p class="statsPanel__copy statsPanel__copy--light">Where fashion houses are skeptical of trying out new textiles or technologies, they are nevertheless increasingly opting for those capable of a longer life. Womenswear label Ace & Jig market themselves as a ‘forever brand’, moving away from fast fashion by selling timeless pieces instead of ones influenced by seasonal trends.</p>
            <p class="statsPanel__copy statsPanel__copy--light">  <a class="statsPanel__link statsPanel__link--light" target="_blank" href="https://www.unilever.com/news/press-releases/2017/report-shows-a-third-of-consumers-prefer-sustainable-brands.html">78% of Americans</a> say they feel better when buying sustainable products, echoed by 85% of consumers in Turkey and Brazil. The number even rises to 88% in India, so clearly a product’s values should be positioned at the core of its marketing, in the USA and elsewhere.</p>
            <p class="statsPanel__copy statsPanel__copy--light"><b>TIP: Don't just consider the cost to your customers, consider the value.</b></p>
          </div>
          <div class="statsPanel__boxWrapper">
            <div class="col-6 offset-lg-2 col-lg-4">
              <div class="statsPanel__wrapper statsPanel__wrapper--alt">
                <div class="statsPanel__statsWrapper statsPanel__statsWrapper--alt">
                  <h4 class="statsPanel__statsValue statsPanel__statsValue--alt" data-start="0" data-end="78" data-suffix="%"  data-duration="2.4">78%</h4>
                  <h2 class="statsPanel__value statsPanel__value--alt">of americans</h2>
                </div>
                <div class="boxFill">
                  <div class="boxFill__shadow"></div>
                  <div class="boxFill__fill boxFill__fillstat12">
                    <div class="boxFill__fillTop"></div>
                  </div>
                  <div class="boxFill__front"></div>
                </div>                
              </div>
            </div>
            <div class="col-6 col-lg-4">
              <div class="statsPanel__wrapper statsPanel__wrapper--alt">
                <div class="statsPanel__statsWrapper statsPanel__statsWrapper--altDown">
                  <h4 class="statsPanel__statsValue statsPanel__statsValue--alt" data-start="0" data-end="88" data-suffix="%">88%</h4>
                  <h2 class="statsPanel__value statsPanel__value--alt">of indians</h2>
                </div>
                <div class="boxFill">
                  <div class="boxFill__shadow"></div>
                  <div class="boxFill__fill boxFill__fillstat11">
                    <div class="boxFill__fillTop"></div>
                  </div>
                  <div class="boxFill__front"></div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
