<div class='infoRow infoRow--textRow'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
          <p class="infoRow__title infoRow__title--center">INDUSTRY CHALLENGES</p>
          <p class="infoRow__copy infoRow__copy--center">Innovations in the smart and sustainable sectors of the textiles industry have opened up the market to more players. The sector goes beyond the simple manufacture of cotton, polyester and nylon &ndash; though these are still in highest demand.</p>
          <p class="infoRow__copy infoRow__copy--center">However, due to the complexity and heightened costs of producing these new textiles, further development is required before they become mainstream. For instance, despite overwhelming interest, the Confederation of British Industry found that ethical fashion only takes up 1% of Europe&apos;s clothing market. This number, however, is growing.</p>
          <p class="infoRow__copy infoRow__copy--center">Remember to research potential export destinations to see where these new fabrics could fit. And be sure to choose an export partner with native expertise in the destinations you choose</p>
        </div>
    </div>
  </div>
</div>