<div class='parallaxSection animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="parallaxSection__wrapper">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--coffee">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/coffee.png);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--yellowBox">
            <div class="parallaxSection__tileImage"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--noParallax parallaxSection__tile--stationary">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/stationary.png);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--laptop">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/laptop.png);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--brew">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/brew.png);"></div>
          </div>
          <div class="parallaxSection__blueBox">
            <div class="parallaxSection__copy">At DHL we're experts in handling boxes, big and small. Did you know that the way you package your products can be turned into a huge opportunity for delivering your brand messaging ... before your customers have even laid eyes on the merchandise?</div>
            <div class="parallaxSection__copy">Give your packaging a real personality by matching it to your brand's visual identity. Think about the typeface, colors and finish of your brand's packaging &ndash; for maximum impact this should also include the outer courier box too. The emergence of subscription boxes and the massive growth of e-commerce has meant that the bar has been raised for boxing aesthetics &ndash; with clear and clever messages that will astonish your customers.</div>
          </div>
          <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/manPainting.gif" class="parallaxSection__manPainting" alt="Man painting a box">
        </div>
      </div>
    </div>
  </div>
</div>
