<div class='videoRow'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="videoRow__title">Unboxing: A new trend for the digital age</div>
        <div class="videoRow__videoWrapper">
          <video class="videoRow__video" poster="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/videoPoster.jpg" autoplay playsinline muted loop>
          <source src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/boxVideo.webm" type="video/webm">
          <source src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/boxVideo.mp4" type="video/mp4">
          <img src="/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/videoPoster.jpg" alt="Your brwoser doesn't support video">
          </video>
        </div>
        <p class="videoRow__text">&apos;Unboxing&apos; is when people film, and then share online, the act of opening a series of new purchases. The videos can feature everything from the latest <a class="videoRow__link" target="_blank" href="https://www.youtube.com/watch?v=zHOr6Ej_jd4">smartphones</a> to <a class="videoRow__link" target="_blank" href="https://www.youtube.com/watch?v=KGBW5FHBp_8">designer clothing</a>, so that consumers can get a preview of the latest trends. Because of this new buzz surrounding the packaging of a product, brands have upped their game to get their products noticed online.</p>
      </div>
    </div>
  </div>
</div>
