<div class='carouselRow animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-4 offset-xl-1">
        <h2 class="carouselRow__title">Localization and authenticity</h2>
        <p class="carouselRow__copy">One way for your product packaging to stand out is to introduce localized designs. Consumers who identify with a particular region will be drawn to a product that they feel represents them well. Absolut Vodka executed this strategy to great effect when they commissioned local artists to illustrate their bottles with designs specific to their region.</p>
        <p class="carouselRow__copy d-none d-xl-block">Another contemporary trend is 'visual authenticity', where packaging features finishing touches such as handwritten labels and hand-drawn illustrations, rather than a polished, machine-rendered logo. And remember that whatever extras you're using, from metallic foils to printed ribbon and wax seals, you should align them to your product's parent branding.</p>
      </div>
      <div class="col-12 col-xl-5 col-md-8 col-lg-6 offset-md-2 offset-lg-3 offset-xl-1">
        <div class="carouselRow__carouselContainer">
          <a class="arrowPrev" href="#previous" role="button" data-slide="prev">
            <span class="carouselRow__leftArrow" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="arrowNext" href="#next" role="button" data-slide="next">
            <span class="carouselRow__rightArrow" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <div class="carouselRow__carousel">
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/vodkaBerlin.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Berlin</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/vodkaKorea.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Korea</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/VodkaBuenosAires.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Buenos Aires</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/vodkaBerlin.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Berlin</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/vodkaKorea.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Korea</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/VodkaBuenosAires.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Buenos Aires</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/vodkaBerlin.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Berlin</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/vodkaKorea.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Korea</h3>
              </div>
            </div>
            <div>
              <div class="carouselRow__itemTile">
                <img src="/etc.clientlibs/dhl/clientlibs/discover-animatedpages/resources/img/VodkaBuenosAires.png" class="carouselRow__itemImage" alt="Absolut Vodka Berlin Edition">
                <h3 class="carouselRow__itemTitle">Absolut Vodka: Buenos Aires</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 offset-xl-1">
        <p class="carouselRow__copy d-xl-none">Another contemporary trend is 'visual authenticity', where packaging features finishing touches such as handwritten labels and hand-drawn illustrations, rather than a polished, machine-rendered logo. And remember that whatever extras you're using, from metallic foils to printed ribbon and wax seals, you should align them to your product's parent branding.</p>
      </div>
    </div>
  </div>
</div>
