<div class='parallaxSection animatedPages'>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="parallaxSection__textWrapper">
          <div class="parallaxSection__title">Larry vs Harry</div>
          <div class="parallaxSection__copy parallaxSection__copy--alt">The Copenhagen-based bike manufacturers, Larry vs Harry, go the extra mile when it comes to their packaging. Illustrator Kristian Eskild Jensen dreamed up a fantasy world for the delivery boxes, incorporating well-known Danish characters and folkloric scenes into each large-scale marker pen drawing.</div>
          </div>
        <div class="parallaxSection__wrapper parallaxSection__wrapper--alt">
          <div class="parallaxSection__tile parallaxSection__tile--down parallaxSection__tile--bullitt">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/bullitt.jpg);"></div>
          </div>
          <div class="parallaxSection__tile parallaxSection__tile--blueBox"></div>
          <div class="parallaxSection__tile parallaxSection__tile--fastParallax parallaxSection__tile--space">
            <div class="parallaxSection__tileImage" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/space.png);"></div>
          </div>
          <div class="parallaxSection__yellowBox">
            <div class="parallaxSection__tileImage parallaxSection__tile parallaxSection__tile--noParallax parallaxSection__tile--bullitt2" style="background-image: url(/etc.clientlibs/dhl/clientlibs/clientlib-animatedpages/resources/img/bullitt2.jpg);"></div>
            <div class="parallaxSection__copy parallaxSection__copy--alt">Larry vs Harry's owner Hans Fogh said, "We often receive pictures from customers who have used their Bullitt boxes to build playhouses and dens for their children. If they are saving the boxes and getting inventive with them anyway, we thought it would be nice to do something unique and original with the boxes."</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
