<div class='statsPanel' data-duration="4" data-separator="," data-decimal=".">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <div class="statsPanel__wrapper">
			<div class="boxFill">
			  <div class="boxFill__shadow"></div>
			  <div class="boxFill__fill">
			    <div class="boxFill__fillTop"></div>
			  </div>
			  <div class="boxFill__front"></div>
			</div>
          <div class="statsPanel__statsWrapper">
            <h4 class="statsPanel__statsValue" data-start="0" data-end="95" data-suffix="%">95%</h4>
            <h2 class="statsPanel__value">of customers</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
          <p class="statsPanel__copy">Try to make the returns policy as hassle free as possible as, according to a survey by <a class="statsPanel__link" target="_blank" href="https://www.bitcatcha.com/blog/why-the-packaging-of-your-products-matters/">Shorr Packaging Corp</a>, 95% of customers stated that they will do repeat business if the returns process is easy. Use your packaging to leave a lasting, positive impression of your brand.</p>
      </div>
    </div>
  </div>
</div>
