<template data-sly-template.data="${@accountactions,languageVariants}">
	<header class="header" data-sly-use.meganav="com.positive.dhl.core.models.Meganav">
		<div class="container">
			<div class="row">
				  <div class="col-6 col-lg-3">
					<div class="header__logoWrap">
						<a class="header__logo" href="${meganav.homeUrl}" title="${meganav.siteTitle}"><span class="sr-only">${meganav.siteTitle}</span></a>
					</div>
				</div>
				<div class="col-6 col-lg-9">
					<ul class="header__desktopLinks d-block">
						<li class="header__desktopLinkItem" data-sly-test="${languageVariants.getCurrentRegion.length > 0}">
							<sly data-sly-test="${languageVariants.getLanguageVariants.size > 0}" data-sly-unwrap>
							<sly data-sly-list="${languageVariants.getLanguageVariants}" data-sly-unwrap>
								<a href="${item.link}.html" data-home="${ item.home }.html" class="header__lang${ ((item.current) ? ' header__lang--selected' : '') @ context='html' }">${ item.name @ i18n, context='html' }</a>
							</sly>
							</sly>
							<a href="#" class="header__desktopCountry">
							  <span class="icon"></span>
							  <span class="title">${ languageVariants.getCurrentRegion @ i18n, context='html' }</span>
							</a>
						</li>
						<li class="header__desktopLinkItem">
							<a href="#" class="header__desktopSearch" title="Search">
								<span class="icon"></span>
								<span class="title">Search</span>
							</a>
						</li>
					</ul>
					<a class="header__navigation" href="#">
						  <span class="title">Menu</span>
						  <span class="title title--topen">Close</span>
						<i class="header__hamburger"></i>
					</a>
				</div>
			</div>
		</div>
		
		<div class="header__meganav">
			<nav class="header__meganavNavigation">
				<div class="container">
					<div class="row">
						  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-0 col-xl-9">
							<ul class="header__meganavNav" data-sly-list="${meganav.panels}">
								<li>
									<a href="${item.url}"><span>${item.navigationTitle}</span></a>
									<ul data-sly-list="${item.articleCategories}">
										<li><a href="${item.path}.html"><span>${item.title}</span></a></li>
									</ul>
								</li>
							</ul>
							<a class="header__viewSavedArticles" style="display: none;" href="${accountactions.homeUrl}/saved-articles.html"><span>View Your Saved Articles</span></a>
						</div>
						<div class="col-12 col-md-10 offset-md-1 col-lg-4 offset-lg-0 col-xl-3">
							<div class="header__meganavPromo" data-sly-use.meganavBanner="com.positive.dhl.core.models.MeganavBanner">
								<p>${meganavBanner.Subtitle}</p>
								<h3>${meganavBanner.Title}</h3>
								
								<ul class="points">
									<li>${meganavBanner.Point1}</li>
									<li>${meganavBanner.Point2}</li>
									<li>${meganavBanner.Point3}</li>
									<li>${meganavBanner.Point4}</li>
								</ul>
								
								<a class="btn btn-primary" href="${meganavBanner.Url}.html" title="${meganavBanner.Urltitle}"><span>${meganavBanner.Urltitle}</span></a>
							</div>
						</div>
					</div>
					<div class="row header__viewSavedArticlesBackground">
						  <div class="col-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0">
							<a class="header__viewSavedArticles header__viewSavedArticles--desktop" style="display: none;" href="${accountactions.homeUrl}/saved-articles.html"><span>View Your Saved Articles</span></a>
							
							<div class="header__socials" data-sly-use.footer="com.positive.dhl.core.models.Footer">
								<h2 class="social__title">Follow us</h2>
								<ul class="social__socialList" data-sly-list.link="${footer.linksSocial}">
									<li class="social__socialItem"><a class="social__socialLink social__socialLink--${link.category}" href="${link.link}" title="${link.name}" target="_blank" rel="nofollow"><span class="sr-only">${link.name}</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="header__searchform">
			<div class="container">
				<div class="row">
					<div class="col-12 col-xl-8 offset-xl-2">
						<form action="${meganav.searchResultsPage}" method="GET" autocomplete="off" data-suggestions="${meganav.AutocompleteUrl @context='unsafe'}" data-topsearches="${meganav.TopsearchesUrl @context='unsafe'}">
							<div class="form-group">
								<input class="form-field" type="text" name="searchfield" value="" placeholder="${ 'Enter a keyword or topic' @ i18n, context='html' }" />
								<button class="clear"><span class="sr-only">Clear</span></button>
								<div class="suggestions"></div>
								<div class="top-searches">
									<h3>Most Popular</h3>
									<div class="items"></div>
								</div>
							</div>
							<button class="btn btn-primary">
								<span>Search</span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="header__countrySelectPanel">
			<div class="mob">
				<div class="welcomes">
					<p class="country">${ languageVariants.getCurrentRegion }</p>
					<a href="#">${ 'Select Location' @ i18n, context='html' }</a>
				</div>
				<sly data-sly-test="${languageVariants.getLanguageVariants.size > 1}" data-sly-unwrap>
				<div class="langs" data-sly-list="${languageVariants.getLanguageVariants}">
					<a href="${item.link}.html" data-home="${ item.home }.html" class="lang${ ((item.current) ? ' lang--selected' : '') @ context='html' }">${item.name}</a>
				</div>
				</sly>
				<div class="countries">
					<ul data-sly-list="${ languageVariants.getAllLanguageVariants }">
						<li><a href="${ item.link }.html" data-home="${ item.home }.html">${ item.name @ i18n, context='html' }</a></li>
					</ul>
				</div>
			</div>
			<div class="desktop" data-sly-test="${(languageVariants.getAllLanguageVariants.size > 1)}">
				<div class="welcomes">
					<h3>${ 'Welcome' @ i18n, context='html' }</h3>
					<p>${ 'Please Select a Location' @ i18n, context='html' }</p>
	
					<div class="countries">
						<div class="container">
							<div class="row">
								<div class="col-12 col-xl-8 offset-xl-2">
									<sly data-sly-list.group="${ languageVariants.getAllLanguageVariantsGrouped }" data-sly-unwrap>
									<div class="row">
										<sly data-sly-list.item="${ group }" data-sly-unwrap>
										  <div class="col"><a href="${ item.link }.html" data-home="${ item.home }.html">${ item.name @ i18n, context='html' }</a></div>
										  </sly>
									  </div>
									  </sly>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="addToHomeScreen">
		<div class="addToHomeScreen__content">
			<img class="addToHomeScreen__image" src="${accountactions.assetprefix}/etc.clientlibs/dhl/clientlibs/discover/resources/img/icons/192.png" alt="Logo">
			<h2 class="addToHomeScreen__title">Add Discover to your home screen</h2>
			<p class="addToHomeScreen__text">For the latest insights from Global business</p>
			<a class="addToHomeScreen__cta" href="#">Add now</a><br>
			<a class="addToHomeScreen__link" href="#">No thanks</a>
		</div>
	</div>
	</template>